<template>
  <div
    class="tnved full-width"
    v-outside-click="handleInputBlur"
    :class="static && 'tnved--static'"
  >
    <form class="full-width" @submit.prevent="getCodes({ query })">
      <q-input
        outlined
        :id="`tnved-query-input-${_uid}`"
        v-model="query"
        type="text"
        @input="throttledCodesQuery"
        @focus="handleFocus"
        label="Код ТНВЭД"
        placeholder="Вводите код или название на русском или английском языках во множественном числе"
        :loading="loading"
        :error="error"
      >
        <template #prepend>
          <q-btn-dropdown
            class="bg-grey-3 text-grey-7"
            unelevated
            :label="lang"
          >
            <q-list>
              <q-item
                v-close-popup
                v-for="dict in ['ru', 'en']"
                :key="dict"
                clickable
                @click="lang = dict"
                :class="lang === dict && 'bg-blue-1 text-primary text-bold'"
              >
                <q-item-section>{{ dict.toUpperCase() }}</q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </template>
        <template v-if="!noSelect && selected_value" #append>
          <app-btn class="text-primary" size="12px" round icon="info">
            <q-menu max-width="560px">
              <q-list bordered separator class="rounded-borders">
                <q-item
                  style="font-size:12px"
                  :key="parent.id"
                  v-for="parent in getFlatCodeParents(selected_value.parent)"
                >
                  <q-item-section avatar>
                    {{ parent.code || "-" }}
                  </q-item-section>
                  <q-item-section>
                    <i>{{ parent.title }}</i>
                  </q-item-section>
                </q-item>
                <q-item class="text-primary text-bold">
                  <q-item-section avatar>
                    {{ selected_value.code || "-" }}
                  </q-item-section>
                  <q-item-section>
                    <i>{{ selected_value.title }}</i>
                  </q-item-section>
                  <q-item-section side>
                    <!-- <div class="text-primary">выбрано</div> -->
                    <q-icon color="primary" name="check"></q-icon>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </app-btn>
        </template>
        <!-- <template #append>
          <app-btn v-if="selected_value" flat icon="copy_all"></app-btn>
        </template> -->
      </q-input>
    </form>

    <div class="">
      <transition-group name="fade" appear mode="out-in">
        <div
          class="tnved__list bg-white"
          v-if="codes && codes.length && show_list"
          key="result-list"
        >
          <q-list
            bordered
            class="rounded-borders"
            separator
            :style="
              !static && `max-height: ${maxHeight || '420px'};overflow-y:scroll`
            "
          >
            <code-child
              v-for="record in codes"
              :key="record.id"
              @select="handleSelectedItem"
              :level="1"
              :item="record"
              :no-select="noSelect"
              :lang="lang"
            >
            </code-child>
          </q-list>
        </div>

        <!-- v-else-if="(!codes || !codes.length) && show_list" -->
        <q-card
          v-else-if="(!codes || !codes.length) && show_list"
          key="empty-result"
        >
          <q-card-section>
            <small class="text-muted">
              Ничего не найдено
            </small>
          </q-card-section>
        </q-card>
      </transition-group>
    </div>
  </div>
</template>

<script>
import ListChild from "./child.vue";
import debounce from "lodash.debounce";

export default {
  props: {
    maxHeight: String,
    error: Boolean,
    initial: Number,
    static: Boolean,
    noSelect: Boolean,
    mode: {
      type: String,
      default: "sync",
      validator(val) {
        return ["sync", "async"].includes(val);
      }
    }
  },
  components: {
    "code-child": ListChild
  },
  async mounted() {
    this.getInitialCatalog();

    if (this.initial) {
      try {
        this.loading = true;

        const { data: code } = await this.$api.get(
          `/v2/products/tnved/${this.initial}`
        );
        this.query = code.code;
        this.selected_value = code;
        this.$emit("select", code);
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить информацию о коде ТНВЭД",
          level: "warning"
        });
      } finally {
        this.loading = false;
      }
    }
  },
  data() {
    return {
      query: null,
      codes: null,
      loading: false,
      show_list: false,
      selected_value: null,
      parents_loading: false,
      lang: "ru"
    };
  },
  watch: {
    query(new_val) {
      // TODO: TEST CONDITION:
      if (this.initial) return;
      // ? may cause list show state error

      if (this.selected_value) {
        this.selected_value = null;

        this.getCodes();
      }

      if (!new_val || !new_val.length) {
        this.codes = null;
        if (this.mode === "async") this.getInitialCatalog();
      }
    },
    loading(state) {
      this.$emit("loading", state);
    },
    lang(lang) {
      this.codes = null;
      this.show_list = false;

      if (this.mode === "async") {
        this.getInitialCatalog();
      } else {
        this.getCodes({ query: this.query, lang });
      }
    }
  },
  methods: {
    async getInitialCatalog(params = { lang: this.lang }) {
      if (this.mode !== "async") return;

      try {
        this.loading = true;
        const { data: codes } = await this.$api.get(
          `/v2/products/tnved/roots`,
          { ...(params && { params }) }
        );

        this.codes = codes;
        this.show_list = true;
      } catch (e) {
        console.log("e:", e);

        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось загрузить древо каталога"
        });
      } finally {
        this.loading = false;
      }
    },
    async getCodes(params = { query: this.query, lang: this.lang }) {
      if (!this.query || this.query.length < 2) return;

      try {
        this.loading = true;

        const { data: codes } = await this.$api.get(`/v2/products/tnved`, {
          params
        });
        this.codes = codes;

        if (this.codes) this.show_list = true;
      } catch (e) {
        console.log(e);

        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось завершить запрос",
          inner: {
            errors:
              (e && e.response && e.response.data && e.response.data.errors) ||
              null
          }
        });
      } finally {
        this.loading = false;
      }
    },
    throttledCodesQuery: debounce(
      function() {
        this.getCodes();
      },
      1500,
      { leading: false }
    ),
    async handleSelectedItem(item) {
      this.show_list = false;
      this.query = item.code;

      this.parents_loading = true;
      const { data: full_item } = await this.$api.get(
        `/v2/products/tnved/${item.id}`
      );
      this.parents_loading = false;

      this.selected_value = full_item;
      this.show_list = false;
      this.$emit("select", full_item);
    },
    handleFocus() {
      if (this.selected_value) return;
      if (this.query) this.getCodes({ query: this.query, lang: this.lang });
    },
    handleInputBlur() {
      // if (this.mode === "async") return;
      if (this.static) return;
      this.show_list = false;
    },
    clearValue() {
      this.selected_value = null;
      this.codes = null;
    },
    getFlatCodeParents(codes) {
      let parents = [];

      let getParent = code => {
        if (code.parent) {
          parents.push(code.parent);
          getParent(code.parent);
        }
      };

      getParent(codes);

      return parents.reverse();
    }
  }
};
</script>

<style lang="scss">
.tnved {
  position: relative;

  &__list {
    position: absolute !important;
    width: 100%;
    z-index: 2;
  }

  &--static {
    .tnved__list {
      position: static !important;
    }
  }

  &__parents {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    color: $grey-8;

    & > div {
      padding-bottom: 2px;
      margin-bottom: 4px;
      display: flex;

      .q-icon {
        display: block;
        color: $accent;
        font-size: 16px;
        margin-top: -1px;
      }
    }
  }
}
</style>
