<template>
  <PageContainer :title="`Неопознанные ${$tc('common.returns', 2)}`">
    <div class="container">
      <app-list
        header="Список возращённых посылок"
        :min-width="840"
        white
        class="relative-position"
        :loading="loading.list"
        :empty="
          ((!filtered_returns || !filtered_returns.length) &&
            'Нет информации для отображения') ||
            false
        "
      >
        <return-item
          :item="r"
          v-for="(r, idx) in filtered_returns"
          :key="idx"
        />
      </app-list>
    </div>
  </PageContainer>
</template>

<script>
import ReturnItem from "./ReturnItem.vue";

export default {
  components: {
    "return-item": ReturnItem
  },
  data() {
    return {
      returns: null,
      loading: { list: false },
      query: null
    };
  },
  mounted() {
    this.getReturns();
  },
  computed: {
    filtered_returns() {
      if (this.query) {
        this.returns.filter(
          r =>
            r.comment &&
            r.comment.toLowerCase().indexOf(this.query.toLowerCase()) !== -1
        );
      } else {
        return this.returns;
      }
    }
  },
  methods: {
    async getReturns() {
      this.loading.list = true;

      try {
        const {
          data: { return_shipments }
        } = await this.$api.get(`/shipping/return_shipment/unidentified`);

        this.returns = return_shipments;
      } catch (e) {
        this.$alert({
          level: "danger",
          title: "Не удалось загрузить возвраты",
          message:
            (e && e.response && e.response.data && e.response.data.message) ||
            null,
          errors:
            (e && e.response && e.response.data && e.response.data.errors) ||
            null
        });
      } finally {
        this.loading.list = false;
      }
    }
  }
};
</script>

<style></style>
