<template>
  <PageContainer title="Затребовать возврат" with-back>
    <div class="container">
      <with-loading :state="loading"></with-loading>

      <form @submit.prevent="submitReturnClaim" class="modal__content-group">
        <app-list header="Данные о посылке">
          <q-item>
            <q-item-section>
              Номер посылки
            </q-item-section>
            <q-item-section side>
              <q-input outlined dense v-model="parcel_id">
                <q-tooltip anchor="top middle" self="bottom middle">
                  Если это возврат Вашей посылки, которая есть у нас в системе -
                  укажите её номер
                </q-tooltip>
              </q-input>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              Номер заказа
            </q-item-section>
            <q-item-section side>
              <q-input outlined dense v-model.number="order_id" />
            </q-item-section>
          </q-item>
          <q-item class="q-py-lg">
            <q-item-section>
              <q-item-label>Комментарий</q-item-label>
              <q-item-label>
                <q-input
                  type="textarea"
                  outlined
                  dense
                  v-model.number="comment"
                  :error="$v.comment.$anyError"
                  :rows="$q.screen.sm || $q.screen.xs ? 4 : 2"
                  hide-bottom-space
                  class="q-mt-sm"
                />
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>

        <div class="claim-return__products q-mt-xl">
          <ProductsList
            @on-row-dbclick="addInReturn"
            :actions="['add']"
            :max-height="'350px'"
          ></ProductsList>
        </div>

        <div class="claim-return__inner q-mt-xl">
          <div class="flex-center-between q-mb-md">
            <h4>
              <span>
                Содержимое возврата
              </span>
            </h4>
            <app-btn
              @click.prevent="loadParcelInner"
              class="btn btn-xs text-primary bg-blue-1"
              v-show="parcel_id"
              size="12px"
              color="primary"
              flat
            >
              Загрузить из посылки&nbsp;<b>{{ parcel_id }}</b>
            </app-btn>
          </div>

          <app-list
            :empty="
              ((!claim_inner || !claim_inner.length) &&
                'Содержимое не указано. Выберите товары, что бы опознать содержимое') ||
                false
            "
            header="Содержимое посылки"
            :min-width="640"
          >
            <transition-group name="fade" appear mode="out-in">
              <q-item v-for="(p, idx) in claim_inner" :key="idx">
                <q-item-section side>
                  <app-btn
                    icon="close"
                    @click="removeProduct(idx)"
                    color="negative"
                    flat
                    round
                    size="12px"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    {{ p.title }}
                  </q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    <small class="text-muted">
                      {{ p.code_internal }}&nbsp;
                    </small>
                    <span v-if="p.code">/ {{ p.code }}</span>
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label>
                    <q-input
                      outlined
                      dense
                      style="width:90px"
                      v-model="p.claim_count"
                      suffix="шт"
                      type="number"
                      min="1"
                    />
                  </q-item-label>
                </q-item-section>
              </q-item>
            </transition-group>
          </app-list>
        </div>

        <div class="flex-center-between q-mt-xl">
          <app-btn to="/shipments/returns/unidentified" class="" flat>
            Вернуться
          </app-btn>
          <app-btn @click="submitReturnClaim" color="primary">
            Отправить запрос
          </app-btn>
        </div>
      </form>
    </div>
  </PageContainer>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
import ProductsList from "@/components/Warehouse";
import Tip from "../../components/Tip";

export default {
  components: {
    ProductsList,
    Tip
  },
  data() {
    return {
      comment: null,
      parcel_id: null,
      claim_inner: [],
      loading: false,
      was_loaded_from_parcel: false,
      order_id: null,
      loading: false
    };
  },
  watch: {
    claim_inner(inner) {
      if (!inner.length) {
        this.was_loaded_from_parcel = false;
        this.parcel_id = null;
      }
    }
  },
  methods: {
    addInReturn(prod) {
      if (this.was_loaded_from_parcel) {
        this.$message({
          level: "warning",
          title: "Операция недоступна"
        });
        return;
      }

      let double = this.claim_inner.find(p => p.product_id === prod.product_id);

      if (double) {
        this.$message({
          level: "warning",
          title:
            "Данный товар уже добавлен в заявку - воспользуйтесь счётчиком в списке"
        });
        return;
      }

      this.claim_inner.push({
        ...prod,
        claim_count: 1
      });

      this.$message({
        level: "success",
        title: "Запись добавлена в информацию о посылке"
      });
    },
    removeProduct(idx) {
      this.claim_inner.splice(idx, 1);
    },
    async loadParcelInner() {
      this.loading = true;

      try {
        const {
          data: { products }
        } = await this.$api.get(`/shipping/parcel_products/${this.parcel_id}`);

        this.claim_inner = [
          ...products.map(({ title, id, quantity: max_count }) => {
            return {
              id,
              title,
              claim_count: max_count || 1,
              max_count
            };
          })
        ];

        this.was_loaded_from_parcel = true;
      } catch (e) {
        console.log("e:", e);
        this.$alert({
          level: "danger",
          title: "Не удалось загрузить содержимое посылки",
          inner: {
            message:
              e && e.response && e.response.data && e.response.data.message,
            errors: e && e.response && e.response.data && e.response.data.errors
          }
        });
      } finally {
        this.loading = false;
      }
    },
    async submitReturnClaim() {
      this.$v.comment.$touch();

      if (this.$v.comment.$anyError) {
        this.$message({
          level: "danger",
          title: "Заполните обязательные поля"
        });

        return;
      }

      this.$v.claim_inner.$touch();

      if (this.$v.claim_inner.$anyError) {
        this.$message({
          level: "danger",
          title: "Укажите содержимое посылки"
        });

        return;
      }

      try {
        this.loading = true;
        const {
          data: { success }
        } = await this.$api.post(`/shipping/return_shipment/claims/create`, {
          comment: `${this.comment} *** номер заказа: ${this.order_id ||
            "не указан"} ***`,
          parcel_id: this.parcel_id,
          products: this.claim_inner.map(
            ({ claim_count: count, product_id, id = null }) => ({
              count,
              id: product_id || id
            })
          ),
          return_shipping_id: this.$route.params.return_id
        });

        if (success) {
          this.$alert({
            title: "Заявка создана",
            level: "success"
          });

          this.$router.replace("/shipments/returns/unidentified");
        }
      } catch (e) {
        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось отправить заявку",
          inner: {
            errors: e && e.response && e.response.data && e.response.data.errors
          }
        });
      } finally {
        this.loading = false;
      }
    }
  },
  validations() {
    return {
      comment: {
        required
      },
      claim_inner: {
        required,
        minLength: minLength(1)
      }
    };
  }
};
</script>

<style></style>
