<template>
  <div v-intersection.once="fetchMedia">
    <transition name="fade" mode="out-in">
      <q-img
        height="120px"
        width="120px"
        class="rounded-borders"
        cover
        @click="showReturnImages"
        :src="
          `data:image;base64,${images && images.length && images[0]}` || null
        "
      >
        <template v-slot:error>
          <div class="absolute-full flex bg-grey-3 text-grey-6">
            <q-icon color="grey-5" size="23px" name="image_not_supported" />
            Изображение не найдено
          </div>
        </template>
      </q-img>
    </transition>
  </div>
</template>

<script>
import { debounce } from "quasar";
export default {
  props: {
    returnId: null
  },
  data() {
    return {
      images: null,
      loading: false
    };
  },
  created() {
    // this.getMedia();

    this.getMedia = debounce(this.getMedia, 777);
  },
  methods: {
    fetchMedia({ isIntersecting = false }) {
      if (isIntersecting) {
        this.getMedia();
      }
    },
    async getMedia() {
      this.loading = true;

      try {
        const {
          data: { images }
        } = await this.$api.get(
          `/shipping/return_shipment/${this.returnId}/images`
        );
        this.images = images;
      } catch (e) {
        let { message: title } = this.$parseApiError(e);

        this.$message({ title, level: "warning" });
      } finally {
        this.loading = false;
      }
    },
    showReturnImages() {
      if (!this.images || !this.images.length) {
        this.$message({
          title: "В данном возврате нет изображений"
        });
        return;
      }

      this.$q.dialog({
        component: () => import("@/components/_ui/Carousel"),
        images: this.images
      });
    }
  }
};
</script>
