<template>
  <q-item class="q-py-md">
    <q-item-section avatar>
      <ReturnImages class="cursor-pointer" :return-id="item.id" />
    </q-item-section>
    <q-item-section>
      <q-item-label caption>Комментарий</q-item-label>
      <q-item-label v-if="item.comment">
        {{ item.comment }}
      </q-item-label>
      <q-item-label v-else>
        <small class="text-muted">
          не указано
        </small>
      </q-item-label>
    </q-item-section>
    <q-item-section>
      <q-item-label caption>Дата создания </q-item-label>
      <q-item-label>
        {{ new Date(item.date).toLocaleString() }}
      </q-item-label>
    </q-item-section>
    <q-item-section :class="['return-status', `return-status--${item.status}`]">
      <!-- <b>{{ item.status_title }}</b> -->
      <q-item-label caption>Статус</q-item-label>
      <q-item-label>
        <q-badge :color="transformStatus(item.status).color" class="q-py-xs">
          <q-icon
            size="14px"
            class="q-mr-sm"
            :name="transformStatus(item.status).icon"
          />
          {{ item.status_title }}
        </q-badge>
      </q-item-label>
    </q-item-section>
    <q-item-section side>
      <app-btn
        :to="`unidentified/${item.id}/claim`"
        size="12px"
        color="primary"
        flat
        class="bg-blue-1"
        icon-right="chevron_right"
      >
        Затребовать&nbsp;&nbsp;
      </app-btn>
    </q-item-section>
  </q-item>
</template>

<script>
import ReturnImages from "./ReturnImages.vue";

export default {
  inheritAttrs: false,
  components: {
    ReturnImages
  },
  props: {
    item: Object
  },
  methods: {
    transformStatus(code) {
      switch (code) {
        case "operator_created":
          return {
            color: "blue",
            icon: "new_releases"
          };
        case "accepted":
          return {
            color: "positive",
            icon: "verified"
          };
        case "action_cancelled":
          return {
            color: "negative",
            icon: "do_disturb_alt"
          };

        default:
          return {
            color: "grey-6",
            icon: "more_horiz"
          };
      }
    }
  }
};
</script>

<style lang="scss">
.return-status {
  &--operator_created {
    color: $blue;
  }
  &--accepted {
    color: $positive;
  }
  &--action_cancelled {
    color: $negative;
  }
}
</style>
