<template>
  <div class="relative">
    <with-loading :state="loading" />
    <q-stepper flat v-model="step" vertical color="red" animated>
      <q-step :name="1" title="Поиск населённого пункта" icon="search">
        <form @submit.prevent="findCity">
          <q-input
            dense
            outlined
            :error="$v.city_query.$anyError"
            label="Название города"
            v-model="city_query"
            class="q-pb-none"
          >
            <!-- <template v-slot:after>
              <app-btn
                @click="findCity"
                color="primary"
                label="Найти город"
                class="full-height"
                type="submit"
              />
            </template> -->
          </q-input>
        </form>
        <q-stepper-navigation>
          <app-btn @click="findCity" color="primary" label="Продолжить" />
        </q-stepper-navigation>
      </q-step>

      <q-step
        :name="2"
        title="Выбор населённого пункта"
        icon="sort"
        :done="step > 2"
      >
        <form @submit.prevent="chooseCity">
          <q-select
            :options="cities"
            :option-label="c => (c && c.title) || null"
            :option-value="c => (c && c.id) || null"
            v-model="city"
            outlined
            dense
            label="Город / населённый пункт"
            :error="$v.city.$anyError"
            class="q-pb-none"
            transition-show="jump-down"
            transition-hide="jump-up"
          />
        </form>

        <q-stepper-navigation>
          <app-btn
            flat
            @click="step = 1"
            color="primary"
            label="Вернуться"
            class="q-mr-sm text-grey"
          />
          <app-btn @click="chooseCity" color="primary" label="Продолжить" />
        </q-stepper-navigation>
      </q-step>

      <q-step
        v-if="type === 'novaposhta'"
        :name="`get-warehouse`"
        icon="house"
        title="Выбор отделения"
      >
        <q-select
          :options="warehouses"
          :option-label="c => (c && c.title) || null"
          :option-value="c => (c && c.id) || null"
          v-model="warehouse"
          outlined
          dense
          label="Отделение"
          class="q-pb-none"
          transition-show="jump-down"
          transition-hide="jump-up"
        />

        <q-stepper-navigation>
          <app-btn
            flat
            @click="step = 2"
            color="primary"
            label="Вернуться"
            class="q-mr-md text-grey"
          />
          <app-btn
            color="red"
            @click="saveDepartment"
            label="Сохранить отделение"
          />
        </q-stepper-navigation>
      </q-step>

      <q-step
        v-if="type === 'private'"
        :name="`search-street`"
        title="Поиск улицы"
        icon="search"
      >
        <q-input
          label="Название улицы"
          v-model="street_query"
          dense
          outlined
          :error="$v.street_query.$anyError"
        />

        <q-stepper-navigation>
          <app-btn
            flat
            @click="step = 2"
            class="q-mr-md text-grey"
            label="Вернуться"
          />
          <app-btn @click="findStreet" color="primary" label="Продолжить" />
        </q-stepper-navigation>
      </q-step>
      <q-step
        v-if="type === 'private'"
        :name="`get-address`"
        title="Адрес забора посылки"
        icon="home"
      >
        <q-select
          :options="streets"
          :option-label="c => (c && c.title) || null"
          :option-value="c => (c && c.id) || null"
          v-model="street"
          outlined
          dense
          label="Улица"
          :error="$v.street.$anyError"
          transition-show="jump-down"
          transition-hide="jump-up"
        />

        <div class="row q-col-gutter-md">
          <div class="col-6">
            <q-input
              v-model="address.building"
              label="Номер дома"
              outlined
              dense
              :error="$v.address.building.$anyError"
            />
          </div>
          <div class="col-6">
            <q-input v-model="address.flat" label="Квартира" outlined dense />
          </div>
          <div class="col-12">
            <q-input
              rows="3"
              label="Комментарий"
              type="textarea"
              outlined
              dense
              v-model="comment"
              :error="$v.comment.$anyError"
            />
          </div>
        </div>

        <q-stepper-navigation>
          <app-btn
            flat
            @click="setStep('search-street')"
            class="q-mr-md text-grey"
            label="Вернуться"
          />
          <app-btn
            @click="saveAddress"
            color="primary"
            label="Сохранить адрес"
          />
        </q-stepper-navigation>
      </q-step>
    </q-stepper>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: {
    type: {
      type: String,
      validator(val) {
        return ["private", "novaposhta"].includes(val);
      },
      required: true
    }
  },
  data() {
    return {
      step: 1,
      city_query: null,
      city: null,
      cities: null,
      streets: null,
      street: null,
      street_query: null,
      warehouses: null,
      warehouse: null,
      loading: false,
      address: {
        flat: null,
        building: null
      },
      comment: null
    };
  },
  methods: {
    setStep(step) {
      this.step = step;
    },
    async findCity() {
      this.$v.city_query.$touch();
      if (this.$v.city_query.$anyError) return;

      this.loading = true;
      try {
        const {
          data: { cities }
        } = await this.$api.get(
          `/v2/novaposhta/address/cities/${this.city_query}`
        );

        if (!cities.length) {
          this.$alert({
            title: "По данному запросу не найдены населённые пункты",
            message: "Попробуйте изменить запрос и попробовать снова",
            level: "warning"
          });
          return;
        }

        this.cities = cities;
        this.setStep(2);
      } catch (e) {
        console.log(e);
        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось получить данные"
        });
      } finally {
        this.loading = false;
      }
    },
    async chooseCity() {
      this.$v.city.$touch();
      if (this.$v.city.$anyError) return;

      if (this.type === "novaposhta") {
        this.findWarehouses();
      } else if (this.type === "private") {
        this.setStep("search-street");
      } else {
        throw new Error("Unknown address type @ NewAddress:231");
      }
    },
    async findWarehouses() {
      this.loading = true;

      try {
        const {
          data: { warehouses }
        } = await this.$api.get(
          `/v2/novaposhta/address/warehouses/${this.city.id}`
        );

        if (!warehouses.length) {
          this.$alert({
            title: "По данному запросу отделений не найденно.",
            level: "warning"
          });

          return;
        }

        this.warehouses = warehouses;
        this.setStep("get-warehouse");
      } catch (e) {
        console.log(e);
        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось получить данные"
        });
      } finally {
        this.loading = false;
      }
    },
    async findStreet() {
      this.$v.street_query.$touch();

      if (this.$v.street_query.$anyError) {
        this.$message({
          level: "warning",
          title: "Заполните обязательные поля"
        });
        return;
      }

      this.loading = true;

      try {
        const {
          data: { streets }
        } = await this.$api.post(`/v2/novaposhta/address/streets`, {
          city_id: this.city.id,
          street_name: this.street_query
        });

        if (!streets.length) {
          this.$alert({
            title: "По данному запросу отделений не найденно.",
            message: "Попробуйте изменить запрос и попробовать снова",
            level: "warning"
          });
          return;
        }
        this.streets = streets;
        this.setStep("get-address");
      } catch (e) {
        this.$alert({
          level: "danger",
          title:
            (e.response && e.response.data && e.response.data.message) ||
            "Не удалось завершить запрос",

          errors:
            (e.response && e.response.data && e.response.data.errors) || null
        });
      } finally {
        this.loading = false;
      }
    },
    async saveAddress() {
      this.$v.address.$touch();
      this.$v.comment.$touch();
      this.$v.street.$touch();

      if (this.$v.address.$anyError || this.$v.comment.$anyError) {
        this.$message({
          level: "warning",
          title: "Заполните обязательные поля"
        });
        return;
      }

      let {
        address: { building, flat },
        comment,
        street: { id: street_id },
        city
      } = this;

      let params = {
        building,
        city,
        comment,
        flat,
        street_id
      };

      this.loading = true;

      try {
        const { status } = await this.$api.post(`/v2/novaposhta/address/save`, {
          ...params
        });

        if (status === 200) {
          this.$modal.hide("get-department");

          this.$alert({
            title: "Адрес сохранен",
            level: "success"
          });
        }
      } catch (e) {
        this.$alert({
          level: "danger",
          title:
            (e.response && e.response.data && e.response.data.message) ||
            "Не удалось завершить запрос",
          errors:
            (e.response && e.response.data && e.response.data.errors) || null
        });
      } finally {
        this.loading = false;
      }
    },
    async saveDepartment() {
      this.loading = true;

      try {
        const { data } = await this.$api.post(
          `/v2/novaposhta/address/warehouses/save`,
          this.warehouse
        );

        this.$modal.hide("get-department");

        this.$parent.$emit("submit", this.type);

        this.$alert({
          title: "Отделение сохранено",
          level: "success"
        });
      } catch (e) {
        console.log("e:", e);
        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось сохранить данные"
        });
      } finally {
        this.loading = false;
      }
    }
  },
  validations() {
    return {
      street_query: { required },
      city_query: { required },
      city: { required },
      street: { required },
      address: {
        building: { required },
        flat: { required }
      },
      comment: { required }
    };
  }
};
</script>

<style></style>
