<template>
  <div class="address-picker">
    <q-select
      @input="handleInputChange"
      class="q-mb-md"
      :options="addresses"
      label="Выберите адрес"
      outlined
      dense
      v-model="address"
      :loading="loading"
      :option-value="opt => opt && opt.id"
      :option-label="
        opt =>
          opt &&
          `${opt.city}, ${opt.postal_code}, ${opt.street},
                  ${opt.name}, ${opt.phone}${(opt.company &&
            ', ' + opt.company) ||
            ''}`
      "
      v-bind="$attrs"
    >
      <template #no-option>
        <q-item>
          <q-item-section class="text-muted">
            Нет информации для отображения
          </q-item-section>
        </q-item>
      </template>
      <template #after>
        <app-btn
          @click="createNewAddress"
          icon="add"
          class="full-height"
          color="accent"
        >
          <q-tooltip>Добавить адрес</q-tooltip>
        </app-btn>
      </template>
      <slot />
    </q-select>
  </div>
</template>

<script>
export default {
  data() {
    return {
      addresses: null,
      address: null,
      loading: false
    };
  },

  async mounted() {
    this.loading = true;
    this.addresses = await this.getAddresses();
    this.loading = false;
  },
  methods: {
    async getAddresses() {
      return new Promise(async (done, fail) => {
        try {
          const { data } = await this.$api.get(`/v2/cdek/addresses`);
          // this.addresses = data;

          done(data);
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: "Не удалось загрузить сохранённые адреса"
          });

          fail(e);
        }
      });
    },
    createNewAddress() {
      this.$q
        .dialog({
          component: () => import("./CreateAddress.vue")
          // parent: this,
        })
        .onOk(() => {
          this.getAddresses();
        })
        .onCancel(() => {
          this.$message({
            level: "warning",
            title: "Действие отменено, изменения не сохранены"
          });
        });
    },
    handleInputChange(address) {
      this.$emit("change", address);
    }
  }
};
</script>

<style></style>
