<template>
  <q-select
    outlined
    dense
    clearable
    use-input
    input-debounce="300"
    label="Выберите город"
    :hint="(!city && 'начинайте вводить название города') || null"
    :options="cities"
    @filter-abort="abortFilterCities"
    @filter="filterCities"
    v-model="city"
    :option-label="opt => opt && `${opt.city} - ${opt.region}`"
    v-bind="$attrs"
    :loading="loading"
  >
    <template v-slot:no-option="{ inputValue }">
      <q-item>
        <q-item-section class="text-muted flex items-center">
          <div class="flex">
            По запросу
            <span class="q-mx-xs text-bold">
              {{ inputValue }}
            </span>
            ничего не найдено
          </div>
        </q-item-section>
      </q-item>
    </template>
    <slot />
  </q-select>
</template>

<script>
export default {
  data() {
    return {
      cities: null,
      city: null,
      loading: false
    };
  },
  watch: {
    city(new_val, old_val) {
      console.log('new_val:', new_val)
      this.$emit("change", new_val);
    }
  },
  methods: {
    async filterCities(query, update, abort) {
      if (!query || query.length <= 1) {
        abort();
        return;
      }

      try {
        this.loading = true;

        let { data: cities } = await this.$api.get(`/v2/cdek/cities/${query}`);

        update(
          () => {
            if (!query || query === "") {
              this.cities = null;
            } else {
              const needle = query.toLowerCase();
              this.cities = cities.filter(
                v => v.city.toLowerCase().indexOf(needle) > -1
              );
            }
          },

          // next function is available in Quasar v1.7.4+;
          // "ref" is the Vue reference to the QSelect
          ref => {
            if (query !== "" && ref.options.length > 0) {
              ref.setOptionIndex(-1); // reset optionIndex in case there is something selected
              ref.moveOptionSelection(1, true); // focus the first selectable option and do not update the input-value
            }
          }
        );
      } catch (e) {
        console.log(e);
        abort();
      } finally {
        this.loading = false;
      }
    },
    abortFilterCities() {
      console.log("abort filter");
      //   this.$emit("change", null);
    }
  }
};
</script>

<style></style>
