<template>
  <PageContainer with-back="/cdek/" title="Вызов курьера">
    <with-loading :state="loading" />
    <div class="courier" id="courier-request">
      <div class="container">
        <!-- {{ shipment_ids }} -->
        <div style="max-width:770px" class="courier__date-time">
          <h5 class="q-mb-md">Забор посылки</h5>

          <q-input
            outlined
            dense
            label="Дата забора"
            v-model="params.date"
            mask="##.##.2021"
            :error="$v.params.date.$anyError"
          >
            <template v-slot:append>
              <app-btn
                icon="event"
                dense
                flat
                class="bg-blue-1"
                size="13px"
                color="primary"
              >
                <!-- <q-icon name="event" class="cursor-pointer"> -->
                <q-tooltip>Выбрать дату</q-tooltip>

                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date landscape v-model="params.date" mask="DD.MM.YYYY">
                    <div class="row items-center justify-end">
                      <app-btn size="12px" v-close-popup label="Закрыть" flat />
                      <app-btn
                        size="12px"
                        v-close-popup
                        label="Принять"
                        color="primary"
                        flat
                        :disable="!params.date"
                      />
                    </div>
                  </q-date>
                </q-popup-proxy>
                <!-- </q-icon> -->
              </app-btn>
            </template>
            <template #after>
              <div class="flex items-center">
                <q-input
                  label="Время забора, c"
                  outlined
                  dense
                  v-model="params.time_from"
                  mask="time"
                  :error="$v.params.time_from.$anyError"
                  hide-bottom-space
                >
                  <template v-slot:append>
                    <!-- <q-icon name="access_time" class="cursor-pointer"> -->
                    <app-btn
                      icon="access_time"
                      dense
                      flat
                      class="bg-blue-1"
                      color="primary"
                      size="13px"
                    >
                      <q-tooltip>Выбрать время</q-tooltip>

                      <q-popup-proxy
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-time
                          :hour-options="TIMEPICKER_ALLOWED.hours"
                          :minute-options="TIMEPICKER_ALLOWED.minutes"
                          format24h
                          v-model="params.time_from"
                        >
                          <div class="row items-center justify-end">
                            <app-btn
                              size="12px"
                              v-close-popup
                              label="Закрыть"
                              flat
                            />
                            <app-btn
                              size="12px"
                              v-close-popup
                              label="Принять"
                              color="primary"
                              flat
                              :disable="!params.time_from"
                            />
                          </div>
                        </q-time>
                      </q-popup-proxy>
                    </app-btn>
                    <!-- </q-icon> -->
                  </template>
                </q-input>
                <div class="q-mx-sm">—</div>
                <q-input
                  label="Время забора, до"
                  outlined
                  dense
                  v-model="params.time_to"
                  mask="time"
                  :error="$v.params.time_to.$anyError"
                  hide-bottom-space
                >
                  <template v-slot:append>
                    <app-btn
                      icon="access_time"
                      dense
                      flat
                      class="bg-blue-1"
                      size="13px"
                      color="primary"
                    >
                      <!-- <q-icon name="access_time" class="cursor-pointer"> -->
                      <q-tooltip>Выбрать время</q-tooltip>
                      <q-popup-proxy
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-time
                          :hour-options="TIMEPICKER_ALLOWED.hours"
                          :minute-options="TIMEPICKER_ALLOWED.minutes"
                          format24h
                          v-model="params.time_to"
                        >
                          <div class="row items-center justify-end">
                            <app-btn
                              size="12px"
                              v-close-popup
                              label="Закрыть"
                              flat
                            />
                            <app-btn
                              size="12px"
                              v-close-popup
                              label="Принять"
                              color="primary"
                              flat
                              :disable="!params.time_to"
                            />
                          </div>
                        </q-time>
                      </q-popup-proxy>
                      <!-- </q-icon> -->
                    </app-btn>
                  </template>
                </q-input>
              </div>
            </template>
          </q-input>
        </div>

        <div class="courier__dimensions q-mt-xl">
          <h5 class="q-mb-md">Габариты посылки</h5>
          <div class="row q-col-gutter-md">
            <div class="col">
              <q-input
                label="Длина"
                suffix="cm"
                outlined
                dense
                v-model.number="params.piece.length"
                :error="$v.params.piece.length.$anyError"
                hide-bottom-space
              ></q-input>
            </div>
            <div class="col">
              <q-input
                label="Ширина"
                suffix="cm"
                outlined
                dense
                v-model.number="params.piece.width"
                :error="$v.params.piece.width.$anyError"
                hide-bottom-space
              ></q-input>
            </div>
            <div class="col">
              <q-input
                label="Высота"
                suffix="cm"
                outlined
                dense
                v-model.number="params.piece.height"
                :error="$v.params.piece.height.$anyError"
                hide-bottom-space
              ></q-input>
            </div>
            <div class="col">
              <q-input
                label="Вес"
                suffix="kg"
                outlined
                dense
                v-model.number="params.piece.weight"
                :error="$v.params.piece.weight.$anyError"
                hide-bottom-space
              />
            </div>
          </div>
        </div>

        <div class="courier__additional q-mt-xl">
          <h5 class="q-mb-md">Дополнительно</h5>

          <q-input
            label="Комментарий"
            outlined
            dense
            type="textarea"
            rows="3"
            class="q-mb-md"
            v-model="params.comment"
          />

          <q-checkbox color="accent" v-model="params.need_call">
            <div class="flex items-center">
              Позвонить Вам ?
              <q-icon
                class="q-ml-xs"
                size="17px"
                color="grey-6"
                name="help_outline"
              >
                <q-tooltip>
                  Курьер позвонит Вам перед прибытием по Вашему адресу
                </q-tooltip>
              </q-icon>
            </div>
          </q-checkbox>
        </div>

        <div class="flex items-center justify-center q-mt-lg">
          <app-btn @click="submit" color="accent">
            Отправить
          </app-btn>
        </div>
      </div>
    </div>
  </PageContainer>
</template>

<script>
import { required } from "vuelidate/lib/validators";

const TIMEPICKER_ALLOWED = {
  hours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21],
  minutes: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]
};

export default {
  data() {
    return {
      TIMEPICKER_ALLOWED,
      loading: false,
      params: {
        date: null,
        time_from: null,
        time_to: null,
        need_call: false,
        comment: null,
        piece: {
          length: null,
          width: null,
          height: null,
          weight: null
        },
        shipment_ids: this.$route.query.shipments.split(",")
      }
    };
  },
  methods: {
    async submit() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({
          level: "warning",
          title: "Заполните обязательные поля"
        });

        return;
      }

      try {
        let params = { ...this.params };

        params.date = params.date
          .split(".")
          .reverse()
          .join("-");

        this.loading = true;

        await this.$api.post(`/v2/cdek/pickups`, params);

        this.$alert({
          level: "success",
          title: "Заявка отправлена"
        });

        this.$router.push(`/cdek`);
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Не удалось завершить запрос"
        });
        console.log(e);
      } finally {
        this.loading = false;
        // this.$router.push(`/cdek`);
      }
    }
  },
  validations() {
    return {
      params: {
        date: { required },
        time_from: { required },
        time_to: { required },
        piece: {
          length: { required },
          width: { required },
          height: { required },
          weight: { required }
        },
        shipment_ids: { required }
      }
    };
  }
};
</script>

<style></style>
