<template>
  <q-dialog persistent ref="dialog" @hide="onDialogHide">
    <q-card>
      <q-card-section>
        <div class="flex justify-between items-center">
          <h5 class="q-ma-none">Создать новый адрес</h5>
          <app-btn
            @click="hide"
            round
            icon="close"
            flat
            size="sm"
            color="negative"
          ></app-btn>
        </div>
      </q-card-section>
      <!-- <q-separator></q-separator> -->
      <q-card-section>
        <div class="row q-col-gutter-md">
          <div class="col-12">
            <city-picker
              :error="$v.new_address.city.$anyError"
              @change="city => (new_address.city = city)"
            />
          </div>
          <div class="col-4">
            <q-input
              outlined
              dense
              label="Почтовый индекс"
              v-model="new_address.postal_code"
              :error="$v.new_address.postal_code.$anyError"
            ></q-input>
          </div>
          <div class="col-8">
            <q-input
              outlined
              dense
              label="Адрес"
              v-model="new_address.street"
              :error="$v.new_address.street.$anyError"
            ></q-input>
          </div>
          <div class="col-12">
            <q-input
              label="ФИО"
              v-model="new_address.name"
              :error="$v.new_address.name.$anyError"
              outlined
              dense
            ></q-input>
          </div>
          <div class="col-6">
            <q-input
              label="Номер телефона"
              v-model="new_address.phone"
              :error="$v.new_address.phone.$anyError"
              outlined
              dense
            ></q-input>
          </div>
          <div class="col-6">
            <q-input
              label="Компания"
              v-model="new_address.company"
              :error="$v.new_address.company.$anyError"
              outlined
              dense
            ></q-input>
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <div class="flex justify-between items-center">
          <app-btn color="negative" flat label="Отмена" @click="onCancelClick" />
          <app-btn color="primary" label="Сохранить" @click="submitAddress" />
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import CityPicker from "./CityPicker.vue";

export default {
  components: {
    "city-picker": CityPicker
  },
  data() {
    return {
      cities: null,
      new_address: {
        city: null,
        company: null,
        name: null,
        phone: null,
        postal_code: null,
        street: null
      },
      loading: {
        cities: false,
        modal: false
      }
    };
  },
  computed: {
    city_id() {
      return this.new_address.city.id;
    }
  },
  methods: {
    async submitAddress() {
      //* POST /v2/cdek/addresses

      try {
        this.loading.modal = true;

        this.$v.new_address.$touch();

        if (this.$v.new_address.$anyError) {
          return;
        }

        const {
          new_address,
          new_address: {
            city: { city }
          },
          city_id
        } = this;

        await this.$api.post(`v2/cdek/addresses`, {
          ...new_address,
          city,
          city_id
        });

        this.$message({
          level: "success",
          title: "Адрес сохранён"
        });

        this.$emit("ok");
        this.hide();
      } catch (e) {
        console.log("e:", e);
        this.$showApiError(e, {
          fallbackMessage: "Не удалось сохранить изменения"
        });
        console.log(e);
      } finally {
        this.loading.modal = true;
      }
    },
    // * SERVICE DIALOG MESSAGES
    show() {
      this.$refs.dialog.show();
    },
    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit("hide");
    },
    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    }
  },
  validations() {
    return {
      new_address: {
        city: { required },
        company: { required },
        name: { required },
        phone: { required },
        postal_code: { required },
        street: { required }
      }
    };
  }
};
</script>

<style></style>
