<template>
  <PageContainer>
    <template #title>
      <div class="container">
        <div class="flex items-center">
          <h2>Отправки СДЭК</h2>
          <app-btn
            icon="help_outline"
            size="16 px"
            round
            flat
            color="grey"
            class="q-ml-sm"
          >
            <q-menu max-width="420px">
              <q-card>
                <q-card-section>
                  Вы можете отправить свои посылки на наш склад в г. Москва с
                  помощью курьерской компании СДЭК.
                  <br />
                  <br />
                  На этой странице Вы можете видеть список уже созданных Вами
                  отправок.
                  <br />
                  <br />
                  Что бы создать новую заявку - перейдите на
                  <router-link to="/shipments/list">
                    страницу созданных Вами отправок
                  </router-link>
                  и выберите заявки которые хотите отправить с помщью СДЭК
                  <br />
                  <br />
                  Далее в правом-нижнем углу экрана найтите меню
                  <b>"Действия"</b> и выберите пункт
                  <b>"Отправить выбранные с помощью СДЭК"</b>
                </q-card-section>
              </q-card>
            </q-menu>
          </app-btn>
        </div>
      </div>
    </template>

    <template #actions>
      <div class="flex items-center">
        <app-btn
          flat
          @click="checked = []"
          :disable="!checked.length"
          class="q-mr-lg"
          size="12px"
        >
          Сбросить выбор
        </app-btn>
        <div>
          <app-btn size="12px" @click="callCourier" :disable="!ableToCallCourier">
            Вызов курьера
            <q-badge class="q-ml-sm" rounded>{{ checked.length }}</q-badge>
          </app-btn>
          <q-tooltip v-if="checked.length && !ableToCallCourier">
            Вызов курьера доступен только для отправок типа "Дверь - Дверь" и
            "Дверь - Склад"
          </q-tooltip>
        </div>
      </div>
    </template>

    <div class="container">
      <!-- <div class="q-mb-lg">
        <app-btn @click="callCourier" :disable="!ableToCallCourier">
          Вызов курьера
          <q-badge class="q-ml-sm" rounded>{{ checked.length }}</q-badge>
        </app-btn>
      </div> -->

      <app-list
        :min-width="1140 - 30"
        white
        class="relative-position"
        header="Созданные заявки"
        :loading="loading.list"
        :empty="
          ((!shipments || !shipments.length) &&
            'Созданных заявок не найдено') ||
            false
        "
      >
        <q-item class="relative-position" v-for="s in shipments" :key="s.id">
          <with-loading :state="loading.shipments[s.id]" />
          <q-item-section side>
            <q-checkbox :val="s" v-model="checked" />
          </q-item-section>
          <q-item-section>
            <q-item-label caption class="q-mb-xs">Способ доставки</q-item-label>
            <q-item-label>
              <div class="text-subtitle2">
                {{ s.tariff.title }}
              </div>
            </q-item-label>
          </q-item-section>
          <q-item-section v-if="s.from_address">
            <q-item-label caption class="q-mb-xs">
              Адрес отправления
            </q-item-label>
            <q-item-label>
              <!-- or from_office -->
              {{ s.from_address.postal_code }}, {{ s.from_address.city }},
              {{ s.from_address.street }}, {{ s.from_address.name }},
              {{ s.from_address.phone }}, {{ s.from_address.company }}
            </q-item-label>
          </q-item-section>
          <q-item-section v-else-if="s.from_office">
            <q-item-label caption class="q-mb-xs">
              Адрес отправления
            </q-item-label>
            <q-item-label>
              {{ s.from_office.address }}
            </q-item-label>
          </q-item-section>
          <q-item-section v-else>
            <q-item-label>
              <small class="text-muted">не указано</small>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label caption class="q-mb-xs">Содержимое</q-item-label>

            <q-item-label>
              <app-btn :label="`Обзор`" size="10px" class="q-mr-sm">
                <q-menu>
                  <div v-for="(pack, idx) in s.packages" :key="idx">
                    <q-list style="min-width:420px">
                      <q-item-label
                        class="text-accent"
                        style="font-size:11px"
                        header
                      >
                        <div class="text-subtitle2">Место {{ idx + 1 }}</div>
                      </q-item-label>
                      <!-- {{ pack }} -->
                      <q-item>
                        <q-item-section>
                          <q-item-label caption class="q-mb-xs">
                            Длина, cm
                          </q-item-label>
                          <q-item-label>{{ pack.length }}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label caption class="q-mb-xs">
                            Ширина, cm
                          </q-item-label>
                          <q-item-label>{{ pack.width }}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label caption class="q-mb-xs">
                            Высота, cm
                          </q-item-label>
                          <q-item-label>{{ pack.height }}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label caption class="q-mb-xs">
                            Общий вес, kg
                          </q-item-label>
                          <q-item-label>
                            {{ $toFixed(getPackTotalWeight(pack), 3) }}
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                      <q-item>
                        <q-item-section>
                          <app-list header="Вложения">
                            <q-item
                              v-for="(item, idx) in pack.items"
                              :key="idx"
                            >
                              <!-- <q-item-section>
                                <q-item-label caption class="q-mb-xs">
                                  Код
                                </q-item-label>
                                <q-item-label>
                                  {{ item.code }}
                                </q-item-label>
                              </q-item-section> -->
                              <q-item-section>
                                <q-item-label caption class="q-mb-xs">
                                  Наим.
                                </q-item-label>
                                <q-item-label>
                                  <div class="ellipsis">
                                    {{ item.title }}
                                  </div>
                                  <small class="text-muted">{{
                                    item.code
                                  }}</small>
                                </q-item-label>
                              </q-item-section>
                              <q-item-section>
                                <q-item-label caption class="q-mb-xs">
                                  Стоимость
                                </q-item-label>
                                <q-item-label>
                                  {{ $toRUB(item.cost) }}
                                </q-item-label>
                              </q-item-section>
                              <q-item-section>
                                <q-item-label caption class="q-mb-xs">
                                  Кол-во
                                </q-item-label>
                                <q-item-label>
                                  {{ item.quantity }}
                                </q-item-label>
                              </q-item-section>
                              <q-item-section>
                                <q-item-label caption class="q-mb-xs">
                                  Вес, g
                                </q-item-label>
                                <q-item-label>
                                  {{ item.weight }}
                                </q-item-label>
                              </q-item-section>
                            </q-item>
                          </app-list>
                        </q-item-section>
                      </q-item>
                    </q-list>
                    <q-separator />
                  </div>
                </q-menu>
              </app-btn>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label caption class="q-mb-xs">Дополнительно</q-item-label>
            <q-item-label v-if="s.services && s.services.length">
              <div class="flex">
                <q-badge
                  style="cursor:default"
                  class="q-mr-sm q-mb-xs"
                  v-for="s in s.services"
                  :key="s.code"
                >
                  {{ s.title }}
                  <q-tooltip>
                    {{ s.description }}: {{ s.parameter }}
                    <!-- <div class="text-sutitle1">
                      {{ $toUSD(s.cost) }} /
                      <small>{{ $toRUB(s.cost_national) }}</small>
                    </div> -->
                  </q-tooltip>
                </q-badge>
              </div>
            </q-item-label>
            <q-item-label v-else>
              <small class="text-muted">не выбрано</small>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label caption class="q-mb-xs">Трек-номер</q-item-label>
            <q-item-label>
              <div class="flex items-center">
                {{ s.track_number }}
                <app-btn
                  size="9px"
                  icon="copy_all"
                  class="q-ml-xs"
                  color="grey-7"
                  round
                  flat
                  @click="
                    () => {
                      $copyToClipboard(s.track_number);
                      $message({
                        level: 'success',
                        title: 'Значение скопировано'
                      });
                    }
                  "
                >
                  <q-tooltip anchor="top middle" self="bottom middle">
                    Копировать трек-номер
                  </q-tooltip>
                </app-btn>
              </div>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label caption class="q-mb-xs">Стоимость</q-item-label>
            <q-item-label>
              <div class="text-subtitle2 text-accent" style="line-height:1">
                {{ $toUSD(s.cost) }}
              </div>
            </q-item-label>
          </q-item-section>
          <q-item-section side class="flex">
            <app-btn
              dense
              icon="more_vert"
              color="accent"
              size="13px"
              round
            >
              <q-menu>
                <q-list style="min-width:210px">
                  <q-item
                    clickable
                    @click="
                      $router.push(
                        `/cdek/request-courier-pickup?shipments=${s.id}`
                      )
                    "
                  >
                    <!-- v-if="!s.from_office" -->
                    <q-item-section>
                      Вызов курьера
                    </q-item-section>
                  </q-item>
                  <q-item
                    @click="getDocument('label', s.id)"
                    clickable
                    v-close-popup
                  >
                    <q-item-section>
                      Скачать лейбу
                    </q-item-section>
                  </q-item>
                  <q-item
                    @click="getDocument('barcodes', s.id)"
                    clickable
                    v-close-popup
                  >
                    <q-item-section>
                      Скачать штрихкод
                    </q-item-section>
                  </q-item>
                  <q-item
                    clickable
                    class="text-negative"
                    @click="removeShipment(s.id)"
                    disable
                    v-if="false"
                  >
                    <q-item-section>Удалить заявку</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </app-btn>
          </q-item-section>
        </q-item>
      </app-list>
    </div>
  </PageContainer>
</template>

<script>
export default {
  mounted() {
    this.getShipments();
  },
  data() {
    return {
      shipments: null,
      loading: { list: false, shipments: [] },
      checked: []
    };
  },
  computed: {
    ableToCallCourier() {
      return !!this.checked.length && !this.checked.some(s => !!s.from_office);
    }
  },
  methods: {
    async getShipments(params) {
      try {
        this.loading.list = "Загрузка созданных заявок";
        const { data } = await this.$api.get(`/v2/cdek/shipments`);

        this.shipments = data;
      } catch (e) {
        console.log(e);
        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить список созданных заявок"
        });
      } finally {
        this.loading.list = false;
      }
    },
    async removeShipment(id) {
      let c = await this.$confirm({
        title: "Действительно хотите удалить заявку ?",
        level: "danger"
      });

      if (!c) return;
    },
    getPackTotalWeight(pack) {
      let w = 0;

      pack.items.forEach(i => {
        w += i.quantity * i.weight;
      });

      return w / 1000;
    },
    async getDocument(doc_type, id) {
      try {
        this.$set(this.loading.shipments, id, true);

        const { data: document } = await this.$api({
          methods: "GET",
          url: `/v2/cdek/shipments/${id}/${doc_type}`,
          responseType: "arraybuffer"
        });

        this.$q.dialog({
          component: () => import("@/components/_ui/DocumentViewer"),
          document,
          name: "cdek-documents"
        });
      } catch (e) {
        console.log(e);
        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить документ"
        });
      } finally {
        // this.loading.shipments[id] = false;
        this.$set(this.loading.shipments, id, false);
      }
    },
    callCourier() {
      if (this.checked.find(s => !s.from_address)) {
        this.$alert({
          level: "warning",
          title:
            "Вызов курьера доступен только для способа доставки типа 'Дверь-Дверь'"
        });
      }

      this.$router.push({
        path: "/cdek/request-courier-pickup",
        query: { shipments: this.checked.map(s => s.id).join(",") }
      });
    }
  }
};
</script>

<style></style>
