<template>
  <div class="office-picker">
    <q-select
      @input="handleInputChange"
      class="q-mb-md"
      :options="offices"
      :label="
        !city
          ? 'Выберите отделение'
          : loading
          ? `Загрузка отделений ...`
          : `Выберите отделение СДЭК`
      "
      outlined
      dense
      v-model="value"
      :loading="loading"
      :option-value="opt => opt && opt.code"
      :option-label="opt => opt && `${opt.name} - ${opt.address}`"
      v-bind="$attrs"
      :disable="!city || loading"
      use-input
      fill-input
      hide-selected
      @filter="filterFn"
    >
      <template #no-option>
        <q-item>
          <q-item-section class="text-muted">
            В данном населённом пункте не найдено отделений
          </q-item-section>
        </q-item>
      </template>
      <template #after v-if="$slots['after']">
        <slot name="after" />
      </template>
      <template #before v-if="$slots['before']">
        <slot name="before" />
      </template>
      <!-- <template #before v-if="$slots['before']">
        <slot name="before" />
      </template> -->
      <!-- <template #prepend v-if="$slots['prepend']">
        <slot name="prepend" />
      </template> -->
    </q-select>
  </div>
</template>

<script>
export default {
  // model: {
  //   event: "change"
  // },
  props: {
    city: {
      default: null
    },
    value: Object
  },
  data() {
    return {
      offices: null,
      office: null,
      loading: false
    };
  },
  watch: {
    async city(new_city) {
      if (new_city) this.offices = await this.getOffices(new_city);
      if (this.offices && this.offices.length) {
        this.offices_ = [...this.offices];
      } else {
        this.offices_ = null;
      }
    }
  },
  methods: {
    async getOffices(city = this.city) {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;

          const { data: offices } = await this.$api.get(
            `/v2/cdek/offices/search/?city_id=${city.id}&country=${city.country}`
          );

          if (!offices || !offices.length) {
            this.$message({
              level: "warning",
              title: "В выбранном населённом пункте не найдено отделений"
            });
            return;
          }

          done(offices);
        } catch (e) {
          console.log(e);
        } finally {
          this.loading = false;
        }
      });
    },
    handleInputChange(office) {
      // this.$emit("change", office);
      this.$emit("input", office);
    },
    filterFn(val, update, abort) {
      if (!this.offices || !this.offices.length) {
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.offices = this.offices_.filter(
          v =>
            v.name.toLowerCase().indexOf(needle) > -1 ||
            v.address.toLowerCase().indexOf(needle) > -1
        );
      });
    }
  }
};
</script>
