<template>
  <q-dialog position="bottom" ref="get-wh-item">
    <q-card class="container-fluid ">
      <q-card-section class="q-pa-lg">
        <Warehouse @on-row-dbclick="pickItem" :actions="['add', 'create']" />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import Warehouse from "@/components/Warehouse";
export default {
  components: {
    Warehouse
  },
  methods: {
    pickItem(product) {
      this.$emit("ok", product);
      this.hide();
    },
    show() {
      this.$refs["get-wh-item"].show();
    },
    hide() {
      this.$refs["get-wh-item"].hide();
    }
  }
};
</script>
<style lang="scss" scoped>
.q-dialog__inner {
  width: 100% !important;

  .q-card {
    max-width: none;
  }
}
</style>
