<template>
  <!-- <q-card> -->
  <app-list :min-width="1000" white header="Список мест">
    <transition-group name="fade">
      <div
        class="relative-position"
        :key="`box--${idx}`"
        v-for="(box, idx) in boxes"
      >
        <div class="box-counter">
          {{ idx + 1 }}
        </div>

        <q-item class="q-py-lg full-width">
          <q-item-section>
            <div class="flex items-start full-width no-wrap">
              <div
                class="flex items-center justify-around q-mr-m no-wrap place-control"
                style="margin-top: 2px;"
              >
                <app-btn
                  round
                  flat
                  icon="close"
                  color="negative"
                  @click="removeBox(idx)"
                  :disable="boxes.length < 2"
                  size="12px"
                  class="q-mr-md"
                >
                  <q-tooltip anchor="top middle" self="bottom middle">
                    Удалить место
                  </q-tooltip>
                </app-btn>
                <app-btn
                  round
                  flat
                  icon="copy_all"
                  @click="addBox($event, box)"
                  size="12px"
                >
                  <q-tooltip anchor="top middle" self="bottom middle">
                    Дублировать место
                  </q-tooltip>
                </app-btn>
              </div>
              <div class="full-width">
                <div class="row q-col-gutter-lg full-width">
                  <div class="col">
                    <q-input
                      outlined
                      hide-bottom-space
                      label="Длина"
                      v-model.number="box.length"
                      dense
                      suffix="cm"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      outlined
                      hide-bottom-space
                      label="Ширина"
                      v-model.number="box.width"
                      dense
                      suffix="cm"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      outlined
                      hide-bottom-space
                      label="Высота"
                      v-model.number="box.height"
                      dense
                      suffix="cm"
                    ></q-input>
                  </div>
                  <div class="col" v-if="!extended">
                    <q-input
                      outlined
                      hide-bottom-space
                      label="Вес"
                      v-model.number="box.weight"
                      dense
                      suffix="kg"
                    ></q-input>
                  </div>
                </div>
                <app-list
                  v-if="extended"
                  header="Содержимое"
                  class="q-ml-lg q-mt-md"
                >
                  <q-item v-for="(item, idx) in box.items" :key="idx">
                    <q-item-section side>
                      <div class="flex items-center">
                        <app-btn
                          round
                          icon="close"
                          size="12px"
                          dense
                          flat
                          color="negative"
                          :disable="box.items && box.items.length < 2"
                          @click="removeItem(box.items, idx)"
                          class="q-mr-sm"
                        ></app-btn>
                        <app-btn
                          round
                          icon="copy_all"
                          size="12px"
                          dense
                          flat
                          @click="doubleItem(item, box.items)"
                        >
                          <q-tooltip anchor="top middle" self="bottom middle">
                            Дублировать ряд
                          </q-tooltip>
                        </app-btn>
                      </div>
                    </q-item-section>
                    <q-item-section side>
                      <q-input
                        outlined
                        dense
                        label="Код"
                        v-model="item.code"
                        style="max-width:140px"
                      ></q-input>
                    </q-item-section>
                    <q-item-section>
                      <q-input
                        outlined
                        dense
                        label="Наименование (описание)"
                        v-model="item.title"
                      ></q-input>
                    </q-item-section>
                    <q-item-section side>
                      <q-input
                        style="max-width:91px"
                        outlined
                        dense
                        label="Вес"
                        v-model.number="item.weight"
                        suffix="кг."
                      ></q-input>
                    </q-item-section>
                    <q-item-section side>
                      <q-input
                        style="max-width:77px"
                        outlined
                        dense
                        label="Кол-во"
                        v-model.number="item.quantity"
                        suffix="шт."
                      ></q-input>
                    </q-item-section>
                    <q-item-section side>
                      <q-input
                        style="max-width:100px"
                        outlined
                        dense
                        label="Стоимость"
                        v-model.number="item.cost"
                        suffix="RUB"
                      ></q-input>
                    </q-item-section>
                  </q-item>
                  <q-item
                    @click="addItem(box.items)"
                    class="text-grey-8"
                    clickable
                  >
                    <q-item-section side>
                      <!-- <q-icon size="21px" name="new_releases"></q-icon> -->
                      <q-icon size="21px" name="add"></q-icon>
                    </q-item-section>
                    <q-item-section>
                      <div class="text-subtitle2">
                        Добавить новое вложение
                      </div>
                    </q-item-section>
                  </q-item>
                  <q-item
                    @click="addItemFromWarehouse(box.items)"
                    class="text-primary"
                    clickable
                  >
                    <q-item-section side>
                      <q-icon
                        size="21px"
                        class="text-primary"
                        name="add"
                      ></q-icon>
                    </q-item-section>
                    <q-item-section>
                      <div class="text-subtitle2">
                        Добавить вложение из своих товаров
                      </div>
                    </q-item-section>
                  </q-item>
                </app-list>
              </div>
            </div>
          </q-item-section>
        </q-item>
        <q-separator />
      </div>
    </transition-group>
    <q-item clickable @click="addBox" class="text-accent">
      <q-item-section side>
        <q-icon color="accent" name="add_box"></q-icon>
      </q-item-section>
      <q-item-section>
        <div class="text-subtitle2">
          Добавить место
        </div>
      </q-item-section>
    </q-item>
  </app-list>
  <!-- </q-card> -->
</template>

<script>
export default {
  props: {
    extended: Boolean,
    validators: Object
  },
  data() {
    return {
      boxes: [
        {
          length: null,
          width: null,
          height: null,
          ...(this.extended
            ? {
                items: [
                  {
                    code: null,
                    cost: null,
                    quantity: null,
                    title: null,
                    weight: null
                  }
                ]
              }
            : {
                weight: null
              })
        }
      ]
    };
  },
  watch: {
    boxes: {
      deep: true,
      handler(update) {
        this.$emit("change", update);
      }
    }
  },
  methods: {
    addBox(event, box = null) {
      if (box) this.boxes.push({ ...box });
      else {
        this.boxes.push({
          length: null,
          width: null,
          height: null,
          ...(this.extended && {
            items: [
              {
                code: null,
                cost: null,
                quantity: null,
                title: null,
                weight: null
              }
            ]
          }),
          weight: null
        });
      }
    },
    removeBox(index) {
      this.boxes.splice(index, 1);
    },
    addItem(items, item = null) {
      items.push({
        code: null,
        cost: null,
        quantity: null,
        title: null,
        weight: null
      });
    },
    removeItem(items, index) {
      items.splice(index, 1);
    },
    doubleItem(item, box_items) {
      box_items.push({ ...item });
    },
    getItemFromWarehouse() {
      return new Promise(async (done, fail) => {
        this.$q
          .dialog({
            component: () => import("./PickWarehouseItem.vue")
          })
          .onOk(product => {
            if (product) {
              let {
                code = null,
                // cost = null,
                title = null,
                weight = null
              } = product;

              done({
                code,
                // cost,
                title,
                weight
              });
            }
          });
      });
    },
    async addItemFromWarehouse(box_items) {
      const item_from_warehouse = await this.getItemFromWarehouse();
      box_items.push({ ...item_from_warehouse });
    }
  }
};
</script>

<style lang="scss">
.place-control {
  position: sticky;
  top: 7px;
}

.box-counter {
  position: absolute;
  font-size: 70px;
  font-weight: 600;
  opacity: 0.1;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  left: 42px;
}
</style>
