<template>
  <PageContainer title="Адресная книга" caption="Управление Вашими адресами">
    <template #actions>
      <app-btn
        to="/addresses/new"
        color="accent"
        size="12px"
        icon="add"
        :class="$q.screen.xs && 'block'"
      >
        &nbsp;&nbsp;&nbsp;Добавить новый адрес
      </app-btn>
    </template>
    <div class="container">
      <with-loading :state="loading" />

      <transition name="fade">
        <!-- <q-card v-if="addresses && addresses.length"> -->
        <app-list
          :loading="loading"
          header="Сохранённые адреса"
          :min-width="777"
          white
          :empty="
            ((!addresses || !addresses.length) &&
              'Не найдено сохранённых адресов') ||
              false
          "
        >
          <q-item
            class="q-py-md"
            v-for="(record, idx) in addresses"
            :key="record.id || idx"
          >
            <!-- <q-item-section side>
            <q-radio :val="true" @click.stop>
              <q-tooltip>
                Сделать основным
              </q-tooltip>
            </q-radio>
          </q-item-section> -->
            <q-item-section>
              <q-item-label caption>Описание</q-item-label>
              <q-item-label
                v-if="record.description && record.description.length"
              >
                {{ record.description }}
              </q-item-label>
              <q-item-label v-else class=" text-grey-6">
                <q-icon name="close" />
                не указано
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>Адрес</q-item-label>
              <q-item-label>
                <div style="line-height:1.5em">
                  <b>{{ record.country }}, {{ record.city }}</b
                  >, {{ record.zip }}
                  <br />
                  {{ record.street }}
                </div>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>Номер телефона</q-item-label>
              <q-item-label>{{ record.phone }}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>Компания</q-item-label>
              <q-item-label>{{ record.company }}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>Контактное лицо</q-item-label>
              <q-item-label>{{ record.name }}</q-item-label>
            </q-item-section>

            <!--
          <q-item-section side>
            <app-btn :to="`/addresses/edit/${id || 1}`" color="primary" size="sm">
              Изменить
              <q-icon size="21px" name="chevron_right" />
            </app-btn>
          </q-item-section>
          -->
          </q-item>
        </app-list>
        <!-- </q-card> -->
      </transition>
    </div>
  </PageContainer>
</template>

<script>
export default {
  data() {
    return {
      addresses: null,
      loading: false
    };
  },
  mounted() {
    this.getRecords();
  },
  methods: {
    async getRecords() {
      try {
        this.loading = true;
        const { data: records } = await this.$api.get(`/v2/shipping/addresses`);
        this.addresses = records;
      } catch (e) {
        console.log("e:", e);
        const { message: title = "", errors } = this.$showApiError(e);
        this.$alert({ level: "danger", title, errors });
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
