<template>
  <PageContainer title="Добавить адрес" with-back>
    <!-- caption="Вы сможете быстро выбрать этот адрес ..." -->
    <div class="new-address">
      <div class="container">
        <div class="new-address__fields">
          <app-banner bolder gradient level="info" class="q-mb-lg" icon="info">
            Представленные ниже поля нужно заполнять на определённом языке (он
            указан в названии)
          </app-banner>
          <q-input
            v-model="info.description"
            :error="$v.info.description.$anyError"
            class="q-mb-md"
            :disable="loading"
            dense
            outlined
            placeholder="Например 'Склад в г. Москва'"
            label="Описание (на любом языке)"
          />
          <CountrySelect
            class="q-mb-md"
            :disable="loading"
            @change="handleCountryChange"
            :errors="{
              country: $v.info.country.$anyError,
              state: $v.info.state.$anyError
            }"
          />
          <span class="row q-col-gutter-md">
            <q-input
              v-model="info.city"
              :error="$v.info.city.$anyError"
              class="q-mb-md col"
              :disable="loading"
              dense
              outlined
              label="Город (англ.)"
            />
            <q-input
              v-model="info.city_local"
              :error="$v.info.city_local.$anyError"
              class="q-mb-md col"
              :disable="loading"
              dense
              outlined
              label="Город (рус.)"
            />
          </span>
          <q-input
            v-model="info.zip"
            :error="$v.info.zip.$anyError"
            class="q-mb-md"
            :disable="loading"
            dense
            outlined
            label="Индекс"
          />
          <span class="row q-col-gutter-md">
            <q-input
              v-model="info.street"
              :error="$v.info.street.$anyError"
              class="q-mb-md col"
              :disable="loading"
              dense
              outlined
              label="Улица, дом, квартира, корпус (англ.)"
            />
            <q-input
              v-model="info.street_local"
              :error="$v.info.street_local.$anyError"
              class="q-mb-md col"
              :disable="loading"
              dense
              outlined
              label="Улица, дом, квартира, корпус (рус.)"
            />
          </span>
          <q-input
            v-model="info.phone"
            :error="$v.info.phone.$anyError"
            class="q-mb-md"
            :disable="loading"
            dense
            outlined
            label="Номер телефона"
          />
          <span class="row q-col-gutter-md">
            <q-input
              v-model="info.company"
              :error="$v.info.company.$anyError"
              class="q-mb-md col"
              :disable="loading"
              dense
              outlined
              label="Компания (англ.)"
            />
            <q-input
              v-model="info.company_local"
              :error="$v.info.company_local.$anyError"
              class="q-mb-md col"
              :disable="loading"
              dense
              outlined
              label="Компания (рус.)"
            />
          </span>
          <span class="row q-col-gutter-md">
            <q-input
              v-model="info.name"
              :error="$v.info.name.$anyError"
              class="q-mb-md col"
              :disable="loading"
              dense
              outlined
              label="Контактное лицо (англ.)"
            />
            <q-input
              v-model="info.name_local"
              :error="$v.info.name_local.$anyError"
              class="q-mb-md col"
              :disable="loading"
              dense
              outlined
              label="Контактное лицо (рус.)"
            />
          </span>
          <q-input
            v-model="info.email"
            :error="$v.info.email.$anyError"
            class="q-mb-md"
            :disable="loading"
            dense
            outlined
            label="Email"
          />
          <!-- <q-checkbox v-model="info.default">
            Установить по умолчанию
          </q-checkbox> -->
        </div>

        <app-btn
          @click="saveAddress"
          :loading="loading"
          icon="save"
          label="Сохранить"
          color="accent"
          class="q-mt-md"
        />
      </div>
    </div>
  </PageContainer>
</template>

<script>
import CountrySelect from "@/components/CountrySelect";
import { requiredIf, required } from "vuelidate/lib/validators";

export default {
  components: {
    CountrySelect
  },
  data() {
    return {
      info: {
        description: null,
        country: null,
        state: null,
        city: null,
        city_local: null,
        street: null,
        street_local: null,
        phone: null,
        company: null,
        company_local: null,
        name: null,
        name_local: null,
        zip: null,
        email: null,
        default: false
      },
      loading: false
    };
  },
  methods: {
    handleCountryChange({ country, state }) {
      country && (this.info.country = country);
      state && (this.info.state = state);
    },
    async saveAddress() {
      this.$v.info.$touch();

      if (this.$v.info.$anyError) {
        return;
      }

      this.loading = true;
      try {
        const req = await this.$api.post(`/v2/shipping/addresses/create`, {
          ...this.info
        });

        this.$message({
          level: "success",
          title: "Адрес сохранён"
        });

        this.$router.push("/addresses/");
      } catch (e) {
        console.log("e:", e);

        let { message: title, errors = null } = this.$parseApiError(e);

        this.$alert({
          level: "danger",
          title,
          errors
        });
      } finally {
        this.loading = false;
      }
    }
  },
  validations() {
    return {
      info: {
        description: { required },
        country: { required },
        state: {
          // required
        },
        city: { required },
        city_local: { required },
        street: { required },
        street_local: { required },
        phone: { required },
        company: { required },
        company_local: { required },
        email: { required },
        name: { required },
        name_local: { required },
        zip: { required }
      }
    };
  }
};
</script>

<style lang="scss">
.new-address {
  &__fields {
    max-width: 777px;
  }
}
</style>
