<template>
  <q-page class="">
    <slot name="before" />
    <div class="page q-pb-xl">
      <div v-if="$slots['title']" class="q-py-xl">
        <div class="container">
          <div
            class="flex items-center justify-between"
            :class="$q.screen.sm || $q.screen.xs ? 'column' : 'no-wrap'"
          >
            <div>
              <slot name="title" />
            </div>
            <div>
              <slot name="actions" />
            </div>
          </div>
        </div>
      </div>

      <div
        v-else-if="title"
        class="page__head q-py-xl"
        :style="!!$slots['before'] && 'padding-top:0px;'"
      >
        <div class="container">
          <div
            class="flex-center-between"
            :class="
              $q.screen.sm || $q.screen.xs ? 'column text-center' : 'no-wrap'
            "
          >
            <div class="page__title">
              <div class="flex items-center">
                <app-btn
                  v-if="withBack"
                  round
                  flat
                  color="accent"
                  icon="arrow_back"
                  @click="handleBackClick"
                  class="q-mr-md"
                  size="17px"
                />

                <h2>{{ title }}</h2>
              </div>
              <p
                v-if="caption"
                class="text-muted"
                :class="withBack && 'caption--with-back'"
              >
                {{ caption }}
              </p>
            </div>
            <slot name="actions" />
          </div>
        </div>
      </div>
      <slot />
    </div>
    <!-- <slot name="after" /> -->
  </q-page>
</template>

<script>
export default {
  props: {
    title: String,
    caption: String,
    withBack: [Boolean, String]
  },
  methods: {
    handleBackClick() {
      if (!this.withBack) return;

      if (typeof this.withBack === "string") {
        this.$router.push(this.withBack);
      } else {
        this.$router.go(-1);
      }
    }
  }
};
</script>

<style lang="scss">
.page {
  .caption--with-back {
    padding-left: 70px;
  }

  &__head {
    position: relative;
  }

  &__title {
    position: relative;
    z-index: 2;

    h2 {
      line-height: 1;
    }
  }

  .back-btn {
    cursor: pointer;
    opacity: 0.7;
    color: $accent;
    margin-right: 14px;

    &:hover {
      opacity: 1;
    }
  }
}
</style>
