<template>
  <div class="app-banner">
    <transition appear name="fade" mode="out-in">
      <q-banner
        v-show="visible"
        class="app-banner__container q-py-md"
        :class="[
          gradient
            ? [...getGradientClass()]
            : accent
            ? [...getAccentColors()]
            : [...getMutedColors()],
          rounded && 'rounded-borders'
        ]"
      >
        <div v-if="close" class="app-banner__close">
          <q-icon @click="visible = false" size="24px" name="close" />
        </div>
        <div class="app-banner__body" :class="!title && 'items-center'">
          <div v-if="icon" class="app-banner__icon q-mr-md">
            <q-icon size="32px" :name="icon" />
          </div>
          <div
            class="app-banner__content full-width"
            :style="{ 'padding-right: 35px': close }"
          >
            <div class="app-banner__title" v-if="title">
              {{ title }}
            </div>
            <div
              class="app-banner__text"
              :style="bolder && 'font-weight:500;letter-spacing:-0.1px'"
            >
              <slot />
            </div>
          </div>
        </div>
      </q-banner>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    level: {
      type: String
    },
    accent: Boolean,
    title: String,
    icon: String,
    close: Boolean,
    rounded: {
      type: Boolean,
      default: true
    },
    gradient: Boolean,
    bolder: Boolean
  },
  data() {
    return {
      visible: true
    };
  },
  methods: {
    getGradientClass() {
      switch (this.level) {
        case "success":
          return ["gradient-success", "text-white"];
        case "warning":
          return ["gradient-warning", "text-white"];
        case "info":
          return ["gradient-info", "text-white"];
        case "danger":
          return ["gradient-danger", "text-white"];
        case "dark":
          return ["gradient-dark", "text-white"];
        case "light":
          return ["gradient-light", "text-blue-grey-7", "shadow-2"];
        default:
          return ["bg-grey-2", "text-blue-grey-7", "shadow-2"];
      }
    },
    getAccentColors() {
      switch (this.level) {
        case "success":
          return ["bg-positive", "text-white"];
        case "warning":
          return ["bg-warning", "text-brown-7"];
        case "info":
          return ["bg-primary", "text-white"];
        case "danger":
          return ["bg-negative", "text-white"];
        case "dark":
          return ["bg-blue-grey-7", "text-white"];
        case "light":
          return ["bg-grey-2", "text-blue-grey-7", "shadow-2"];
        default:
          return ["bg-grey-2", "text-blue-grey-7", "shadow-2"];
      }
    },
    getMutedColors() {
      switch (this.level) {
        case "success":
          return ["bg-green-1", "text-green"];
        case "warning":
          return ["bg-amber-1", "text-brown-5"];
        case "info":
          return ["bg-blue-1", "text-blue-8"];
        case "danger":
          return ["bg-red-1", "text-red-9"];
        case "dark":
          return ["bg-grey-3", "text-grey-9", "shadow-2"];
        case "light":
          return ["bg-white", "text-grey-8", "shadow-2"];
        default:
          return ["bg-white", "text-grey-8", "shadow-2"];
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.app-banner {
  position: relative;

  &__close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;

    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  &__body {
    display: flex;
    flex-wrap: nowrap;
    // padding-bottom: 7px;
  }

  &__content {
    padding-right: 28px;
  }

  &__title {
    font-size: 17px;
    font-weight: 500;
    padding-top: 7px;
    margin-bottom: 7px;
  }

  &__text {
    font-weight: 400;
  }

  &__icon {
    margin-top: 1px;
  }
}
.gradient-success {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2cd36c,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2cd36c,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient-warning {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient-info {
  // * VAR
  // background: #00b4db; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #0083b0,
  //   #00b4db
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #0083b0,
  //   #00b4db
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // * VAR
  // background: #667db6; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to left,
  //   #667db6,
  //   #0082c8,
  //   #0082c8,
  //   #667db6
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to left,
  //   #667db6,
  //   #0082c8,
  //   #0082c8,
  //   #667db6
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // * VAR
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // * VAR
}
.gradient-danger {
  // * VAR
  // background: #ed213a; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #93291e,
  //   #ed213a
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #93291e,
  //   #ed213a
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // * VAR
  // background: #cb2d3e; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to left,
  //   #ef473a,
  //   #cb2d3e
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to left,
  //   #ef473a,
  //   #cb2d3e
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // * VAR
  // background: #e52d27; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #b31217,
  //   #e52d27
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #b31217,
  //   #e52d27
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // * VAR
  background: #d31027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ea384d,
    #d31027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ea384d,
    #d31027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient-dark {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient-light {
  box-shadow: 1px 1px 4px 0 rgba(#000, 0.14);
}
</style>
