<template>
  <!-- <q-dialog :maximized="$q.screen.xs || false" ref="connect-other"> -->
  <DialogWrapper
    title="Создать заявку"
    caption="на подключение магазина"
    name="connect-other"
    :loading="loading.modal"
    ref="connect-other"
  >
    <form @submit.prevent>
      <q-card-section class="q-pt-none">
        <q-select
          transition-show="jump-down"
          transition-hide="jump-up"
          class="q-pb-none"
          v-model="new_shop.type"
          :error="$v.new_shop.type.$anyError"
          outlined
          dense
          label="Тип магазина"
          :options="shop_types"
          :option-value="opt => opt"
          :option-label="opt => opt && opt.shop_name"
          :loading="loading.types"
        >
        </q-select>

        <q-slide-transition>
          <div flat v-if="new_shop.type">
            <div class="text-blue-7 bg-blue-1 rounded-borders q-pa-md q-my-lg">
              {{ new_shop.type.shop_desc }}
            </div>

            <div class="row q-col-gutter-lg">
              <div class="col-6">
                <q-input
                  v-model="new_shop.shop_login"
                  :error="$v.new_shop.shop_login.$anyError"
                  error-message="Заполните это поле"
                  dense
                  outlined
                  label="Логин"
                ></q-input>
              </div>
              <div class="col-6">
                <q-input
                  v-model="new_shop.shop_password"
                  :error="$v.new_shop.shop_password.$anyError"
                  error-message="Заполните это поле"
                  dense
                  outlined
                  label="Пароль"
                  type="password"
                ></q-input>
              </div>
              <div class="col-12">
                <q-input
                  v-model="new_shop.shop_url"
                  :error="$v.new_shop.shop_url.$anyError"
                  error-message="Заполните это поле"
                  dense
                  outlined
                  label="Адрес магазина"
                ></q-input>
              </div>
              <div class="col-12">
                <q-input
                  v-model="new_shop.shop_name"
                  :error="$v.new_shop.shop_name.$anyError"
                  error-message="Заполните это поле"
                  dense
                  outlined
                  label="Название магазина"
                ></q-input>
              </div>
              <div class="col-12">
                <!-- hint="Укажите специфику товара, а также, откуда будет отправляться товар и кто будет являться отправителем." -->
                <q-input
                  v-model="new_shop.shop_comment"
                  :error="$v.new_shop.shop_comment.$anyError"
                  error-message="Заполните это поле"
                  type="textarea"
                  placeholder="Укажите специфику товара, а также, откуда будет отправляться товар и кто будет являться отправителем."
                  dense
                  outlined
                  rows="4"
                ></q-input>
              </div>
            </div>
            <!-- <app-btn
                @click="submitRequest"
                type="submit"
                color="primary"
                class="full-width q-mt-lg"
              >
                Отправить заявку
              </app-btn> -->
          </div>
        </q-slide-transition>
      </q-card-section>
    </form>

    <template #actions>
      <div>
        <q-separator />
        <q-card-section>
          <app-btn
            @click="submitRequest"
            type="submit"
            color="primary"
            class="full-width"
          >
            Отправить заявку
          </app-btn>
        </q-card-section>
      </div>
    </template>
  </DialogWrapper>
  <!-- </q-dialog> -->
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  async mounted() {
    await this.getShopTypes();
  },
  data() {
    return {
      shop_types: null,
      loading: {
        types: false,
        modal: false
      },
      new_shop: {
        type: null,
        shop_login: null,
        shop_password: null,
        shop_url: null,
        shop_name: null,
        shop_comment: null
      }
    };
  },
  methods: {
    show() {
      this.$refs["connect-other"].show();
    },
    getShopTypes() {
      return new Promise(async (done, fail) => {
        try {
          this.loading.types = true;

          const {
            data: { available_shop_types }
          } = await this.$api.get(`service/link-shop/types`);

          this.shop_types = available_shop_types;
        } catch (e) {
          console.log("e:", e);
          this.$showApiError(e, {
            fallbackMessage: "Не удалось получить список площадок"
          });
        } finally {
          this.loading.types = false;
        }
      });
    },
    async submitRequest() {
      this.$v.new_shop.$touch();

      if (this.$v.new_shop.$anyError) {
        this.$message({
          level: "warning",
          title: "Заполните обязательные поля"
        });

        return;
      }

      this.loading.modal = true;

      const { type, ...new_shop } = this.new_shop;
      const request = {
        ...new_shop,
        shop_type_id: type.shop_type_id
      };

      try {
        const {
          data: { shops }
        } = await this.$api.post(`/service/link-shop`, request);

        this.$alert({
          level: "success",
          title: "Создана новая заявка на подключение магазина"
        });

        this.$emit("ok", shops);
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Не удалось сохранить данные"
        });
      } finally {
        this.loading.modal = true;
      }
    }
  },
  validations() {
    return {
      new_shop: {
        type: { required },
        shop_login: { required },
        shop_password: { required },
        shop_url: { required },
        shop_name: { required },
        shop_comment: { required }
      }
    };
  }
};
</script>
