<template>
  <div class="modal" style="position:relative">
    <with-loading :state="loading" />
    <div class="modal__head">
      История движения товара
      <button @click="getFile" class="btn btn-xs">
        Скачать в формате XLSX
      </button>
    </div>
    <div class="modal__body">
      <div class="history-mode">
        <input v-model="mode" value="in" id="history-in" type="radio" />
        <label
          class="btn btn-block"
          :class="mode === 'in' && 'text-primary'"
          for="history-in"
        >
          Приход
        </label>
        <input v-model="mode" value="out" id="history-out" type="radio" />
        <label
          class="btn btn-block"
          :class="mode === 'out' && 'text-primary'"
          for="history-out"
        >
          Расход
        </label>
      </div>
      <div class="history-search">
        <div class="form-group">
          <input
            v-model="query"
            type="text"
            placeholder="Поиск по номеру заказа/посылки"
          />
        </div>
      </div>
      <div
        class="styled-table styled-table--dense styled-table--flat styled-table--no-border"
      >
        <div class="styled-table__wrap">
          <table>
            <thead>
              <tr>
                <th>Дата</th>
                <th>Номер заказа</th>
                <th>Номер посылки</th>
                <th>Количество</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="r in filtered">
                <td>{{ r.date }}</td>
                <td>{{ r.order_id !== null ? r.order_id : "-" }}</td>
                <td>{{ r.parcel_id }}</td>
                <td>{{ r.quantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// date: (...) order_id: (...) parcel_id: (...) quantity: (...) shipment_id: (...)
export default {
  props: {
    history: null,
    row: null
  },
  data() {
    return {
      mode: "in",
      query: null,
      loading: false
    };
  },
  computed: {
    history_dir() {
      return this.history[this.mode];
    },
    filtered() {
      if (this.query) {
        return this.history_dir.filter(
          r =>
            String(r.order_id).indexOf(this.query.toLowerCase()) !== -1 ||
            String(r.parcel_id).indexOf(this.query.toLowerCase()) !== -1
        );
      } else {
        return this.history_dir;
      }
    }
  },
  methods: {
    async getFile() {
      try {
        this.loading = true;

        const { data } = await this.$api({
          url: `/warehouse/products/warehouse/xlsx/${this.row.product_id}`,
          method: "get",
          responseType: "arraybuffer"
        });

        let date = new Date()
            .toLocaleDateString()
            .split(".")
            .join("-"),
          ttl = this.row.title
            .split(".")
            .join("-")
            .split(" ")
            .join("_");

        this.$root.downloadFile(
          data,
          `product--${this.row.code}__${ttl}--${date}`
        );
      } catch (e) {
        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось выгрузить файл",
          errors:
            (e && e.response && e.response.data && e.response.data.errors) ||
            null
        });
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style lang="scss">
.v--modal-box {
  overflow-y: scroll !important;
}

.history {
  &-search {
    padding: 14px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }

  &-mode {
    background-color: rgb(248, 248, 248);
    padding: 14px;
    display: flex;
    justify-content: space-between;

    input {
      display: none;
    }

    label {
      width: 49%;
    }
  }
}
</style>
