<template>
  <div
    class="element-tip"
    :class="[
      { 'element-tip--dark': dark },
      position && `element-tip--${position}`,
      align && `element-tip--align-${align}`
    ]"
  >
    <transition v-if="html" mode="out-in" name="tt-fade">
      <div
        v-if="show"
        class="element-tip__content"
        :style="
          maxWidth &&
            `width: ${maxWidth}px; white-space: normal;`
        "
        v-html="content"
      ></div>
    </transition>
    <transition v-else mode="out-in" name="tt-fade">
      <div
        v-if="show"
        class="element-tip__content"
        :style="
          maxWidth &&
            `max-width: ${maxWidth}px; width: ${maxWidth}px; white-space: normal;`
        "
      >
        <pre style="font-family: sans-serif; text-align: left;">{{
          content
        }}</pre>
      </div>
    </transition>
    <span
      @mouseenter="show = true"
      @mouseleave="show = false"
      class="element-tip__inner"
    >
      <slot></slot>
      <div
        v-if="showSign"
        class="element-tip__sign"
        :style="signBg && `background-color: ${signBg} !important`"
      >
        <span v-html="signType"></span>
      </div>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    maxWidth: Number,
    content: String,
    signType: {
      type: String,
      default: "?"
    },
    signBg: {
      type: String
    },
    dark: {
      type: Boolean,
      default: false
    },
    showSign: {
      type: Boolean
    },
    position: {
      type: String,
      default: "top",
      validator(val) {
        return ["top", "right", "bottom", "left"].includes(val);
      }
    },
    align: {
      type: String,
      default: "center",
      validator(val) {
        return ["center", "start", "end"].includes(val);
      }
    },
    html: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      show: false
    };
  }
};
</script>

<style lang="scss" scoped>
.tt-fade-enter-active,
.tt-fade-leave-active {
  transition: opacity ease 0.21s;
}
.tt-fade-enter, .tt-fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  will-change: opacity;
}

.element-tip {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  line-height: inherit;

  &__content {
    position: absolute;
    background-color: #fff;
    font-size: 12px;
    padding: 7px;
    border: 1px solid #ddd;
    bottom: calc(100% + 4px);
    // margin-bottom: 4px;
    width: auto;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 14px 0 rgba(#000, 0.14);
    font-weight: normal;
    letter-spacing: 0.4px;
    border-radius: 3px;
    z-index: 3;
  }

  &--dark {
    .element-tip__content {
      background: rgba(#000, 0.7);
      color: #fff;
      border: none;
      border-radius: 3px;
      padding: 4px 7px;
      backdrop-filter: blur(2px);
    }
  }

  &__inner {
    z-index: 2;
  }

  &__sign {
    height: 17px;
    width: 17px;
    display: inline-flex;
    border-radius: 18px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    // background: #4298e9;
    color: #fff;
    line-height: 1;
    font-family: Helvetica, sans-serif;
    position: relative;
    top: 3px;
    left: 2px;

    &.bg--default {
      background-color: #4298e9;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-55%, -50%);
      z-index: 2;
    }
  }

  &--left {
    .element-tip__content {
      transform: translate(0);
      right: calc(100% + 4px);
      left: auto;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
  }
  &--right {
    .element-tip__content {
      transform: translate(0);
      right: auto;
      left: calc(100% + 4px);
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
  }
  &--bottom {
    .element-tip__content {
      transform: translate(0);
      top: calc(100% + 4px);
      bottom: auto;
      transform: translateX(-50%);
    }
  }

  &--align-end {
    .element-tip__content {
      transform: translate(0);
      right: 0;
      left: auto;
    }
  }
  &--align-start {
    .element-tip__content {
      transform: translate(0);
      right: auto;
      left: 0;
    }
  }
}
</style>
