<template>
  <PageContainer title="Журнал баланса">
    <div class="container">
      <with-loading :state="loading" />

      <q-input
        style="max-width:350px"
        outlined
        dense
        label="Период"
        readonly
        :value="period.from && period.to && `${period.from} - ${period.to}`"
      >
        <!-- <template #after>
          <app-btn color="accent" class="full-height">
            Загрузить
          </app-btn>
        </template> -->
        <template #prepend>
          <app-btn size="13px" dense icon="event">
            <q-menu>
              <q-date
                mask="DD.MM.YYYY"
                v-model="period"
                :locale="ruCalendar"
                minimal
                range
              >
                <div class="flex-center-between">
                  <app-btn v-close-popup>Отмена</app-btn>
                  <app-btn @click="getBalance()" color="primary" v-close-popup>
                    Применить
                  </app-btn>
                </div>
              </q-date>
            </q-menu>
          </app-btn>
        </template>
        <template #append>
          <app-btn
            size="13px"
            @click="
              () => {
                period = { from: null, to: null };
                filter.page = 0;
                getBalance();
              }
            "
            color="negative"
            flat
            dense
            icon="close"
          >
          </app-btn>
        </template>
      </q-input>

      <div class="flex-center-between q-mb-lg q-mt-xl">
        <div>
          <q-pagination
            unelevated
            v-model="human_page"
            :max="total_pages"
            :max-pages="6"
            boundary-numbers
            direction-links
          />
        </div>
        <div class="flex items-center">
          <small class="text-muted">на странице</small>
          <q-select
            v-model="filter.on_page"
            outlined
            dense
            :options="[20, 50, 100, 150, 200]"
            class="q-ml-sm"
          />
        </div>
      </div>

      <q-markup-table flat bordered separator="cell">
        <table style="border-collapse:collapse" class="full-width">
          <thead>
            <tr class="text-left">
              <th colspan="2"></th>
              <th colspan="2">
                До операции
              </th>
              <th colspan="2">
                После операции
              </th>
              <th colspan="5"></th>
            </tr>
            <tr class="text-left">
              <th>Дата</th>
              <th>Операция</th>
              <th></th>
              <th class="text-right">Сумма</th>
              <th></th>
              <th class="text-right">Сумма</th>
              <th>Статус</th>
              <th class="text-right">Баланс</th>
              <th>Комментарий</th>
              <th>Заказ</th>
              <!-- <th>Отправка</th> -->
              <th>Посылка</th>
            </tr>
          </thead>
          <tbody v-if="records && records.length">
            <tr v-for="r in records" :key="r.log_id">
              <td>
                <div>
                  {{ r.log_date.split(" ")[0] }}
                </div>
                <small>
                  {{ r.log_date.split(" ")[1] }}
                </small>
              </td>
              <td
                :class="[
                  'font-500',
                  r.operation === 'Создан' && 'text-teal',
                  r.operation === 'Обновлен' && 'text-cyan-8',
                  r.operation === 'Удален' && 'text-negative'
                ]"
              >
                {{ r.operation }}
              </td>
              <td class="text-center">
                <q-icon
                  color="positive"
                  name="add"
                  v-if="r.old_op === '+'"
                  size="20px"
                ></q-icon>
                <q-icon
                  color="negative"
                  name="remove"
                  v-if="r.old_op === '-'"
                  size="20px"
                ></q-icon>
              </td>
              <td class="text-right">
                {{ $toUSD(r.old_sum) }}
              </td>
              <td class="text-center">
                <q-icon
                  color="positive"
                  name="add"
                  v-if="r.new_op === '+'"
                  size="20px"
                ></q-icon>
                <q-icon
                  color="negative"
                  name="remove"
                  v-if="r.new_op === '-'"
                  size="20px"
                ></q-icon>
              </td>
              <td class="text-right">
                {{ $toUSD(r.payment_sum) }}
              </td>
              <td>
                {{ r.state }}
              </td>
              <td class="text-right" :class="r.balance < 0 && 'text-negative'">
                {{ $toUSD(r.balance) }}
              </td>
              <td>
                <span v-if="r.payment_comment && r.payment_comment.length">
                  {{ r.payment_comment }}
                </span>
                <small v-else class="text-muted block text-center">
                  не указан
                </small>
              </td>
              <td>
                <span v-if="r.order_id">{{ r.order_id }}</span>
                <span class="text-muted text-center block" v-else>&bull;</span>
              </td>
              <!-- <td>
                <span v-if="r.shipment_id">{{ r.shipment_id }}</span>
                <span class="text-muted text-center block" v-else>&bull;</span>
              </td> -->
              <td>
                <span v-if="r.parcel_id">{{ r.parcel_id }}</span>
                <span class="text-muted text-center block" v-else>&bull;</span>
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="12">
                <small class="text-muted block text-center">
                  Ничего не найдено
                </small>
              </td>
            </tr>
          </tbody>
        </table>
      </q-markup-table>

      <div class="flex-center-between q-mt-lg">
        <div>
          <q-pagination
            unelevated
            v-model="human_page"
            :max="total_pages"
            :max-pages="6"
            boundary-numbers
            direction-links
          />
        </div>
        <div class="flex items-center">
          <small class="text-muted">на странице</small>
          <q-select
            v-model="filter.on_page"
            outlined
            dense
            :options="[20, 50, 100, 150, 200]"
            class="q-ml-sm"
          />
        </div>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import calendarLocale from "@/data/CalendarLocale.js";

export default {
  props: {},
  mounted() {
    this.getBalance();
  },
  created() {},
  data() {
    return {
      ruCalendar: calendarLocale["ru-RU"],
      loading: false,
      period: {
        from: null,
        to: null
      },
      filter: {
        page: (this.$route.query && this.$route.query.page) || 0,
        on_page: (this.$route.query && this.$route.query.on_page) || 20
      },
      records: null,
      total_records: null,
      total_pages: 0
    };
  },
  watch: {
    "filter.page"(page) {
      this.getBalance({ page });
      this.$router.push({ query: { page } }).catch(() => {});
    },
    "filter.on_page"(on_page) {
      this.getBalance({ page: 0, on_page });
      this.$router.push({ query: { on_page } }).catch(() => {});
    }
  },
  computed: {
    human_page: {
      get() {
        return this.filter.page + 1;
      },
      set(page) {
        this.filter.page = page - 1;
      }
    }
  },
  methods: {
    async getBalance(filter = this.filter) {
      try {
        this.loading = true;

        let f = { ...filter };

        if (this.period.from && this.period.to) {
          // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
          // !!! TODO: WRITE & READ DATE PARAMS FROM URL QUERY !!!
          // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

          f.start_date = this.period.from
            .split(".")
            .reverse()
            .join("-");

          f.end_date = this.period.to
            .split(".")
            .reverse()
            .join("-");

          this.$router
            .push({ query: { from: f.start_date, to: f.end_date } })
            .catch(() => {});
        }

        const params = new URLSearchParams(f);

        const {
          data: { report, page, on_page, total }
        } = await this.$api.get(
          //   `https://api.seller-online.com/payments/customer_balance_log`,
          `payments/customer_balance_log`,
          {
            params
          }
        );

        this.records = report;
        this.filter.page = page;
        this.total_records = total;
        this.total_pages = Math.ceil(total / on_page);
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить данные журнала"
        });
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
<style lang="scss"></style>
