<template>
  <span
    v-if="country"
    class=""
    :class="[
      square ? 'flag-icon-squared' : 'flag-icon',
      `flag-icon-${country.toLowerCase()}`,
      block && 'block'
    ]"
    style=""
    :style="size && `font-size:${size}`"
  ></span>
  <span class="flag-icon flag-icon--inko" v-else>
    <span class="flex flex-center absolute-full">
      <q-icon color="grey-7" name="public" size="11px"></q-icon>
    </span>
  </span>
</template>
<script>
import "flag-icon-css/css/flag-icons.min.css";
export default {
  props: { country: String, block: Boolean, square: Boolean, size: String }
};
</script>
<style lang="scss">
.flag-icon {
  background-size: cover;
  border-radius: 2px;

  &--inko {
    background-color: #ddd;
    box-shadow: 0 0 0 1px #ccc;
    border-radius: 1px;
  }
}
</style>
