<template>
  <PageContainer class="page page--auth auth-page">
    <template #before>
      <app-banner :rounded="false" accent level="info" class="q-mb-lg">
        <div class="container">
          <div class="container">
            <div class="flex full-width items-center no-wrap">
              <q-icon class="q-mr-md" name="info" size="28px"></q-icon>
              <div>
                Вы можете авторизоваться в EcomExpress используя логин и пароль
                Seller-Online.
              </div>
            </div>
          </div>
        </div>
      </app-banner>
    </template>
    <div
      class="flex column justify-center items-center"
      style="min-height:70vh;"
    >
      <!-- <template #title> -->
      <!-- <div> -->
      <div class="text-center q-mb-xl">
        <h2>
          Авторизация
        </h2>
      </div>
      <!-- </template> -->
      <div class="auth-page__form">
        <form @submit.prevent="submit" class="flex column items-start">
          <q-input
            required
            v-model="login"
            label="Логин"
            outlined
            class="full-width q-mb-lg"
            name="login"
          />
          <q-input
            required
            name="password"
            type="password"
            label="Пароль"
            v-model="password"
            outlined
            class="full-width q-mb-lg"
          />
          <div class="flex full-width justify-center q-mt-md">
            <app-btn type="submit" class="q-px-xl" color="primary">
              Вход
            </app-btn>
          </div>
          <!-- <div class="text-muted text-center full-width q-my-lg">
            or
          </div>
          <app-btn
            icon="ion-logo-google"
            class="full-width"
            color="red"
            @click="signIn"
          >
            &nbsp; Sign In with Google
          </app-btn> -->
          <!-- <app-btn class="text-red" @click="signOut">signOut</app-btn> -->
        </form>
      </div>
      <div class="q-mt-xl flex items-center">
        <div class="text-muted q-mr-lg">Ещё не зарегистрированы ?</div>
        <app-btn to="/register" size="12px" class="bg-red-1" color="red" flat
          >Создать аккаунт</app-btn
        >
      </div>
      <!-- </div> -->
    </div>
  </PageContainer>
</template>

<script>
export default {
  data() {
    return {
      login: null,
      password: null
    };
  },
  methods: {
    async submit() {
      const { login, password } = this;

      try {
        this.$store.commit("app/SET_LOADING", true);

        await this.$store.dispatch("auth/AUTH_REQUEST", {
          login,
          password
        });

        let cameFrom = this.$route.query && this.$route.query.cameFrom;

        if (cameFrom) {
          this.$router.push(cameFrom);
        } else this.$router.push("/");

        // this.$store.dispatch("Finances/GET_BALANCE");
      } catch (e) {
        console.log("e:", e);
        this.$showApiError(e, {
          fallbackMessage: "Неопознанная ошибка авторизации"
        });

        this.$store.commit("auth/AUTH_ERROR");
      } finally {
        this.$store.commit("app/SET_LOADING", false);
      }
    }
  }
};
</script>

<style lang="scss">
.auth-page {
  &__form {
    min-width: 280px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
}
</style>
