<template>
  <PageContainer title="Регистрация" class="register-page">
    <div class="container">
      <app-banner level="danger" class="q-mb-lg">
        <div
          class="flex full-width items-center justify-between no-wrap"
          :class="$q.screen.xs && 'column'"
        >
          <div class="">Внимательно прочтите текст нашей оферты</div>
          <app-btn
            :class="$q.screen.xs && 'q-mt-lg'"
            color="red"
            to="/legal-info/offer-agreement"
          >
            Договор-оферта
          </app-btn>
        </div>
      </app-banner>

      <app-banner icon="info" level="info" class="q-mb-lg">
        <div class="flex full-width items-center justify-between no-wrap">
          <div>
            Если Вы являетесь зарегистрированным пользователем сервиса
            Seller-Online.com, то Вам не требуется проходить регистрацию. Вы
            можете авторизоваться в EcomExpress используя логин и пароль
            Seller-Online.
          </div>
          <div>
            <app-btn to="/login" class="bg-white text-primary q-ml-xl">
              Вход
            </app-btn>
          </div>
        </div>
      </app-banner>
      <form @submit.prevent="submitRegister">
        <q-select
          transition-show="jump-down"
          transition-hide="jump-up"
          label="Выберите тип деятельности"
          outlined
          :options="user_types"
          option-label="title"
          option-value="code"
          v-model="reg_data.user_type"
          :error="$v.reg_data.user_type.$anyError"
          emit-value
          map-options
          class="q-mb-md"
          @input="$v.reg_data.$reset()"
        >
          <!-- <template v-slot:selected="selected">
            {{ selected }}
          </template> -->
        </q-select>

        <q-slide-transition appear :duration="420">
          <div class="row q-col-gutter-md" v-if="reg_data.user_type">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <q-input
                :error="$v.reg_data.email.$anyError"
                dense
                outlined
                label="Email"
                v-model="reg_data.email"
              ></q-input>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <q-input
                dense
                outlined
                disable
                value="Создаётся автоматически"
                label="Пароль"
              ></q-input>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <q-input
                :error="$v.reg_data.fio.$anyError"
                dense
                outlined
                label="ФИО"
                v-model="reg_data.fio"
              ></q-input>
            </div>

            <div
              class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
              v-if="needItn"
            >
              <q-input
                :error="$v.reg_data.itn.$anyError"
                dense
                outlined
                label="ИНН"
                v-model="reg_data.itn"
              ></q-input>
            </div>

            <div
              class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
              v-if="needPsrn"
            >
              <q-input
                :error="$v.reg_data.psrn.$anyError"
                dense
                outlined
                label="ОГРН"
                v-model="reg_data.psrn"
              ></q-input>
            </div>

            <div
              class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
              v-if="needCompanyName"
            >
              <q-input
                :error="$v.reg_data.company_name.$anyError"
                dense
                outlined
                label="Название компании"
                v-model="reg_data.company_name"
              ></q-input>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <q-input
                :error="$v.reg_data.phone.$anyError"
                prefix="+"
                dense
                outlined
                label="Номер телефона"
                v-model="reg_data.phone"
              >
              </q-input>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <q-select
                transition-show="jump-down"
                transition-hide="jump-up"
                :loading="loading"
                dense
                outlined
                label="Страна"
                :error="$v.reg_data.country.$anyError"
                v-model="reg_data.country"
                :options="countries"
                :option-label="opt => opt && `${opt.iso} - ${opt.name}`"
                :option-value="opt => opt && opt.id"
              >
                <!-- <template v-slot:selected="selected">
                    {{selected}}
                  </template> -->
              </q-select>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <q-input
                :error="$v.reg_data.city.$anyError"
                dense
                outlined
                label="Город"
                v-model="reg_data.city"
              ></q-input>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <q-input
                :error="$v.reg_data.zip.$anyError"
                dense
                outlined
                label="Почтовый индекс"
                v-model="reg_data.zip"
              ></q-input>
            </div>

            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <q-input
                :error="$v.reg_data.address.$anyError"
                dense
                outlined
                label="Адрес"
                v-model="reg_data.address"
              ></q-input>
            </div>
            <!-- <div class="col-4">
              <q-input
                dense
                outlined
                label="Промо-код"
                hint="Оставьте это поле пустым, если у Вас его нет"
              ></q-input>
            </div> -->

            <div class="col-12">
              <q-checkbox
                color="accent"
                :class="accept_offer_error && !accept_offer && 'text-negative'"
                v-model="accept_offer"
              >
                Отправляя свои данные на модерацию и создавая учетную запись Вы
                подтверждаете, что ознакомились с
                <router-link class="" to="/legal-info/offer-agreement">
                  текстом публичной оферты </router-link
                >, и в случае, если Вы не согласны с каким-либо пунктом
                Договора-оферты, Вам необходимо отказаться от дальнейшей
                регистрации в сервисе и не осуществлять использование наших
                услуг.
              </q-checkbox>
            </div>

            <div class="col-12 q-mt-md">
              <div class="flex justify-center">
                <app-btn
                  style="max-width:420px"
                  type="submit"
                  class="full-width q-mt-lg"
                  color="primary"
                  :disable="$v.reg_data.$anyError"
                >
                  Зарегистрироваться
                </app-btn>
              </div>
            </div>
          </div>
          <small class="text-muted" v-else>
            Выберите тип деятельности, что бы продолжить
          </small>
        </q-slide-transition>
      </form>
    </div>
  </PageContainer>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      reg_data: {
        // login: null,
        email: null,
        fio: null,
        address: null,
        zip: null,
        city: null,
        phone: null,
        country: null,
        user_type: null,
        itn: null,
        psrn: null,
        company_name: null
      },
      loading: false,
      countries: [],
      accept_offer: false,
      accept_offer_error: false,
      user_types: [
        {
          title: "Физическое лицо",
          code: "individual" //individual
        },
        {
          title: "Индивидуальный предприниматель (ИП)",
          // code: "entity",
          code: "self_employed"
        },
        {
          title: "Общество с ограниченной ответственностью (ООО)",
          // code: "ltd" // entity
          code: "entity"
        }
      ]
    };
  },
  computed: {
    needCompanyName() {
      return ["entity", "self_employed"].includes(this.reg_data.user_type);
    },
    needItn() {
      return ["individual", "self_employed"].includes(this.reg_data.user_type);
    },
    needPsrn() {
      return this.reg_data.user_type === "entity";
    }
  },
  async mounted() {
    this.loading = true;
    try {
      this.countries = await this.$store.dispatch("Info/GET_REG_COUNTRIES");
    } catch (e) {
      console.log(e);
    } finally {
      this.loading = false;
    }
  },
  methods: {
    async submitRegister() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({
          level: "warning",
          title: "Заполните обязательные поля"
        });

        return;
      }

      if (!this.accept_offer) {
        this.accept_offer_error = true;
        this.$alert({
          level: "warning",
          title:
            "Для подолжения регистрации вы должны согласиться с условиями Договора-оферты"
        });

        return;
      } else {
        this.accept_offer_error = false;
      }

      // ? Extract country.id from select's object value
      let { country, phone, ...data } = this.reg_data;
      data.country = country && country.id;

      try {
        const registration = await this.$api.post(
          `/register/`,
          { ...data, phone: `+${phone}` },
          {
            headers: {
              "ACCESS-KEY": process.env.SELLER_API_ACCESS_KEY
            }
          }
        );

        if (registration.status === 200) {
          this.$alert({
            level: "success",
            title: "Вы успешно зарегистрировались",
            message:
              "Пароль выслан Вам на указанную почту. Используйте его для входа в систему. Вы можете сменить пароль в любое время"
          });

          this.$router.push("/login");
        }
      } catch (e) {
        console.log("e:", e.response);
        this.$showApiError(e, {
          fallbackMessage: "Сервер ответил ошибкой"
        });
      } finally {
      }
    }
  },
  validations() {
    return {
      reg_data: {
        email: { required },
        fio: { required },
        address: { required },
        zip: { required },
        city: { required },
        phone: { required },
        country: { required },
        user_type: { required },
        itn: {
          required: requiredIf(function() {
            return this.needItn;
          })
        },
        psrn: {
          required: requiredIf(function() {
            return this.needPsrn;
          })
        },
        company_name: {
          required: requiredIf(function() {
            return this.needCompanyName;
          })
        }
      }
    };
  }
};
</script>

<style lang="scss">
.register-page {
  .container {
    max-width: 700px;
  }
}
</style>
