<template>
  <PageContainer title="Главная">
    <template #before>
      <!-- <transition name="fade" appear> -->
      <q-banner
        v-if="
          $store.getters['app/is_ready'] &&
            !$store.getters['auth/valid_profile']
        "
        inline-actions
        class="bg-primary text-white"
      >
        <div class="container">
          <div class="flex-center-between">
            Требуется актуализировать данные учётной записи
            <app-btn
              to="/account"
              color="white"
              text-color="primary"
              label="Перейти к настройкам"
            />
          </div>
        </div>
      </q-banner>

      <div class="container">
        <q-banner
          class="q-my-lg text-white rounded-borders q-py-lg tg-gradient"
        >
          <div class="flex items-center no-wrap">
            <div
              :class="$q.screen.xs && 'hidden'"
              style="height:50px"
              class="q-mr-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="50px"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <g><rect fill="none" height="24" width="24" y="0" /></g>
                <g>
                  <path
                    d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10C22,6.48,17.52,2,12,2z M16.64,8.8 c-0.15,1.58-0.8,5.42-1.13,7.19c-0.14,0.75-0.42,1-0.68,1.03c-0.58,0.05-1.02-0.38-1.58-0.75c-0.88-0.58-1.38-0.94-2.23-1.5 c-0.99-0.65-0.35-1.01,0.22-1.59c0.15-0.15,2.71-2.48,2.76-2.69c0.01-0.03,0.01-0.12-0.05-0.18c-0.06-0.05-0.14-0.03-0.21-0.02 c-0.09,0.02-1.49,0.95-4.22,2.79c-0.4,0.27-0.76,0.41-1.08,0.4c-0.36-0.01-1.04-0.2-1.55-0.37c-0.63-0.2-1.12-0.31-1.08-0.66 c0.02-0.18,0.27-0.36,0.74-0.55c2.92-1.27,4.86-2.11,5.83-2.51c2.78-1.16,3.35-1.36,3.73-1.36c0.08,0,0.27,0.02,0.39,0.12 c0.1,0.08,0.13,0.19,0.14,0.27C16.63,8.48,16.65,8.66,16.64,8.8z"
                  />
                </g>
              </svg>
            </div>
            <div
              class="full-width "
              :class="$q.screen.xs ? 'flex column' : 'flex-center-between'"
            >
              <div style="font-weight:500">
                В Telegram есть наш канал для консультаций, обменом опыта и
                обсуждения новостей. Добро пожаловать!
              </div>

              <app-btn
                class="bg-white text-bold "
                :class="[$q.screen.xs ? 'q-mt-md' : 'q-px-md q-ml-lg']"
                style="color:#0088cc;"
                @click="$openURL('https://t.me/ecomexpressru')"
              >
                Перейти
              </app-btn>
            </div>
          </div>
        </q-banner>
      </div>
      <!-- </transition> -->
    </template>

    <div class="container">
      <!-- * * * * * * * * * * * * DASHBOARD: NEWS SECTION * * * * * * * * * * * *  -->
      <div class="dashboard__section">
        <div class="flex-center-between q-mb-lg">
          <h5 class="line-height1">
            Последние новости
          </h5>

          <app-btn
            icon-right="chevron_right"
            color="primary"
            size="12px"
            @click="
              $openURL(
                'https://ecomexpress.ru/%d0%bd%d0%be%d0%b2%d0%be%d1%81%d1%82%d0%b8/'
              )
            "
          >
            Все записи
          </app-btn>
        </div>
        <div
          v-if="!$store.state.Blog.loading && blogPosts"
          class="row q-col-gutter-md"
        >
          <div
            class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
            v-for="post in blogPosts"
            :key="post.postId"
          >
            <q-card>
              <q-img no-default-spinner height="240px" cover :src="post.image">
                <template #loading>
                  <q-skeleton class="absolute-full"></q-skeleton>
                </template>
              </q-img>

              <q-card-section>
                <div class="text-h6 text-accent">
                  <div class="ellipsis" v-html="post.title"></div>
                </div>
                <small class="text-muted">{{ post.date }}</small>
              </q-card-section>

              <q-card-section class="q-pt-none">
                <p class="ellipsis-3-lines">
                  {{ post.text }}
                </p>
              </q-card-section>
              <q-separator></q-separator>

              <q-card-actions class="q-px-md">
                <app-btn
                  color="accent"
                  @click="$openURL(post.url)"
                  flat
                  size="12px"
                  width="50%"
                >
                  Подробнее
                </app-btn>
              </q-card-actions>
            </q-card>
          </div>
        </div>
        <div v-else-if="loading.blog" class="row q-col-gutter-md">
          <div
            class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
            v-for="idx in Array.from(
              { length: $q.screen.sm ? 4 : 3 },
              (x, i) => i
            )"
            :key="`post-skeleon-${idx}`"
          >
            <q-card>
              <q-skeleton height="240px" square />
              <q-card-section class="q-p-sm">
                <q-skeleton type="text" height="32px" />
                <q-skeleton type="text" height="13px" width="20%" />
              </q-card-section>
              <q-card-section class="q-pt-none q-mb-md">
                <q-skeleton type="text" />
                <q-skeleton type="text" />
                <q-skeleton type="text" />
              </q-card-section>
              <q-separator></q-separator>
              <q-card-actions align="left" class="q-gutter-md">
                <q-skeleton type="QBtn" />
              </q-card-actions>
            </q-card>
          </div>
        </div>
        <div v-if="false" class="text-muted ">
          Нет информации для отображения
        </div>
      </div>
      <!-- * * * * * * * * * * * * DASHBOARD: NEWS SECTION END * * * * * * * * * * * *  -->

      <!-- * * * * * * * * * * * * DASHBOARD: RECENT SHIPMENTS * * * * * * * * * * * *  -->
      <div class="dashboard__section">
        <!-- <with-loading :state="loading.shipments"></with-loading> -->

        <div
          class=""
          :class="
            $q.screen.xs ? 'column q-mb-md' : 'flex-center-between q-mb-lg'
          "
        >
          <h5
            class="flex items-center no-wrap q-ma-none"
            style="white-space:nowrap"
          >
            Недавно созданные отправки
            <with-loading
              size="21px"
              class="q-ml-md"
              static
              :state="loading.shipments"
            ></with-loading>
          </h5>

          <app-btn
            icon-right="chevron_right"
            to="/shipments/create"
            color="primary"
            size="12px"
            :class="$q.screen.xs && 'q-mt-sm'"
          >
            Создать новую заявку
          </app-btn>
        </div>

        <!-- <q-slide-transition> -->
        <!-- <transition-group name="slide-fade-top" mode="out-in"> -->
        <with-transition
          slide
          group
          :state="
            !loading.shipments &&
              !!(recent.shipments && recent.shipments.length)
          "
        >
          <template #from>
            <div key="recent-shipments-empty" class="text-muted ">
              {{
                loading.shipments
                  ? "Загрузка данных"
                  : "Нет информации для отображения"
              }}
            </div>
          </template>

          <!-- <q-card> -->
          <app-list white :min-width="770" key="recent-shipments">
            <q-item
              clickable
              :key="shipment.id"
              v-for="shipment in recent.shipments"
              :to="{
                name: 'SHIPMENTS_LIST',
                query: {
                  filter: shipment.parcels[0].parcel_id
                }
              }"
            >
              <q-badge
                v-if="shipment.parcels[0].parcel_error"
                floating
                class="bg-negative"
              >
                <q-icon name="error" class="q-mr-xs"></q-icon>

                {{ shipment.parcels[0].parcel_error }}
              </q-badge>

              <q-badge
                v-if="shipment.parcels[0].parcel_warning"
                floating
                class="bg-warning text-brown-7"
              >
                <q-icon name="warning" class="q-mr-xs"></q-icon>
                {{ shipment.parcels[0].parcel_warning }}
              </q-badge>

              <q-item-section>
                <q-item-label caption>
                  Номер посылки
                </q-item-label>
                <q-item-label>
                  {{ shipment.parcels[0].parcel_id }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>
                  Перевозчик
                </q-item-label>
                <q-item-label>
                  {{ shipment.parcels[0].parcel_carrier || "-" }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>
                  Тип
                </q-item-label>
                <q-item-label>
                  {{ shipment.type }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>
                  Статус
                </q-item-label>
                <q-item-label>
                  {{ shipment.status }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>
                  Создана
                </q-item-label>
                <q-item-label>
                  {{ shipment.date }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>
                  Стоимость
                </q-item-label>
                <q-item-label>
                  {{ $toUSD(shipment.cost) }}
                </q-item-label>
                <q-item-label
                  v-if="shipment.cost_national !== undefined"
                  caption
                >
                  <small>
                    {{ $toRUB(shipment.cost_national) }}
                  </small>
                </q-item-label>
              </q-item-section>
              <!-- <q-item-section ></q-item-section> -->
              <q-item-section side>
                <q-icon name="chevron_right" />
              </q-item-section>
            </q-item>
            <template #summary>
              <q-item to="/shipments/list" clickable>
                <q-item-section>
                  <div class="text-primary text-center">
                    Все отправки
                  </div>
                </q-item-section>
                <q-item-section side>
                  <q-icon color="primary" name="chevron_right" />
                </q-item-section>
              </q-item>
            </template>
          </app-list>
          <!-- </q-card> -->
        </with-transition>
        <!-- </transition-group> -->
        <!-- </q-slide-transition> -->
      </div>
      <!-- * * * * * * * * * * * * DASHBOARD: RECENT SHIPMENTS END * * * * * * * * * * * *  -->

      <!-- * * * * * * * * * * * * DASHBOARD: RECENT PAYMENTS * * * * * * * * * * * *  -->
      <div class="dashboard__section">
        <!-- <with-loading :state="loading.payments"></with-loading> -->

        <div class="flex-center-between q-mb-lg">
          <h5
            class="flex items-center no-wrap q-ma-none"
            style="white-space:nowrap"
          >
            Операции по счёту
            <with-loading
              size="21px"
              class="q-ml-md"
              static
              :state="loading.payments"
            ></with-loading>
          </h5>
        </div>

        <!-- <q-slide-transition> -->
        <with-transition
          :state="
            !loading.payments && !!(recent.payments && recent.payments.length)
          "
          group
        >
          <template #from>
            <div key="recent-payments-empty" class="text-muted ">
              {{
                loading.payments
                  ? "Загрузка данных"
                  : "Нет информации для отображения"
              }}
            </div>
          </template>

          <!-- <q-card> -->
          <app-list white :min-width="490" key="recent-payments">
            <q-item v-for="p in recent.payments" :key="p.id">
              <q-item-section avatar>
                <q-item-label>
                  <q-icon
                    size="24px"
                    :name="
                      p.payment_type === '+' ? 'arrow_downward' : 'arrow_upward'
                    "
                    :color="p.payment_type === '+' ? 'positive' : 'negative'"
                  />
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>
                  {{ p.payment_date | formatDate }}
                </q-item-label>
                <q-item-label>
                  {{ p.payment_operation_name }}
                </q-item-label>
              </q-item-section>
              <q-item-section
                :class="
                  p.payment_type === '+' ? 'text-positive' : 'text-negative'
                "
                avatar
              >
                {{ p.payment_type }}
                {{ $toUSD(p.payment_sum) }}
                <small
                  v-if="p.payment_sum_national !== undefined"
                  class="text-muted"
                >
                  {{ $toRUB(p.payment_sum_national) }}
                </small>
              </q-item-section>
            </q-item>
            <template #summary>
              <q-item to="/invoices" clickable>
                <q-item-section>
                  <div class="text-primary text-center">
                    Все операции по счёту
                  </div>
                </q-item-section>
                <q-item-section side>
                  <q-icon color="primary" name="chevron_right" />
                </q-item-section>
              </q-item>
            </template>
          </app-list>
          <!-- </q-card> -->
        </with-transition>
        <!-- </q-slide-transition> -->
      </div>
      <!-- * * * * * * * * * * * * DASHBOARD: RECENT PAYMENTS END * * * * * * * * * * * *  -->

      <!-- * * * * * * * * * * * * DASHBOARD: RECENT RETURNS * * * * * * * * * * * *  -->
      <div class="dashboard__section">
        <!-- <with-loading :state="loading.returns"></with-loading> -->

        <div class="flex-center-between q-mb-lg">
          <h5
            class="flex items-center no-wrap q-ma-none"
            style="white-space:nowrap"
          >
            Возвраты
            <with-loading
              size="21px"
              class="q-ml-md"
              static
              :state="loading.returns"
            ></with-loading>
          </h5>
        </div>

        <!-- <q-slide-transition> -->
        <with-transition
          group
          :state="
            !loading.returns && !!(recent.returns && recent.returns.length)
          "
        >
          <template #from>
            <div class="text-muted " key="returns-list-empty">
              {{
                loading.returns
                  ? "Загрузка данных"
                  : "Нет информации для отображения"
              }}
            </div>
          </template>
          <!-- <q-card> -->
          <app-list white :min-width="630" key="returns-list">
            <q-item v-for="r in recent.returns" :key="r.id">
              <q-item-section>
                <q-item-label caption>Номер заказа</q-item-label>
                <q-item-label>
                  {{ r.order_id || "-" }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>Дата создания</q-item-label>
                <q-item-label>
                  {{ r.date | formatDate }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>Выбранное действие</q-item-label>
                <q-item-label>
                  {{ r.action_title }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label caption>Текущий статус</q-item-label>
                <q-item-label
                  :class="[
                    r.status === 'accepted' && 'text-positive',
                    r.status === 'declinde' && 'text-negative'
                  ]"
                >
                  {{ r.status_title }}
                </q-item-label>
              </q-item-section>

              <!-- <q-item-section></q-item-section> -->
            </q-item>
            <template #summary>
              <q-item to="/shipments/returns" clickable>
                <q-item-section>
                  <div class="text-primary text-center">
                    Все возвраты
                  </div>
                </q-item-section>
                <q-item-section side>
                  <q-icon color="primary" name="chevron_right" />
                </q-item-section>
              </q-item>
            </template>
          </app-list>
          <!-- </q-card> -->
        </with-transition>
        <!-- </q-slide-transition> -->
      </div>
      <!-- * * * * * * * * * * * * DASHBOARD: RECENT RETURNS END * * * * * * * * * * * *  -->
    </div>
  </PageContainer>
</template>

<script>
export default {
  name: "DashboardPage",
  filters: {
    formatDate(val) {
      if (!val) return "";
      return `${new Date(val).toLocaleDateString()} ${new Date(
        val
      ).toLocaleTimeString()}`;
    }
  },
  data() {
    return {
      dashboard: null,
      loading: {
        returns: false,
        payments: false,
        news: false,
        shipments: false,
        blog: false
      },
      recent: {
        shipments: null,
        returns: null,
        payments: null
      }
    };
  },
  computed: {
    blogPosts() {
      let posts = this.$store.getters["Blog/posts"];

      if (!posts) return null;

      if (!this.$q.screen.xl && !this.$q.screen.lg) return posts;
      else return [posts[0], posts[1], posts[2]];

      // return posts;
    }
  },
  async mounted() {
    try {
      this.loading.shipments = true;
      this.loading.returns = true;
      this.loading.payments = true;
      this.loading.blog = true;

      // await this.getRecentBlogPosts();
      this.getRecentBlogPosts();
      await this.getRecentShipments();
      await this.getRecentPayments();
      await this.getRecentReturns();
    } catch (e) {
      const {
        message: title = "Не удалось загрузить данные",
        errors
      } = this.$parseApiError(e);

      this.$alert({
        title,
        errors,
        level: "danger"
      });
    }
  },
  methods: {
    // * GET LAST SHIPMENTS
    getRecentShipments() {
      return new Promise(async (done, fail) => {
        try {
          let url = `/shipping/shipment`;
          const {
            data: { shipments }
          } = await $api.get(url, { params: { on_page: 5 } });

          // try {
          //   shipments[1].parcels[0].parcel_error =
          //     "Для обработки данной посылки недостаточно средств на счету";
          //   shipments[3].parcels[0].parcel_warning =
          //     "Создание сопроводительных документов отменено";
          // } catch {}

          this.recent.shipments = shipments;
          done();
        } catch (e) {
          fail(e);
        } finally {
          this.loading.shipments = false;
        }
      });
    },
    getRecentReturns() {
      return new Promise(async (done, fail) => {
        try {
          const {
            data: { return_shipments }
          } = await this.$api.get(`/shipping/return_shipment`);

          this.recent.returns = return_shipments.slice(0, 5);
          done();
        } catch (e) {
          fail(e);
        } finally {
          this.loading.returns = false;
        }
      });
    },
    getRecentPayments() {
      return new Promise(async (done, fail) => {
        try {
          const {
            data: { payments }
          } = await this.$api.post(`/payments`, {
            on_page: 5
          });

          this.recent.payments = payments;

          done();
        } catch (e) {
          fail(e);
        } finally {
          this.loading.payments = false;
        }
      });
    },
    async getRecentBlogPosts() {
      return new Promise(async (done, fail) => {
        try {
          await this.$store.dispatch("Blog/GET_RECENT_POSTS");
          done();
        } catch (e) {
          fail(e);
        } finally {
          this.loading.blog = false;
        }
      });
    }
  }
};
</script>
<style lang="scss">
.dashboard {
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &__section {
    margin-bottom: 56px;
    position: relative;
  }

  @mixin new_action($color, $slug) {
    $name: "new-action-" + #{$slug};

    @keyframes #{$name} {
      from {
        // box-shadow: 0 0 0 0px rgba($color, .7);
        box-shadow: 0 0 0 0px rgba($color, 0.42);
      }
      to {
        box-shadow: 0 0 0 10px rgba($color, 0);
      }
    }

    animation: #{$name} 2s ease 0s infinite;
  }

  &__grid {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "profile paypal account "
      "sells contacts contacts"
      "buys parcels currency";
  }

  &__item {
    position: relative;
    box-shadow: 0 0 21px 0 rgba(#000, 0.17);
    box-shadow: none;
    position: relative;
    overflow: hidden;

    small {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .dashboard-item {
    &__back-icon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 210px;
      // transform: rotateZ(-21deg);
      transform: translateX(-28%);
      opacity: 0.084;
    }

    h5 {
      line-height: 1.5;
      background-color: #f87;
    }
  }

  &--account {
    grid-area: account;
  }
  &--currency {
    grid-area: currency;
  }
  &--sells {
    grid-area: sells;
  }
  &--contacts {
    grid-area: contacts;
  }
  &--buys {
    grid-area: buys;
  }
  &--parcels {
    grid-area: parcels;
  }

  table {
    th {
      font-weight: bold !important;
    }
  }

  .q-item {
    .q-item__section:last-child {
      text-align: right;
    }
  }
}

.tg-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00aadd+1,0088cc+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0088cc+0,00aadd+99 */
  background: rgb(0, 136, 204); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 204, 1) 0%,
    rgba(0, 170, 221, 1) 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 204, 1) 0%,
    rgba(0, 170, 221, 1) 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(0, 136, 204, 1) 0%,
    rgba(0, 170, 221, 1) 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#00aadd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
</style>
