<template>
  <PageContainer :title="$capitalize($tc('common.returns', 2))">
    <template #actions>
      <!-- actions ? -->
      <app-btn size="sm" class="text-accent" to="/shipments/returns/unidentified">
        Неопознанные возвраты
      </app-btn>
    </template>
    <q-slide-transition>
      <!-- <transition name="fade" appear mode="out-in"> -->
      <div class="container">
        <app-list
          header="Ваши возвращённые посылки"
          white
          separator
          bordered
          class="relative-position"
          :min-width="1100"
          :empty="
            ((!returns || !returns.length) &&
              'Нет информации для отображени') ||
              false
          "
          :loading="loading"
        >
          <ReturnItem
            @updated="getReturns()"
            v-for="r in returns"
            :data="r"
            :key="r.id"
          />
        </app-list>
      </div>
    </q-slide-transition>
  </PageContainer>
</template>

<script>
import ReturnItem from "./ReturnItem";

export default {
  components: {
    ReturnItem
  },
  data() {
    return {
      returns: [],
      loading: false
    };
  },
  mounted() {
    this.getReturns();
  },
  methods: {
    async getReturns() {
      // this.$store.commit("app/SET_LOADING", true);
      this.loading = true;

      try {
        const {
          data: { return_shipments }
        } = await this.$api.get(`/shipping/return_shipment`);
        this.returns = return_shipments;
      } catch (e) {
        this.$alert({
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось загрузить заявки возвратов",
          level: "danger",
          errors:
            (e && e.response && e.response.data && e.response.data.errors) ||
            null
        });
      } finally {
        // this.$store.commit("app/SET_LOADING", false);
        this.loading = false;
      }
    }
  }
};
</script>

<style></style>
