<template>
  <div class="q-pa-lg set-products">
    <div >
      <div >
        <Warehouse
          max-height="420px"
          @on-row-dbclick="addProduct"
          :actions="['add']"
        ></Warehouse>

        <div class="set-products__list">
          <h3>Выбранные товары</h3>

          <q-list
            bordered
            separator
            class="rounded-borders"
            v-if="products.length"
          >
            <q-item v-for="(p, idx) in products" :key="idx">
              <q-item-section>
                <q-item-label>
                  {{ p.title }}
                </q-item-label>
                <q-item-label caption>
                  <small v-if="p.code_internal">({{ p.code_internal }})</small>
                  {{ p.code }}
                </q-item-label>
              </q-item-section>
              <q-item-section side>
                <prod-counter v-model="p.count" />
              </q-item-section>
            </q-item>
          </q-list>

          <small class="text-muted mt-2" style="display: block" v-else>
            Добавьте товары
          </small>
        </div>

        <div class="flex-center-between q-mt-xl">
          <app-btn flat color="red">Отмена</app-btn>
          <app-btn
            @click="submitProducts"
            :disabled="!products.length"
            color="primary"
          >
            Обновить информацию о товарах
          </app-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Warehouse from "@/components/Warehouse";
import Counter from "@/components/Counter";

export default {
  components: {
    Warehouse,
    "prod-counter": Counter
  },
  data() {
    return {
      products: []
    };
  },
  methods: {
    addProduct(prod) {
      let double = this.products.find(
        p => p.code_internal === prod.code_internal
      );

      if (double) {
        double.count++;
      } else {
        this.products.push({
          ...prod,
          count: 1
        });
      }

      this.$message({
        level: "success",
        title: "Товар добавлен"
      });
    },
    removeProduct(idx) {
      this.products.splice(idx, 1);
    },
    submitProducts() {
      let products = this.products.map(({ product_id: id, count }) => ({
        id,
        count
      }));
      this.$parent.$emit("submit-products", { products });
    }
  }
};
</script>

<style lang="scss">
.wh-manager h4 {
  margin-bottom: 14px;
}
.set-products {
  &__list {
    margin-top: 21px;
    font-size: 13px;
    margin-bottom: 14px;

    h3 {
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 2;
    }

    table {
      margin: 0;
      padding: 0;
      width: 100%;

      tr {
        border-bottom: 1px solid #eee;
        padding: 4px;
        font-size: 13px;
        font-weight: 500;

        th {
          padding: 0 4px;
        }

        td {
          padding: 7px 4px;
          border-bottom: 1px solid #eee;
          &:first-child {
            width: 100%;
          }
        }

        .form-group {
          display: flex;
          align-items: flex-end;
          input {
            text-align: center;
            padding: 2px;
            font-size: 13px;
            font-weight: 500;
            width: 35px;
            margin-right: 4px;
          }
        }
      }
    }
  }
}
</style>
