<template>
  <q-expansion-item
    :key="data.id"
    :label="`Возврат №${data.internal_code}`"
    :caption="data.status_title"
    :loading="loading"
  >
    <template #header>
      <q-item class="full-width">
        <with-loading size="21px" :state="loading" />
        <q-item-section side>
          <div
            class="return-item__img rounded-borders"
            v-intersection.once="onImageIntersection"
          >
            <div v-if="images && images.length" class="return-item__counter">
              {{ images.length }}
              {{ $tc("common.photo", images.length > 1 ? 2 : 1) }}
            </div>
            <q-img
              v-if="images && images.length"
              :src="`data:image/png;base64,${images[0]}`"
              cover
              @click.stop="showMedia"
              :ratio="1"
              square
            />
            <q-icon
              v-else
              name="image_not_supported"
              size="24px"
              color="grey-5"
            ></q-icon>
          </div>
        </q-item-section>
        <q-item-section>
          <q-item-label caption>
            {{ $capitalize($tc("common.returns", 1)) }}, №
          </q-item-label>
          <q-item-label>
            {{ data.internal_code }}
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label caption>
            Статус
          </q-item-label>
          <q-item-label>
            <q-item-label>
              <q-badge
                style="font-size:12px"
                :class="[
                  data.status === 'waiting_for_acceptance' &&
                    'bg-orange-7 text-white',
                  data.status === 'operator_created' && 'text-white bg-info',
                  data.status === 'accepted' && 'bg-positive text-white',
                  data.status === 'declined' && 'bg-negative text-white'
                ]"
              >
                {{ data.status_title }}
              </q-badge>
            </q-item-label>
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label caption>
            {{ $capitalize($t("common.order_number")) }}
          </q-item-label>
          <q-item-label>
            <q-item-label>
              <div v-if="data.order_id">{{ data.order_id }}</div>
              <small class="text-muted" v-else>не указан</small>
            </q-item-label>
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label caption>
            {{ $capitalize($t("common.date")) }}
          </q-item-label>
          <q-item-label>
            {{ (data.date && new Date(data.date).toLocaleString()) || "-" }}
          </q-item-label>
        </q-item-section>
        <q-item-section class="q-mr-xl">
          <div
            v-if="data.actions && data.actions.length"
            class="text-right flex "
          >
            <q-btn-dropdown
              color="primary"
              size="12px"
              :label="$capitalize($t('common.pick_action'))"
              @click.stop
              unelevated
            >
              <q-list>
                <q-item
                  @click="provideProductsInfo"
                  clickable
                  v-show="data.can_set_products"
                  v-close-popup
                >
                  <q-item-section>
                    Предоставить информацию о товарах
                  </q-item-section>
                </q-item>
                <q-item
                  @click="performAction(act)"
                  clickable
                  v-for="act in data.actions"
                  :key="act.code"
                  :class="[act.code === 'utilize' && 'text-red']"
                  v-close-popup
                >
                  <q-item-section>
                    {{ act.title }}
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
          <div v-else-if="data.action_title">
            <small class="text-muted block">Выбранное действие:</small>
            <b>{{ data.action_title }}</b>
          </div>
          <div v-else>
            {{ $t("common.not_avaliable") }}
          </div>
        </q-item-section>
      </q-item>
    </template>
    <!-- <q-card> -->
    <!-- <q-card-section> -->
    <div class="q-pa-md">
      <app-list header="О данном возврате">
        <q-item>
          <q-item-section>
            <q-item-label>{{ $capitalize($t("common.hub")) }}</q-item-label>
            <!-- <q-item-label caption lines="1">Caption</q-item-label> -->
          </q-item-section>
          <q-item-section side>
            <div class="flex items-center">
              <img
                height="13px"
                style="object-fit:container;object-position:center center;border-radius:2px"
                v-if="data.hub && data.hub.code"
                :src="`/img/flags/${data.hub.code.toLowerCase()}.svg`"
                class="q-mr-sm"
              />
              <div>{{ (data.hub && data.hub.title) || "-" }}</div>
            </div>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-item-label>Комментарий оператора</q-item-label>
            <!-- <q-item-label caption lines="1">Caption</q-item-label> -->
          </q-item-section>
          <q-item-section style="max-width:50%" side>
            {{ data.comment }}
          </q-item-section>
        </q-item>
        <q-item v-if="data.track_number">
          <q-item-section>
            <q-item-label>Трек-номер</q-item-label>
            <!-- <q-item-label caption lines="1">Caption</q-item-label> -->
          </q-item-section>
          <q-item-section side>
            {{ data.track_number }}
          </q-item-section>
        </q-item>
        <q-item v-if="data.receiver_name">
          <q-item-section>
            <q-item-label>Получатель</q-item-label>
            <!-- <q-item-label caption lines="1">Caption</q-item-label> -->
          </q-item-section>
          <q-item-section side>
            {{ data.receiver_name }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <q-item-label>История смены статусов</q-item-label>
            <!-- <q-item-label caption lines="1">Caption</q-item-label> -->
          </q-item-section>
          <q-item-section side>
            <q-btn
              label="Показать"
              icon="history"
              size="sm"
              color="primary"
              flat
              class="bg-blue-1"
            >
              <q-popup-proxy>
                <q-list>
                  <q-item :key="idx" v-for="(e, idx) in data.status_history">
                    <q-item-section>
                      <q-item-label caption>
                        {{ new Date(e.date).toLocaleString() }}
                      </q-item-label>
                      <q-item-label>{{ e.status_title }}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-popup-proxy>
            </q-btn>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section class="q-py-sm">
            <q-input
              type="textarea"
              outlined
              dense
              label="Заметка о возврате"
              rows="2"
              @change="saveCustomerNote"
              v-model="data.customers_comment"
              hint="Этот текст видите только Вы"
            />
          </q-item-section>
        </q-item>
      </app-list>
    </div>
    <!-- </q-card-section> -->
    <!-- </q-card> -->
  </q-expansion-item>
</template>

<script>
"use strict";
import { throttle } from "quasar";

export default {
  props: {
    data: Object
  },
  data() {
    return {
      images: null,
      loading: false
    };
  },
  mounted() {
    // this.getImages();
  },
  methods: {
    async getImages() {
      if (this.images) return;

      const {
        data: { images }
      } = await this.$api.get(
        `/shipping/return_shipment/${this.data.id}/images`
      );

      if (images && images.length) {
        this.images = images;
      } else {
        this.images = [];
      }
    },
    onImageIntersection(el) {
      if (el.isIntersecting) {
        throttle(this.getImages(), 33000);
      }
    },
    async performAction({ code, title }) {
      // if (code === "set_products") {
      //   this.setReturnProducts(this.data.id);
      //   return;
      // }

      let c = await this.$confirm({
        title: `Действительно хотите выбрать опцию "${title}" для данной посылки?`
      });

      if (!c) return;
      this.loading = true;

      try {
        const { data } = await this.$api.get(
          `/shipping/return_shipment/${this.data.id}/${code}`
        );

        this.$emit("updated");

        this.$alert({
          title: "Заявка обновлена",
          level: "success",
          message:
            "Ваша заявка обновлена в соответствии с выбранным действием. "
        });
      } catch (e) {
        console.log(e);
        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось сохранить изменения",
          errors:
            (e && e.response && e.response.data && e.response.data.errors) ||
            null
        });
      } finally {
        this.loading = false;
      }
    },
    async saveCustomerNote() {
      try {
        this.loading = true;
        const { data } = await this.$api.put(
          `/shipping/return_shipment/${this.data.id}`,
          {
            customers_comment: this.data.customers_comment
          }
        );

        this.$message({
          level: "success",
          title: "Заметка к возврату сохранена"
        });
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    showMedia(event, index = 0) {
      this.$q.dialog({
        component: () => import("@/components/_ui/Carousel"),
        images: this.images,
        index
      });
    },
    provideProductsInfo() {
      this.$modal.show(
        () => import("./ProvideProductsInfo.vue"),
        {},
        {
          height: "auto",
          width: 1000,
          name: "set-products"
        },
        {
          "submit-products": async products => {
            try {
              const { data } = await this.$api.post(
                `shipping/return_shipment/${this.data.id}/products`,
                {
                  ...products
                }
              );

              if (data.success) {
                this.$alert({
                  level: "success",
                  title: "Информация о содержимом возврата обновлена"
                });
                this.$modal.hide("set-products");

                this.$emit("reuturn-update");
              }
            } catch (e) {
              this.$alert({
                level: "danger",
                title:
                  (e &&
                    e.response &&
                    e.response.data &&
                    e.response.data.message) ||
                  "Не удалось сохранить информацию о товарах",
                inner: {
                  errors:
                    (e &&
                      e.response &&
                      e.response.data &&
                      e.response.data.errors) ||
                    null
                }
              });
            } finally {
            }
          }
        }
      );
    }
  }
};
</script>

<style lang="scss">
.return-item {
  &__img {
    height: 77px;
    width: 77px;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      .return-item__counter {
        opacity: 1;
      }
    }
  }

  .q-timeline__title {
    font-size: 14px !important;
    background-color: #f00;
  }

  &__counter {
    position: absolute;
    background-color: rgba(#000, 0.5);
    color: white;
    top: 0;
    left: 0;
    padding: 2px;
    z-index: 9;
    width: 100%;
    pointer-events: none;
    font-size: 11px;
    text-align: center;
    opacity: 0;
    transition: opacity ease 0.21s;
  }
}
</style>
