<template>
  <div class="gallery">
    <div
      class="gallery__control gallery__control--prev"
      @click="changeImage(0)"
      v-show="images && images.length && images.length > 1"
    >
      <svg
        width="24"
        height="24"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
      >
        <path
          d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"
        />
      </svg>
    </div>
    <div>
      <img :src="`data:image;base64,${images[int_index]}`" alt="" />
    </div>
    <div class="gallery__counter">
      {{ int_index + 1 }} / <small>{{ gallery_length }}</small>
    </div>
    <div
      class="gallery__control gallery__control--next"
      @click="changeImage(1)"
      v-show="images.length && images.length > 1"
    >
      <svg
        width="24"
        height="24"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
      >
        <path
          d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"
        />
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    images: Array,
    index: Number
  },
  mounted() {
    window.addEventListener("keydown", event => {
      if (event.code === "ArrowLeft") {
        this.changeImage(0);
      }
    });
    window.addEventListener("keydown", event => {
      if (event.code === "ArrowRight") {
        this.changeImage(1);
      }
    });
  },
  beforeDestroy() {
    window.removeEventListener("keydown", {});
  },
  data() {
    return {
      int_index: this.index,
      gallery_length: this.images.length
    };
  },
  methods: {
    changeImage(direction) {
      if (direction === 0) {
        if (this.int_index === 0) {
          this.int_index = this.gallery_length - 1;
          return;
        }
        --this.int_index;
      } else {
        if (this.int_index === this.gallery_length - 1) {
          this.int_index = 0;
          return;
        }
        ++this.int_index;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.gallery-enter-active,
.gallery-leave-active {
  transition: all 0.42s;
}
.gallery-enter, .gallery-leave-to /* .gallery-leave-active до версии 2.1.8 */ {
  transform: translateX(-100%);
  position: absolute;
}
.gallery {
  width: 100%;
  position: relative;
  user-select: none;

  &__counter {
    color: #fff;
    position: absolute;
    bottom: 7px;
    left: 0;
    padding: 7px;
    font-size: 13px;
    background-color: rgba(#000, 0.5);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
  }

  &__control {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 14px;
    background-color: rgba(#000, 0.14);
    cursor: pointer;

    &:hover {
      background-color: rgba(#000, 0.21);
    }

    svg {
      fill: white;
    }

    &--prev {
      left: 0;
      svg {
        transform: rotateZ(-180deg);
      }
    }

    &--next {
      right: 0;
    }
  }
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  object-position: center center;
}
</style>
