<template>
  <!-- <div class="modal types-modal relative"> -->
  <!-- <DialogWrapper title="Выберите способ доставки"> -->
  <q-dialog
    position="top"
    :maximized="$q.screen.sm || $q.screen.xs"
    class="types-modal"
    ref="types-dialog"
  >
    <q-card style="max-width:1000px;width:100%" class="full-height">
      <q-card-section>
        <h5 class="q-ma-none">
          Доступные тарифы
        </h5>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section class="">
        <q-item
          v-for="(type, idx) in types"
          :disable="!!type.carrier_service.error"
          tag="label"
          :clickable="!type.carrier_service.error"
          :key="idx"
          class="carriers__item carrier-item q-py-md q-mb-md"
          :class="[
            (picked_type &&
              picked_type.carrier_service.id === type.carrier_service.id &&
              'carrier-item--active') ||
              null,
            $q.screen.xs && 'carrier-item--xs'
          ]"
          @click.prevent.stop="pickType(type, null)"
          @dblclick.prevent.stop="
            () => {
              submitPicked(picked_type);
            }
          "
        >
          <q-tooltip
            transition-show="jump-down"
            transition-hide="jump-down"
            v-if="!!type.carrier_service.error"
            anchor="center middle"
            self="center middle"
          >
            <div class="flex items-center">
              <q-icon name="lock" size="16px" class="q-mr-sm" />
              <b>Данный тариф недоступен для выбора</b>, присутствуют ошибки
            </div>
          </q-tooltip>
          <q-item-section
            class="q-py-md"
            :class="$q.screen.xs && 'q-py-none'"
            style="width: 170px"
            avatar
          >
            <div class="flex items-center text-primary">
              <img
                height="16px"
                src="/img/flags/cz.svg"
                alt="FLAG_CZ"
                v-if="type.carrier_service.hub.code === 'CZ'"
                class="q-mr-sm"
                style="object-fit:container;object-position:center center;border-radius:2px;"
              />
              <img
                height="16px"
                src="/img/flags/us.svg"
                alt="FLAG_US"
                v-if="type.carrier_service.hub.code === 'US_PA'"
                class="q-mr-sm"
                style="object-fit:container;object-position:center center;border-radius:2px;"
              />
              <div>
                {{ type.ship_type | transformType }}
              </div>
            </div>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              <div
                class="carrier-item__title"
                :style="$q.screen.xs && 'max-width:63%'"
              >
                <img
                  :src="
                    getCarrierLogo(type.carrier_service.carrier.toLowerCase())
                      .path
                  "
                  :alt="type.carrier_service.carrier.toLowerCase().code"
                  style="display:block"
                  height="28px"
                  class="types-modal__carrier-logo"
                  :class="
                    `types-modal__carrier-logo--${
                      getCarrierLogo(type.carrier_service.carrier.toLowerCase())
                        .code
                    }`
                  "
                />
                <div class="carrier-item__carrier-name">
                  {{ type.carrier_service.carrier }}:
                  <span>{{ type.carrier_service.name }}</span>
                </div>
              </div>
              <div class="text-grey q-mt-sm">
                {{ type.carrier_service.timing_description }}
              </div>
              <div
                v-if="type.carrier_service.error"
                class="flex no-wrap items-start q-mt-md  text-negative"
              >
                <q-icon class="q-mr-xs" name="error" />
                <div
                  class="text-negative"
                  style="font-size:12px"
                  v-html="type.carrier_service.error"
                ></div>
              </div>
              <div
                v-if="type.carrier_service.warning"
                class="flex no-wrap items-start q-mt-md text-orange-7"
              >
                <q-icon class="q-mr-xs" name="warning" />
                <div
                  style="font-size:12px"
                  v-html="type.carrier_service.warning"
                ></div>
              </div>

              <div
                class="insurance-services q-mt-md"
                v-if="type.insurance_services && type.insurance_services.length"
              >
                <app-btn
                  size="sm"
                  class="q-mr-sm text-primary"
                  label="Без возмещения"
                  @click.stop.prevent="pickType(type, { cost: 0 })"
                  rounded
                  :class="[
                    picked_type &&
                      picked_type.carrier_service.id ===
                        type.carrier_service.id &&
                      !picked_type.rates.insurance.cost &&
                      'bg-accent text-white'
                  ]"
                />
                <app-btn
                  v-for="(service, idx) in type.insurance_services"
                  :key="idx"
                  size="sm"
                  class="text-primary q-mr-sm"
                  @click.stop.prevent="pickType(type, service)"
                  rounded
                  :class="
                    (picked_type &&
                      picked_type.rates &&
                      picked_type.carrier_service.id ===
                        type.carrier_service.id &&
                      picked_type.rates.insurance &&
                      service.cost === type.rates.insurance.cost &&
                      'bg-accent text-white text-bold') ||
                      'text-primary bg-white'
                  "
                >
                  Возмещение&nbsp;<b>${{ service.insure_value }}</b>
                  &nbsp;за&nbsp;
                  <b>${{ service.cost }}</b>
                </app-btn>
              </div>
              <!--  -->
              <!--  -->
              <!--  -->
              <!--  -->
              <!--  -->
              <!--  -->
            </q-item-label>
          </q-item-section>
          <q-item-section
            :style="
              $q.screen.xs && 'position: absolute; right: 7px; top: 28px;'
            "
            side
          >
            <div
              class="flex items-center"
              v-if="
                !!type.rates.total +
                  ((type.rates.insurance && type.rates.insurance.cost) || 0)
              "
            >
              <div class="carrier-item__cost text-right q-mr-sm">
                <div>
                  {{
                    $toUSD(
                      type.rates.total +
                        ((type.rates.insurance && type.rates.insurance.cost) ||
                          0)
                    )
                  }}
                </div>
                <div
                  v-if="type.rates_national && type.rates_national.total"
                  class="text-muted"
                  style="font-size:12px;"
                >
                  {{
                    $toRUB(
                      type.rates_national.total +
                        ((type.rates_national.insurance &&
                          type.rates_national.insurance.rate_national) ||
                          0)
                    )
                  }}
                </div>
              </div>
              <app-btn
                @click.stop
                round
                color="primary"
                flat
                icon="ion-information-circle-outline"
              >
                <!-- <q-tooltip anchor="top middle" self="bottom middle">
                <small>Нажмите, что бы прсмотреть/скрыть подробности</small>
              </q-tooltip> -->
                <q-menu>
                  <q-list separator>
                    <q-item
                      v-for="(value, line, idx) in getRatesList(type)"
                      :key="idx"
                      v-show="value"
                    >
                      <q-item-section style="min-width:70px">
                        <q-item-label caption>
                          <div>
                            {{ line }}
                          </div>
                        </q-item-label>
                      </q-item-section>
                      <q-item-section avatar>
                        <div>
                          <!-- <b>{{ $toUSD(value.rate) || 0 }}</b> -->
                          {{ $toUSD(value.rate) }}
                        </div>
                        <small class="text-muted">
                          <!-- {{ $toRUB(value.rate_national) || 0 }} -->
                          {{ $toRUB(value.rate_national || null) || "n/a" }}
                        </small>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </app-btn>
            </div>
            <div v-else>
              <small class="text-muted">недоступно</small>
            </div>
          </q-item-section>
        </q-item>
        <!-- </q-list> -->
      </q-card-section>
      <div style="position:sticky;bottom:0;left:0;">
        <q-separator></q-separator>
        <q-card-section class="bg-white">
          <div class="flex-center-between">
            <app-btn
              @click="hide"
              flat
              label="Отмена"
              class="text-red q-mr-md"
            />

            <app-btn
              :disable="!picked_type || !!picked_type.carrier_service.error"
              @click="submitPicked($event, picked_type)"
              :label="`Выбрать`"
              color="primary"
              class="q-px-xl"
            />
          </div>
        </q-card-section>
      </div>
    </q-card>
    <!-- <with-loading :state="$store.state.app.loading.content" /> -->
  </q-dialog>

  <!-- </DialogWrapper> -->

  <!-- </div> -->
</template>

<script>
export default {
  name: "TypesModal",
  props: {
    types: Array,
    loading: Boolean
  },
  mounted() {
    try {
      this.types.forEach(type => {
        this.$set(type["rates"], "insurance", null);
      });
    } catch (e) {
      this.$alert({
        level: "danger",
        title: "Не удалось установить параметры ответственности"
      });
    }
  },
  data() {
    return {
      picked_type: null
    };
  },
  watch: {
    picked_type(new_val, old_val) {
      old_val && delete old_val.rates.insurance;
    }
  },
  filters: {
    transformType(val) {
      switch (val) {
        case "consolidation":
          return "Консолидация";
        case "direct":
          return "Экспресс";
        case "return_label":
          return "Возвратная отправка";
        case "usa_domestic":
          return "Отправка со склада";
        case "consolidated_from_sender":
        // return "Отправка со склада";
        case "direct_from_sender":
          return "Экспресс от продавца";
        default:
          return val;
      }
    }
  },
  methods: {
    show() {
      this.$refs["types-dialog"].show();
    },
    hide() {
      this.$refs["types-dialog"].hide();
    },
    getRatesList(type) {
      const LINES = {
        label: "Лейба",
        consolidation: "Консолидация",
        direct: "Экспресс",
        handling: "Обработка посылки",
        to_hands: "Лично в руки",
        gift_box: "Упаковка",
        edit_address: "Изменение адреса",
        insurance: "Повышенная ответственность",
        total: "Итого"
      };

      let list = {};

      Object.entries(type.rates).forEach(([key, cost]) => {
        if (cost) {
          if (key === "insurance") {
            list[LINES[key]] = { rate: cost.cost };
          } else {
            list[LINES[key]] = {
              rate: cost || { cost: 0 },
              rate_national:
                (type.rates_national && type.rates_national[key]) || 0
            };
          }
        }
      });

      return list;
    },
    getCarrierLogo(carrier) {
      let logo_map = {
        dhl: "dhl",
        usps: "usps",
        ups: "ups",
        "gls czech": "gls",
        "dpd czech republic": "dpd",
        "dhl ukraine": "dhl",
        "tnt ukraine": "tnt",
        "fedex ukraine": "fedex",
        "fedex russia": "fedex"
      };

      return {
        path: `/img/carriers/${logo_map[carrier]}.svg`,
        code: logo_map[carrier]
      };
    },
    pickType(type, insurance) {
      this.picked_type = type;

      if (type.rates.insurance && insurance === null) {
        return;
      }

      // debugger;
      if (insurance) {
        this.$set(this.picked_type.rates, "insurance", insurance);
        this.$set(this.picked_type.rates_national, "insurance", insurance);
      } else {
        let defaultInsurance =
          type.insurance_services &&
          type.insurance_services.length &&
          type.insurance_services.findIndex(s => s.code === "consolidation_50");

        if (defaultInsurance >= 0) {
          this.$set(
            this.picked_type.rates,
            "insurance",
            type.insurance_services[defaultInsurance]
          );
          this.$set(
            this.picked_type.rates_national,
            "insurance",
            type.insurance_services[defaultInsurance]
          );
        } else {
          this.$set(this.picked_type.rates, "insurance", { cost: 0 });
          this.$set(this.picked_type.rates_national, "insurance", { cost: 0 });
        }
      }
    },
    submitPicked($event, picked = null) {
      let target = picked || this.picked_type;

      if (!target) {
        throw new Error("Unhandled picked type");
      }

      const {
        rates: { insurance = null }
      } = target;

      this.$emit("ok", {
        service_id: target.carrier_service.id,
        type: target.ship_type,
        delivery_rate: target.rates.total,
        ...(insurance && insurance.cost !== 0 && { insurance })
      });
      this.hide();
    }
  }
};
</script>

<style lang="scss" scoped>
.v--modal-overlay .v--modal-box {
  overflow: visible;
}

.tip {
  color: #333 !important;
  letter-spacing: 0.3px;
}

.types-modal {
  border-radius: 4px;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  // $accent: #17c671;

  &__type-col--shipping_type {
    position: relative;
  }

  &__flag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-left: 4px;
    height: 28px;
    width: 28px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__carrier-logo {
    display: block;
    object-fit: contain;
    object-position: center center;
    height: 21px;
    width: 49px;
    margin-bottom: 7px;

    &--dhl {
      background-color: #fecc01;
      width: 77px;
    }

    &--usps {
      width: 114px;
      height: auto;
    }

    &--ups {
      width: 30px;
      height: 30px;
    }

    &--tnt {
      height: 32px;
      width: auto;
    }

    &--gls {
      width: 68px;
      height: auto;
    }
    &--fedex {
      width: 59px;
      // background-size: cover;
    }
    &--dpd {
      height: 28px;
      width: 66px;
    }
  }

  &__logo {
    height: 24px;
    display: block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .carrier-item {
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: all ease 0.21s;

    &__carrier-name {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.4;
    }

    &__cost {
      transition: transform ease 0.21s;
      transform-origin: right center;
      font-size: 20px;
    }

    &--active {
      box-shadow: 0 0 0 4px rgba($primary, 0.1);
      color: $primary !important;
      background-color: rgba($blue-1, 0.7);
      border-color: $primary !important;

      .carrier-item__cost {
        color: $primary !important;
        transform: scale(1.28);
        font-weight: 500;
      }
    }

    &--disabled {
      color: $grey;
    }
  }

  .q-hoverable:hover > .q-focus-helper {
    opacity: 0.042 !important;
  }
}

.carrier-item {
  &--xs {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
</style>
