<template>
  <div class="counter">
    <app-btn
      size="sm"
      icon="remove"
      @click.prevent="changeCount('dec')"
      :disable="disabled.dec"
      flat
      :size="size"
      v-ripple:negative
    />
    <q-input
      @input="directInput"
      @change="handleChange"
      v-model.number="value"
      :readonly="disabled.dec && disabled.inc"
      outlined
      dense
      class="text-center"
      :size="size"
    />
    <app-btn
      size="sm"
      icon="add"
      @click.prevent="changeCount('inc')"
      :disable="disabled.inc"
      flat
      :size="size"
      v-ripple:positive
    />
  </div>
</template>

<script>
export default {
  name: "counter",
  model: {
    event: "change",
    prop: "value"
  },
  props: {
    max: [Number, Boolean],
    value: {
      type: Number,
      default: 1
    },
    disabled: {
      type: Object,
      default: () => ({ inc: false, dec: false })
    },
    size: {
      type: String,
      default: "14px"
    }
  },
  data() {
    return {
      count: this.value
    };
  },
  methods: {
    changeCount(op) {
      if (op === "dec") {
        if (this.value === 1) return; // ? prevent 0 count
        this.value = --this.value;
      } else if (op === "inc") {
        if (this.max && this.max === this.value) return;

        this.value = ++this.value;
      }

      this.$emit("change", this.value);
    },
    directInput(event) {
      if (this.max && this.value > this.max) {
        this.$message({
          title:
            "Невозможно отправить больше товаров, чем имеется в наличии на складе",
          level: "warning"
        });
        this.value = this.max;
      }

      this.$emit("change", this.value);
    },
    handleChange(event) {
      if (!this.count) {
        this.count = 1;
      }
    }
  }
};
</script>

<style lang="scss">
.counter {
  display: flex;
  justify-content: center;

  .q-input {
    margin: 0 7px;
    width: 49px;
  }
  .q-field__native {
    font-weight: 600;
    font-size: 15px;
    text-align: center !important;
  }
}
</style>
