<template>
  <q-dialog :ref="name">
    <q-card style="min-width:420px">
      <q-card-section>
        <div class="flex-center-between full-width">
          <h5 class="q-ma-none">{{ title }}</h5>
          <app-btn
            class="q-ml-lg"
            size="10px"
            flat
            color="negative"
            @click="hide"
            icon="close"
            round
          ></app-btn>
        </div>
      </q-card-section>
      <q-card-section>
        <form @submit.prevent="saveCategory">
          <div>
            <q-input
              outlined
              dense
              label="Наименование"
              v-model="category.title"
              class="q-mb-md"
              :error="$v.category.title.$anyError"
            />
            <q-input
              outlined
              dense
              type="textarea"
              label="Описание"
              v-model="category.description"
              rows="3"
              class="q-mb-md"
              :error="$v.category.description.$anyError"
            />
          </div>
          <app-btn
            color="primary"
            type="submit"
            class="full-width"
            label="Сохранить изменения"
          />
        </form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: { name: String, title: String },
  data() {
    return {
      category: { title: null, description: null }
    };
  },
  //   mounted() {},
  methods: {
    show() {
      this.$refs[this.name].show();
    },
    hide() {
      this.$refs[this.name].hide();
    },
    saveCategory() {
      this.$v.category.$touch();

      if (this.$v.category.$anyError) {
        this.$message({
          level: "warning",
          title: "Заполните обязательные поля"
        });
        return;
      }

      this.$emit("ok", this.category);
      this.hide();
    }
  },
  validations() {
    return {
      category: {
        title: { required },
        description: { required }
      }
    };
  }
};
</script>

<style></style>
