<template>
  <q-dialog :ref="name">
    <q-card style="min-width:420px">
      <q-card-section>
        <div class="flex-center-between full-width">
          <h5 class="q-ma-none">Изменить категорию {{ category.title }}</h5>
          <app-btn
            class="q-ml-lg"
            size="10px"
            flat
            color="negative"
            @click="hide"
            icon="close"
            round
          ></app-btn>
        </div>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <form @submit.prevent="saveCategory">
          <div>
            <q-input
              outlined
              dense
              label="Наименование"
              v-model="category_.title"
              class="q-mb-md"
            />
            <q-input
              outlined
              dense
              type="textarea"
              label="Описание"
              v-model="category_.desc"
              rows="3"
              class="q-mb-md"
            />
          </div>
          <app-btn
            color="primary"
            type="submit"
            class="full-width"
            label="Сохранить изменения"
          />
        </form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    name: String,
    category: Object
  },
  created() {
    this.category_ = { ...this.category };
  },
  data() {
    return {
      category_: null
    };
  },
  methods: {
    show() {
      this.$refs[this.name].show();
    },
    hide() {
      this.$refs[this.name].hide();
    },
    saveCategory() {
      this.$emit("ok", this.category_);
      this.hide();
    }
  }
};
</script>

<style></style>
