<template>
  <div class="wh-categories" style="position:relative">
    <!-- <q-card> -->
    <div v-if="!$q.screen.sm && !$q.screen.xs">
      <div class="wh-categories__tree bg-white" style="position: relative;">
        <with-loading :state="loading" />
        <q-tree
          acc
          dense
          :nodes="[
            {
              title: 'Все категории',
              id: null
            },
            ...categories
          ]"
          node-key="id"
          label-key="title"
          children-key="folders"
          selected-color="white"
          :selected.sync="catrgory_id"
        >
          <template #default-header="data">
            <div class="full-width flex-center-between">
              {{ data.node.title }}
              <div>
                <!-- @click.stop="createNewCategory(data.node.id)" -->
                <q-btn
                  v-if="!!data.node.id"
                  icon="more_vert"
                  size="7px"
                  dense
                  unelevated
                  @click.stop
                  class="bg-grey-2"
                >
                  <q-menu>
                    <q-list>
                      <q-item-label header>
                        {{ data.node.title }}:
                      </q-item-label>
                      <q-item
                        v-close-popup
                        @click.stop="createCategory(data.node)"
                        clickable
                      >
                        <q-item-section>
                          Создать вложенную категорию
                        </q-item-section>
                      </q-item>
                      <q-item
                        @click.stop="initEditCategory(data.node.id)"
                        clickable
                        v-close-popup
                      >
                        <q-item-section>Изменить</q-item-section>
                      </q-item>
                      <q-item
                        class="text-negative"
                        @click.stop="deleteCategory(data.node.id)"
                        clickable
                        v-close-popup
                      >
                        <q-item-section>Удалить</q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </q-btn>
              </div>
            </div>
          </template>
        </q-tree>
        <!-- default-expand-all -->
      </div>
      <q-btn
        @click="createCategory(null)"
        size="13px"
        icon="add"
        class="q-mt-md full-width"
        flat
      >
        &nbsp;&nbsp;Новая категория
      </q-btn>
    </div>
    <div v-else>
      <q-btn label="Категории" class="full-width">
        <q-badge v-if="full_category" floating>
          {{ full_category.title }}
        </q-badge>
        <q-menu fit>
          <div
            class="wh-categories__tree bg-white"
            style="position: relative;border:none;height:auto;"
          >
            <with-loading :state="loading" />
            <q-tree
              acc
              dense
              :nodes="[
                {
                  title: 'Все категории',
                  id: null
                },
                ...categories
              ]"
              node-key="id"
              label-key="title"
              children-key="folders"
              selected-color="white"
              :selected.sync="catrgory_id"
            >
              <template #default-header="data">
                <div class="full-width flex-center-between">
                  {{ data.node.title }}
                  <div>
                    <!-- @click.stop="createNewCategory(data.node.id)" -->
                    <q-btn
                      v-if="!!data.node.id"
                      icon="more_vert"
                      size="7px"
                      dense
                      unelevated
                      @click.stop
                      class="bg-grey-2"
                    >
                      <q-menu>
                        <q-list>
                          <q-item-label header>
                            {{ data.node.title }}:
                          </q-item-label>
                          <q-item
                            v-close-popup
                            @click.stop="createCategory(data.node)"
                            clickable
                          >
                            <q-item-section>
                              Создать вложенную категорию
                            </q-item-section>
                          </q-item>
                          <q-item
                            @click.stop="initEditCategory(data.node.id)"
                            clickable
                            v-close-popup
                          >
                            <q-item-section>Изменить</q-item-section>
                          </q-item>
                          <q-item
                            class="text-negative"
                            @click.stop="deleteCategory(data.node.id)"
                            clickable
                            v-close-popup
                          >
                            <q-item-section>Удалить</q-item-section>
                          </q-item>
                        </q-list>
                      </q-menu>
                    </q-btn>
                  </div>
                </div>
              </template>
            </q-tree>
            <!-- default-expand-all -->
          </div>
          <q-separator />
          <q-btn
            @click="createCategory(null)"
            icon="add"
            class="full-width q-py-sm"
            flat
          >
            &nbsp;&nbsp;Новая категория
          </q-btn>
        </q-menu>
      </q-btn>
    </div>
    <!-- </q-card> -->
  </div>
</template>

<script>
const recursivlyFindTarget = (list, target_id) => {
  let category;

  [...list].some(
    currentItem =>
      (category =
        currentItem.id === target_id
          ? currentItem
          : currentItem.folders &&
            recursivlyFindTarget(currentItem.folders, target_id)) || null
  );

  return category;
};

export default {
  props: {
    preselect: null
  },
  mounted() {
    this.getCategories();
    if (this.preselect) this.catrgory_id = this.preselect;
  },
  data() {
    return {
      catrgory_id: null,
      categories: [],
      loading: false,
      new_category: {
        category_title: "",
        category_description: ""
      },
      editable_category: {
        title: null,
        desc: null
      }
    };
  },
  watch: {
    catrgory_id(cat) {
      this.$emit("change", this.full_category);
    }
  },
  computed: {
    full_category() {
      if (this.categories && this.catrgory_id) {
        return recursivlyFindTarget(this.categories, this.catrgory_id);
      } else {
        return null;
      }
    }
  },
  methods: {
    getCategories() {
      this.loading = true;

      this.$api
        .get(`/warehouse/get_tree`)
        .then(
          ({
            data: {
              category_tree: { folders }
            }
          }) => {
            this.categories = folders;
          }
        )
        .catch(e => {
          this.$alert({
            level: "warning",
            title:
              (e && e.response && e.response.data && e.response.data.message) ||
              "Не удалось загрузить категории",
            errors: e && e.response && e.response.data && e.response.data.errors
          });
        })
        .then(() => {
          this.loading = false;
        });
    },

    // ? REFACTOR START

    createCategory(parent = null) {
      this.$q
        .dialog({
          component: () => import("./CreateCategory.vue"),
          name: "create-category",
          title: `Создать новую ${
            parent && parent.title ? "вложенную" : ""
          } категорию`
          // category_parent
        })
        .onOk(
          async ({
            title: category_title,
            description: category_description
          }) => {
            await this.saveNewCategory({
              category_title,
              category_description,
              category_parent: (parent && parent.id) || 0
            });

            this.$message({
              title: "Категория создана",
              level: "success"
            });
          }
        );
    },

    saveNewCategory(category) {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;
          await this.$api.post(`/warehouse/categories`, category);

          this.getCategories();
          done();
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage: "Не удалось сохранить изменения"
          });
        } finally {
          this.loading = false;
        }
      });
    },

    // * DONE:
    initEditCategory(category_id) {
      let category = recursivlyFindTarget(this.categories, category_id);
      if (!category) return;

      this.$q
        .dialog({
          component: () => import("./EditCategory.vue"),
          title: "Edit Category",
          category,
          name: "edit-category"
        })
        .onOk(async data => {
          await this.saveCategory(data);
          this.$message({ level: "success", title: "Изменения сохранены" });
        });
    },
    async saveCategory({
      id: category_id,
      title: category_title,
      desc: category_description
    }) {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;

          await this.$api({
            url: `/warehouse/categories`,
            method: "PUT",
            data: {
              category_id,
              category_title,
              category_description
            }
          });
          this.getCategories();

          done();
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage: "Не удалось сохранить изменения"
          });
          fail(e);
        } finally {
          this.loading = false;
        }
      });
    },
    async deleteCategory(category_id = this.category_id) {
      let c = await this.$confirm({
        title: `Удалить категорию  ?`,
        width: 420,
        level: "danger"
      });

      if (!c) return false;

      try {
        this.loading = true;

        await this.$api({
          url: `/warehouse/categories`,
          method: "DELETE",
          data: { category_id }
        });

        this.$message({
          title: "Категория удалена",
          level: "success"
        });

        this.getCategories();
        this.catrgory_id = null;
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Не удалось сохранить изменения"
        });
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style lang="scss">
.wh-categories {
  // height: 100%;

  &__tree {
    border: 1px solid #ddd;
    height: 330px;
    overflow-y: scroll;
    padding: 7px;
    border-radius: 3px;

    .q-tree__node {
      font-size: 13px;
      font-weight: 600;
    }

    .q-tree__node--selected {
      background-color: $primary;

      .q-tree__arrow {
        color: #fff;
      }

      .q-btn {
        .q-icon {
          color: $primary;
        }
      }
    }
  }
}
</style>
