<template>
  <q-dialog
    :position="$q.screen.xs ? 'bottom' : 'standard'"
    ref="change-address"
  >
    <q-card class="relative-position">
      <with-loading :state="loading.modal" />
      <q-card-section>
        <div class="flex-center-between">
          <h5 class="q-ma-none">Изменить адрес назначения</h5>
          <app-btn
            round
            icon="close"
            color="negative"
            dense
            flat
            @click="hide"
          ></app-btn>
        </div>
      </q-card-section>
      <q-separator></q-separator>
      <form @submit.prevent="submitNewAddress" class="modal__content-group">
        <q-card-section class="">
          <div class="row q-col-gutter-md">
            <div class="col-6">
              <q-select
                label="Страна"
                outlined
                dense
                v-model="current_parcel.parcel_country"
                class="q-mb-sm"
                :options="countries"
                :option-value="opt => opt && `${opt.code} - ${opt.label}`"
                option-label="label"
                emit-value
                @input="getStates"
                :loading="loading.countries"
                transition-show="jump-down"
                transition-hide="jump-up"
              >
              </q-select>
            </div>
            <div class="col-6">
              <q-select
                label="Штат"
                outlined
                dense
                v-model="current_parcel.parcel_state"
                :options="states"
                :option-value="opt => opt && opt.code"
                option-label="label"
                emit-value
                :disable="!states || !states.length"
                transition-show="jump-down"
                transition-hide="jump-up"
              />
            </div>

            <div class="col-6">
              <q-input
                outlined
                dense
                v-model="current_parcel.parcel_zip"
                :error="$v.current_parcel.parcel_zip.$anyError"
                label="Индекс"
              />
            </div>
            <div class="col-6">
              <q-input
                outlined
                dense
                v-model="current_parcel.parcel_city"
                :error="$v.current_parcel.parcel_city.$anyError"
                label="Город"
              />
            </div>

            <div class="col-12">
              <q-input
                outlined
                dense
                v-model="current_parcel.parcel_address"
                :error="$v.current_parcel.parcel_address.$anyError"
                label="Улица"
              />
            </div>

            <div class="col-6">
              <q-input
                outlined
                dense
                :error="$v.current_parcel.parcel_receiver.$anyError"
                v-model="current_parcel.parcel_receiver"
                label="Получатель"
              />
            </div>
            <div class="col-6">
              <q-input
                outlined
                dense
                v-model="current_parcel.parcel_phone"
                :error="$v.current_parcel.parcel_phone.$anyError"
                label="Номер телефона"
              />
            </div>

            <div class="col-6">
              <q-input
                outlined
                dense
                v-model="current_parcel.email"
                label="Email"
              />
            </div>
            <div class="col-6">
              <q-input
                outlined
                dense
                v-model="current_parcel.parcel_company"
                label="Компания"
              />
            </div>
          </div>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <div class="flex-center-between">
            <div v-show="$q.screen.xs"></div>
            <app-btn @click="hide" label="Отмена" flat></app-btn>
            <app-btn
              type="submit"
              class="q-px-md "
              color="primary"
              label="Подтвердить"
            />
          </div>
        </q-card-section>
      </form>
    </q-card>
  </q-dialog>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";

export default {
  props: {
    parcel: Object,
    shipmentId: Number
  },
  async mounted() {
    this.countries = this.normalizeOptions(
      await this.$store.dispatch("Info/GET_COUNTRIES")
    );
    this.getStates();
  },
  data() {
    return {
      current_parcel: { ...this.parcel },
      loading: {
        modal: false,
        countries: false
      },
      states: null,
      countries: null
    };
  },
  methods: {
    show() {
      this.$refs["change-address"].show();
    },
    hide() {
      this.$refs["change-address"].hide();
    },
    async submitNewAddress() {
      let address_data = this.$v.current_parcel;

      address_data.$touch();

      if (address_data.$anyError) {
        this.$message({
          level: "warning",
          title: "Заполните обязательные поля"
        });
        return;
      }

      let c = await this.$confirm({
        title:
          "Действительно хотите изменить адрес назначения для данной посылки ?"
      });

      if (!c) return;

      let {
        parcel_receiver: name,
        parcel_country: country,
        parcel_state: state = null,
        parcel_company: company,
        parcel_city: city,
        parcel_address: street,
        parcel_zip: zip,
        parcel_phone: phone
      } = this.current_parcel;

      const new_address = {
        name,
        country,
        state,
        company,
        city,
        street,
        zip,
        phone
      };

      try {
        this.loading.modal = true;

        const { data: types } = await this.$api.post(
          `/v2/shipping/shipments/${this.shipmentId}/get-carriers`,
          {
            address: {
              ...new_address
            }
          }
        );

        // ? SHOW CARRIERS

        this.$q
          .dialog({
            component: () => import("@/components/TypesModal/dialog.vue"),
            parent: this,
            types
          })
          .onOk(({ service_id, insurance }) => {
            console.log("insurance:", insurance);
            console.log("service_id:", service_id);
            // ? CONFIRM CARRIER

            this.submitNewCarrier({
              new_address,
              service_id,
              insurance
            });
          });

        return;
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить тарифы"
        });
      }
      // finally {
      //   this.loading.modal = false;
      // }
    },
    async submitNewCarrier({ new_address, service_id, insurance }) {
      try {
        await this.$api.put(
          `/v2/shipping/shipments/${this.shipmentId}/update-address`,
          {
            address: new_address,
            service_id,
            ...(insurance &&
              insurance.id && {
                additional_services: {
                  insurance: {
                    id: insurance.id
                  }
                }
              })
          }
        );

        this.$message({
          level: "success",
          title: "Адрес назначения изменён"
        });

        this.$emit("ok");

        this.hide();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Не удалось сохранить изменения"
        });
      } finally {
        this.loading.modal = false;
      }
    },
    normalizeOptions(opt) {
      return Object.entries(opt).map(([code, label]) => ({ code, label }));
    },
    async getStates(country) {
      this.states = this.normalizeOptions(
        await this.$store.dispatch(
          "Info/GET_STATES",
          this.current_parcel.parcel_country
        )
      );
    }
  },
  validations() {
    return {
      current_parcel: {
        parcel_receiver: {
          required
        },
        parcel_country: {
          required
        },
        parcel_state: {
          required: requiredIf(function() {
            return ["US", "CA", "AU"].includes(
              this.current_parcel.parcel_country
            );
          })
        },
        parcel_city: {
          required
        },
        parcel_address: {
          required
        },
        parcel_zip: {
          required
        },
        parcel_phone: {
          required
        }
        // parcel_company: {
        //   required
        // },
      }
    };
  }
};
</script>
