<template>
  <div
    class="shipment relative bg-white"
    :class="[
      checked && 'shipment--checked',
      ship.is_new && 'shipment--new',
      loading && 'shipment--loading'
    ]"
    transition-hide="fade"
  >
    <with-loading :state="loading || internal_loading" />

    <div class="flex justify-between q-px-md q-py-sm">
      <div
        class="flex items-center no-wrap "
        :class="$q.screen.xs ? 'q-ml-none' : 'q-mr-lg'"
      >
        <q-checkbox @input="checkShipment" v-model="checked" />

        <q-chip
          :square="false"
          :class="[getTypeColor(ship.type_code), 'text-weight-bold']"
        >
          <!-- clickable -->
          {{ ship.type }}
        </q-chip>
        <q-chip
          :square="false"
          :class="[getStatusColor(ship.status_code), 'text-weight-bold']"
        >
          {{ ship.status }}
        </q-chip>
      </div>
      <div
        :class="$q.screen.xs && 'full-width'"
        class="flex items-center justify-end"
      >
        <div
          class="flex items-center q-mr-lg q-gutter-x-lg"
          v-show="!$q.screen.xs && !$q.screen.sm && !$q.screen.md"
        >
          <div class="flex items-center">
            <span class="q-mr-sm text-grey-7">Создана</span>
            <!-- <q-icon size="xs" name="today" class="q-mr-xs" /> -->
            <b>{{ ship.date }}</b>
          </div>
          <div class="flex items-center">
            <span class="q-mr-sm text-grey-7">Стоимость</span>
            <!-- <q-icon size="xs" name="payments" class="q-mr-xs" /> -->
            <b>{{ $toUSD(ship.cost) }}</b>
            <span v-if="ship.cost_national !== undefined">
              &nbsp;
              <sup>
                <small class="text-muted">
                  {{ $toRUB(ship.cost_national) }}
                </small>
              </sup>
            </span>
          </div>
          <div class="flex items-center">
            <span class="q-mr-sm text-grey-7">Вес</span>
            <!-- <q-icon size="xs" name="ion-calendar" class="q-mr-xs" /> -->
            <b>{{ ship.weight }} кг</b>
          </div>
        </div>

        <!-- <div> -->
        <q-btn-dropdown
          color="accent"
          dropdown-icon="more_horiz"
          size="12px"
          class="q-ml-sm"
          :class="$q.screen.xs && 'q-my-sm  block full-width bg-red-1 text-red'"
          :label="$q.screen.xs ? 'Отправка' : null"
        >
          <!-- size="10px" -->
          <!-- label="Отправка" -->
          <q-list>
            <q-item
              @click="$openURL(`/cdek/create?shipments=${ship.id}`)"
              clickable
              v-if="
                ship.status_code === 'customer_created' &&
                  ship.type_code !== 'direct_from_sender'
              "
            >
              <q-item-section>
                <div class="no-wrap">
                  Отправить с помощью
                  <span style="font-weight:500" class="text-green-7">
                    СДЭК
                  </span>
                </div>
              </q-item-section>
              <q-item-section side>
                <q-icon size="14px" name="open_in_new"></q-icon>
              </q-item-section>
            </q-item>
            <div v-if="ship.type_code === 'svh'">
              <q-item clickable v-close-popup @click="getStickers">
                <q-item-section>
                  <q-item-label>
                    Печать стикеров
                    <small class="text-muted">(для склада)</small>
                  </q-item-label>
                  <!-- <q-item-label caption>(для склада)</q-item-label> -->
                </q-item-section>
              </q-item>
            </div>

            <q-item
              v-show="
                ship.parcels[0].parcel_track_destination &&
                  ship.parcels[0].parcel_country === 'US' &&
                  (ship.type_code === 'consolidation' ||
                    ship.type_code === 'consolidation_usa' ||
                    ship.type_code === 'usa_domestic' ||
                    ship.type_code === 'direct')
              "
              clickable
              :to="`/shipments/create?return_id=${ship.id}`"
            >
              <q-item-section>
                <q-item-label>
                  Возвратная Label
                </q-item-label>
              </q-item-section>
            </q-item>

            <div v-if="ship.type_code == 'return_label'">
              <q-item
                clickable
                v-close-popup
                v-if="!ship.parcels[0].parcel_track_destination"
                @click="getReturnLabel"
                :disable="!!ship.parcels[0].parcel_warning"
              >
                <q-item-section>
                  <q-item-label>
                    Запустить создание возвратной лейбы
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                v-close-popup
                @click="getShipmentDocuments()"
                v-else
                :disable="!!ship.parcels[0].parcel_warning"
              >
                <q-item-section>
                  <q-item-label>
                    Получить документы
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>

            <div
              v-if="
                ['consolidation', 'consolidation_usa'].includes(ship.type_code)
              "
            >
              <div v-if="hasDestinationOnly">
                <q-item
                  clickable
                  v-close-popup
                  @click="handleDocs('load', ship.id, 'label')"
                >
                  <q-item-section>
                    <q-item-label>
                      Загрузить документы
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>

            <q-item
              v-if="
                $store.getters['auth/customer_vars'] &&
                  (($store.getters['auth/customer_vars'].CUSTOMER_USPS_ENABLE &&
                    $store.getters['auth/customer_vars']
                      .CUSTOMER_USPS_ENABLE === '1') ||
                    ($store.getters['auth/customer_vars'].CUSTOMER_DHL_ENABLE &&
                      $store.getters['auth/customer_vars']
                        .CUSTOMER_DHL_ENABLE === '1'))
              "
              :disable="!ship.parcels[0].parcel_track_destination"
              v-close-popup
              clickable
              @click="getShipmentDocuments()"
            >
              <q-item-section>
                <q-item-label>
                  Скачать документы
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-separator />

            <q-item
              @click="changeAddress"
              clickable
              v-ripple
              v-close-popup
              :disable="!ship.parcels[0].is_address_editable"
            >
              <q-item-section>
                <q-item-label class="flex-center-between">
                  Изменить адрес
                  <q-icon
                    v-show="!ship.parcels[0].is_address_editable"
                    name="lock"
                    class="q-ml-md"
                  />
                </q-item-label>
              </q-item-section>
            </q-item>

            <q-item v-if="false" clickable @click="getShipmentDocuments()">
              <q-item-section>
                <q-item-label>
                  Скачать документы
                </q-item-label>
              </q-item-section>
            </q-item>

            <!-- <q-item
              @click="getStickers"
              clickable
              v-ripple
              v-close-popup
              v-if="ship.status_code === 'customer_created'"
            >
              <q-item-section>
                <q-item-label class="flex-center-between">
                  Печать стикеров
                </q-item-label>
              </q-item-section>
            </q-item> -->

            <q-item
              clickable
              v-close-popup
              @click="delShipment"
              :disable="!ableToDelete()"
            >
              <q-item-section>
                <q-item-label class="text-negative flex-center-between">
                  Удалить отправку
                  <q-icon
                    v-show="!ableToDelete()"
                    class="q-ml-md"
                    name="lock"
                  />
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
        <!-- </div> -->
      </div>
      <div
        class="flex full-width q-mt-sm"
        v-show="$q.screen.xs || $q.screen.sm || $q.screen.md"
        :class="
          $q.screen.xs ? 'column items-start' : 'items-center justify-between '
        "
      >
        <div
          class="flex items-center"
          :class="$q.screen.xs && 'justify-between'"
        >
          <span class="q-mr-sm text-grey-7">Создана</span>
          <!-- <q-icon size="xs" name="today" class="q-mr-xs" /> -->
          <b>{{ ship.date }}</b>
        </div>
        <div
          class="flex items-center"
          :class="$q.screen.xs && 'justify-between'"
        >
          <span class="q-mr-sm text-grey-7">Стоимость</span>
          <!-- <q-icon size="xs" name="payments" class="q-mr-xs" /> -->
          <b>{{ $toUSD(ship.cost) }}</b>
          <span v-if="ship.cost_national !== undefined">
            &nbsp;
            <sup>
              <small class="text-muted">
                {{ $toRUB(ship.cost_national) }}
              </small>
            </sup>
          </span>
        </div>
        <div
          class="flex items-center"
          :class="$q.screen.xs && 'justify-between'"
        >
          <span class="q-mr-sm text-grey-7">Вес</span>
          <!-- <q-icon size="xs" name="ion-calendar" class="q-mr-xs" /> -->
          <b>{{ ship.weight }} кг</b>
        </div>
      </div>
    </div>

    <q-separator />

    <div
      class="q-px-lg q-py-md"
      v-if="ship.status_code === 'customer_created' || ship.track_ua"
      v-show="ship.type_code !== 'return_label'"
    >
      <div v-if="ship.status_code === 'customer_created'">
        <div class="row q-col-gutter-md">
          <div class="col col-xs-12">
            <q-input
              dense
              outlined
              v-model="new_track"
              label="Трек-номер или номер ТТН"
              style="flex-shrink: 0; flex-grow: 1"
              size="sm"
            >
              <template #append>
                <app-btn
                  label="Внести трек-номер"
                  @click="addNewTrack"
                  :disable="!new_track || !new_track.length"
                  :flat="!new_track || !new_track.length"
                  class="text-weight-bold"
                  color="primary"
                  size="12px"
                />
              </template>
            </q-input>
          </div>
          <!-- <div class="col-auto col-xs-12">
            
          </div> -->
        </div>
      </div>
      <div v-else-if="ship.track_ua">
        <q-input
          v-model="ship.track_ua"
          dense
          outlined
          label="Трек-номер"
          readonly
        />
        <!-- <div v-if="ship.track_ua" class="form-group form-group--horizontal">
          <label for>Трек-номер</label>
          <input v-model="ship.track_ua" readonly type="text" />
        </div> -->
      </div>
    </div>

    <div
      class="shipment__parcels flex-center-between no-wrap"
      v-if="ship.parcels && ship.parcels[0]"
    >
      <ShipmentParcel
        :key="ship.parcels[0].parcel_id"
        :is-new="ship.is_new || false"
        :parcel="ship.parcels[0]"
        @change-address="parcel => $emit('parcel-change-address', parcel)"
        @set-loading="loading => (internal_loading = loading)"
        @get-doc="isSticker => getShipmentDocuments(isSticker)"
        :shipment-id="ship.id"
      ></ShipmentParcel>
    </div>
  </div>
</template>

<script>
import ShipmentParcel from "./Parcel/index";

const TYPES_COLORS_MAP = {
  consolidation: "bg-blue-9 text-white",
  consolidation_usa: "bg-orange-9 text-white",
  usa_domestic: "bg-cyan-8 text-white",
  svh: "bg-green-8 text-white",
  direct: "bg-red-8 text-white",
  agent_shipping: "bg-indigo-7 text-white",
  client_bulk: "bg-deep-purple text-white",
  return_label: "bg-blue text-white",
  consolidated_from_sender: "bg-deep-orange-6 text-white",
  direct_from_sender: "bg-red-1 text-red"
};

const STATUSES_COLORS_MAP = {
  customer_created: "bg-blue-2 text-blue-9",
  customer_sent: "bg-light-green-2 text-light-green-9",
  delivered: "bg-green-2 text-green-9",
  frozen: "bg-red-2 text-red-9",
  in_svh: "bg-brown-2 text-brown-9",
  in_transit_warehouse: "bg-indigo-grey-2 text-indigo-grey-9",
  in_ua_warehouse: "bg-deep-purple-2 text-deep-purple-9",
  svh_process: "bg-cyan-2 text-cyan-9",
  transit_ua_buyer: "bg-orange-2 text-orange-9",
  transit_ua_usa: "bg-orange-2 text-orange-9",
  transit_usa_buyer: "bg-orange-2 text-orange-9",
  transit_buyer_usa: "bg-orange-2 text-orange-9",
  addr_change_complete: "bg-light-green-2 text-light-green-9",
  customer_returned: "bg-blue-2 text-blue-9",
  customer_sent_back: "bg-light-green-2 text-light-green-9",
  full_from_np: "bg-purple-2 text-purple-9",
  leave_usa: "bg-indigo-2 text-indigo-9",
  partially_from_np: "bg-purple-2 text-purple-9",
  prepare_addr_change: "bg-amber-2 text-amber-9",
  return_processed: "bg-cyan-2 text-cyan-9"
};

export default {
  name: "ShippingItem",
  components: {
    ShipmentParcel
  },
  props: {
    ship: Object,
    stickerFormat: String,
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      new_track: null,
      internal_loading: this.loading || false,
      checked: false
    };
  },
  computed: {
    hasDestinationOnly() {
      let res = this.ship.parcels.filter(
        p => p.parcel_track_destination && p.parcel_track_destination.length
      );
      return !!res.length;
    }
  },
  methods: {
    getTypeColor(type) {
      return TYPES_COLORS_MAP[type];
    },
    getStatusColor(status) {
      return STATUSES_COLORS_MAP[status];
    },
    addNewTrack() {
      const AlphaNumeric = val => {
        return val.replace(/[^a-z0-9]/gi, "");
      };

      let data = {
        shipment_id: this.ship.id,
        track: AlphaNumeric(this.new_track.toString().trim())
      };

      this.internal_loading = true;

      this.$api
        .post(`/shipping/shipment/add_track`, data)
        .then(({ data }) => {
          this.$message(
            {
              title: "ТТН добавлен",
              level: "success"
            },
            1000
          );
          this.$emit("on-add-new-track");
        })
        .catch(e => {
          let {
            message: title = "Не удалось сохранить изменения",
            errors
          } = this.$parseApiError(e);

          this.$alert({
            level: "danger",
            title,
            errors
          });
        })
        .then(() => {
          this.internal_loading = false;
        });
    },
    async handleDocs(action, id, doctype = null) {
      if (!doctype) throw new RangeError("no doctype arg @Shipment.vue:487");

      let route,
        request_settings = {
          headers: {
            "Content-Type": "application/json",
            "Content-Disposition": "inline"
          }
        };

      if (doctype === "label") {
        route = `/shipping/label/by_shipment`;
        request_settings.responseType = "arraybuffer";
      }
      if (doctype === "proforma") {
        route = `/shipping/shipment/proforma`;
      }

      const { data } = await this.$api.get(`${route}/${id}`, request_settings);

      this.$modal.show(
        () => import("@/components/_ui/DocumentViewer"),
        {
          document: data,
          filename: `${doctype}-${new Date().getTime()}`
        },
        {
          height: "auto",
          width: 1000,
          name: "doc-view"
          // clickToClose: false
        }
      );
    },
    async delShipment() {
      let c = await this.$confirm({
        level: "danger",
        title: "Отправка будет удалена.",
        message: "Это действие нельзя отменить. Продолжить ?"
        // closeText: "Вернуться",
        // nextText: "Удалить"
      });

      if (!c) return false;
      this.internal_loading = true;

      try {
        const success = await this.$store.dispatch(
          "Shipments/SHIPMENT_REMOVE",
          this.ship.id
        );
        // this.getShipments();
        this.$message({
          level: "success",
          title: "Отправка удалена"
        });
      } catch (e) {
        console.log("e:", e);
        this.$alert({
          level: "danger",
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось удалить посылку",
          errors:
            (e && e.response && e.response.data && e.response.data.errors) ||
            null
        });
      } finally {
        this.internal_loading = false;
      }
    },
    ableToDelete() {
      if (
        this.ship.type_code === "return_label" &&
        !this.ship.parcels[0].parcel_track_destination
      ) {
        return true;
      }

      let noParcelsWithTrack = !this.ship.parcels.find(
        p => p.parcel_track_destination || p.parcel_track_transit
      );

      if (noParcelsWithTrack) {
        if (
          this.ship.type_code === "consolidation" ||
          this.ship.type_code === "consolidation_usa" ||
          this.ship.type_code === "direct" ||
          // this.ship.type_code === "svh" ||
          this.ship.type_code === "direct_usa_less_1kg" ||
          this.ship.type_code === "client_bulk"
        ) {
          return (
            this.ship.status_code === "customer_created" ||
            this.ship.status_code === "customer_sent"
          );
        }
        if (this.ship.type_code === "usa_domestic") {
          return this.ship.status_code === "svh_process";
        }
        return false;
      } else {
        if (this.ship.type_code === "svh") {
          return (
            this.ship.status_code === "customer_created" ||
            this.ship.status_code === "customer_sent"
          );
        }

        return false;
      }
    },
    getStickers() {
      this.$emit("get-stickers", this.ship.id);
    },
    getReturnLabel() {
      this.$emit("get-return-label", this.ship.id);
    },
    checkShipment(checked, event) {
      this.$store.commit("Shipments/UPADTE_CHECKED", {
        shipment: this.ship,
        checked
      });
    },
    changeAddress() {
      this.$q
        .dialog({
          component: () => import("./ChangeAddressDialog.vue"),
          parcel: this.ship.parcels[0],
          shipmentId: this.ship.id,
          parent: this
        })
        .onDismiss(() => {
          this.$emit("update");
        });
    },
    async getShipmentDocuments(sticker = false) {
      let filetype = sticker ? "sticker" : "label";

      this.internal_loading = true;
      try {
        let { data: file } = await this.$api.get(
          `/v2/shipping/shipments/${this.ship.id}/get-${filetype}`,
          {
            responseType: "arraybuffer"
          }
        );

        try {
          this.$downloadFile(filetype + new Date().getTime() + ".pdf", file);
        } catch (e) {
          console.log(e);

          this.$alert({
            title: "Не удалось получить документы",
            message: (e && e.toString()) || null
          });
        } finally {
          this.internal_loading = false;
        }
      } catch (e) {
        console.log("e:", e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить документы"
        });
      } finally {
        this.internal_loading = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.shipment {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgba(9, 9, 16, var(--text-opacity)) !important;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box;
  position: relative !important;
  transition: border-color ease 0.21s, background-color ease 0.21s,
    box-shadow ease 0.21s;
  overflow: hidden;

  &__parcels {
    // padding: 21px 14px;
    width: 100%;
    border-radius: 0 0 3px 3px;
  }

  &--checked {
    border: 1px solid $primary;
    box-shadow: 0 0 0px 4px rgba($primary, 0.35);
    background-color: rgba($primary, 0.042) !important;
  }

  .q-chip {
    font-size: 13px;
  }

  &:before {
    display: none;
  }

  &--loading {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#fff, 0.7);
      z-index: 3;
    }
  }
}
</style>
