<template>
  <PageContainer :title="`Интеграция ${$capitalize(platform)}`">
    <div class="container">
      <component :is="platform" />
    </div>
  </PageContainer>
</template>

<script>
import * as Platforms from "./Platforms/";

export default {
  beforeRouteEnter(to, from, next) {
    const avaliable_platforms = ["etsy", "amazon", "shopify", "ebay", "other"];
    if (avaliable_platforms.includes(to.params.platform)) {
      next();
    } else {
      next({ name: "404" });
    }
  },
  components: {
    ...Platforms
  },
  mounted() {},
  data() {
    return {
      //   platform: this.$route.params.platform
    };
  },
  computed: {
    platform() {
      return this.$route.params.platform;
    }
  }
};
</script>

<style></style>
