<template>
  <div
    class="app-list"
    :style="[minWidth && `width:100%;overflow-x:scroll`]"
    :class="[bordered && 'app-list--bordered', rounded && 'rounded-borders']"
  >
    <q-list
      :separator="separator"
      :class="[white && 'bg-white', ...extraClasses]"
      :style="!empty && minWidth && `min-width: ${minWidth}px`"
    >
      <with-loading :state="loading" />

      <q-item-label
        style="font-size:12px"
        header
        v-if="header"
        class="relative-position"
      >
        <span style="position:sticky;left:16px;top:0">
          {{ header }}
        </span>
      </q-item-label>

      <q-item v-if="empty">
        <q-item-section>
          <q-item-label class="relative-position">
            <small class="text-muted" style="position:sticky;left:16px;top:0">
              {{ empty }}
            </small>
          </q-item-label>
        </q-item-section>
      </q-item>

      <slot />
    </q-list>
    <div
      :style="minWidth && `position:sticky;left:0;bottom:0`"
      v-if="$slots && $slots['summary']"
    >
      <q-separator />
      <slot name="summary" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    empty: [Boolean, String],
    loading: [Boolean, String],
    white: {
      type: Boolean
    },
    bordered: {
      type: Boolean,
      default: true
    },
    separator: {
      type: Boolean,
      default: true
    },
    rounded: {
      type: Boolean,
      default: true
    },
    extraClasses: {
      type: Array
    },
    header: {
      type: String
    },
    minWidth: { type: Number }
  }
};
</script>

<style lang="scss">
.app-list {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $grey-2;
  }

  &::-webkit-scrollbar-thumb {
    // border-radius: 0 0 3px 3px;
    background-color: $grey-4;
  }

  overflow-x: scroll;

  &--bordered {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
}
</style>
