<template>
  <PageContainer title="Каталог кодов">
    <div class="container">
      {{ code }}

      <customs-codes static no-select mode="async" />
    </div>
  </PageContainer>
</template>

<script>
export default {
  data() {
    return {
      code: null
    };
  },
  methods: {
    handleCode(code) {
      this.code = code;
    }
  }
};
</script>
