<template>
  <q-dialog :maximized="$q.screen.xs || false" ref="create-dialog">
    <q-card>
      <with-loading :state="loading" />

      <q-card-section>
        <h5 class="q-ma-none">Создать товар</h5>
      </q-card-section>

      <q-separator></q-separator>

      <q-card-section>
        <q-input
          outlined
          dense
          label="Наименование"
          :error="$v.new_product.product_title.$error"
          v-model="new_product.product_title"
          class="full-width q-mb-lg"
          hide-bottom-space
        />

        <q-input
          outlined
          dense
          label="Наименование (eng)"
          :error="$v.new_product.product_title_customs_eng.$error"
          v-model="new_product.product_title_customs_eng"
          class="full-width q-mb-sm"
          hide-bottom-space
          placeholder="Описание товара для таможни на английском языке"
        />
        <q-input
          outlined
          dense
          label="Наименование (RU)"
          :error="$v.new_product.product_title_customs_ua.$error"
          v-model="new_product.product_title_customs_ua"
          class="full-width q-mb-sm"
          hide-bottom-space
          placeholder="Описание товара для таможни на русском языке"
        />

        <customs-codes class="q-my-lg" @select="handleCustomsCode" />

        <div class="row q-mb-sm q-col-gutter-md">
          <div class="col-4 flex">
            <q-input
              outlined
              dense
              label="Код товара"
              :error="$v.new_product.product_code.$error"
              v-model="new_product.product_code"
              :prefix="`(${next_code})`"
            >
            </q-input>
          </div>

          <div class="col-4">
            <q-input
              outlined
              dense
              label="Стоимость"
              :error="$v.new_product.product_cost.$error"
              v-model.number="new_product.product_cost"
              suffix="USD"
              placeholder="Формат: 12.34"
            />
          </div>
        </div>
        <div class="row q-col-gutter-md">
          <div class="col-3">
            <q-input
              outlined
              dense
              :error="$v.new_product.product_length.$error"
              v-model.number="new_product.product_length"
              label="Длина"
              suffix="cm"
              hide-bottom-space
            />
          </div>
          <div class="col-3">
            <q-input
              outlined
              dense
              :error="$v.new_product.product_width.$error"
              v-model.number="new_product.product_width"
              label="Ширина"
              suffix="cm"
              hide-bottom-space
            />
          </div>
          <div class="col-3">
            <q-input
              outlined
              dense
              :error="$v.new_product.product_height.$error"
              v-model.number="new_product.product_height"
              label="Высота"
              suffix="cm"
              hide-bottom-space
            />
          </div>
          <div class="col-3">
            <q-input
              :error="$v.new_product.product_weight.$error"
              outlined
              dense
              v-model.number="new_product.product_weight"
              label="Вес, кг"
              hide-bottom-space
              suffix="kg"
              hint="например: 0.4"
            />
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <product-media @change="handleImages" />
      </q-card-section>
      <q-separator></q-separator>

      <q-card-section>
        <div class="flex-center-between">
          <app-btn label="Отмена" flat @click="hide" />
          <app-btn label="Создать" @click="submitNewProduct" color="primary" />
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";

import ProductMedia from "./ProductMedia.vue";

export default {
  components: {
    "product-media": ProductMedia
  },
  props: { category: Object },
  data() {
    return {
      loading: false,
      next_code: null,
      images: null,
      new_product: {
        product_title: null,
        product_code: null,
        product_cost: null,
        product_length: null,
        product_width: null,
        product_height: null,
        product_weight: null,
        product_fragile: true,
        category_id: null,
        // product_title_customs_ua: null,
        tnved: null
      }
    };
  },
  async mounted() {
    this.next_code = await this.getNextCode();
  },
  methods: {
    show() {
      this.$refs["create-dialog"].show();
    },
    hide() {
      this.$refs["create-dialog"].hide();
    },
    getNextCode() {
      return new Promise(async (done, fail) => {
        try {
          const {
            data: { next_code }
          } = await this.$api.get("/warehouse/products/next_code");

          done(next_code);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage:
              "Не далось корректно получить данные, нужные для создание нового товарар. Попробуйте ещё раз."
          });
          fail(e);
        }
      });
    },
    handleCustomsCode(code) {
      if (!code) return;

      this.new_product.tnved = { id: code.id };
    },
    hanleProductMediaChange(images) {
      this.images = images;
    },
    handleImages(images) {
      this.images = images;
    },
    async uploadImages() {
      if (!this.images || !this.images.length) return;

      return new Promise(async (done, fail) => {
        let queue = this.images.map(img => {
          return new Promise(async (done, fail) => {
            try {
              const filename = await this.$store.dispatch(
                "Service/UPLOAD_FILE",
                img.file
              );

              done(filename);
            } catch (e) {
              fail(e);
              throw e;
            } finally {
              img.loading = false;
            }
          });
        });

        try {
          let res = await Promise.all(queue);
          done(res);
          // ! ON DONE CLEAR PREPARED PRODUCT IMAGES:
          this.images = null;
        } catch (e) {
          fail(e);
          this.$showApiError(e, {
            fallbackMessage: "Не удалось сохранить изменения."
          });
          //   throw e;
        }
      });
    },
    async submitNewProduct() {
      this.$v.new_product.$touch();

      if (this.$v.new_product.$anyError) {
        this.$message({
          title: "Заполните обязательные поля",
          level: "warning"
        });
        return;
      }

      this.loading = true;

      this.new_product.category_id = this.category.id;

      if (this.images && this.images.length) {
        try {
          const files = await this.uploadImages();
          this.new_product.files = files;
        } catch (e) {
          console.log("e:", e);

          this.$showApiError(e, {
            fallbackMessage: "Не удалось загрузить изображения на сервер"
          });
        } finally {
          this.loading = false;
        }
      }

      try {
        const {
          data: { product }
        } = await this.$api.post(`/warehouse/products`, this.new_product);

        this.new_product = {
          product_title: null,
          product_code: null,
          product_cost: null,
          product_length: null,
          product_width: null,
          product_height: null,
          product_weight: null,
          product_fragile: true,
          category_id: null,
          product_title_customs_ua: null
        };

        this.$v.new_product.$reset();

        this.$emit("ok", product);
      } catch (e) {
        console.log(e);
        this.$showApiError(e, {
          fallbackMessage: "Не удалось сохранить изменения"
        });
      } finally {
        this.loading = false;
      }
    }
  },
  validations() {
    return {
      new_product: {
        product_title: {
          required
        },
        product_title_customs_eng: {
          // required
        },
        product_title_customs_ua: {},
        product_code: {
          required
        },
        product_cost: {
          required
        },
        product_length: {
          required
        },
        product_width: {
          required
        },
        product_height: {
          required
        },
        product_weight: {
          required
        }
      }
    };
  }
};
</script>
<style lang="scss"></style>
