<template>
  <q-dialog :maximized="$q.screen.xs || false" ref="edit-clone-dialog">
    <q-card style="max-width:777px;width:100%" class="relative-position">
      <with-loading class="z-max" :state="loading.modal" />

      <q-card-section>
        <div class="flex-center-between">
          <h5 class="q-ma-none">
            {{ is_clone ? "Создать копию товара" : "Изменить товар" }}
          </h5>
          <app-btn
            dense
            round
            @click="hide"
            flat
            icon="close"
            color="negative"
          ></app-btn>
        </div>
      </q-card-section>
      <q-separator></q-separator>
      <div style="max-height: 77vh" class="scroll">
        <div class="flex column justify-between full-height">
          <q-card-section class="relative-position">
            <div
              class="row q-col-gutter-md"
              :class="$q.screen.xs && 'column reverse'"
            >
              <div class="col-8">
                <q-input
                  :error="$v.int_row.title.$anyError"
                  outlined
                  dense
                  v-model="int_row.title"
                  label="Наименование"
                />

                <q-input
                  outlined
                  dense
                  label="Наименование (eng)"
                  v-model="int_row.title_customs_eng"
                  class="full-width q-mb-lg"
                  hide-bottom-space
                  placeholder="Описание товара для таможни"
                />
                <q-input
                  outlined
                  dense
                  label="Наименование (RU)"
                  v-model="int_row.title_customs_ua"
                  class="full-width q-mb-lg"
                  hide-bottom-space
                  placeholder="Описание товара для таможни"
                />

                <customs-codes
                  :initial="(row && row.tnved && row.tnved.id) || null"
                  @select="changeCustomsCode"
                  class="q-mb-lg"
                />

                <div class="row q-col-gutter-md">
                  <div class="col-4">
                    <q-input
                      :error="$v.int_row.length.$anyError"
                      outlined
                      dense
                      v-model.number="int_row.length"
                      label="Длина, см"
                    >
                      <!-- <template v-slot:append>
                      <small>cm</small>
                    </template> -->
                    </q-input>
                  </div>
                  <div class="col-4">
                    <q-input
                      :error="$v.int_row.width.$anyError"
                      outlined
                      dense
                      v-model.number="int_row.width"
                      label="Ширина, см"
                    >
                      <!-- <template v-slot:append>
                      <small>cm</small>
                    </template> -->
                    </q-input>
                  </div>
                  <div class="col-4">
                    <q-input
                      :error="$v.int_row.height.$anyError"
                      outlined
                      dense
                      v-model.number="int_row.height"
                      label="Высота, см"
                    >
                      <!-- <template v-slot:append>
                      <small>cm</small>
                    </template> -->
                    </q-input>
                  </div>
                </div>

                <div class="row q-col-gutter-md">
                  <div class="col-4">
                    <q-input
                      :error="$v.int_row.weight.$anyError"
                      outlined
                      dense
                      v-model.number="int_row.weight"
                      label="Вес, кг"
                      hint="например: 0.4"
                    />
                  </div>
                  <div class="col-4">
                    <q-input
                      :error="$v.int_row.cost.$anyError"
                      outlined
                      dense
                      v-model.number="int_row.cost"
                      label="Стоимость"
                      prefix="$"
                    >
                      <template #append>
                        <q-icon name="help_outline" size="20px" color="grey">
                          <q-tooltip>
                            используется как таможенная стоимость
                          </q-tooltip>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-4">
                    <q-input
                      :error="$v.int_row.cost.$anyError"
                      outlined
                      dense
                      v-model.number="int_row.code"
                      label="Код"
                      :prefix="`(${row.code_internal})`"
                    />
                  </div>
                </div>
                <!-- // TODO: IMPLEMENT PROD FILES //-->
              </div>
              <div class="col-4 q-mb-sm">
                <wh-categories
                  :preselect="int_row.category"
                  @change="changeCategory"
                />
              </div>
            </div>
          </q-card-section>
          <q-separator></q-separator>
          <q-card-section class="relative-position">
            <with-loading :state="loading.images" />

            <product-media
              @change="changeRowMedia"
              :images="uploaded_images"
              @delete="deleteImage"
            />
          </q-card-section>
        </div>
      </div>
      <q-separator></q-separator>
      <q-card-section>
        <div class="flex justify-between">
          <app-btn size="13px" flat label="Отмена" @click.prevent="hide" />

          <app-btn
            flat
            color="red"
            class="bg-red-1"
            label="Удалить товар"
            v-show="!is_clone"
            @click.prevent="deleteProduct"
            size="13px"
          />

          <app-btn
            color="primary"
            @click="submitRow"
            label="Сохранить"
            v-if="!is_clone"
            size="13px"
          />

          <app-btn
            color="primary"
            @click="submitRow"
            label="Создать"
            v-else
            size="13px"
          />
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { required } from "vuelidate/lib/validators";
import WhCategories from "../categories";
import ProductMedia from "./ProductMedia.vue";

export default {
  components: {
    "wh-categories": WhCategories,
    "product-media": ProductMedia
  },
  props: {
    is_clone: Boolean,
    row: Object
  },
  async mounted() {
    if (this.is_clone) {
      let next_code = await this.getNextCode();
      this.int_row.code_internal = next_code;
    }

    if (this.int_row.files) {
      this.uploaded_images = await this.downloadImages();
    }
  },
  data() {
    return {
      loading: { modal: false, images: false },
      next_code: null,
      images: null,
      uploaded_images: null,
      int_row: { ...this.row }
    };
  },
  methods: {
    hide() {
      this.$refs["edit-clone-dialog"].hide();
    },
    show() {
      this.$refs["edit-clone-dialog"].show();
    },
    async deleteProduct(row) /** * OK * */ {
      let c = await this.$confirm({
        level: "danger",
        title: "Действительно хотите удалить данный товар ?"
      });

      if (!c) return false;

      let product_id = row ? row.product_id : this.int_row.product_id;

      try {
        await this.$api({
          url: `/warehouse/products/`,
          method: "DELETE",
          data: {
            product_id
          }
        });

        this.$message({
          title: "Товар удалён",
          level: "success"
        });

        this.hide();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Не удалось сохранить изменения"
        });
      }
    },
    normalizeRow(row) {
      return {
        product_id: row.product_id,
        product_title: row.title,
        product_title_customs_eng: row.title_customs_eng,
        product_title_customs_ua: row.title_customs_ua,
        category_id: row.category,
        product_weight: row.weight,
        product_length: row.length,
        product_width: row.width,
        product_fragile: row.fragile,
        product_params: row.params,
        product_code: row.code,
        product_cost: row.cost,
        product_height: row.height,
        ...(row.tnved && row.tnved.id && { tnved: { id: row.tnved.id } }),
        ...(row.files && { files: row.files })
      };
    },
    getNextCode() {
      return new Promise(async (done, fail) => {
        try {
          const {
            data: { next_code }
          } = await this.$api.get("/warehouse/products/next_code");

          done(next_code);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage:
              "Не далось корректно получить данные, нужные для создание нового товарар. Попробуйте ещё раз."
          });
          fail(e);
        } finally {
        }
      });
    },
    getProductImage(
      filename,
      params = {
        responseType: "arraybuffer"
      }
    ) {
      return new Promise(async (done, fail) => {
        const {
          data
        } = await this.$api.get(
          `/v2/products/${this.int_row.product_id}/files/${filename}`,
          { ...params }
        );

        done(data);
      });
    },
    downloadImages() {
      return new Promise(async (done, fail) => {
        this.loading.images = "Получаем изображения товара";

        let queue = this.int_row.files.map(async f => {
          const data = await this.getProductImage(f);

          function arrayBufferToBase64(buffer) {
            let binary = "";
            let bytes = new Uint8Array(buffer);
            let len = bytes.byteLength;
            for (let i = 0; i < len; i++) {
              binary += String.fromCharCode(bytes[i]);
            }
            return window.btoa(binary);
          }

          return {
            data: arrayBufferToBase64(data),
            filename: f
          };
        });

        try {
          let files = await Promise.all(queue);

          done(files);
        } catch (e) {
          this.$showApiError(e, {
            fallbackMessage: "Не удалось загрузить фото товара"
          });
          fail(e);
        } finally {
          this.loading.images = false;
        }
      });
    },
    async deleteImage(filename) {
      let id = this.int_row.product_id;

      if (!id) return;

      try {
        this.loading.modal = true;

        await this.$api.delete(`/v2/products/${id}/files/${filename}`);

        let delete_target =
          this.int_row &&
          this.int_row.files &&
          this.int_row.files.length &&
          this.int_row.files.findIndex(file => {
            return file === filename;
          });

        if (delete_target !== null && delete_target !== undefined) {
          this.uploaded_images.splice(delete_target, 1);
          this.int_row.files.splice(delete_target, 1);
        }

        this.$message({ level: "success", title: "Файл удалён" });

        // this.downloadImages();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось удалить изображение"
        });
      } finally {
        this.loading.modal = false;
      }
    },
    async uploadImages() {
      if (!this.images || !this.images.length) return;

      return new Promise(async (done, fail) => {
        let queue = this.images.map(img => {
          return new Promise(async (done, fail) => {
            try {
              const filename = await this.$store.dispatch(
                "Service/UPLOAD_FILE",
                img.file
              );

              done(filename);
            } catch (e) {
              fail(e);
              throw e;
            } finally {
              img.loading = false;
            }
          });
        });

        try {
          let res = await Promise.all(queue);
          done(res);
          // ! ON DONE CLEAR PREPARED PRODUCT IMAGES:
          this.images = null;
        } catch (e) {
          fail(e);
          this.$showApiError(e, {
            fallbackMessage: "Не удалось сохранить изменения."
          });
          //   throw e;
        }
      });
    },
    async submitRow() {
      this.$v.int_row.$touch();

      if (this.$v.int_row.$anyError) {
        this.$message({ title: "Заполните обязательные поля" });
        return;
      }

      this.loading.modal = true;

      // * UPLOAD IMAGES HERE:

      if (this.images && this.images.length) {
        let files = await this.uploadImages();
        this.int_row.files = files;
      }

      if (
        this.is_clone &&
        this.uploaded_images &&
        this.uploaded_images.length
      ) {
        try {
          let queue = await Promise.all(
            this.uploaded_images.map(img => this.getProductImage(img.filename))
          );

          let cloned_images = await Promise.all(
            queue.map(image =>
              this.$store.dispatch(
                "Service/UPLOAD_FILE",
                new File([image], "image.jpeg")
              )
            )
          );

          this.int_row.files.push(...cloned_images);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage: "Не удалось закончить загрузку изображений"
          });
        }
        // finally {
        // }
      }

      let { product_id, ...prod } = this.normalizeRow(this.int_row);

      try {
        const {
          data: { product }
        } = await this.$api[this.is_clone ? "post" : "put"](
          `/warehouse/products`,
          this.is_clone ? { ...prod } : { product_id, ...prod }
        );

        this.$emit("ok", product);
        this.hide();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось сохранить изменения"
        });
      } finally {
        this.loading.modal = false;
      }
    },
    changeCategory(val) {
      if (val) this.int_row.category = val.id;
    },
    changeRowMedia(images) {
      this.images = images;
    },
    async deleteRowMedia(filename) {
      let id = this.int_row.product_id;

      if (!id) return;

      try {
        this.loading.modal.modal = true;

        await this.$api.delete(`/v2/products/${id}/files/${filename}`);

        let delete_target =
          this.int_row &&
          this.int_row.files &&
          this.int_row.files.length &&
          this.int_row.files.findIndex(file => {
            return file === filename;
          });

        if (delete_target !== null && delete_target !== undefined) {
          this.int_row.files.splice(delete_target, 1);
        }

        this.$message({ level: "success", title: "Файл удалён" });

        // if (this.int_row.files && this.int_row.files.length) {
        this.getProductMedia();
        // }
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось удалить изображение"
        });
      } finally {
        this.loading.modal.modal = false;
      }
    },
    changeCustomsCode(code) {
      if (!code) return;

      this.int_row.tnved = { id: code.id };
    }
  },
  validations() {
    return {
      int_row: {
        cost: {
          required
        },
        height: {
          required
        },
        length: {
          required
        },
        title: {
          required
        },
        weight: {
          required
        },
        width: {
          required
        }
      }
    };
  }
};
</script>
<style lang="scss"></style>
