<template>
  <div class="wh-products" style="position:relative">
    <div class="wh-products__table">
      <q-input
        label="Поиск по списку"
        dense
        outlined
        v-model="query"
        placeholder="Наименование/код товара полностью или частично"
        :disable="loading"
        class="q-mb-lg bg-white"
      ></q-input>
      <div class="wh-products__data relative-position rounded-borders">
        <with-loading :state="loading" />

        <q-markup-table flat style="max-height: 340px">
          <thead>
            <tr>
              <th class="text-left" v-for="(col, idx) in columns" :key="idx">
                {{ col.label }}
              </th>
            </tr>
          </thead>
          <tbody v-if="products && products.length">
            <tr
              @dblclick="onRowDblClick(row)"
              class="cursor-pointer"
              v-for="(row, idx) in products"
              :key="idx"
            >
              <td>
                <app-btn
                  v-if="actions.includes('add')"
                  icon="add"
                  round
                  size="12px"
                  class="bg-accent text-white"
                  flat
                  @click="onRowDblClick(row)"
                />
              </td>
              <td>
                <small class="text-muted text-weight-medium">
                  {{ row.code_internal }}
                </small>
                {{ row.code }}
              </td>
              <td>
                <!-- :title="row.tnved.title" -->
                <div
                  style="max-width:210px;white-space:normal;"
                  v-if="row.tnved"
                >
                  <small class="ellipsis-2-lines q-mb-xs">
                    {{ row.tnved.title }}
                    <q-tooltip>{{ row.tnved.title }}</q-tooltip>
                  </small>
                  <small class="block text-muted">{{ row.tnved.code }}</small>
                </div>
                <small class="text-muted" v-else>не указан</small>
              </td>
              <td>
                <div style="font-size:11px" class="text-muted">
                  {{ row.category_title }}
                </div>
                <div style="width:280px;white-space:normal">
                  <div></div>
                  {{ row.title }}
                </div>
              </td>

              <td>
                {{ $toUSD(row.cost) }}
              </td>
              <td>
                {{ row.product_quantity }}
              </td>
              <td>
                <div
                  style="line-height:1;min-width:70px"
                  class="flex items-center"
                >
                  {{ row.length }}
                  <span
                    style="margin-left:2px;margin-right:1px"
                    class="text-grey-8"
                  >
                    &bull;
                  </span>
                  {{ row.width }}
                  <span
                    style="margin-left:2px;margin-right:1px"
                    class="text-grey-8"
                  >
                    &bull;
                  </span>
                  {{ row.height }}
                </div>
              </td>
              <td>
                {{ $toFixed(row.weight, 3) }}
              </td>
              <td>
                <q-btn-dropdown
                  v-if="actions.includes('control')"
                  size="sm"
                  color="primary"
                  class="bg-blue-1 text-primary q-mr-sm"
                  icon="sort"
                  flat
                >
                  <q-list>
                    <q-item clickable v-close-popup>
                      <q-item-section
                        @click="action => handleProductAction(row, 'edit')"
                      >
                        <q-item-label>Изменить</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup>
                      <q-item-section
                        @click="action => handleProductAction(row, 'clone')"
                      >
                        <q-item-label>Копировать</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup>
                      <q-item-section
                        @click="action => handleProductAction(row, 'delete')"
                        class="text-negative"
                      >
                        <q-item-label>Удалить</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td class="text-center" :colspan="columns.length">
                <small class="text-grey">
                  Нет данных для отображения
                </small>
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
    </div>

    <div class="q-mt-md">
      <div class="flex-center-between">
        <div></div>
        <app-btn
          @click="createNewProduct"
          label="Создать товар"
          class="text-primary bg-blue-1 q-mt-sm"
          flat
          v-show="!isWarehouse"
          :style="{ 'opacity: 0.42': !filter }"
          :disable="!filter"
        >
          <q-tooltip anchor="center start" self="center right" v-if="!filter">
            Выберите или создайте категорию, что бы добавить новый товар
          </q-tooltip>
        </app-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "WarehouseProducts",
  props: {
    isWarehouse: Boolean,
    filter: Object,
    actions: Array
  },
  mounted() {
    this.getProducts();
  },
  data() {
    return {
      loading: false,
      rows: [],
      editable_row: null,
      query: null,
      cols: {
        warehouse: [
          {
            label: ""
          },
          {
            label: "Код"
          },
          {
            label: "ТНВЭД"
          },
          {
            label: "Наименование",
            sortable: "title",
            data_type: String
          },
          {
            label: "Стоимость"
          },
          {
            label: "Кол-во",
            sortable: "product_quantity",
            data_type: Number,
            extra_class: "th-nowrap"
          },
          {
            label: "Габариты, Д•Ш•В"
          },
          {
            label: "Вес, kg"
          },
          {
            label: ""
          }
        ],
        common: [
          {
            label: ""
          },
          {
            label: "Код",
            sortable: "code",
            data_type: String
          },
          {
            label: "ТНВЭД"
          },
          {
            label: "Наименование",
            sortable: "title",
            data_type: String
          },
          {
            label: "Стоимость"
          },
          { label: "" },
          {
            label: "Габариты, Д•Ш•В"
          },
          {
            label: "Вес, kg"
          },
          {
            label: ""
          }
        ]
      }
    };
  },
  computed: {
    columns() {
      return this.isWarehouse ? this.cols.warehouse : this.cols.common;
    },
    products() {
      let p = this.rows;

      if (this.filter) {
        p = this.rows.filter(
          row =>
            row.category === this.filter.id ||
            (row.category_parent_id &&
              row.category_parent_id === this.filter.id)
        );
      }

      if (this.query && this.query.length) {
        let has_includes = str => {
          return (
            str && str.toLowerCase().indexOf(this.query.toLowerCase()) >= 0
          );
        };

        p = p.filter(
          p =>
            has_includes(p.code) ||
            has_includes(p.title) ||
            has_includes(p.title_customs_eng) ||
            has_includes(p.title_customs_ua) ||
            false
        );
      }

      return p;
    }
  },
  watch: {
    isWarehouse(new_val, old_val) {
      new_val !== old_val && this.getProducts();
    }
  },
  methods: {
    async getProducts() {
      try {
        this.loading = true;
        const {
          data: { products }
        } = await this.$api.get(
          `/warehouse/get_all_products${this.isWarehouse ? "/warehouse/" : ""}`
        );

        this.rows = products;
      } catch (e) {
        this.$alert({
          title:
            (e && e.response && e.response.data && e.response.data.message) ||
            "Не удалось загрузить товары",
          level: "warning",
          errors:
            (e && e.response && e.response.data && e.response.data.errors) ||
            null
        });
      } finally {
        this.loading = false;
      }
    },
    getProductMedia(row) {
      if (!row || !row.files) return null;

      return new Promise(async (done, fail) => {
        this.loading = true;

        let queue = row.files.map(async f => {
          const { data } = await this.$api.get(
            `/v2/products/${row.product_id}/files/${f}`,
            {
              responseType: "arraybuffer"
            }
          );

          function arrayBufferToBase64(buffer) {
            let binary = "";
            let bytes = new Uint8Array(buffer);
            let len = bytes.byteLength;
            for (let i = 0; i < len; i++) {
              binary += String.fromCharCode(bytes[i]);
            }
            return window.btoa(binary);
          }

          return {
            data: arrayBufferToBase64(data),
            filename: f
          };
        });

        try {
          let files = await Promise.all(queue);

          done(files);
        } catch (e) {
          this.$showApiError(e, {
            fallbackMessage: "Не удалось загрузить фото товара"
          });
          fail(e);
        } finally {
          this.loading = false;
        }
      });
    },
    // * DONE * //
    async editRow(row, is_clone = false) {
      if (this.isWarehouse && is_clone) {
        this.$message({
          level: "warning",
          title: "Вы не можете создать новые товары на складе"
        });
        return;
      }

      let target_row;

      if (is_clone) {
        let { code, ...cloned_row } = row;

        target_row = {
          ...cloned_row,
          title: `${row.title} (копия)`
        };
      } else {
        target_row = { ...row };
      }
      // * GET PRODUCT IMAGES:
      let files;

      if (target_row.files && target_row.files.length) {
        files = await this.getProductMedia(target_row.product_id);
      }

      let editDialog = this.$q
        .dialog({
          component: () => import("./EditDialog.vue"),
          root: this,
          row: target_row,
          files,
          is_clone
        })
        .onOk(async row => {
          this.getProducts();

          this.$message({
            title: "Изменения сохранены",
            level: "success"
          });

          editDialog.hide();
        });
      // .onDismiss(() => (this.editable_row = null));
    },
    // * DONE * //
    async removeProduct({ product_id = null }) {
      if (!product_id) throw new Error("There is no product_id");

      let c = await this.$confirm({
        level: "danger",
        title: "Действительно хотите удалить данный товар ?"
      });

      if (!c) return false;

      try {
        await this.$api({
          url: `/warehouse/products/`,
          method: "DELETE",
          data: {
            product_id
          }
        });

        this.$message({
          title: "Товар удалён",
          level: "success"
        });

        this.getProducts();
      } catch (e) {
        this.$showApiError(e, {
          fallbackMessage: "Не удалось сохранить изменения"
        });
      }
    },
    onRowDblClick(row) {
      this.$emit("on-row-dbclick", row);
    },
    async createNewProduct() {
      if (!this.filter) return;

      const createDialog = this.$q
        .dialog({
          component: () => import("./CreateDialog.vue"),
          root: this,
          category: this.filter
        })
        .onOk(product => {
          console.log("product:", product);
          createDialog.hide();

          this.$message({
            title: "Товар создан",
            level: "success"
          });

          this.getProducts();
          this.highlightNewRow();
        });
    },
    // TODO: IMPLEMENT THIS FEATURE
    highlightNewRow() {
      //TODO: IMPLEMENT this method
    },
    handleProductAction(row, action) {
      switch (action) {
        case "edit":
          this.editRow(row);
          break;
        case "delete":
          this.removeProduct(row);
          break;
        case "clone":
          this.editRow(row, true);
          break;
        default:
          throw new Error("Unknown product action: " + action);
        // break;
      }
    }
  }
};
</script>

<style lang="scss">
.wh-products {
  &__table {
    position: relative;
  }

  &__data {
    border: 1px solid rgba(0, 0, 0, 0.12);
    // overflow-x: scroll;
    width: 100%;

    .q-markup-table {
      min-width: 700px;

      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        background-color: $grey-2;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $grey-5;
      }
    }
  }
}
</style>
