<template>
  <div class="prod-media relative-position">
    <with-loading :state="loading" />
    <!-- prod-media {{ id }}: {{ mode }} -->

    <div class="flex-center-between">
      <h6 class="q-mb-none">Фото товара</h6>
      <div>
        <app-btn
          @click="() => $refs['images-holder'].click()"
          flat
          color="accent"
          size="12px"
          class="bg-red-1"
        >
          <div class="flex items-center">
            <q-icon name="add_photo_alternate" class="q-mr-sm"></q-icon>
            <span>
              Прикрепить
            </span>
          </div>
        </app-btn>

        <input
          style="display: none;"
          ref="images-holder"
          @change="handleNewImages"
          type="file"
          multiple
          accept="image/png, image/gif, image/jpeg"
        />
      </div>
    </div>

    <div class="q-mt-md" v-if="prepared_images && prepared_images.length">
      <app-list header="Выбранные изображения">
        <q-item v-for="(img, idx) in prepared_images" :key="idx">
          <q-item-section avatar>
            <q-img
              :src="img.src"
              width="42px"
              :ratio="1"
              class="rounded-borders"
              cover
              :loading="img.loading"
            ></q-img>
          </q-item-section>
          <q-item-section>
            <div class="full-width ellipsis">{{ img.file.name }}</div>
          </q-item-section>
          <q-item-section side>
            <app-btn
              dense
              icon="close"
              color="negative"
              flat
              size="14px"
              round
              @click="removePreparedImage(idx)"
            />
          </q-item-section>
        </q-item>
      </app-list>
    </div>

    <div class="q-mt-lg" v-if="images && images.length">
      <div style="font-size:12px;color:#757575;" class="text-muted q-mb-md">
        Загруженные изображения
      </div>
      <div class="flex q-gutter-lg">
        <div
          v-for="img in images"
          class="flex column relative-position"
          :key="img.filename"
        >
          <q-img
            class="rounded-borders"
            :src="`data:image/png;base64,${img.data}`"
            :ratio="1"
            square
            height="100px"
            width="100px"
            cover
            @click="openMedia(img.data)"
          ></q-img>
          <app-btn
            class="absolute"
            style="top:-14px;right:-14px;"
            round
            color="negative"
            icon="close"
            size="10px"
            @click="removeAttachedFile(img.filename)"
          >
            <!-- Удалить -->
          </app-btn>
        </div>
      </div>
    </div>

    <small class="text-muted q-mt-md block" v-else>
      Изображения не загружены
    </small>
  </div>
</template>

<script>
export default {
  props: {
    id: [Number, null],
    images: [Array, null]
  },
  data() {
    return {
      loading: false,
      prepared_images: []
    };
  },
  computed: {
    mode() {
      return !!this.id ? "edit" : "add";
    }
  },
  methods: {
    async handleNewImages(event) {
      let input = event.target;
      let files = input.files;

      if (!files) return;

      let images = Array.from(files).map(file => ({
        src: URL.createObjectURL(file),
        file,
        loading: false
      }));

      this.prepared_images.push(...images);

      this.$emit("change", this.prepared_images);
      input.value = null;
    },
    removePreparedImage(idx) {
      // TODO: BRIND THIS ACTION TO BACKEND
      this.prepared_images.splice(idx, 1);
    },
    removeAttachedFile(filename) {
      this.$emit("delete", filename);
    },
    openMedia(img) {
      // ? OPEN IMAGE BETA
      var newTab = window.open();
      newTab.document.body.innerHTML = `
        <img src='data:image;base64,${img}' width='100%' />
      `;
    }
  }
};
</script>

<style></style>
