<template>
  <PageContainer :title="$t('nav.shipments.shipments.title')">
    <with-loading fixed :state="loading.shipments" />

    <template #actions>
      <app-btn to="/shipments/create" size="12px" color="accent">
        Создать отправку
      </app-btn>
    </template>

    <!-- <template #before>
      <q-banner
        v-show="false"
        style="border-radius:0"
        inline-actions
        rounded
        class="bg-accent menu text-white"
      >
        <div class="container flex-center-between">
          You have lost connection to the internet. This app is offline.
          <div>
            <app-btn flat label="OK" />
          </div>
        </div>
      </q-banner>
    </template> -->

    <div class="container">
      <div class="shipments" id="shippings-list" v-cloak>
        <div class="shipments__addresses row q-col-gutter-md q-mb-xl">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <q-card>
              <q-card-section>
                <b>
                  Адрес для отправки посылок, офис в г. Москва:
                </b>
              </q-card-section>
              <q-separator />
              <q-card-section>
                <div class="flex-center-between">
                  <div>
                    121357, РФ, г. Москва, Ватутина, 11 <br />
                    получатель ООО «Еком Экспресс» <br />
                    Годун Станислав <br />
                    <small class="text-muted">
                      (принимаем посылки СДЭК, ЕМС и пр.):
                    </small>
                  </div>
                  <!-- <small class="text-grey-8"> -->
                  <table class="">
                    <tr>
                      <td>ПН-ПТ</td>
                      <td style="text-align:right">9:00-18:00</td>
                    </tr>
                    <tr>
                      <td>СБ-ВС</td>
                      <td style="text-align:right">11:00-15:00</td>
                    </tr>
                  </table>

                  <!-- </small> -->
                </div>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <q-card>
              <q-card-section>
                <b>
                  Адрес для отправки посылок на склад в США:
                </b>
              </q-card-section>
              <q-separator />
              <q-card-section>
                United States, 19053, Feasterville-Trevose, PA <br />
                635 Somers ave, Seller Online, LLC<br />
                Anna Syrykh <br />
                +1.267.800.90.48
              </q-card-section>
            </q-card>
          </div>
        </div>

        <ShipmentsFilter @change="handleFilter" ref="shipments-filter" />

        <q-card class="shipments__actions q-mt-lg" v-show="false">
          <q-card-section>
            <app-btn
              @click="addTrack('checked')"
              :disable="!checked.length && !ableToAddTrack"
              label="Добавить трек-номер к выбранным"
              color="accent"
              class="q-mr-md bg-red-1"
              size="12px"
              flat
            >
              <q-badge color="accent" floating>{{ checked.length }}</q-badge>
            </app-btn>

            <app-btn
              @click="addTrack('created')"
              label="Добавить трек-номер к неотправленным"
              color="accent"
              class="q-mr-md bg-red-1"
              size="12px"
              flat
            />
          </q-card-section>
        </q-card>

        <!-- SHIPMENTS PAGINATION START -->
        <div
          v-if="shipments && shipments.length"
          class="q-my-xl flex-center-between"
        >
          <q-pagination
            v-model="current_page"
            :max="$q.screen.xs ? 3 : total_pages || 0"
            unelevated
            color="accent"
            :max-pages="$q.screen.xs ? 2 : 6"
            boundary-numbers
            :disable="loading.shipments"
            direction-links
          >
          </q-pagination>

          <div class="flex items-center">
            <small class="text-grey q-mr-sm" style="font-size: 12px;">
              На страинце
            </small>
            <q-select
              transition-show="jump-down"
              transition-hide="jump-up"
              outlined
              dense
              :options="[10, 20, 30, 40, 50]"
              v-model="on_page"
              class="bg-white"
            />
          </div>
        </div>
        <!-- SHIPMENTS PAGINATION END -->

        <!-- BULK ACTIONS START -->
        <!-- // TODO -->
        <!-- BULK ACTIONS END -->

        <div class="relative-position" style="min-height:42px">
          <transition-group name="fade" appear mode="out-in">
            <div
              class="relative-position"
              key="shipments-list"
              v-if="shipments && shipments.length"
            >
              <div
                class="shipments__item"
                v-for="ship in shipments"
                :key="ship.id"
              >
                <ShipmentItem
                  :ship="ship"
                  :key="ship.id"
                  :loading="loading[ship.id]"
                  @get-doc="isSticker => getShipmentDoc(ship.id, isSticker)"
                  @get-stickers="getStickers"
                  :sticker-format="sticker_format"
                  @on-delete-shipment="getShipments"
                  @on-butch-docs="shipment => handleButchDocs([shipment])"
                  @on-add-new-track="getShipments"
                  @on-edit="handleEditShipment"
                  @on-consolid-docs="handleConsolidDocs"
                  @on-consolid-cost="handleConsolidCost"
                  @get-return-label="handleReturnLabel"
                  show-buttons="1"
                  @update="getShipments"
                />
              </div>
            </div>

            <div
              key="empty-list"
              class="text-grey q-mt-xl flex column items-center justify-center"
              v-else
            >
              <q-icon name="close" size="21px" class="q-mb-md" />
              Информации об отправках не найденно
            </div>
          </transition-group>
        </div>

        <!-- SHIPMENTS PAGINATION START -->
        <div
          v-if="shipments && shipments.length"
          class="q-my-xl flex-center-between"
        >
          <q-pagination
            v-model="current_page"
            :max="$q.screen.xs ? 3 : total_pages || 0"
            unelevated
            color="accent"
            :max-pages="$q.screen.xs ? 3 : 6"
            boundary-numbers
            direction-links
            :disable="loading.shipments"
          >
          </q-pagination>

          <div class="flex items-center">
            <small class="text-grey q-mr-sm" style="font-size: 12px;">
              На страинце
            </small>
            <q-select
              transition-show="jump-down"
              transition-hide="jump-up"
              outlined
              dense
              :options="[10, 20, 30, 40, 50]"
              v-model="on_page"
            />
          </div>
        </div>
        <!-- SHIPMENTS PAGINATION END -->

        <modal scrollable height="auto" name="shippings-docs">
          <div class="modal">
            <with-loading :state="loading.modal" />
            <div class="modal-header">Подготовка к получению документов</div>
            <div class="modal__body">
              <table
                cellspacing="0"
                class="table"
                v-if="prepare_ship.products && prepare_ship.products.length"
              >
                <tr>
                  <th>Описание</th>
                  <th>Название (eng)</th>
                  <th v-if="prepare_ship.type_code !== 'agent_shipping'">
                    Название (укр.)
                  </th>
                  <th>Кол-во</th>
                </tr>
                <tr :key="i" v-for="(prod, i) in prepare_ship.products">
                  <td>
                    {{ prod.title }}
                  </td>
                  <td>
                    <div
                      class="form-group"
                      :class="{
                        'input--error':
                          $v.prepare_ship.products.$each[i].title_customs_eng
                            .$error
                      }"
                    >
                      <input type="text" v-model="prod.title_customs_eng" />
                    </div>
                  </td>
                  <td v-if="prepare_ship.type_code !== 'agent_shipping'">
                    <div
                      class="form-group"
                      :class="{
                        'input--error':
                          $v.prepare_ship.products.$each[i].title_customs_ua
                            .$error
                      }"
                    >
                      <input type="text" v-model="prod.title_customs_ua" />
                    </div>
                  </td>
                  <td>
                    {{ prod.quantity }}
                  </td>
                </tr>
              </table>

              <div class="modal__content-group">
                <p
                  style="color: #0079d0;font-size:13px;line-height:18px;padding:0;"
                >
                  Для получения документов требуются названия товаров на
                  <b>английском</b> и <b>русском</b> языках. Перед отправкой
                  убедитесь, что поля названий заполнены, иначе создать документ
                  будет невозможно.
                </p>
              </div>
              <div
                class="modal__content-group"
                v-if="prepare_ship.type_code !== 'agent_shipping'"
              >
                <div class="row">
                  <div class="col-3">
                    <div
                      class="form-group"
                      :class="{ 'input--error': $v.dimensions.length.$error }"
                    >
                      <label for="">Длина</label>
                      <input type="text" v-model.number="dimensions.length" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div
                      class="form-group"
                      :class="{ 'input--error': $v.dimensions.width.$error }"
                    >
                      <label for="">Ширина</label>
                      <input type="text" v-model.number="dimensions.width" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div
                      class="form-group"
                      :class="{ 'input--error': $v.dimensions.height.$error }"
                    >
                      <label for="">Высота</label>
                      <input type="text" v-model.number="dimensions.height" />
                    </div>
                  </div>
                  <div class="col-3">
                    <div
                      class="form-group"
                      :class="{ 'input--error': $v.dimensions.weight.$error }"
                    >
                      <label for="">Вес</label>
                      <input type="text" v-model.number="dimensions.weight" />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="modal__content-group"
                v-if="prepare_ship.type_code !== 'agent_shipping'"
              >
                <!-- <div class="modal__heading-group">
                  <h3>Отправитель</h3>
                  <button @click="clearShipper" class="btn btn-xs">
                    Удалить отправителя из памяти
                  </button>
                </div> -->
                <div class="row">
                  <div class="col">
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_name_ua.$error
                      }"
                    >
                      <label for="">ФИО (укр)</label>
                      <input
                        v-model="new_shipper.shipper_name_ua"
                        type="text"
                      />
                    </div>
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_name_en.$error
                      }"
                    >
                      <label for="">ФИО (eng)</label>
                      <input
                        v-model="new_shipper.shipper_name_en"
                        type="text"
                      />
                    </div>
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_email.$error
                      }"
                    >
                      <label for="">Email:</label>
                      <input v-model="new_shipper.shipper_email" type="text" />
                    </div>

                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_city_ua.$error
                      }"
                    >
                      <label for="">Город (укр):</label>
                      <input
                        v-model="new_shipper.shipper_city_ua"
                        type="text"
                      />
                    </div>

                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_city_en.$error
                      }"
                    >
                      <label for="">Город (eng):</label>
                      <input
                        v-model="new_shipper.shipper_city_en"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_street_ua.$error
                      }"
                    >
                      <label for="">Адрес (укр):</label>
                      <input
                        v-model="new_shipper.shipper_street_ua"
                        type="text"
                      />
                    </div>
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_street_en.$error
                      }"
                    >
                      <label for="">Адрес (eng):</label>
                      <input
                        v-model="new_shipper.shipper_street_en"
                        type="text"
                      />
                    </div>
                    <div
                      class="form-group"
                      :class="{
                        'input--error': $v.new_shipper.shipper_phone.$error
                      }"
                    >
                      <label for="">Телефон:</label>
                      <input v-model="new_shipper.shipper_phone" type="text" />
                    </div>
                    <div
                      class="form-group"
                      :class="{
                        'input--error':
                          $v.new_shipper.shipper_postal_code.$error
                      }"
                    >
                      <label for="">Почтовый индекс:</label>
                      <input
                        v-model="new_shipper.shipper_postal_code"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal__footer">
              <button
                @click="submitForDocs"
                v-if="prepare_ship.type_code !== 'agent_shipping'"
                class="btn btn-sm"
              >
                Отправить
              </button>
              <button
                class="btn btn-block btn-primary"
                @click="getAgentDocs"
                v-else
              >
                Подтвердить
              </button>
            </div>
          </div>
        </modal>

        <modal @closed="getShipments()" height="auto" name="stickers">
          <q-card>
            <with-loading :state="loading.modal" />
            <q-card-section>
              <div class="flex-center-between">
                <div class="text-h6">
                  Печать стикеров
                </div>
                <q-select
                  transition-show="jump-down"
                  transition-hide="jump-up"
                  style="width:120px"
                  v-model="sticker_format"
                  outlined
                  dense
                  label="Формат"
                  :options="['10x10', '10x15', 'A5', 'A4']"
                  @input="changeStickerFormat"
                />
              </div>
            </q-card-section>

            <q-card-section>
              <iframe
                width="100%"
                height="100%"
                id="stickers-holder"
                name="stickers-holder"
                src=""
                frameborder="0"
              ></iframe>
            </q-card-section>
            <q-separator />
            <q-card-section>
              <div class="flex-center-between">
                <app-btn
                  flat
                  color="red"
                  @click="$modal.hide('stickers')"
                  label="Закрыть"
                />
                <app-btn
                  color="primary"
                  label="Печать"
                  @click="printStickers"
                />
              </div>
            </q-card-section>
          </q-card>
          <!--  -->
          <!--  -->
          <!--  -->
        </modal>
      </div>
    </div>

    <q-page-sticky
      class="shipments__bulk-actions"
      style="z-index:9"
      position="bottom-right"
      :offset="[28, 28]"
    >
      <q-fab
        :label="`Действия (${checked.length || 0})`"
        icon="keyboard_arrow_up"
        direction="up"
        vertical-actions-align="right"
        push
        size="14px"
        padding="7px 21px 7px 14px"
        color="accent"
      >
        <template #tooltip>
          <q-tooltip anchor="center start" self="center end">
            Выбрано <span class="font-500">{{ checked.length || 0 }}</span> на
            сумму
            <span class="font-500">{{ $toUSD(checked_summ) }}</span>
          </q-tooltip>
        </template>
        <q-fab-action
          class="bg-white text-orange-7"
          :label="`Создать консолидацию от продавца (${checked.length || 0})`"
          :disable="!checked.length"
          @click="createConsolidatedFromSender"
          v-if="
            ($store.getters['auth/customer_vars'] &&
              $store.getters['auth/customer_vars'].CUSTOMER_USPS_ENABLE &&
              $store.getters['auth/customer_vars'].CUSTOMER_USPS_ENABLE ===
                '1') ||
              false
          "
        />
        <q-fab-action
          class="bg-white text-green-6"
          :label="`Отправить выбранные с помощью СДЭК (${checked.length || 0})`"
          :disable="!checked.length"
          @click="createCdek"
        />
        <q-fab-action
          class="bg-white text-primary"
          :label="`Добавить трек-номера выбранным (${checked.length || 0})`"
          :disable="!checked.length || !ableToAddTrack"
          @click="addTrack('checked')"
        />
        <q-fab-action
          :label="
            checked && checked.length
              ? `Печать стикеров (${checked.length})`
              : `Печать стикеров`
          "
          class="bg-white text-black"
          @click="stickersBulkPrint"
        />
        <q-fab-action
          class="bg-white text-grey-9"
          label="Добавить трек-номера неотправленным"
          @click="addTrack('created')"
        />
        <q-fab-action
          v-show="
            $store.getters['auth/customer_vars'] &&
              (($store.getters['auth/customer_vars'].CUSTOMER_USPS_ENABLE &&
                $store.getters['auth/customer_vars'].CUSTOMER_USPS_ENABLE ===
                  '1') ||
                ($store.getters['auth/customer_vars'] &&
                  $store.getters['auth/customer_vars'].CUSTOMER_DHL_ENABLE &&
                  $store.getters['auth/customer_vars'].CUSTOMER_DHL_ENABLE ===
                    '1'))
          "
          class="bg-white text-grey-9"
          label="Создать labels"
          v-if="false"
        />
        <q-fab-action
          class="bg-white text-grey-9"
          :label="`Пополнить счёт на ${$toUSD(checked_summ)}`"
          @click="$openURL(`/money-in?amount=${checked_summ}`)"
          :disable="!checked_summ"
        />
      </q-fab>
    </q-page-sticky>
  </PageContainer>
</template>

<script>
import ShipmentItem from "./Shipment";
import ShipmentsFilter from "@/components/Shipments/Filter";
import { required, requiredIf } from "vuelidate/lib/validators";

import Documents from "@/utils/Documents";

const re = /^[^а-яА-Я]*$/; // alphanumeric & spaces
const ALPHA_PLUS = val => {
  return re.test(val);
};

const CURRENT_DATE = new Date()
  .toLocaleDateString()
  .split(".")
  .join("-");

export default {
  name: "ShipmentsList",
  components: {
    ShipmentItem,
    ShipmentsFilter
  },
  beforeRouteLeave(to, from, next) {
    this.$store.commit("Shipments/CLEAR_CHECKED");
    next();
  },
  beforeMount() {
    this.$store.commit("Shipments/CLEAR_CHECKED");
  },
  data() {
    return {
      current_page: 1,
      total_pages: null,
      on_page: +localStorage.getItem("shippings-onpage") || 10,
      filter_params: null,
      shipments: [],
      loading: {
        shipments: false,
        modal: false,
        docs: false,
        types: false
      },
      current: {
        action: null,
        track: null,
        ship: null
      },
      prepare_ship: {
        products: []
      },
      dimensions: {
        length: null,
        width: null,
        height: null,
        weight: null
      },
      new_shipper: {
        shipper_name_ua: "",
        shipper_name_en: "",
        shipper_street_ua: "",
        shipper_street_en: "",
        shipper_email: "",
        shipper_city_ua: "",
        shipper_city_en: "",
        shipper_phone: "",
        shipper_postal_code: ""
      },
      sticker_format: "10x10",
      temp_id: null,
      us_states: null,
      filter: null
    };
  },
  computed: {
    ableToAddTrack() {
      if (!this.checked.length) return false;
      return (
        this.checked.every(shipment => !shipment.track_ua) &&
        this.checked.every(s => s.status_code === "customer_created")
      );
    },
    ableToCreateDocs() {
      return this.checked.every(s => s.status_code === "customer_created");
    },
    checked() {
      return this.$store.getters["Shipments/checked_shipments"];
    },
    checked_summ() {
      let summ = 0;
      (this.checked && this.checked.forEach(s => (summ += s.cost))) || [];
      return summ;
    }
  },
  created() {
    return this.$store.commit("Shipments/UPADTE_CHECKED", []);
  },
  async mounted() {
    if (this.$route.query && this.$route.query.print_stickers_id) {
      this.getStickers(this.$route.query.print_stickers_id);
    }

    if (this.$route.query && Object.keys(this.$route.query).length) {
      let type_query = this.$route.query.type,
        status_query = this.$route.query.status;

      type_query && (this.filter.type = type_query);
      status_query && (this.filter.status = status_query);
    }

    let params = this.$route.query;

    if (Object.keys(params).length) {
      this.getShipments({ on_page: this.on_page, ...params });
      return;
    }

    this.getShipments({ page: 1 });

    // TODO: read/write sticker_format at LOCALSTORAGE
    // TODO: call stickers printing
  },
  watch: {
    new_shipper: {
      handler: function(val) {
        localStorage.setItem("new_shipper", JSON.stringify(val));
      },
      deep: true
    },
    current_page(page) {
      this.getShipments({
        ...this.$route.query,
        page,
        ...this.filter
      });
    },
    async on_page(new_on_page_value) {
      localStorage.setItem("shippings-onpage", new_on_page_value);

      await this.getShipments({
        ...this.$route.query,
        page: 1,
        on_page: new_on_page_value
      });
    }
  },
  methods: {
    async getShipments(
      params = { page: this.current_page, on_page: this.on_page }
    ) {
      if (!params.on_page) {
        params.on_page = this.on_page;
      }

      Object.keys(params).forEach(
        key =>
          (params[key] === null || params[key] === undefined) &&
          delete params[key]
      );

      return new Promise(async (done, fail) => {
        try {
          this.loading.shipments = true;

          const { shipments, total_pages, page } = await this.$store.dispatch(
            "Shipments/SHIPMENTS_GET",
            params
          );

          this.shipments = shipments;
          this.total_pages = total_pages;
          this.current_page = page;

          this.$router.push(
            {
              query: {
                page: this.current_page,
                ...this.filter,
                ...params
              }
            },
            () => {}
          );
          done();
        } catch (e) {
          console.log("e:", e);

          const {
            message: title = "Не удалось получить список отправок",
            errors
          } = this.$parseApiError(e);

          this.$alert({
            level: "danger",
            title,
            errors
          });
          fail(e);
        } finally {
          this.loading.shipments = false;
        }
      });
    },
    // ! REVIEW:
    printDocument(frameName) {
      window.frames[frameName].focus();
      window.frames[frameName].print();
    },
    getShipmentProducts(id) {
      return this.$api.post(`/shipping/parcel_products`, [...id]);
    },
    // ! REVIEW:
    showLabel(data) {
      let DOCS = new Documents(data, "sol-dhl");
      let doc_url = DOCS.get_url();

      this.$modal.show(
        {
          template: `
              <div class="docs-modal">
                <iframe name="label-frame" frameborder="none" :src="resource" height="100%" width="100%" />
                <div class="docs-modal__footer">
                  <a class="btn btn--nomargin" :href="resource" download="label-${CURRENT_DATE}">Сохранить</a>
                  <button @click="printDocument('label-frame')" class="btn btn--nomargin">Печать</button>
                </div>
              </div>
            `,
          props: ["resource", "printDocument"]
        },
        {
          resource: doc_url,
          printDocument: this.printDocument
        },
        {
          height: "70%",
          width: "70%"
        }
      );
    },
    // ! REVIEW
    showProforma(data) {
      let blob = new Blob([data], { level: "text/html; charset=utf-8" });
      let link = URL.createObjectURL(blob);

      this.$modal.show(
        {
          template: `
              <div class="docs-modal">
                <iframe name="proforma-frame" frameborder="none" height="100%" width="100%" :srcdoc="content"></iframe>
                <div class="docs-modal__footer">
                  <a class="btn" :href="url" download="proforma-${CURRENT_DATE}">Сохранить</a>
                  <button @click="printDocument('proforma-frame')" class="btn btn--nomargin">Печать</button>
                </div>
              </div>
            `,
          props: ["content", "url", "printDocument"]
        },
        {
          content: data,
          url: link,
          printDocument: this.printDocument
        },
        {
          height: "70%",
          width: "70%"
        }
      );
    },
    // ! REVIEW
    handleEditShipment({ shipment, action, trackOrId, doctype }) {
      if (action === "create") {
        /**
         * ! @@@@@@@@
         * ! DHL DOCS
         * ! @@@@@@@@
         */
        this.handleDhl([shipment]);
      } else if (action === "load") {
        let route,
          request_options = {
            responseType: "arraybuffer",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/pdf",
              "Content-Disposition": "inline"
            }
          };

        if (doctype === "label") {
          route = `/shipping/label/by_shipment/`;
        } else if (doctype === "proforma") {
          route = `/shipping/shipment/proforma/`;
          request_options = {
            headers: {
              "Content-Type": "application/json",
              "Content-Disposition": "inline"
            }
          };
        } else {
          throw new Error("Unhandled doctype");
        }

        this.$set(this.loading, shipment.id, true);

        this.$api
          .get(route + trackOrId, {
            ...request_options
          })
          .then(({ data }) => {
            if (doctype === "label") {
              this.showLabel(data);
            } else if (doctype === "proforma") {
              this.showProforma(data);
            }
          })
          .catch(e => {
            const {
              message: title = "Не удалось получить документы",
              errors
            } = this.$parseApiError(e);

            this.$alert({
              title,
              level: "danger",
              errors
            });
          })
          .then(() => {
            this.loading[shipment.id] = false; // ? TODO ?
          });
      }
    },
    // ! REVIEW
    async handleDhl(shipments) {
      var target_shipments;

      if (!shipments) {
        // this.loading.shipments = true;
        this.$store.commit("app/SET_LOADING", true);

        const {
          data: { shipments: fetched_shipments }
        } = await this.getDhlCreated();

        target_shipments = fetched_shipments;
        // this.loading.shipments = false;
        this.$store.commit("app/SET_LOADING", false);
      } else {
        target_shipments = shipments;
      }

      this.$modal.show(
        () => import("@/components/Shipments/AddTrack/dialog.vue"),
        {
          shipments: target_shipments,
          show: ["hub"]
        },
        {
          height: "auto",
          width: 1000,
          name: "add-track",
          clickToClose: false
        },
        {
          submit: async ({ checked, hub_id }) => {
            this.$modal.hide("check-ships");

            await this.editShipmentsProducts(null, checked);

            this.$modal.show(
              () => import("@/components/Shipments/ManageInfo"),
              {},
              {
                height: "auto",
                name: "manage-info"
              },
              {
                submit: async ({
                  shipper,
                  dimensions: { weight, ...rest }
                }) => {
                  // /shipping/shipment/docs POST
                  let params = {
                    shipper,
                    dimensions: rest,
                    total_weight: weight,
                    shipment_id: checked,
                    hub_id
                  };

                  this.loading.modal = "Сохранение данных";

                  try {
                    const {
                      data,
                      data: { success }
                    } = await this.$api.post(`/shipping/shipment/docs`, params);

                    if (!data) {
                      this.$message({
                        level: "danger",
                        title: "Не удалось завершить запрос."
                      });
                      this.loading.modal = false;
                      return;
                    }

                    if (success) {
                      this.$message({
                        level: "success",
                        title: data.message || "Документы созданы"
                      });
                      this.$modal.hide("manage-info");
                    } else {
                      this.$alert({
                        level: "danger",
                        title: data.message || "Не удалось завершить запрос"
                      });
                    }
                  } catch (error) {
                    this.$alert({
                      level: "danger",
                      title:
                        error.response.data.message ||
                        "Не удалось завершить запрос"
                    });
                    this.loading.modal = false;
                  }
                  this.$modal.hide("manage-info");
                  this.loading.modal = false;
                  this.getShipments();
                },
                reject: message => {
                  this.$modal.hide("manage-info");
                }
              }
            );
          },
          reject: () => {
            this.$modal.hide("check-ships");
            this.getShipments();
          }
        }
      );
    },
    // ! REVIEW
    submitProducts() {
      let p = this.prepare_ship.products;

      p = p.map(prod => ({
        product_id: prod.id,
        product_title_customs_eng: prod.title_customs_eng,
        product_title_customs_ua: prod.title_customs_ua
      }));

      return this.$api.put(`/warehouse/products`, p);
    },
    // ! REVIEW
    async submitForDocs() {
      // create new docs
      this.$v.$touch();

      let for_docs = {
        shipper: {
          ...this.new_shipper
        },
        ...(this.checked.length
          ? { shipment_id: this.checked.map(s => s.id) }
          : { shipment_id: this.prepare_ship.id }),
        dimensions: {
          ...this.dimensions
        },
        total_weight: this.dimensions.weight
      };

      if (this.$v.$error) {
        return;
      }

      this.loading.modal = true;

      let {
        data: products_response,
        data: { success = 0 }
      } = await this.submitProducts();

      if (!success) {
        this.$alert({
          title: "Не удалось сохранить изменения",
          level: "warning",
          message: products_response.message,
          errors: products_response.errors
        });
        return;
      }

      this.$api
        .post(`/shipping/shipment/docs/price/`, for_docs)
        .then(({ data: price_response }) => {
          let w = price_response.warnings.length
            ? " \n Дополнительно:" + price_response.warnings
            : "";
          let c = confirm("Стоимость составит $" + price_response.price + w);

          if (!c) return;

          this.loading.modal = "Создание документов";

          this.$api
            .post(`/shipping/shipment/docs`, for_docs)
            .then(({ data }) => {
              this.$message(
                {
                  title: "Документы созданы",
                  message: "Получить к ним доступ можно в списке отправок",
                  level: "success"
                },
                5000
              );

              this.$modal.hide("shippings-docs");
              this.getShipments();
            })
            .catch(error => {
              let inner = null;
              if (error.response) {
                inner = error.response.data;
              }
              // this.$alert({
              //   title: "Ошибка при запросе в DHL",
              //   inner,
              //   level: "warning"
              // });
            })
            .then(() => {
              this.loading.modal = false;
            });
        })
        .catch(e => {
          const { message: title = "", errors } = this.$parseApiError(e);

          this.$message({
            title,
            errors,
            level: "danger"
          });
        })
        .then(() => {
          this.loading.modal = false;
        });
    },
    clearShipper() {
      let c = confirm(
        "Cохраненные данные об отправителе удалятся, продолжить ?"
      );
      if (c) {
        LS.removeItem("new_shipper");
        this.new_shipper = {
          ...this.$options.data().new_shipper
        };
      }
    },
    handleConsolidDocs({ shipment }) {
      this.$modal.show("shippings-docs");
      this.prepare_ship = shipment;

      this.loading.modal = true;

      this.getShipmentProducts([shipment.id])
        .then(({ data: { products } }) => {
          this.prepare_ship = { ...this.prepare_ship, products };
        })
        .catch(e => {
          const {
            message: title = "Не удалось получить информацию о товарах",
            errors
          } = this.$parseApiError(e);

          this.$alert({
            title,
            errors,
            level: "warning"
          });
        })
        .then(() => {
          this.loading.modal = false;
        });
    },
    submitButchProducts() {
      try {
        this.loading.modal = true;

        this.submitProducts()
          .then(({ data }) => {
            this.submitButchShipment(this.prepare_ship.id)
              .then(({ data }) => {
                this.$message({ title: data.message, level: "success" }, 0);
                this.$modal.hide("edit-products");
              })
              .catch(e => {
                throw e;
              });
          })
          .catch(e => {
            throw e;
          });
      } catch (e) {
        const { message: title = "", errors } = this.$parseApiError(e);

        this.$alert({
          level: "danger",
          title,
          errors
        });
      } finally {
        this.loading.modal = false;
      }
    },
    async handleButchDocs(shipments) {
      // this.$set(this.loading, id, true);

      await this.editShipmentsProducts(null, [...shipments]);

      let ids = Array.from(shipments).map(s => s.id);

      try {
        const {
          data: { message }
        } = await this.submitButchShipment(ids);

        this.$message({
          level: "success",
          title: message
        });
      } catch (e) {
        const {
          message: title = "Не удалось сохранить данные",
          errors
        } = this.$parseApiError(e);

        this.$alert({
          level: "danger",
          title,
          errors
        });
      }
    },
    submitButchShipment(shipment_id) {
      return this.$api.post(
        `/shipping/label/consolidation`,
        { shipment_id },
        {
          headers: {
            "Cache-Control": "no-cache"
          }
        }
      );
    },
    handleConsolidCost({ shipment }) {
      this.$set(this.loading, shipment.id, true);

      this.$api
        .post(`/shipping/rates/consolidation`, {
          shipment_id: shipment.id
        })
        .then(({ data: { rates } }) => {
          let [t] = this.shipments.filter(sh => {
            return sh.id === shipment.id;
          });

          t.total = rates.total;

          this.$message(
            {
              title:
                "Стоимость отправки данной посылки составит $" + rates.total,
              message:
                "Стоимость отправки каждой отдельной посылки появилась в информации посылке.",
              caption:
                "Стоимость отправки каждой отдельной посылки появилась в информации посылке.",
              level: "info"
            },
            false
          );

          let n = { ...t };
          let cost = n.parcels.map(p => {
            return { ...p, ...rates[p.parcel_id] };
          });

          t.parcels = [...cost];
        })
        .catch(e => {
          const {
            message: title = "Не удалось получить информацию. Попробуйте ещё раз",
            errors
          } = this.$parseApiError(e);

          this.$alert({
            title,
            errors,
            level: "danger"
          });
        })
        .then(() => {
          this.loading[shipment.id] = false;
        });
    },
    getStickers(id, format = this.sticker_format, isModal = false) {
      return new Promise(async (done, fail) => {
        this.temp_id = id;

        isModal
          ? (this.loading.modal = true)
          : this.$store.commit("app/SET_LOADING", true);

        this.$api({
          url: `/shipping/print_products_stickers/${id}`,
          ...(format && {
            params: {
              format
            }
          })
        })
          .then(({ data }) => {
            this.$modal.show("stickers");

            setTimeout(() => {
              this.showStickers(data);
              done();
            }, 111);
          })
          .catch(e => {
            const {
              message: title = "Не удалось загрузить стикеры",
              errors
            } = this.$parseApiError(e);

            this.$alert({
              title,
              level: "danger",
              errors
            });
            fail(e);
          })
          .then(() => {
            isModal
              ? (this.loading.modal = false)
              : this.$store.commit("app/SET_LOADING", false);
          });
      });
    },
    showStickers(data) {
      let df = document.getElementById("stickers-holder");
      df =
        df.contentWindow || df.contentDocument.document || df.contentDocument;

      df.document.open();
      df.document.write(data);
      df.document.close();
    },
    printStickers() {
      if (this.sticker_format) {
        localStorage.setItem("_sticker-format", this.sticker_format);
      }
      this.printDocument("stickers-holder");
    },
    async changeStickerFormat() {
      try {
        await this.getStickers(this.temp_id, this.sticker_format, true);

        this.$message({
          title: "Формат печати изменён",
          level: "success"
        });
      } catch (e) {
        console.log(e);

        const { message: title = "", errors } = this.$parseApiError(e);

        this.$alert({
          level: "warning",
          errors,
          title
        });
      }
    },
    getCreateLabel() {
      return this.$api.get(`/shipping/shipment?action=create_label`);
    },
    getCustomerCreated() {
      return this.$api.get(`/shipping/shipment?action=add_track`);
    },
    getCreatedLabel() {
      return this.$api.get(`/shipping/shipment?action=download_label`);
    },
    getDhlCreated() {
      return this.$api.get(
        `/shipping/shipment?action=create_label_consolidation`
      );
    },
    async initCreateLabel() {
      // this.loading.shipments = true;
      this.$store.commit("app/SET_LOADING", true);

      const {
        data: { shipments }
      } = await this.getCreateLabel();

      this.$modal.show(
        () => import("@/components/Shipments/AddTrack/dialog.vue"),
        {
          shipments,
          heading: "Создание labels",
          confirm_btn: "Создать",
          show: ["create_label"]
        },
        {
          height: "auto",
          name: "add-track",
          width: 1000,
          clickToClose: false
        },
        {
          submit: async ({ checked }) => {
            this.$modal.hide("add-track");

            try {
              await this.editShipmentsProducts(null, [...checked]);
            } catch (e) {
              const {
                message: title = "Не удалось сохранить изменения",
                errors
              } = this.$parseApiError(e);

              this.$alert({
                level: "warning",
                title,
                errors
              });
            }

            try {
              const {
                data: { message }
              } = await this.submitButchShipment([...checked]);

              this.$message({
                title: message,
                level: "success"
              });
            } catch (e) {
              const {
                message: title = "Не удалось сохранить изменения",
                errors
              } = this.$parseApiError(e);

              this.$alert({
                level: "warning",
                title,
                errors
              });
            } finally {
              // this.loading.shipments = false;
              this.$store.commit("app/SET_LOADING", false);
            }
          },
          reject: () => {
            this.$modal.hide("add-track");
            this.getShipments();
          }
        }
      );
    },
    async initGetLabels() {
      // this.loading.shipments = true;
      this.$store.commit("app/SET_LOADING", true);

      try {
        const {
          data: { shipments }
        } = await this.getCreatedLabel();

        // this.loading.shipments = false;
        this.$store.commit("app/SET_LOADING", false);

        this.$q
          .dialog({
            component: import("@/components/Shipments/AddTrack/dialog.vue"),
            shipments,
            showing: ["export_tracks"],
            heading: "Работа с labels",
            confirm_btn: "Получить labels"
          })
          .onOk(async ({ checked }) => {
            this.loading.modal = true;

            try {
              const { data: labels } = await this.$api({
                url: `/shipping/label/bulk?shipment_id=${checked.join(",")}`,
                responseType: "arraybuffer"
              });

              this.showLabel(labels);
            } catch (e) {
              console.log(e);
            } finally {
              this.$showApiError(e, {
                fallbackMessage:
                  "Не удалось получить документы. Неопознанная ошибка сервера."
              });
            }

            // this.$modal.hide("add-track");
          });
      } catch (e) {
        console.log(e);
      } finally {
      }
    },
    async addTrack(target) {
      let _TARGET;

      if (target === "checked") {
        if (!this.ableToAddTrack) {
          this.$alert(
            {
              level: "warning",
              title:
                "Одной или нескольким из выбранных посылок уже присвоен трек-номер.",
              message: "Таким отправкам невозможно присвоить новый трек-номер"
            },
            7000
          );

          return;
        }
        _TARGET = this.checked;
      } else if (target === "created") {
        // this.loading.shipments = true;
        this.$store.commit("app/SET_LOADING", true);

        try {
          let {
            data: { shipments }
          } = await this.getCustomerCreated();

          if (!shipments || !shipments.length) {
            this.$alert({
              level: "warning",
              title: "По данным критериям отправок не найдено"
            });

            return;
          }

          _TARGET = shipments;
        } catch (e) {
          console.log("e:", e);
        } finally {
          // this.loading.shipments = false;
          this.$store.commit("app/SET_LOADING", false);
        }
      }

      let addTrack = this.$q
        .dialog({
          component: () => import("@/components/Shipments/AddTrack/dialog.vue"),
          shipments: _TARGET,
          showing: ["track"],
          heading: "Внесение транзитных трек-номеров",
          confirm_btn: "Присвоить"
        })
        .onOk(async ({ track, checked }) => {
          if (!track || !track.length) {
            this.$message({
              level: "warning",
              title: "Введите трек-номмер"
            });
            return;
          }

          let c = await this.$confirm({
            title: "Присвоить введённый трек-номер к выбранным посылкам ?"
          });

          if (!c) return;

          addTrack.hide();

          this.loading.modal = true;

          try {
            await this.$api.post(`/v2/shipping/shipments/add-track`, {
              shipment_ids: [...checked],
              track_number: track
            });

            this.$message({
              level: "success",
              title: `Трек номер внесён для выбранных (${checked.length}) отправок`
            });

            this.$modal.hide("add-track");

            this.$store.commit("Shipments/CLEAR_CHECKED");
          } catch (e) {
            console.log("e:", e);

            const {
              message: title = "Не удалось завершить запрос",
              errors
            } = this.$parseApiError(e);

            this.$alert({
              level: "danger",
              title,
              errors
            });
          } finally {
            this.loading.modal = false;
          }
        });
    },
    async editShipmentsProducts($event, shipments = this.checked) {
      let target;

      if (shipments && shipments[0] && typeof shipments[0] === "number") {
        target = [...shipments];
      } else {
        target = [...shipments.map(s => s.id)];
      }

      return new Promise((ok, fail) => {
        this.$modal.show(
          () => import("@/components/Shipments/EditProducts"),
          {
            shipments: [...target]
          },
          {
            name: "edit-prods",
            height: "auto",
            scrollable: true
          },
          {
            submit: async products => {
              try {
                this.loading.modal = "Сохранение изменений";

                await this.$api.put(`/warehouse/products`, [
                  ...products.map(p => ({
                    product_id: p.id,
                    product_title_customs_eng: p.title_customs_eng,
                    product_title_customs_ua: p.title_customs_ua
                  }))
                ]);

                this.$modal.hide("edit-prods");
                ok(products);
              } catch (e) {
                const {
                  message: title = "Не удалось сохранить изменения",
                  errors
                } = this.$parseApiError(e);

                this.$alert({
                  level: "danger",
                  title,
                  errors
                });
              } finally {
                this.loading.modal = false;
                // this.$modal.hide("edit-prods");
              }
            },
            reject: () => {
              this.loading.modal = false;
              fail();
            }
          }
        );
      });
    },
    async bulkCreateDocs(shipments = this.checked) {
      await this.editShipmentsProducts();

      try {
        const {
          data: { success, message }
        } = await this.submitButchShipment(shipments.map(s => s.id));

        if (success) {
          this.$message({
            title: message,
            level: "success"
          });
        }
      } catch (e) {
        const {
          message: title = "Не удалось сохранить изменения",
          errors
        } = this.$parseApiError(e);

        this.$alert({
          level: "danger",
          title,
          errors
        });

        this.$alert({
          title,
          level: "success",
          errors
        });
      }
    },
    async handleReturnLabel(id) {
      try {
        this.loading.page = true;

        const {
          data: { message: title }
        } = await this.$api.post(`/shipping/label/consolidation/`, {
          shipment_id: id
        });

        this.$message(
          {
            title,
            level: "success"
          },
          0
        );
      } catch (e) {
        console.log("e:", e);

        const {
          message: title = "Не удалось завершить создание документов",
          errors
        } = this.$parseApiError(e);

        this.$alert({
          level: "danger",
          title,
          errors
        });
      } finally {
        this.loading.page = false;
      }
    },
    handleFilter(params) {
      this.filter = params;
      this.getShipments({ page: 1, ...this.filter });
    },
    async stickersBulkPrint() {
      try {
        // this.loading.modal = true;
        let target;

        if (this.checked && this.checked.length) {
          target = this.checked;
        } else {
          const {
            data: { shipments }
          } = await this.$api.get(`/shipping/shipment?action=download_label`);

          target = shipments;
        }

        let checkDialog = this.$q
          .dialog({
            parent: this,
            component: () =>
              import("@/components/Shipments/AddTrack/dialog.vue"),
            shipments: target,
            heading: "Печать стикеров",
            confirm_btn: "Получить стикеры",
            showing: ["format"],
            loading: this.loading.modal
          })
          .onOk(async ({ checked, format = null }) => {
            checkDialog.hide();

            try {
              this.loading.modal = true;

              const document = await this.getTargetStickers({
                checked,
                format: (format && format.value) || null
              });

              this.$q.dialog({
                component: () => import("@/components/_ui/DocumentViewer"),
                document,
                name: "cdek-document"
              });
            } catch (e) {
              console.log("e:", e);

              this.$showApiError(e, {
                fallbackMessage: "Не удалось получить стикеры"
              });
            } finally {
              this.loading.modal = false;
            }
          })
          .onDismiss(() => {
            this.getShipments();
          });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось получить целевые отправки"
        });
      } finally {
        this.loading.shipments = false;
        this.loading.modal = false;
      }
    },
    async getTargetStickers({
      checked: shipment_ids,
      format: print_format = null
    }) {
      return new Promise(async (done, fail) => {
        try {
          const { data } = await this.$api({
            method: "POST",
            url: `/v2/shipping/shipments/get-stickers`,
            data: { shipment_ids, print_format },
            responseType: "arraybuffer"
          });

          done(data);
        } catch (e) {
          fail(e);
        }
      });
    },
    createCdek() {
      let invalid_checked = this.checked.find(
        s => s.status_code !== "customer_created"
      );

      if (invalid_checked) {
        this.$alert({
          level: "info",
          title:
            'Одна или несколько из выбранных отправок не подходят для оформления заявки СДЭК. Все выбранные отправки должны иметь статус "Создано клиентом"'
        });

        return;
      }

      this.$router.push({
        path: "/cdek/create",
        query: { shipments: [...this.checked.map(({ id }) => id)].join(",") }
      });
    },
    async createConsolidatedFromSender() {
      console.log(this.checked);

      if (this.checked.some(s => s.type_code !== "client_bulk")) {
        this.$alert({
          title:
            "Не все выбранные отправки соответствуют условиям создания консолидации от продавца. Все выбранные отправки должны быть типа 'Оптовая консолидация' ",
          level: "danger"
        });
        return;
      }

      let c = await this.$confirm({
        title: `Из выбранных (${this.checked.length}) отправок будет создана Консолидация от продавца. Хотите продолжить ?`
      });
      if (!c) return;

      this.$router.push({
        name: "CREATE_SHIPMENT",
        params: { client_bulk_shipments: this.checked }
      });
    }
  },
  validations: {
    prepare_ship: {
      products: {
        $each: {
          title_customs_eng: {
            required,
            ALPHA_PLUS
          },
          title_customs_ua: {
            required: requiredIf(function() {
              return this.prepare_ship.type_code !== "agent_shipping";
            })
          }
        }
      }
    },
    dimensions: {
      length: {
        required
      },
      width: {
        required
      },
      height: {
        required
      },
      weight: {
        required
      }
    },
    new_shipper: {
      shipper_name_ua: {
        required
      },
      shipper_name_en: {
        required,
        ALPHA_PLUS
      },
      shipper_street_ua: {
        required
      },
      shipper_street_en: {
        required,
        ALPHA_PLUS
      },
      shipper_email: {
        required
      },
      shipper_city_ua: {
        required
      },
      shipper_city_en: {
        required,
        ALPHA_PLUS
      },
      shipper_phone: {
        required
      },
      shipper_postal_code: {
        required
      }
    }
  }
};
</script>

<style lang="scss">
.shipments {
  &__list {
    position: relative;
  }

  &__item {
    margin-bottom: 21px;

    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.28),
      0 28px 35px -16px rgba(9, 9, 16, 0.07);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
