<template>
  <component v-bind:is="transition_type" mode="out-in" name="fade" appear>
    <div key="to" v-if="state">
      <slot />
    </div>
    <div key="from" v-else-if="$slots.from">
      <slot name="from" />
    </div>
  </component>
</template>

<script>
export default {
  name: "transition-template",
  inheritAttrs: false,
  props: {
    group: {
      type: Boolean,
      default: false
    },
    state: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    transition_type() {
      return this.group ? "transition-group" : "transition";
    }
  }
};
</script>
