<template>
  <div class="modal">
    <div class="modal__head">Дополнительная информация</div>
    <div class="modal__body">
      <div class="modal__content-group">
        <div class="row">
          <div class="col-3">
            <div
              class="form-group"
              :class="{ 'input--error': $v.dimensions.length.$error }"
            >
              <label for="">Длина</label>
              <input type="text" v-model.number="dimensions.length" />
            </div>
          </div>
          <div class="col-3">
            <div
              class="form-group"
              :class="{ 'input--error': $v.dimensions.width.$error }"
            >
              <label for="">Ширина</label>
              <input type="text" v-model.number="dimensions.width" />
            </div>
          </div>
          <div class="col-3">
            <div
              class="form-group"
              :class="{ 'input--error': $v.dimensions.height.$error }"
            >
              <label for="">Высота</label>
              <input type="text" v-model.number="dimensions.height" />
            </div>
          </div>
          <div class="col-3">
            <div
              class="form-group"
              :class="{ 'input--error': $v.dimensions.weight.$error }"
            >
              <label for="">Вес</label>
              <input type="text" v-model.number="dimensions.weight" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal__content-group">
        <div class="modal__heading-group">
          <h3>Отправитель</h3>
          <!-- <button @click="clearShipper" class="btn btn-xs">
            Удалить отправителя из памяти
          </button> -->
        </div>
        <div class="row">
          <div class="col">
            <div
              class="form-group"
              :class="{
                'input--error': $v.new_shipper.shipper_name_ua.$error
              }"
            >
              <label for="">ФИО (укр)</label>
              <input v-model="new_shipper.shipper_name_ua" type="text" />
            </div>
            <div
              class="form-group"
              :class="{
                'input--error': $v.new_shipper.shipper_name_en.$error
              }"
            >
              <label for="">ФИО (eng)</label>
              <input v-model="new_shipper.shipper_name_en" type="text" />
            </div>
            <div
              class="form-group"
              :class="{ 'input--error': $v.new_shipper.shipper_email.$error }"
            >
              <label for="">Email:</label>
              <input v-model="new_shipper.shipper_email" type="text" />
            </div>

            <div
              class="form-group"
              :class="{
                'input--error': $v.new_shipper.shipper_city_ua.$error
              }"
            >
              <label for="">Город (укр):</label>
              <input v-model="new_shipper.shipper_city_ua" type="text" />
            </div>

            <div
              class="form-group"
              :class="{
                'input--error': $v.new_shipper.shipper_city_en.$error
              }"
            >
              <label for="">Город (eng):</label>
              <input v-model="new_shipper.shipper_city_en" type="text" />
            </div>
          </div>
          <div class="col">
            <div
              class="form-group"
              :class="{
                'input--error': $v.new_shipper.shipper_street_ua.$error
              }"
            >
              <label for="">Адрес (укр):</label>
              <input v-model="new_shipper.shipper_street_ua" type="text" />
            </div>
            <div
              class="form-group"
              :class="{
                'input--error': $v.new_shipper.shipper_street_en.$error
              }"
            >
              <label for="">Адрес (eng):</label>
              <input v-model="new_shipper.shipper_street_en" type="text" />
            </div>
            <div
              class="form-group"
              :class="{ 'input--error': $v.new_shipper.shipper_phone.$error }"
            >
              <label for="">Телефон:</label>
              <input v-model="new_shipper.shipper_phone" type="text" />
            </div>
            <div
              class="form-group"
              :class="{
                'input--error': $v.new_shipper.shipper_postal_code.$error
              }"
            >
              <label for="">Почтовый индекс:</label>
              <input v-model="new_shipper.shipper_postal_code" type="text" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <div @click="$emit('reject', 'Rejected in ManageInfo modal')" class="btn">
        Отмена
      </div>
      <div @click="submitData" class="btn text-success">Продолжить</div>
    </div>
  </div>
</template>

<script>
import { requiredIf, required } from "vuelidate/lib/validators";
const re = /^[^а-яА-Я]*$/; // alphanumeric & spaces
const ALPHA_PLUS = val => {
  return re.test(val);
};
export default {
  data() {
    return {
      dimensions: {
        length: null,
        width: null,
        height: null,
        weight: null
      },
      new_shipper: {
        shipper_name_ua: null,
        shipper_name_en: null,
        shipper_street_ua: null,
        shipper_street_en: null,
        shipper_email: null,
        shipper_city_ua: null,
        shipper_city_en: null,
        shipper_phone: null,
        shipper_postal_code: null
      }
    };
  },
  mounted() {
    let saved_shipper = JSON.parse(localStorage.getItem("new_shipper"));

    if (saved_shipper && Object.values(saved_shipper).length) {
      this.new_shipper = { ...saved_shipper };
    }
  },
  methods: {
    submitData() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message(
          {
            level: "warning",
            title:
              "Отмеченные красным поля являются обязательными для заполнения"
          },
          5000
        );
        return;
      }

      this.$parent.$emit("submit", {
        shipper: this.new_shipper,
        dimensions: this.dimensions
      });
    }
  },
  validations() {
    return {
      dimensions: {
        length: {
          required
        },
        width: {
          required
        },
        height: {
          required
        },
        weight: {
          required
        }
      },
      new_shipper: {
        shipper_name_ua: {
          required
        },
        shipper_name_en: {
          required,
          ALPHA_PLUS
        },
        shipper_street_ua: {
          required
        },
        shipper_street_en: {
          required,
          ALPHA_PLUS
        },
        shipper_email: {
          required
        },
        shipper_city_ua: {
          required
        },
        shipper_city_en: {
          required,
          ALPHA_PLUS
        },
        shipper_phone: {
          required
        },
        shipper_postal_code: {
          required
        }
      }
    };
  }
};
</script>

<style></style>
