<template>
  <div class="modal select-rate">
    <div class="modal__head">
      Способ доставки посылки
    </div>
    <div class="modal__body">
      <div class="modal__content-group">
        <p>
          Выберите способ доставки Вашей посылки в наш офис, от этого будет
          зависеть стоимость доставки
        </p>
        <div class="select-rate__items" v-if="rates">
          <div class="select-rate__item" :key="id" v-for="(rate, id) in rates">
            <input
              v-model="recipient"
              :value="rate.recipient"
              type="radio"
              :id="`rate-${id}`"
            />
            <label :for="`rate-${id}`">
              <h3 v-if="rate.recipient === 'post_office'">
                <small>доставка</small>
                через почтовое отделение
              </h3>
              <h3 v-if="rate.recipient === 'sol_office'">
                <small>доставка</small>
                в наш офис напрямую
              </h3>
              <b>
                <span>стоимость составит</span>
                {{ $toUSD(rate.rate) }}
              </b>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div
      class="alert alert-danger"
      style="border-radius: 0; padding: 21px;margin-top: 0"
    >
      <p style="font-size:16px">
        Вам не нужно оплачивать стоимость доставки в отделении.
      </p>
    </div>
    <div class="modal__footer">
      <button @click="$parent.$emit('reject')" class="btn text-danger">
        Вернуться
      </button>
      &nbsp; &nbsp;
      <button
        @click="submit"
        :disabled="!recipient"
        class="btn btn-block btn-primary"
      >
        Выбрать
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["rates"],
  data() {
    return {
      recipient: null
    };
  },
  methods: {
    submit() {
      this.$parent.$emit("submit", this.recipient);
    }
  }
};
</script>

<style lang="scss" scoped>
.select-rate {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.56;
  }

  .alert {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -0.42px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    // margin-top: 28px;
    align-items: stretch;
    margin-top: 28px;
  }

  &__item {
    font-size: 14px;
    height: 100%;
    width: 47%;

    &:hover {
      label {
        background-color: rgba(#0067f4, 0.04);
        border-color: rgba(#0067f4, 0.3);
      }
    }

    input {
      display: none;

      &:checked {
        & + label {
          border-color: #0067f4;
          color: #0067f4;
          box-shadow: 0 0 0 5px rgba(#0067f4, 0.21);
          background-color: rgba(#0067f4, 0.04);
        }
      }
    }

    label {
      border: 1px solid #ddd;
      padding: 35px 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      border-radius: 4px;
      transition: border ease 0.14s, color ease 0.14s, box-shadow ease 0.14s,
        background-color ease 0.14s;

      h3,
      b {
        font-weight: normal;
        margin: 0;
        padding: 0;
      }

      h3 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;

        small {
          display: block;
          font-size: 12px;
          color: #888;
          margin-bottom: 4px;
          font-weight: 600;
        }
      }

      b {
        font-size: 35px;
        margin-top: 28px;
        line-height: 1;
        font-weight: 400;
        text-align: center;

        span {
          font-size: 12px;

          display: block;
          margin-bottom: 10px;
        }
      }
    }
  }
}
</style>
