<template>
  <q-banner class="bg-primary" v-if="!accepted">
    <div class="container">
      <div class="flex-center-between no-wrap q-py-sm">
        <div class="text-white" style="font-size:15px;">
          Этот сайт использует файлы cookie для аналитики и персонализации.
          Продолжая просматривать его, вы соглашаетесь на использование нами
          файлов cookie.
        </div>
        <app-btn
          @click="acceptCookies"
          class="text-primary bg-white q-ml-xl text-bold"
          flat
          size="13px"
        >
          Соглашаюсь
        </app-btn>
      </div>
    </div>
  </q-banner>
</template>

<script>
export default {
  created() {
    let accepted = !!localStorage.getItem("accept-cookies");

    this.accepted = accepted;
  },
  data() {
    return {
      accepted: true
    };
  },
  methods: {
    acceptCookies() {
      localStorage.setItem("accept-cookies", true);
      this.accepted = true;
    }
  }
};
</script>

<style></style>
