<template>
  <PageContainer title="Home" class="page page--home home-page">
    <div class="container"></div>
  </PageContainer>
</template>

<script>
export default {
  name: "PageIndex",
  data() {
    return {};
  }
};
</script>
<style lang="scss"></style>
