<template>
  <PageContainer :title="document_type_title" with-back="/legal-info">
    <div class="container">
      <div v-if="document_type === 'personal-data'" id="personal-data">
        <h5>
          Согласие на обработку персональных данных при использовании сайта
          https://ecomexpress.ru (далее – Сайт)
        </h5>
        <p>
          Используя Сайт для целей организации оказания экспедиторских услуг,
          выражаю согласие на автоматизированную, а также без использования
          средств автоматизации обработку моих персональных данных обществом с
          ограниченной ответственностью «ЕКОМ ЭКСПРЕСС» (ОГРН 1217700201630,
          далее – «Оператор»), находящимся по адресу: 121357, Москва, ул.
          Ватутина, д. 11, ЭТ./ПОМ./КОМ. 1/V/1-8 для следующих целей:
        </p>
        <ul>
          <li>
            Оказания услуг Оператором, в случае заключения соответствующего
            Договора с Оператором.
          </li>
          <li>Использование Сайта Оператора.</li>
          <li>Обеспечение качественной работы Сайта.</li>
          <li>
            Даю согласие на обработку персональных данных, относящихся
            исключительно к перечисленным ниже категориям персональных данных:
            <ul>
              <li>
                фамилия, имя, отчество;
              </li>
              <li>
                Номер телефон;
              </li>
              <li>
                Адрес электронной почты;
              </li>
              <li>
                Ведение аудиозаписи разговора при взаимодействии Оператора или
                третьих лиц, в рамках оказания услуг
              </li>
              <li>
                Дополнительные сведения по моему желанию, которые возможно
                указать при регистрации в Личном кабинете на Сайте
              </li>
            </ul>
          </li>
        </ul>
        <p>
          Настоящее согласие предоставляется мной на осуществление действий в
          отношении моих персональных данных, которые необходимы для достижения
          указанных выше целей, включая (без ограничения) сбор, систематизацию,
          накопление, хранение, уточнение (обновление, изменение),
          использование, передачу третьим лицам для осуществления действий по
          обмену информацией, обезличивание, блокирование персональных данных, а
          также осуществление любых иных действий, предусмотренных действующим
          законодательством Российской Федерации.
        </p>

        <p>
          Также я даю согласие в соответствии с Федеральным законом от 27 июля
          2006 г. № 152-ФЗ «О персональных данных» обществу с ограниченной
          ответственностью «ЕКОМ ЭКСПРЕСС» (ОГРН 1217700201630, далее –
          «Оператор»), находящимся по адресу: 121357, Москва, ул. Ватутина, д.
          11, ЭТ./ПОМ./КОМ. 1/V/1-8 на передачу моих персональных данных,
          полученных в рамках оказания услуг, согласно заключенному договору, а
          именно:
        </p>
        <ul>
          <li>
            Фамилия, имя, отчество;
          </li>
          <li>
            Номер телефон;
          </li>
          <li>
            Адрес электронной почты;
          </li>
          <li>
            Ведение аудиозаписи разговора при взаимодействии Оператора или
            третьих лиц, в рамках оказания услуг
          </li>
          <li>
            Дополнительные сведения по моему желанию, которые возможно указать
            при регистрации в Личном кабинете на Сайте Следующим
            заинтересованным лицам:
            <ul>
              <li>
                уполномоченным Операторам перевозчикам осуществляющих перевозку
                моего груза;
              </li>
              <li>
                уполномоченным Операторам участникам внешнеэкономической
                деятельности осуществляющих таможенное оформление моего груза;
              </li>
              <li>
                государственным органам и организациям, принимающим участие в
                перевозке моего груза.
              </li>
            </ul>
          </li>
        </ul>
        <p>
          Целью обработки персональных данных является - оказание экспедиционных
          услуг.
        </p>
        <p>
          Настоящее согласие считается подписанным с использованием средств
          простой электронной подписи в соответствии с условиями Оферты,
          размещенной на Сайте.
        </p>
        <p>
          Настоящее согласие, действует до достижения целей обработки
          персональных данных. Настоящее согласие может быть отозвано мною в
          любой момент с обязательным направлением Оператору письменного
          уведомления.
        </p>
        <p>
          Мне разъяснено, что при отзыве мною согласия Оператор (или
          уполномоченный им оператор) вправе продолжить обработку моих
          персональных данных в случаях, предусмотренных Федеральным законом от
          27.07.2006 № 152-ФЗ «О персональных данных».
        </p>
      </div>
      <div v-if="document_type === 'privacy-policy'" id="privacy-policy">
        <div>
          <h5>Политика конфиденциальности интернет-сайта</h5>
          <p>
            Настоящая Политика конфиденциальности персональных данных (далее -
            Политика конфиденциальности) применяется Обществом с ограниченной
            ответственностью «ЕКОМ ЭКСПРЕСС» ОГРН 1217700201630, ИНН 7720849030
            (Далее – Организация) в соответствии с положениями Федерального
            закона от 27.07.2006 № 152-ФЗ «О персональных данных» (далее – ФЗ «О
            персональных данных») и действует в отношении всей информации,
            расположенной на доменном имени https://ecomexpress.ru (включая все
            поддоменные имена, далее - Сайт), может получить о Пользователе во
            время использования Сайта, программ и продуктов Сайта.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            1. ОСНОВНЫЕ ТЕРМИНЫ
          </h6>
          <p>
            1.1 В настоящей Политике конфиденциальности используются следующие
            термины:
          </p>
          <p>
            1.1.1. «Администрация Сайта» – уполномоченные сотрудники на
            управления Сайтом, действующие от Организации, которые организуют и
            (или) осуществляют обработку персональных данных, а также определяют
            цели обработки персональных данных, состав персональных данных,
            подлежащих обработке, действия (операции), совершаемые с
            персональными данными.
          </p>
          <p>
            1.1.2. «Персональные данные» - любая информация, относящаяся к прямо
            или косвенно определенному или определяемому физическому лицу
            (субъекту персональных данных, Пользователю).
          </p>
          <p>
            1.1.3. «Обработка персональных данных» - любое действие (операция)
            или совокупность действий (операций), совершаемых с использованием
            средств автоматизации или без использования таких средств с
            персональными данными, включая сбор, запись, систематизацию,
            накопление, хранение, уточнение (обновление, изменение), извлечение,
            использование, передачу (распространение, предоставление, доступ),
            обезличивание, блокирование, удаление, уничтожение персональных
            данных.
          </p>
          <p>
            1.1.4. «Конфиденциальность персональных данных» - обязательное для
            соблюдения Администрацией Сайта или иным получившим доступ к
            персональным данным лицом требование не допускать их распространения
            без согласия субъекта персональных данных или наличия иного
            законного основания.
          </p>
          <p>
            1.1.5. «Пользователь» –означает физическое лицо, намеревающееся
            использовать и/или использующее Сайт и имеющее доступ к Сайту,
            посредством сети Интернет и использующее Сайт.
          </p>
          <p>
            1.1.6. «Cookies» — небольшой фрагмент данных, отправленный
            веб-сервером и хранимый на компьютере пользователя, который
            веб-клиент или веб-браузер каждый раз пересылает веб-серверу в
            HTTP-запросе при попытке открыть страницу соответствующего сайта.
          </p>
          <p>
            1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной
            сети, построенной по протоколу IP.
          </p>
          <p>
            1.1.8. «Публичная оферта» - публичное предложение Организации,
            адресованное Пользователям, заключить с ним договор/договоры на
            указанных в таком предложении условиях, в соответствии со статьей
            437 Гражданского кодекса Российской Федерации, размещённое на сайте:
            https://ecomexpress.ru, где будет размещена политика
            конфиденциальности.
          </p>
        </div>
        <div>
          <br />
          <h6 class="text-center">
            2. ОБЩИЕ ПОЛОЖЕНИЯ
          </h6>

          <p>
            2.1. Целью настоящей Политики конфиденциальности является
            обеспечение надлежащей защиты информации о Пользователях, в том
            числе их Персональных данных, от несанкционированного доступа и
            разглашения.
          </p>
          <p>
            2.2. Действие настоящей Политики конфиденциальности не
            распространяется на отношения, которые не регулируются ФЗ «О
            персональных данных», а также связанные с обработкой персональных
            сотрудников Организации.
          </p>
          <p>
            2.3. Администрация Сайта осуществляет обработку следующих
            персональных данных, предоставляемых Пользователем путём заполнения
            регистрационной формы для осуществления обратного звонка и формы
            оформления заказа на Сайте:
          </p>
          <ol>
            <li>
              фамилию, имя, отчество Пользователей;
            </li>
            <li>
              номер контактного телефона;
            </li>
            <li>
              адрес электронной почты;
            </li>
          </ol>
          <p>
            При получении персональных данных, не указанных в настоящем пункте,
            такие данные подлежат немедленному уничтожению лицом,
            непреднамеренно получившим их, за исключением данных, указанных в п.
            3.4 настоящей Политики конфиденциальности.
          </p>

          <p>
            2.4. Администрация Сайта осуществляет обработку персональных данных
            Пользователей в следующих целях:
          </p>
          <ol>
            <li>
              для исполнения заключенного между Организацией и Пользователем
              договора согласно условиям Публичной оферты, размещённой на Сайте,
              в том числе для осуществления обработки и заказов Клиентов, а
              также оказания услуг, информирования Пользователей о ходе
              исполнения договора Организацией путём направления СМС и/или
              e-mail уведомлений и/или звонков операторов;
            </li>
            <li>
              идентификации поступающих от Пользователей платежей в адрес
              Организации в целях исполнения заключенного между Организацией и
              Пользователем договора согласно условиям Публичной оферты,
              размещённой на Сайте;
            </li>
            <li>
              предоставления Пользователю технической и клиентской поддержки по
              вопросам исполнения заключенного между Организацией и
              Пользователем договора согласно условиям Публичной оферты,
              размещённой на Сайте;
            </li>
            <li>
              в иных целях, для исполнения заключенного между Организацией и
              Пользователем договора согласно условиям Публичной оферты,
              размещённой на Сайте, в случае, если соответствующие действия
              Организации не противоречат действующему законодательству,
              деятельности Организации, и на проведение указанной обработки
              получено согласие Субъекта персональных данных.
            </li>
            <li>
              создания Пользователем учетной записи на Сайте в целях исполнения
              заключенного между Организацией и Пользователем договора согласно
              условиям Публичной оферты, размещённой на Сайте;
            </li>
          </ol>

          <p>
            2.5. Администрация Сайта осуществляет обработку персональных данных
            Пользователей посредством совершения любого действия (операции) или
            совокупности действий (операций), совершаемых с использованием
            средств автоматизации или без использования таких средств, включая
            сбор, запись, систематизацию, накопление, хранение, уточнение
            (обновление, изменение), извлечение, использование, передачу
            (распространение, предоставление, доступ), обезличивание,
            блокирование, удаление, уничтожение.
          </p>
          <p>
            2.6. Использование Пользователем Сайта означает согласие с настоящей
            Политикой конфиденциальности и условиями обработки персональных
            данных Пользователя.
          </p>
          <p>
            2.7. В случае несогласия с условиями Политики конфиденциальности
            Пользователь должен прекратить использование Сайта.
          </p>
          <p>
            2.8. Настоящая Политика конфиденциальности применяется только к
            Сайту. Администрация Сайта не контролирует и не несет
            ответственность за сайты третьих лиц, на которые Пользователь может
            перейти по ссылкам, доступным на Сайте.
          </p>
          <p>
            2.9. Администрация Сайта не проверяет достоверность персональных
            данных, предоставляемых Пользователем Сайта. Однако Администрация
            Сайта исходит из того, что пользователь предоставляет достоверную и
            достаточную персональную информацию по вопросам, предлагаемым в
            формах, и поддерживает эту информацию в актуальном состоянии.
          </p>
        </div>
        <div>
          <br />
          <h6 class="text-center">
            3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
          </h6>
          <p>
            3.1. Настоящая Политика конфиденциальности устанавливает
            обязательства Администрации Сайта по неразглашению и обеспечению
            режима защиты конфиденциальности персональных данных, которые
            Пользователь предоставляет по запросу Администрации сайта при
            оформлении заказа для заключения договора согласно условиям
            Публичной оферты, размещённой на Сайте.
          </p>
          <p>
            3.2. Администрация Сайта защищает данные, которые автоматически
            передаются в процессе просмотра рекламных блоков и при посещении
            страниц, на которых установлен статистический скрипт системы
            («пиксель»):
          </p>
          <ul>
            <li>IP адрес;</li>
            <li>информация из cookies;</li>
            <li>
              информация о браузере (или иной программе, которая осуществляет
              доступ к показу рекламы);
            </li>
            <li>время доступа;</li>
            <li>адрес страницы, на которой расположен рекламный блок;</li>
            <li>реферер (адрес предыдущей страницы).</li>
          </ul>

          <p>
            3.3. Отключение cookies может повлечь невозможность доступа к частям
            сайта Сайта, требующим авторизации.
          </p>
          <p>
            3.4. Любая иная персональная информация неоговоренная выше подлежит
            надежному хранению и нераспространению, за исключением случаев,
            предусмотренных в п.п. 4.2. и 4.3. настоящей Политики
            конфиденциальности.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            4. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
          </h6>
          <p>
            4.1. Обработка персональных данных Пользователя осуществляется без
            ограничения срока, любым законным способом, в том числе в
            информационных системах персональных данных с использованием средств
            автоматизации или без использования таких средств.
          </p>
          <p>
            4.2. Пользователь соглашается с тем, что Администрация Сайта вправе
            передавать персональные данные третьим лицам, в частности,
            транспортным компаниям и перевозчикам, уполномоченным органам на
            осуществление таможенных и внешнеторговых операций, брокерам,
            осуществляющим оформление грузов к отправке Пользователя, курьерским
            службам, организациями почтовой и иной связи, исключительно в целях
            взаимодействия в рамках исполнения договора, заключенного с
            Пользователем через принятие им условий Публичной оферты на Сайте.
          </p>
          <p>
            4.3. Персональные данные Пользователя могут быть переданы
            уполномоченным органам государственной власти Российской Федерации
            только по основаниям и в порядке, установленным законодательством
            Российской Федерации.
          </p>
          <p>
            4.4. При утрате или разглашении персональных данных Администрация
            Сайта информирует Пользователя об утрате или разглашении
            персональных данных.
          </p>
          <p>
            4.5. Администрация Сайта принимает необходимые организационные и
            технические меры для защиты персональной информации Пользователя от
            неправомерного или случайного доступа, уничтожения, изменения,
            блокирования, копирования, распространения, а также от иных
            неправомерных действий третьих лиц.
          </p>
          <p>
            4.6. Администрация Сайта совместно с Пользователем принимает все
            необходимые меры по предотвращению убытков или иных отрицательных
            последствий, вызванных утратой или разглашением персональных данных
            Пользователя.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            5. ОБЯЗАТЕЛЬСТВА СТОРОН
          </h6>
          <p>
            5.1. В порядке пользования Сайтом Пользователь:
          </p>
          <ol>
            <li>
              предоставляет информацию о персональных данных, необходимую для
              пользования Сайтом и/или заключения договора с Организацией
              согласно условиям Публичной оферты, указанным на Сайте;
            </li>
            <li>
              обновляет, дополняет предоставленную информацию о персональных
              данных в случае изменения данной информации;
            </li>
            <li>
              уведомляет Администрацию Сайта о согласии на обработку
              персональных данных, при этом регистрация на Сайте будет считаться
              предоставлением согласия на обработку персональных данных
              Пользователя, приравненному к уведомлению, составленному в простой
              письменной форме. Отсутствие регистрации Пользователя на Сайте
              означает несогласие Пользователя с условиями Политики
              конфиденциальности, что делает невозможным дальнейшее
              сотрудничество Пользователя и Организации с целью заключения
              договора согласно условиям Публичной оферты, указанным на Сайте.
            </li>
          </ol>
          <p>
            5.2. Администрация сайта обязана:
          </p>
          <ol>
            <li>
              использовать полученную информацию исключительно для целей,
              указанных в настоящей Политике конфиденциальности;
            </li>
            <li>
              обеспечить хранение конфиденциальной информации в тайне, не
              разглашать без предварительного письменного разрешения
              Пользователя, а также не осуществлять продажу, обмен,
              опубликование, либо разглашение иными возможными способами
              переданных персональных данных Пользователя, за исключением п.п.
              4.2. и 4.3. настоящей Политики Конфиденциальности.
            </li>
            <li>
              принимать меры предосторожности для защиты конфиденциальности
              персональных данных Пользователя согласно порядку, обычно
              используемого для защиты такого рода информации в существующем
              деловом обороте.
            </li>
            <li>
              осуществить блокирование персональных данных, относящихся к
              соответствующему Пользователю, с момента обращения или запроса
              Пользователя или его законного представителя либо уполномоченного
              органа по защите прав субъектов персональных данных на период
              проверки, в случае выявления недостоверных персональных данных или
              неправомерных действий.
            </li>
          </ol>
        </div>
        <div>
          <br />
          <h6 class="text-center">
            6. ОТВЕТСТВЕННОСТЬ СТОРОН
          </h6>
          <p>
            6.1. Администрация Сайта, не исполнившая свои обязательства, несёт
            ответственность за убытки, понесённые Пользователем в связи с
            неправомерным использованием персональных данных, в соответствии с
            законодательством Российской Федерации, за исключением случаев,
            предусмотренных п.п. 4.2., 4.3. и 6.2. настоящей Политики
            конфиденциальности.
          </p>
          <p>
            6.2. В случае утраты или разглашения персональных данных
            Администрация Сайта не несёт ответственность, если данная
            информация:
          </p>
          <ol>
            <li>
              стала публичным достоянием до её утраты или разглашения;
            </li>
            <li>
              была получена от третьей стороны до момента её получения
              Администрацией Сайта;
            </li>
            <li>
              была разглашена с согласия Пользователя.
            </li>
          </ol>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            7. РАЗРЕШЕНИЕ СПОРОВ
          </h6>
          <p>
            7.1. До обращения в суд с иском по спорам, возникающим из отношений
            между Пользователем и Администрацией Сайта, обязательным является
            предъявление претензии (письменного предложения о досудебном
            урегулировании спора).
          </p>
          <p>
            7.2. Получатель претензии в течение 30 календарных дней со дня
            получения претензии, письменно уведомляет заявителя претензии о
            результатах рассмотрения претензии.
          </p>
          <p>
            7.3. При не достижении соглашения спор будет передан на рассмотрение
            в судебный орган в соответствии с действующим законодательством
            Российской Федерации.
          </p>
          <p>
            7.4. К настоящей Политике конфиденциальности и отношениям между
            Пользователем и Администрацией Сайта применяется действующее
            законодательство Российской Федерации
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            8. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
          </h6>
          <p>
            8.1. Администрация Сайта вправе вносить изменения в настоящую
            Политику конфиденциальности без согласия Пользователя при соблюдении
            требований действующего законодательства в области персональных
            данных;
          </p>
          <p>
            8.2. Все предложения или вопросы по настоящей Политике
            конфиденциальности следует сообщать по контактным данным Организации
            на странице Сайта.
          </p>
          <p>
            8.3. Действующая Политика конфиденциальности размещена на странице
            Сайта по адресу:
            <router-link target="_blank" to="/legal-info/privacy-policy">
              lk.ecomexpress.ru/legal-info/privacy-policy
            </router-link>
          </p>
        </div>
      </div>
      <div v-if="document_type === 'offer-agreement'" id="offer-agreement">
        <h5 class="text-center">
          Договор транспортной экспедиции с последующей передачей товара
          покупателю
        </h5>
        <div>
          <br />
          <h6 class="text-center">
            Термины и определения
          </h6>
          <p>
            <b>Договор (Оферта)</b>: настоящий договор-оферта на организацию
            оказания услуг транспортной экспедиции с последующей передачей груза
            Клиента Покупателю Клиента от имени Экспедитора и за счет Клиента,
            который считается заключенным в письменной̆ форме на основании
            положений п. 3 ст. 434, п. 3 ст. 438 ГК РФ, посредством акцепта
            Оферты.
          </p>
          <p>
            <b>Услуга</b>: действия Экспедитора по организации оказания услуг
            транспортной экспедиции с последующей передачей груза Клиента
            Покупателю Клиента от имени Экспедитора и за счет Клиента согласно
            Разделу 2 настоящей Договора.
          </p>
          <p>
            <b>Клиент</b>: дееспособное физическое лицо, индивидуальный
            предприниматель и/или юридическое лицо принявшие условия настоящего
            Договора.
          </p>
          <p>
            <b>Покупатель Клиента</b>: физическое лицо, сделавшее заказ груза
            Клиента на соответствующем Маркетплейсе.
          </p>
          <p>
            <b>Сайт</b>: информационная система в сети «Интернет»:
            https://ecomexpress.ru, оператором которой̆ является Экспедитор.
          </p>
          <p>
            <b>Личный кабинет</b>: раздел Сайта, выполняющий дополнительные
            функции, позволяющий Клиенту направлять Экспедитору Поручения на
            оказания услуг, а также иную информацию в рамках настоящего
            договора. Доступ к Личному кабинету предоставляется Клиенту после
            регистрации (авторизации) на Сайте Клиента. Клиент также может
            получать доступ к результатам оказанных Услуг через Личный кабинет,
            осуществлять иные действия, предусмотренные функциями Личного
            кабинета.
          </p>
          <p>
            <b>Перевозчик</b>: юридические лица, аккредитованные Экспедитором,
            оказывающие услуги перевозки грузов как на территории Российской
            Федерации, так и за её пределами.
          </p>
          <p>
            <b>Маркетплейсы</b>: платформы, на которых присоединившиеся к
            правилам работы на них Клиенты размещают свои предложения о
            реализации товаров, адресованные неопределенному кругу покупателей.
          </p>
          <p>
            <b>Калькулятор</b>: автоматизированный справочник, предоставляющий
            информацию заинтересованным лицам о стоимости и сроках оказания
            услуг Экспедитором. Стоимость и сроки оказания услуг, рассчитанные
            по средствам Калькулятора, является офертой только при полном
            соответствии заявленных характеристик груза и пути следования груза
            на Сайте в разделе Калькулятора и фактически предоставленном грузе
            Экспедитору и выданном Экспедитору Поручению.
            <br />
            Калькулятор расположен по адресу
            <router-link to="calculator">
              https://ecomexpress.ru/calculator
            </router-link>
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            1.Общие положения
          </h6>

          <p>
            1.1. Общество с ограниченной ответственностью «ЕКОМ ЭКСПРЕСС», далее
            «Экспедитор», публикует настоящую публичную оферту на организацию
            оказания услуг транспортной экспедиции с последующей передачей груза
            Клиента Покупателю Клиента от имени Экспедитора и за счет Клиента.
          </p>
          <p>
            1.2. В соответствии со статьей 437 Гражданского Кодекса Российской
            Федерации данный документ является публичной офертой, и в случае
            принятия изложенных ниже условий физическое лицо или юридическое
            лицо, производящее акцепт этой оферты, осуществляет предварительную
            оплату Услуги в соответствии с условиями настоящей Оферты. В
            соответствии с пунктом 3 статьи 438 ГК РФ, регистрация Клиента в
            Личном кабинете и предварительная оплата Услуг является акцептом
            оферты, что считается равносильным заключению Договора на условиях,
            изложенных в настоящей Оферте.
          </p>
          <p>
            1.3. Настоящая Оферта и все её приложения могут быть в любое время в
            одностороннем порядке изменены Экспедитором в одностороннем порядке
            с уведомление Клиентов по средствам электронной почты и/или путем
            размещения текста изменений/дополнений или текста Оферты в новой
            редакции на Сайте. Такие изменения приобретают силу для Сторон
            только на будущее время и с даты публикации новой редакции Оферты на
            Сайте. При этом изменения не могут затрагивать уже заказанные и
            оплаченные Услуги Клиентом.
          </p>
          <p>1.4. Настоящая Оферта действует на территории всех стран мира.</p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            2. Предмет Договора
          </h6>

          <p>
            2.1. Экспедитор обязуется от своего имени и за счет Клиента
            выполнять или организовывать выполнение определенных настоящим
            Договором юридических и иных действий связанные с организацией
            перевозки груза, переданного Клиентом Экспедитору, а Клиент
            обязуется уплатить вознаграждение Экспедитору за вышеуказанные
            услуги в порядке и сроки, которые установлены настоящим Договором.
          </p>
          <p>
            2.2. Экспедитор в течение срока действия Договора обязуется
            осуществлять следующие транспортно-экспедиционные и сопутствующие
            услуги:
          </p>
          <ul>
            <li>
              организовывает перевозку грузов по территории РФ и международному
              сообщению в пункт назначения, указанный Клиентом;
            </li>
            <li>
              заключает договор перевозки груза от своего имени;
            </li>
            <li>
              обеспечивает отправку и/или получение груза;
            </li>
            <li>
              обеспечивает погрузку и/или выгрузку груза на всем пути его
              следования;
            </li>
            <li>
              обеспечивает передачу груза в пункте назначения лицу,
              уполномоченному принять груз у Экспедитора после окончания
              перевозки;
            </li>
            <li>
              проверяет количество и состояние груза;
            </li>
            <li>
              получает необходимые для импорта/экспорта документы;
            </li>
            <li>
              выполняет таможенное оформление груза;
            </li>
            <li>
              уплачивает таможенные пошлины, сборы и другие расходы, возлагаемые
              на Клиента, связанные со следованием груза;
            </li>
            <li>
              обеспечивает хранение груза;
            </li>
            <li>
              обеспечивает по Заявкам Клиента страхование груза;
            </li>
            <li>
              обеспечивает дополнительную упаковку груза;
            </li>
            <li>
              осуществляет передачу груза от своего имени и за счет Клиента
              Покупателям Клиента.
            </li>
          </ul>

          <p>
            2.3. Отправка грузов Экспедитором осуществляется в сроки,
            установленные в Калькуляторе. Срок исчисляется с даты получения
            груза от Клиента на складе Экспедитора.
          </p>
          <p>
            2.4. Все грузы в адрес Экспедитора для дальнейшей экспедиционной
            обработки и доставки Покупателям Клиента Клиент направляет по адресу
            (склад Экспедитора) ______________
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            3. Порядок оказания услуг
          </h6>

          <p>
            3.1. Перед началом оказания Услуг (оформлением Поручения
            Экспедитору) Клиент обязан произвести регистрационные действия в
            Личном кабинете на Сайте Экспедитора. Предоставление Экспедитором
            доступа к Личному кабинету Клиента будет являться фактом завершения
            модерации и подтверждением регистрации Клиента на Сайте Экспедитора.
          </p>
          <p>
            3.2. Клиент обязан ознакомиться с Правилами отправки грузов,
            установленных в Приложении №1 являющихся неотъемлемой частью
            настоящего договора.
          </p>
          <p>
            3.3. Для начала оказания Услуг и формирования Поручений Клиент
            обязан осуществить предварительную оплату Услуг согласно Разделу 5
            настоящего Договора.
          </p>
          <p>
            3.4. Основанием для оказания услуг является Поручение Экспедитору,
            принятое к исполнению Экспедитором (Приложение №2) (далее -
            Поручение).
          </p>
          <p>
            3.5. Клиент формирует Поручение в Личном кабинете перед отправкой
            груза в адрес Экспедитора. Поручение подается не позднее чем за 3
            (три) рабочих дней до даты отправки груза Экспедитору.
          </p>
          <p>
            Экспедитор рассматривает Поручение в течение 24 (двадцати четырех)
            часов с даты получения и направляет Клиенту сообщение в Личном
            кабинете с отметкой о согласовании либо с отказом в согласовании
            затребованных транспортно-экспедиционных услуг с указанием причин
            отказа.
          </p>
          <p>
            3.6. При формировании Поручения Клиент в обязательном порядке:
          </p>
          <ul>
            <li>
              осуществляет выбор Перевозчика (способа доставки) из числа
              аккредитованных партнёров Экспедитора;
            </li>
            <li>
              сообщает размер (ДхШхВ) и вес отправляемого груза;
            </li>
            <li>
              сообщает данные Покупателя Клиента;
            </li>
            <li>
              сообщает через какой Маркетплейс была реализация товара Покупателю
              Клиента;
            </li>
            <li>
              сообщает о необходимости страхования груза;
            </li>
            <li>
              выбирает допустимые даты и сроки доставки;
            </li>
            <li>
              указывает стоимость реализации (цена груза) на Маркетплейсе.
            </li>
          </ul>

          <p>
            3.7. По факту согласования Поручения Экспедитором, Клиент обязуется
            самостоятельно и за свой счет направить в адрес Экспедитора (на его
            склад) согласованный в Поручении груз. Обязанность Экспедитора по
            доставки груза Клиента возникает у Экспедитора только после
            получения Экспедитором согласованного груза.
          </p>
          <p>
            3.8. При приеме груза Экспедитор:
          </p>
          <ul>
            <li>
              - проверяет достоверность представленного Клиентом груза, а также
              информацию о свойствах груза, условиях его перевозки и иную
              информацию, необходимую для исполнения Экспедитором своих
              обязанностей согласно Поручению;
            </li>
            <li>
              - направляет Клиенту Экспедиторскую расписку (Приложение №4) в
              личном кабинете, подтверждающую факт получения Экспедитором груза
              от Клиента либо от указанного им Грузоотправителя к перевозке.
            </li>
          </ul>

          <p>
            3.9. Если груз предъявлен с повреждением, с отсутствием тары
            (упаковки), в ненадлежащем состоянии, что при перевозке может
            привести к его утрате, порче или повреждению, Экспедитор сообщает об
            этом Клиенту и направляет ему в Личный кабинет Акт о выявленных
            недостатках. В случае невозможности дальнейшей транспортировки груза
            по Поручению Клиента, Экспедитор осуществляет возврат груза в адрес
            Клиента за счет Клиента или Клиент имеет право вывезти груз
            самовывозом с адреса Склада Экспедитора.
          </p>
          <p>
            3.10. Стороны согласовали, что в целях проверки целостности и
            достоверности груза перед отправкой груза Покупателю Клиента
            Экспедитор осуществляет вскрытие упаковки с грузом, измерение по
            габаритам (ДхШхВ), взвешивание и визуальный осмотр груза с
            последующим затариванием (упаковкой) или доупаковывает или
            переупаковывает груз в надлежащую тару или упаковку за свой счет.
          </p>
          <p>
            3.11. В дальнейшем Клиент может отслеживать статус отправки груза в
            адрес Покупателя Клиента в Личном кабинете на Сайте.
          </p>
          <p>
            3.12. По факту доставки и вручения груза в адрес Покупателя Клиента,
            Экспедитор формирует и направляет Клиенту Уведомление о вручении в
            Личном кабинете.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            4. Обязанности Сторон
          </h6>

          <b>4.1. Экспедитор обязуется:</b>
          <p>
            4.1.1. Организовать и/или выполнять перевозку грузов Клиента по
            полученным в Личном кабинете Поручениям.
          </p>
          <p>
            4.1.2. Сообщать всем участникам перевозки условия и порядок
            транспортировки и обслуживания грузов Клиента.
          </p>
          <p>
            4.1.3. Проверять количество и состояние груза, об обнаруженных
            недостатках или недостаче немедленно сообщать Клиенту.
          </p>
          <p>
            4.1.4. Оформлять необходимые товарно-транспортные накладные,
            спецификации и другие сопроводительные документы и проверять
            правильность заполнения этих документов, если они составлены
            Клиентом.
          </p>
          <p>
            4.1.5. Давать Клиенту в рамках оказываемых по настоящему Договору
            транспортно-экспедиционных услуг рекомендации по повышению
            эффективности транспортировки за счет выбора рациональных маршрутов
            и способов перевозки грузов, снижению расходов на упаковку,
            погрузочно-разгрузочные операции, транспортно-экспедиторское
            обслуживание, используя для этих целей сотрудничество между
            транспортно-экспедиторскими компаниями и другими контрагентами
            Экспедитора.
          </p>
          <p>4.1.6. Оказывать сопутствующие перевозке груза услуги.</p>
          <b>4.2. Экспедитор имеет право:</b>
          <p>
            4.2.1. Экспедитор вправе привлечь к исполнению своих обязанностей
            других лиц. Возложение исполнения обязательства на третье лицо не
            освобождает Экспедитора от ответственности перед Клиентом за
            исполнение настоящего Договора.
          </p>
          <p>
            4.2.2. Экспедитор вправе удерживать находящийся в его распоряжении
            груз до момента уплаты Клиентом вознаграждения и возмещения
            понесенных в интересах Клиента расходов. В случае удержания
            Экспедитором груза Клиент несет риск порчи (повреждения) груза
            вследствие такого удержания.
          </p>
          <b>4.3. Клиент обязуется:</b>
          <p>
            4.3.1. Представить Экспедитору Поручение на выполнение
            транспортно-экспедиционных услуг и иных услуг. Поручение должно
            содержать достоверные и полные данные о характере груза, его
            маркировке, весе, объеме, а также о количестве грузовых мест.
          </p>
          <p>
            4.3.2. Оплатить услуги по настоящему Договору по действующим
            Тарифам.
          </p>
          <p>
            4.3.3. По запросу Экспедитора предоставлять достоверную и правдивою
            информацию о грузе, Покупателе и Маркетплейсе через который был
            реализован экспедируемый товар. Клиент выдает свое согласие
            Экспедитору о предоставлении информации о грузе и характере
            отправления в ФТС, ФНС и иные компетентные органы, и организации с
            целью оформления необходимой документации для осуществления
            экспортно/импортных операций с экспедируемым грузом.
          </p>
          <p>
            4.3.4. В случае необходимости Клиент обязуется выдать Экспедитору
            доверенность на осуществление действий для выполнения Экспедитором
            обязательств по настоящему Договору.
          </p>
          <b>4.4. Клиент вправе:</b>
          <p>
            4.4.1. Требовать у Экспедитора предоставления информации о процессе
            перевозки груза.
          </p>
          <p>
            4.4.1. Давать указания Экспедитору в соответствии с договором
            транспортной экспедиции.
          </p>
        </div>
        <div>
          <br />
          <h6 class="text-center">
            5. Цена Договора и порядок расчетов
          </h6>
          <p>
            5.1. Размер вознаграждения Экспедитора рассчитывается в соответствии
            с - тарифами, ставками, установленными Экспедитором и указанными в
            Калькуляторе.
          </p>
          <p>
            5.2. Экспедитор вправе изменять тарифы ставки оказания услуг в любое
            время до момента выдачи Клиентом Экспедитору Поручения в личном
            кабинете. Клиент обязан перед выдачей Поручения Экспедитору
            ознакомиться в Калькуляторе с актуальными условиями оказания услуг.
          </p>
          <p>
            5.3. Расходы Экспедитора, связанные с осуществлением
            транспортно-экспедиционных и сопутствующих услуг полностью включены
            в вознаграждение Экспедитора.
          </p>
          <p>
            5.4. Вознаграждение экспедитору уплачивается Клиентом путем внесения
            предварительной оплату Услуг (авансовые платежи) на расчетный счет
            Экспедитора. Экспедитор освобожден от уплаты НДС в соответствии с
            положениями статей 346.12 и 346.13 главы 26.2 НК РФ.
          </p>
          <p>
            5.5. Проценты на сумму предоплаты по Договору не начисляются и не
            уплачиваются.
          </p>
          <p>
            5.6. При оформлении Поручения Экспедитор рассчитывает
            предварительную стоимость отправки груза, фактическая стоимость
            уточняется по факту поступления груза от Клиента на Склад
            Экспедитора на основании фактических габаритов (размеров), веса
            груза и его свойств.
          </p>
          <p>
            5.7. В случае отклонения фактических размеров груза от заявленных
            Экспедитор направляет в Личном кабинете Клиенту Уведомление о
            перерасчете стоимости отправления. Клиент обязан рассмотреть
            полученное Уведомление и согласовать изменения стоимости отправки
            или отказаться от согласования. В случае отказа от согласования
            изменения стоимости отправки груза, груз подлежит возврату Клиенту.
          </p>
          <p>
            5.8. Денежные средства зачисляются на персональный лицевой счет
            Клиента и отражаются в Личном кабинете Клиента. При оформлении
            Поручений на оказание услуг по настоящему договору денежные средства
            на персональном лицевом счет Клиента списываются в день направления
            Клиенту Экспедиторской расписки о принятия груза к перевозке.
          </p>
          <p>
            5.9. Клиент вправе в любое время направить запрос по средствам
            Личного кабинета на возврат всей не израсходованной суммы денежных
            средств, числящейся на его персональном лицевом счете. Возврат в
            данном случае средств производится в течение 5 рабочих дней с даты
            получения заявки.
          </p>
          <p>
            5.10. В случае отсутствия необходимых средств на персональным счете
            Клиента экспедиционные и сопутствующие услуги не оказываются,
            Поручение не исполняется и отклоняется.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            6. Порядок сдачи и приемки услуг
          </h6>

          <p>
            6.1. По факту оказания услуг за отчетный месяц Экспедитор направляет
            в срок до 20 (двадцатого) числа месяца следующего за отчетным
            Акт-Отчет (Приложение №3) об оказанных услугах в адрес Клиента в
            установленном в Разделе 10 порядке.
          </p>
          <p>
            6.2. Клиент обязан рассмотреть полученные документы в течение 5
            (пяти) рабочих дней с даты получения и подписать (принять) Акт-Отчет
            об оказанных услугах или направить мотивированные замечания по
            оказанным услугам.
          </p>
          <p>
            6.3. В случае непредставления Клиентом Экспедитору подписанного
            Акта-Отчета об оказанных Услугах или непредставления мотивированных
            письменных возражений в отношении невозможности приемки Услуг в
            течение 5 (пяти) календарных дней с даты получения Акта-Отчета от
            Экспедитора, оказанные Экспедитором Услуги по настоящему Договору
            считаются принятыми Клиентом, а Акт-Отчет об оказанных услугах
            подписанным.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            7. Ответственность Сторон
          </h6>
          <p>
            7.1. Экспедитор несет ответственность перед Клиентом за неисполнение
            или ненадлежащее исполнение обязанностей по Договору по основаниям и
            в размере, которые определяются в соответствии с правилами гл. 25 ГК
            РФ и Федерального закона от 30.06.2003 № 87-ФЗ «О
            транспортно-экспедиционной деятельности» (далее - Закон), иных
            федеральных законов.
          </p>
          <p>
            <b>
              7.2. Экспедитор несет ответственность перед Клиентом:
            </b>
          </p>
          <p>
            7.2.1. В виде возмещения реального ущерба за утрату, недостачу или
            повреждение груза после принятия его Экспедитором и до выдачи груза
            Покупателю Клиента, если не докажет, что утрата, недостача или
            повреждение груза произошли вследствие обстоятельств, которые
            Экспедитор не мог предотвратить и устранение которых от него не
            зависело, в размерах, установленных ст. 7 Закона.
          </p>
          <p>
            7.2.2. В виде возмещения убытков, причиненных клиенту нарушением
            срока исполнения обязательств по Договору транспортной экспедиции в
            размерах и порядке установленных ст. 7 Закона.
          </p>
          <p>
            <b>
              7.3. Ответственность Клиента.
            </b>
          </p>
          <p>
            7.3.1. Клиент несет ответственность за сведения и информацию,
            переданную Экспедитору в рамках настоящего Договора в порядке и
            размере установленной статьей 10 Закона.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            8. Обстоятельства непреодолимой силы
          </h6>

          <p>
            8.1. Стороны не несут ответственности за частичное или полное
            неисполнение либо ненадлежащее исполнение обязательств по настоящему
            Договору, если это неисполнение (ненадлежащее исполнение) явилось
            прямым следствием наступления обстоятельств, которые Стороны не
            могли предвидеть и предотвратить разумными средствами, при условии,
            что такие обстоятельства возникли после заключения настоящего
            Договора. В случае наступления указанных обстоятельств срок
            исполнения обязательств отодвигается соразмерно времени действия
            таких обстоятельств. К таким обстоятельствам не относятся нарушения
            обязанности со стороны контрагента должника, отсутствие на рынке
            нужных для исполнения обязательств товаров, отсутствие у должника
            необходимых денежных средств.
          </p>
          <p>
            8.2. Сторона, для которой создалась невозможность исполнения
            обязательств по настоящему Договору, должна немедленно, но не
            позднее 2 (двух) рабочих дней с момента наступления указанных в п.
            8.1 обстоятельств, в письменной форме уведомить другую Сторону.
            Несоблюдение данного условия лишает Сторону права сослаться на
            обстоятельства непреодолимой силы в будущем.
          </p>
          <p>
            8.3. В случае если обстоятельство непреодолимой силы будет
            действовать свыше трех месяцев, любая из Сторон вправе в
            одностороннем порядке расторгнуть настоящий Договор путем
            направления письменного уведомления другой Стороне.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            9. Разрешение споров
          </h6>
          <p>
            9.1. В случае возникновения любых противоречий, претензий и
            разногласий, а также споров, связанных с исполнением настоящего
            Договора, Стороны предпринимают усилия для урегулирования таких
            противоречий, претензий и разногласий в добровольном порядке с
            оформлением совместного протокола урегулирования споров.
          </p>
          <p>
            9.2. Все достигнутые договоренности Стороны оформляют в виде
            дополнительных соглашений, подписанных Сторонами и скрепленных
            печатями.
          </p>
          <p>
            9.3. До передачи спора на разрешение суда согласно п. 9.4.
            настоящего Договора Стороны примут меры к его урегулированию в
            претензионном порядке:
          </p>
          <p>
            9.3.1. претензия должна быть направлена в письменном виде, по
            полученной претензии Сторона должна дать письменный ответ, по
            существу, в срок не позднее 10 (десяти) календарных дней с даты ее
            получения, оставление претензии без ответа в установленный срок
            означает признание требований претензии;
          </p>
          <p>
            9.3.2. в претензии должны быть указаны: наименование, почтовый адрес
            и реквизиты стороны, предъявившей претензию, наименование, почтовый
            адрес и реквизиты стороны, которой направлена претензия, а также
            требования надлежащего исполнения обязательств по настоящему
            Договору;
          </p>
          <p>
            9.3.3. если претензионные требования подлежат денежной оценке, в
            претензии указывается истребуемая сумма и ее полный и обоснованный
            расчет;
          </p>
          <p>
            9.3.4. в подтверждение заявленных требований к претензии должны быть
            приложены надлежащим образом оформленные и заверенные необходимые
            подтверждающие документы либо выписки из них.
          </p>
          <p>
            В претензии могут быть указаны иные сведения, которые, по мнению
            заявителя, будут способствовать более быстрому и правильному ее
            рассмотрению, объективному урегулированию спора.
          </p>
          <p>
            9.4. В случае если Стороны не смогли урегулировать спор
            претензионном порядке, тогда все споры, разногласия или требования,
            возникающие из настоящего договора (соглашения) или в связи с ним, в
            том числе касающиеся его исполнения, нарушения, прекращения или
            недействительности, подлежат рассмотрению:
          </p>
          <p>
            - для юридических лиц и индивидуальных предпринимателей в
            Арбитражном суде г. Москвы;
          </p>
          <p>
            - для физических лиц согласно закону «О ЗАЩИТЕ ПРАВ ПОТРЕБИТЕЛЕЙ».
          </p>
          <p>
            9.5. Сторона, намеренная передать спор в указанный суд, должна
            письменно уведомить об этом, а также о предмете спора другую Сторону
            за 10 (десять) рабочих дней до подачи исковых материалов в суд.
          </p>
        </div>
        <div>
          <br />
          <h6 class="text-center">
            10. Конфиденциальность
          </h6>

          <p>
            10.1. Стороны обязуются не распространять третьим лицам никакие
            сведения, относящиеся к деловой, коммерческой тайне, а также другой
            информации с ограниченным доступом в соответствии с
            законодательством Российской Федерации другой Стороны и / или
            использовать их для целей, не связанных с исполнением настоящего
            Договора.
          </p>
          <p>
            10.2. В соответствии с настоящим Договором конфиденциальными
            признаются все результаты оказанных Экспедитором по настоящему
            Договору услуг, а также все документы и материалы, включая
            переданные на электронном носителе, а также любая иная информация,
            переданная Клиентом Экспедитору для целей оказания Услуг по
            настоящему Договору.
          </p>
          <p>
            10.3. Положения Договора не подлежат применению в случае наличия
            обязанности Стороны по предоставлению указанной в п. 10.1. и 10.2.
            Договора информации запрашивающей стороне на основании и в силу
            положений законодательства Российской Федерации.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            11. Срок действия и условия расторжения и изменения договора
          </h6>

          <p>
            11.1. Настоящий Договор вступает в силу с момента его акцепта
            Клиентом и считается заключенным на неопределенный срок.
          </p>
          <p>
            11.2. Договор может быть, досрочно расторгнут в одностороннем
            порядке любой из Сторон без объяснения причин.
          </p>
          <p>
            11.3. В случае расторжения договора по инициативе Клиента, Клиент
            обязан не менее чем за 1 (один) календарных день до планируемой даты
            расторжения договора направить Экспедитору в Личном кабинете
            Уведомление о намерении расторгнуть настоящий договор в
            одностороннем порядке. Оставшиеся денежные средства на персональном
            лицевом счете Клиента возвращаются Клиенту в порядке, установленном
            в пункте 5.9. настоящего Договора.
          </p>
          <p>
            11.4. В случае расторжения договора по инициативе Экспедитора,
            Экспедитор обязан не менее чем за 15 (пятнадцать) календарных дней
            до планируемой даты расторжения договора направить Клиенту в Личном
            кабинете Уведомление о намерении расторгнуть настоящий договор в
            одностороннем порядке. Оставшиеся денежные средства на персональном
            лицевом счете Клиента возвращаются Клиенту в порядке, установленном
            в пункте 5.9. настоящего Договора.
          </p>
          <p>
            11.5. Срок оказания услуг по настоящему Договору – с даты акцепта
            настоящего договора Клиентом и до даты прекращения настоящего
            Договора. Услуги оказываются по требованию на основании Поручений
            Клиента.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            12. Организация документооборота между сторонами
          </h6>
          <p>
            12.1. Стороны подтверждают взаимное согласие на выставление и
            получение всех первичных документов, заявок, иных документов и
            информацией, связанной с настоящим Договором в электронном формате
            по средствам Личного кабинета, систем электронного документооборота
            и при необходимости отправки документов через Почту России.
          </p>
          <p>
            12.2. Если настоящим Договором и действующим законодательством не
            предусмотрено использование в документах исключительно усиленной̆
            квалифицированной̆ электронной̆ подписи, при использовании
            инструментов Сайта и Личного кабинета Стороны взаимно признают
            электронные документы, подписанные простой электронной̆ подписью,
            равнозначными документам на бумажных носителях, подписанным
            собственноручной̆ подписью. Для подписания электронного документа
            простой электронной̆ подписью в рамках оказания Услуг, Клиент
            использует авторизацию на Сайте (Личном кабинете) с использованием
            логина и пароля после регистрации Клиента на Сайте (Личном
            кабинете).
          </p>
          <p>
            12.3. Подписание документов на Сайте может происходить, в том числе
            посредством проставления Клиентом соответствующего символа в разделе
            напротив документа или иной ссылки.
          </p>
          <p>
            12.4. Клиент не вправе разглашать третьим лицам свои данные,
            указанные им при регистрации на Сайте в Личном кабинете (логин,
            пароль).
          </p>
          <p>
            12.5. При изменении данных о Клиенте, указанных при регистрации в
            Личном кабинете, Клиенту необходимо довести данную информацию до
            Экспедитора в кратчайшие сроки.
          </p>
          <p>
            12.6. Стороны подтверждают, что будут стремиться использовать
            необходимые технические средства, позволяющие принимать и
            обрабатывать электронные документы, подписанные усиленной
            квалифицированной подписью, с учетом выполнения требований по
            безопасности информации при соблюдении требований Федерального
            закона от 06.04.2011 № 63-ФЗ «Об электронной подписи».
          </p>
          <p>
            12.7. Обмен документами между Сторонами предполагает соблюдение всех
            требований, установленных законодательством Российской Федерацией.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            13. Заключительные положения
          </h6>

          <p>
            13.1. Вопросы, не урегулированные настоящим Договором, регулируются
            положениями действующего законодательства Российской Федерации.
          </p>
          <p>
            13.2. Все изменения и дополнения действительны лишь в том случае,
            если они оформлены в письменном виде и подписаны уполномоченными
            представителями Сторон.
          </p>
          <p>
            13.3. Все приложения к настоящему Договору являются его
            неотъемлемыми частями.
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            14. Приложения
          </h6>
          <p>
            14.2. Правила отправки грузов (Приложение №1)
          </p>
          <p>
            14.3. Поручение Экспедитору (Приложение № 2).
          </p>
          <p>
            14.4. Акт-Отчет оказанных услуг (Приложение № 3).
          </p>
          <p>
            14.5. Экспедиторская расписка (Приложение № 4).
          </p>
        </div>

        <div>
          <br />
          <h6 class="text-center">
            15. Адреса и реквизиты Сторон
          </h6>

          <p class="mono">
            Экспедитор: <br />
            _________________________________<br />
            Юридический/почтовый адрес: _________ <br />
            _________________________________ <br />
            ИНН/КПП ________________________<br />
            ОГРН/ОГРНИП ____________________<br />
            Телефон: __________ Факс: ________<br />
            Адрес электронной почты: ___________<br />
            Банковские реквизиты: ______________<br />
            _________________________________<br />
          </p>

          <q-separator class="q-my-xl" />

          <div>
            <small class="block text-right">
              Приложение №1
            </small>
            <h6>
              Правила отправки грузов
            </h6>

            <p>
              <b>1. Подготовка Груза.</b>
            </p>
            <p>
              1.1 Ограничения по размеру и весу. Ограничения по размеру и весу
              Груза и Посылки отличаются в зависимости от страны отправления и
              страны назначения, а также от вида Услуги.
            </p>
            <p>
              1.2 Многоместный Груз. Общий вес нескольких мест в одном Грузе не
              ограничен, при условии что вес отдельных Посылок в Грузе не
              превышает предельного веса Посылки, установленного для пункта
              назначения.
            </p>
            <p>
              1.3 Особо крупный Груз. Перевозка Груза, вес которого превышает
              ограничения для определенного вида Услуги, указанные в инструкции
              по подготовке Грузов на Сайте, требуют предварительного
              согласования с Экспедитором. Экспедитор оставляет за собой право
              не принимать к перевозке Груз или Посылку, которые он посчитает
              непригодными для перевозки или особо крупными, как указано в
              инструкции по подготовке Грузов на Сайте.
            </p>
            <p>
              1.4 Упаковка. Отправитель должен подготовить и упаковать все
              Посылки для безопасной перевозки в соответствии со свойствами и
              размером товаров, с учетом стандартного обращения с ними в
              условиях перевозки и сортировочного центра, и в соответствии со
              всеми применимыми требованиями действующих договоров, законов,
              нормативных актов или правил, включая требования в отношении
              упаковки и маркировки.
            </p>
            <p>
              1.5 Отправитель должен надлежащим образом при помощи подходящей
              упаковки обеспечить сохранность предметов, которые могут быть
              повреждены в результате действия особых условий, возникающих при
              перевозке (например, при изменении температуры или атмосферного
              давления). Экспедитор не несет ответственности за повреждения в
              результате изменения температуры или атмосферного давления.
            </p>
            <p>
              1.6 Экспедитор не осуществляет перевозки с температурным режимом,
              если явно не согласовано иное.
            </p>
            <p>
              1.7 Маркировка. Отправитель несет ответственность за надлежащее
              указание всей необходимой информации в Экспедиторском Поручении.
              На все Грузы должна быть нанесена четкая и стойкая маркировка с
              указанием почтовых адресов (имя, улица, город, страна), включая
              почтовые индексы Отправителя и Получателя.
            </p>

            <b>2. Отказ от Груза.</b>
            <p>
              Экспедитор оставляет за собой право отказать в приеме, задержать,
              отменить, отложить или вернуть Груз в любое время, если данный
              Груз, по мнению Экспедитора, может причинить ущерб другим Грузам,
              товарам или людям, или вызвать задержку в перевозке; если
              перевозка данного Груза запрещена по закону или нарушает любое из
              положений настоящего Договора; если по лицевому счету Клиента у
              физического или юридического лица, ответственного за оплату,
              имеются задолженности; если объем или тип Груза существенно
              отличается от объема или типа Груза, первоначально указанного
              Клиентом; или по любой иной причине.
            </p>

            <b>3. Досмотр Груза.</b>
            <p>
              3.1 Экспедитор может вскрыть и досмотреть любой Груз по требованию
              уполномоченных органов или по собственному усмотрению в
              соответствии с действующим законодательством и нормативными
              актами.
            </p>

            <b>4. Запрещенные предметы.</b>
            <p>
              4.1 Экспедитор запрещает перевозку нижеперечисленных предметов в
              какое бы то ни было место назначения, а Клиент обязуется не
              отправлять такие предметы, если с Экспедитором не достигнуты иные
              договоренности (в зависимости от места отправления и места
              назначения Груза могут применяться дополнительные ограничения):
            </p>
            <ul>
              <li>
                a. Огнестрельное оружие, вооружение, боеприпасы и их части.
              </li>
              <li>
                b. трехмерные печатные машины, предназначенные или
                функционирующие исключительно для производства огнестрельного
                оружия;
              </li>
              <li>
                c. взрывчатые вещества, фейерверки и другие зажигательные или
                легковоспламеняющиеся предметы;
              </li>
              <li>
                d. Предметы, похожие на бомбу, ручную гранату или другое
                взрывное устройство. В числе прочего сюда относятся нейтральные
                изделия, такие как муляжи, высокореалистичные копии,
                тренировочный инвентарь и произведения искусства.
              </li>
              <li>
                e. Предметы военного назначения из страны, в которой требуется
                оформление лицензии на экспорт.
              </li>
              <li>
                f. Тела людей, человеческие органы или части тела, человеческие
                или животные эмбрионы, кремированные или эксгумированные
                человеческие останки.
              </li>
              <li>
                g. Живые животные, включая насекомых и домашних животных.
              </li>
              <li>
                h. Туши животных, мертвые животные или чучела животных.
              </li>
              <li>
                i. Растения и растительные материалы, в том числе срезанные
                цветы.
              </li>
              <li>
                j. Скоропортящиеся продукты питания, а также продукты и напитки,
                требующие охлаждения или иных мер температурного контроля.
              </li>
              <li>
                k. Порнография и материалы непристойного содержания.
              </li>
              <li>
                l. Деньги, в том числе денежная наличность и ее эквиваленты
                (например, оборотные кредитно-денежные документы,
                индоссированные ценные бумаги, облигации и инкассовые
                поручения), коллекционные монеты и марки.
              </li>
              <li>
                m. Опасные отходы, включая использованные иглы и шприцы для
                подкожных инъекций и прочие медицинские, органические или
                промышленные отходы.
              </li>
              <li>
                n. Лед (замороженная вода).
              </li>
              <li>
                о. Контрафактная продукция, в том числе товары под товарным
                знаком, полностью идентичным или едва отличимым от
                зарегистрированного товарного знака, без разрешения или без
                ведома владельца зарегистрированного товарного знака (также
                обычно называемые «поддельными товарами» или «подделками»).
              </li>
              <li>
                p. Марихуана, включая марихуану, используемую в рекреационных
                или медицинских целях, а также получаемый из марихуаны
                каннабидиол (КБД), любой продукт с содержанием
                тетрагидроканнабинола (ТГК), а также синтетические каннабиноиды.
              </li>
              <li>
                q. Растительная или сырая конопля или ее части (в том числе
                стебли, листья, цветки и семена конопли).
              </li>
              <li>
                с. табак и табачные изделия, в том числе сигареты, сигары,
                рассыпной табак, бездымный табак, табак для кальяна; и
              </li>
              <li>
                s. Электронные сигареты и их компоненты, любые другие подобные
                устройства, основанные на принципе испарения или аэрозоля, а
                также любые негорючие жидкости или гели, независимо от
                содержания никотина, которые могут использоваться с подобными
                устройствами.
              </li>
            </ul>

            <p>
              4.2 Экспедитор запрещает перевозку нижеперечисленных видов Грузов
              в какое бы то ни было место назначения, а Отправитель обязуется не
              отправлять такие предметы (в зависимости от места отправления и
              места назначения могут применяться дополнительные ограничения):
            </p>
            <ul>
              <li>
                a. Грузы или товары, перевозка, импорт или экспорт которых
                запрещены каким-либо нормативным актом, законом или
                постановлением.
              </li>
              <li>
                b. Если Экспедитором не оговорено иное, Грузы, для перевозки
                которых Экспедитору требуется получение какой-либо специальной
                лицензии или разрешения на перевозку, импорт или экспорт.
              </li>
              <li>
                c. Незадекларированные, подакцизные грузы или товары, требующие
                получения разрешения или оформления в установленном порядке.
              </li>
              <li>
                d. Грузы, Заявленная таможенная стоимость которых превышает
                таможенную стоимость, допускаемую в том или ином месте
                назначения.
              </li>
              <li>
                e. Опасные грузы.
              </li>
              <li>
                f. Промокшие, протекающие или выделяющие какой-либо запах
                Посылки.
              </li>
            </ul>

            <p>
              4.3 Экспедитор оставляет за собой право отказать в перевозке
              Грузов на основании этих ограничений или из соображений
              безопасности.
            </p>

            <b>
              5. Экспортный контроль.
            </b>
            <p>
              5.1 Экспедитор не перевозит Грузы, которые не отвечают требованиям
              экспортного контроля. Клиент обеспечивает и гарантирует соблюдение
              всех применимых нормативных актов, правил и норм, включая Правила
              экспортного контроля США, Правила международной торговли оружием
              США, Правила контроля иностранных активов США, а также действующее
              экспортное законодательство и постановления правительств стран,
              имеющих отношение к перевозке Груза. Клиент обязуется соблюдать
              все применимые требования санкций, вводимых правительством США в
              одностороннем порядке или совместно с другими странами и
              запрещающих экспорт или реэкспорт товаров, услуг и технологий в
              страны и регионы, определенные правительством США. Кроме того,
              Экспедитор не принимает к перевозке, а Клиент обязуется не
              требовать перевозку грузов и товаров, торговля которыми ограничена
              или запрещена в силу экономических санкций или эмбарго.
            </p>
            <p>
              5.2 Кроме того, Экспедитор не принимает к перевозке, а Клиент
              обязуется не требовать у Экспедитора услуги по перевозке Грузов,
              если Клиент или какая-либо из сторон, участвующих в перевозке
              Груза, указаны в санкционном списке, который ведет Министерство
              торговли США, или в каких-либо других списках, касающихся
              экспортного контроля или санкций, которые создает и ведет
              какое-либо из следующих ведомств: Министерство финансов США,
              Управление по контролю за иностранными активами; Министерство
              торговли США, Бюро промышленности и безопасности; Государственный
              департамент США, Управление по контролю за торговлей товарами
              оборонного назначения; санкционные комитеты ООН; Совет
              Европейского Союза и прочие компетентные ведомства. Клиент также
              обязуется не предпринимать попыток отправки какому-либо
              юридическому лицу, которое находится в собственности или долевой
              собственности лица, установленного компетентным контролирующим
              органом и подпадающего под действие экономических санкций.
            </p>
            <p>
              5.3 Экспедитор не несет ответственности перед Клиентом или любым
              другим лицом за какие бы то ни было убытки или расходы, включая
              штрафы и пени, в случае несоблюдения Клиентом тех или иных
              требований экспортного законодательства, правил или положений, или
              в результате действий Экспедитора, направленных на обеспечение
              соблюдения требований применимых нормативных актов и положений.
              Клиент также обязуется возместить Экспедитору убытки или расходы,
              включая штрафы и пени, связанные с несоблюдением Клиентом тех или
              иных требований экспортного законодательства, правил и положений
              или возникшие в результате действий Экспедитора, направленных на
              обеспечение соблюдения требований применимых законов и нормативных
              актов.
            </p>

            <b>6. Опасные грузы. </b>

            <p>
              6.1 Выявление опасных грузов. «Опасные грузы» — это грузы, которые
              могут подвергнуть опасности людей, животных, окружающую среду или
              перевозчика при перевозке. Клиент обязуется указать, содержит ли
              Груз Опасные грузы в соответствии с Рекомендациями ООН по
              перевозке опасных грузов, классификацией Международной организации
              гражданской авиации (ICAO), Европейским соглашением о
              международной дорожной перевозке опасных грузов (ADR),
              классификацией Международной ассоциации воздушного транспорта
              (IATA) и действующими законами и нормативными актами.
            </p>
            <p>
              6.2 Экспедитор не осуществляет перевозку опасных грузов.
            </p>

            <b>7. Грузы, не подлежащие доставке.</b>
            <p>
              7.1 Груз считается не подлежащим доставке, если его невозможно
              доставить по следующим причинам, помимо прочего: (a) адрес
              Получателя указан не полностью, неразборчиво, неверно или не
              найден; (b) не удалось связаться с Получателем Груз или Получатель
              не смог получить Груз; (с) Груз адресован несуществующему
              Получателю; (d) компания Получателя закрыта; (e) доставка
              невозможна из-за отсутствия соответствующего лица или его отказа
              принять Груз либо подтвердить доставку Груза своей подписью; (f)
              невозможно провести таможенное оформление Груза; (g) Груз может
              причинить ущерб или вызвать задержку доставки других Грузов или
              имущества либо причинить телесные повреждения людям; (h) Груз
              содержит Запрещенные предметы.
            </p>
            <p>
              7.2 Если Груз считается не подлежащим доставке по какой-либо
              причине, Экспедитор может предпринять попытку уведомить
              Отправителя и получить разрешение на возврат Груза с учетом
              национальных законодательных ограничений. Если в течение пяти
              рабочих дней связь с Клиентом установить не удалось или если
              Клиент не дал никаких инструкций в течение разумного срока,
              Экспедитор может вернуть Груз Клиенту, разместить Груз на обычном,
              таможенном складе или складе временного хранения или утилизировать
              Груз. Если Груз не может быть доставлен, не может пройти
              таможенное оформление или возвращен, Экспедитор вправе передать
              или утилизировать Груз. Клиент несет ответственность по оплате
              всех издержек, расходов и платежей, понесенных в процессе
              возврата, хранения или утилизации Грузов, не подлежащих доставке,
              за исключением случаев когда Груз не подлежал доставке по вине
              Экспедитора.
            </p>
            <p>
              7.3 Грузы, которые не могут быть возвращены в связи с
              национальными законодательными ограничениями, размещаются на
              обычном, таможенном складе или складе временного хранения либо
              утилизируются в соответствии с национальным законодательством.
              Клиент дает свое согласие на оплату всех издержек, которые может
              понести Экспедитор в связи с таким размещением или утилизацией.
            </p>
          </div>

          <q-separator class="q-my-xl" />

          <div>
            <small class="block text-right">
              Приложение №2
            </small>

            <p class="text-center">
              Ф О Р М А
              <br />
              <br />
              Поручение Экспедитору
            </p>

            <div class="">
              <table>
                <tr>
                  <th width="50%">«__»_______20__</th>
                  <th width="50%">№____</th>
                </tr>
              </table>

              <table class="form-table form-table--two-column" cellspacing="0">
                <tr>
                  <td>Грузоотправитель</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Клиент</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Грузополучатель</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Экспедитор</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Уведомить сторону о прибытии груза</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Страна происхождения груза</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Товары, готовые к отправке, место, дата</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Вид транспорта</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Пункт назначения</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Страхование</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Товарный код</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Маркировка</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Количество мест, вид упаковки</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Вес брутто, нетто</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Объем</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Стоимость</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Размер упаковки</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Требуемые документы</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Особые отметки</td>
                  <td></td>
                </tr>
              </table>

              <div class="text-center q-mt-xl">
                Подпись клиента
                <br />
                <br />

                _____________/__________________
              </div>
            </div>
            <div>
              <q-separator class="q-my-xl" />
              <small class="block text-right">
                Приложение № 3
              </small>

              <p class="text-center">
                Ф О Р М А
                <br />
                <br />
                Акт-Отчет оказанных услуг
              </p>

              <table>
                <tr>
                  <th width="50%">
                    №________
                  </th>
                  <th width="50%">
                    «____»_______20___
                  </th>
                </tr>
              </table>

              <p>
                Общество с ограниченной ответственностью «ЕКОМ ЭКСПРЕСС»,
                именуемое в дальнейшем «Экспедитор», в лице Генерального
                директора Фурсова Василия Валерьевича действующего на основании
                Устава, с одной стороны, и ________________________, именуемое в
                дальнейшем «Клиент», в лице __________________, действующего на
                основании _________, с другой стороны, составили настоящий Акт о
                нижеследующем.
              </p>

              <p>
                Отчетный период:_________________
              </p>

              <table class="form-table full-width" style="max-width:none">
                <tr>
                  <th>№ п/п</th>
                  <th>Наименование Услуги</th>
                  <th>Реквизиты Поручения</th>
                  <th>Маршрут следования</th>
                  <th>Перевозимы Груз</th>
                  <th width="140px">
                    Сумма вознаграждения Экспедитора с учетом понесенных им
                    расходов (руб.)
                  </th>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td style="text-align:left" colspan="5">
                    Итого
                  </td>
                  <td>&nbsp;</td>
                </tr>
              </table>

              <table
                class="q-mt-xl"
                style="width:100%;text-align:left;max-width:none"
              >
                <tr>
                  <td width="50%">Клиент:</td>
                  <td width="50%">
                    Экспедитор:
                  </td>
                </tr>
                <tr>
                  <td>
                    «_______________»
                  </td>
                  <td>
                    Общество с ограниченной ответственностью «ЕКОМ ЭКСПРЕСС»
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    121357, Москва, ул. Ватутина, д. 11, ЭТ./ПОМ./КОМ. 1/V/1-8.
                    <br />
                    ОГРН 1217700201630 <br />
                    ИНН 7720849030 <br />
                    КПП 772001001
                  </td>
                </tr>
                <tr>
                  <td>
                    _______________________
                  </td>
                  <td>
                    Генеральный директор
                  </td>
                </tr>
                <tr>
                  <td>
                    ________________________/ФИО
                  </td>
                  <td>
                    ________________________В.В. Фурсов
                  </td>
                </tr>
              </table>
            </div>
            <q-separator class="q-my-xl" />
            <div>
              <small class="text-right block">
                Приложение № 4
              </small>

              <p class="text-center">
                Ф О Р М А
                <br />
                <br />
                Экспедиторская расписка
              </p>

              <div>
                <table class="q-mb-md">
                  <tr>
                    <th width="50%">«__»_______20__</th>
                    <th width="50%">№____</th>
                  </tr>
                </table>

                <table class="form-table form-table---two-column ">
                  <tr>
                    <td width="50%">Грузоотправитель</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Клиент</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Экспедитор</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Страна происхождения груза</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Товарный код</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Маркировка</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Количество мест, вид упаковки</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Вес брутто, нетто</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Объем</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Стоимость</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Размер упаковки</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Условия</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Особые отметки</td>
                    <td></td>
                  </tr>
                </table>

                <div class="text-center q-mt-xl">
                  Подпись Экспедитора
                  <br />
                  <br />
                  __________________/________________
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="flex-center-between q-mt-xl">
        <app-btn label="Печать" @click="printDocument" />
        <app-btn label="Скачать" />
      </div> -->
    </div>
  </PageContainer>
</template>

<script>
export default {
  computed: {
    document_type() {
      return this.$route.params.document;
    },
    document_type_title() {
      let document_types = {
        "privacy-policy": "Политика конфиденциальности",
        "personal-data": "Согласие на обработку персональных данных",
        "offer-agreement": "Договор-оферта"
      };

      return document_types[this.document_type];
    }
  }
};
</script>

<style lang="scss">
.mono {
  font-family: monospace;
}
table {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.form-table {
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid #333;
  border-collapse: collapse;

  tr {
    th {
      border: 1px solid #333;
      padding: 4px;
    }
    td {
      border: 1px solid #333;
      padding: 4px;
      text-align: center;
    }
  }

  &--two-column {
    td {
      width: 50%;
    }
  }
}
</style>
