<template>
  <PageContainer title="Правовая информация">
    <div class="container">
      <app-list>
        <q-item to="/legal-info/personal-data">
          <q-item-section>
            <q-item-label>
              Согласие на обработку персональных данных
            </q-item-label>
            <!-- <q-item-label></q-item-label> -->
          </q-item-section>
          <q-item-section side>
            <q-icon name="chevron_right" />
          </q-item-section>
        </q-item>
        <q-item to="/legal-info/privacy-policy">
          <q-item-section>
            <q-item-label>
              Политика конфиденциальности
            </q-item-label>
            <!-- <q-item-label></q-item-label> -->
          </q-item-section>
          <q-item-section side>
            <q-icon name="chevron_right" />
          </q-item-section>
        </q-item>
        <q-item to="/legal-info/offer-agreement">
          <q-item-section>
            <q-item-label>
              Договор-оферта
            </q-item-label>
            <!-- <q-item-label></q-item-label> -->
          </q-item-section>
          <q-item-section side>
            <q-icon name="chevron_right" />
          </q-item-section>
        </q-item>
      </app-list>
    </div>
  </PageContainer>
</template>

<script>
export default {};
</script>

<style></style>
