<template>
  <div class="wh-manager">
    <!-- <h4>Категории</h4> -->

    <div class="row q-col-gutter-lg">
      <div class="col">
        <div class="wh-manager__cats">
          <h5 class="q-mb-md">Категории</h5>

          <wh-categories @change="handleCategory"></wh-categories>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="wh-manager__table full-width">
          <h5 class="q-mb-md">Товары</h5>
          <wh-products
            :isWarehouse="isWarehouse"
            :filter="current_category"
            @on-row-dbclick="handleDoubleClick"
            @on-rows-change="handleRowsChange"
            @on-create-product="handleNewProduct"
            @query-change="query => $emit('query-change', query)"
            :actions="actions"
          ></wh-products>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import WarehouseProducts from "./products";
import WarehouseCategories from "./categories";

export default {
  components: {
    "wh-categories": WarehouseCategories,
    "wh-products": WarehouseProducts
  },
  props: {
    isWarehouse: Boolean,
    actions: Array
  },
  data() {
    return {
      categories: [],
      products: [],
      current_category: null,
      show_cats: false
    };
  },
  methods: {
    handleCategory(val) {
      this.current_category = val;
      this.$emit("on-category-change", this.current_category);
    },
    handleDoubleClick(row) {
      this.$emit("on-row-dbclick", row);
    },
    handleRowsChange(rows) {
      this.$emit("on-rows-change", rows);
    },
    handleNewProduct(new_prod) {
      this.$emit("on-create-product", new_prod);
    },
    hideCategories(e) {
      let isCatsWindowClick = Array.from(e.path).find(
        el =>
          el.classList &&
          Array.from(el.classList) &&
          Array.from(el.classList).length &&
          Array.from(el.classList).includes("wh-manager__cats")
      );

      if (isCatsWindowClick) return;

      if (!this.show_cats) return;

      this.show_cats = false;
    }
  }
};
</script>
<style lang="scss">
.wh-manager {
  &__cats {
    position: relative;
  }

  &__cat-list {
    position: absolute;
    z-index: 2;
    left: 100%;
    top: 38px;
    width: 300px;
  }
}
</style>
