<template>
  <q-dialog
    :maximized="$q.screen.xs || false"
    :ref="modal_name"
    class="doc-view"
    full-height
  >
    <q-card
      class="full-height column no-wrap"
      style="max-width:777px;width:100%;"
    >
      <!-- <q-card-section></q-card-section> -->
      <q-card-section class="full-height q-pa-none ">
        <iframe
          name="doc-frame"
          v-if="!error && src"
          :src="src"
          frameborder="0"
          style="width:100%"
          class="full-height"
        ></iframe>
        <app-banner level="danger" v-else class="full-width text-center">
          <div class="text-subtitle2 text-center">
            Не удалось загрузить и/или показать документы
          </div>
        </app-banner>
      </q-card-section>
      <q-card-section>
        <div class="flex-center-between">
          <app-btn label="Закрыть" color="red" flat @click="hide" />
          <div>
            <app-btn
              label="Печать"
              
              color="accent"
              @click="printDocument"
              :disable="error"
              class="q-mr-md"
            />
            <app-btn
              label="Загрузить"
              
              color="primary"
              @click="downloadDoc"
              :disable="error"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    name: String,
    document: null,
    filename: {
      type: String,
      default: "document"
    }
  },
  mounted() {
    if (!this.document) this.error = true;

    this.src = this.getDocUrl();
  },
  data() {
    return {
      src: null,
      error: false
    };
  },
  computed: {
    modal_name() {
      return `document-${this.name || this._uid}`;
    }
  },
  methods: {
    show() {
      this.$refs[this.modal_name].show();
    },
    hide() {
      this.$refs[this.modal_name].hide();
    },
    getDocBlob() {
      return new Blob([this.document], { type: "application/pdf" });
    },
    getDocUrl() {
      let blob = this.getDocBlob();
      return URL.createObjectURL(blob);
    },
    printDocument() {
      const content = window.frames["doc-frame"];
      content.focus();
      content.print();
    },
    downloadDoc() {
      const filename = `${this.filename}_${new Date()
        .toLocaleDateString("RU-ru")
        .split(".")
        .join("-")}`;

      if (navigator.msSaveBlob) {
        // IE 10+
        navigator.msSaveBlob(blob, filename);
      } else {
        const link = document.createElement("a");
        // Browsers that support HTML5 download attribute
        if (link.download !== undefined) {
          const url = this.getDocUrl();

          link.setAttribute("href", url);
          link.setAttribute("download", filename);
          link.style.visibility = "hidden";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        }
      }
    }
  }
};
</script>
