<template>
  <PageContainer with-back title="Информация об оплате">
    <div class="invoice">
      <div class="container">
        <app-banner
          accent
          icon="check"
          level="success"
          v-if="!bill.redirect"
          class="q-mb-xl"
        >
          Заявка на пополнение счёта успешно создана
        </app-banner>

        <app-list>
          <q-item>
            <q-item-section>
              <q-item-label caption>Номер счёта</q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-item-label>{{ bill.invoice.number }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label caption>Дата</q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-item-label>{{ bill.invoice.date }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label caption>Сумма пополнения, USD</q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-item-label>{{ $toUSD(bill.invoice.amount) }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label caption>
                Сумма пополнения в национальной валюте,
                {{ bill.invoice.currency }}
              </q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-item-label>
                {{ $toFixed(bill.invoice.national_amount) }}
                {{ bill.invoice.curr_human }}
              </q-item-label>
              <q-item-label caption>
                <small>{{ bill.invoice.currency }}</small>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>
        <!-- <div class="invoice__accept q-mt-md">
          <q-checkbox color="accent" v-model="accepted">
            Я ознакомился с информацией о платеже и подтверждаю правильность
            данных
          </q-checkbox>
        </div> -->

        <form
          v-if="bill && bill.redirect"
          :action="bill.redirect.url"
          :method="bill.redirect.method"
        >
          <input
            v-for="[key, value] in Object.entries(bill.redirect.params)"
            :key="key"
            type="hidden"
            :name="key"
            :value="value"
          />

          <div class="q-my-xl flex-center">
            <app-btn
              type="submit"
              color="positive"
              :loading="loading"
              icon="link"
              :class="$q.screen.xs && 'q-mb-lg'"
              class="q-py-sm"
            >
              &nbsp;&nbsp;&nbsp;Перейти к оплате
            </app-btn>
          </div>
        </form>

        <div
          class="invoice__redirect flex-center q-mt-xl"
          v-if="false && bill.redirect"
          :class="$q.screen.xs && 'flex column'"
        >
          <app-btn
            @click="handleRedirect"
            color="accent"
            :loading="loading"
            icon="link"
            :class="$q.screen.xs && 'q-mb-lg'"
            class="q-py-sm"
          >
            &nbsp;&nbsp;&nbsp;Перейти к оплате
          </app-btn>
          <!-- <small
            class="text-muted q-ml-lg"
            :class="$q.screen.xs && 'text-center'"
          >
            Вы будете перенаправлены на сайт платёжной системы
          </small> -->
        </div>
        <div v-else class=" flex-center invoice__done q-mt-lg">
          <app-btn flat to="/invoices" color="primary" class="bg-blue-1">
            К списку оплат
          </app-btn>
        </div>
      </div>
    </div>
  </PageContainer>
</template>

<script>
export default {
  mounted() {
    if (!this.$route.params || !this.$route.params.bill_info) {
      this.$alert({
        title: "Данные устрели, попробуйте ещё раз",
        level: "warning"
      });

      this.$router.push("/money-in");
    }
  },
  data() {
    return {
      loading: false
      // accepted: false
    };
  },
  computed: {
    bill() {
      return this.$route.params.bill_info;
    }
  },
  methods: {
    async handleRedirect() {
      let { method, params, url } = this.bill.redirect;

      this.loading = true;

      try {
        await this.$axios({
          url,
          method: method.toLowerCase(),
          data: params
        });

        this.$message({
          level: "success",
          title: "Данные об оплате отправлены в платёжную систему"
        });

        this.$router.push("/money-in");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          defaultMessage:
            "Не удалось передать данные платёжной системе. Попробуйте ещё раз через некоторое время."
        });
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style></style>
