<template>
  <PageContainer title="Калькулятор" caption="стоимости доставки">
    <div class="container">
      <q-stepper v-model="step" ref="stepper" color="primary" animated>
        <!-- 
          STEPS SCHEMA:
          1: TYPE
          2: PARCEL INF
          3: RESULT
         -->
        <q-step
          :name="1"
          title="Тип отправки"
          icon="settings"
          :done="step === 'info'"
        >
          <div style="overflow-x: scroll">
            <q-btn-toggle
              size="18px"
              v-model="type"
              spread
              toggle-color="blue-1"
              toggle-text-color="primary"
              unelevated
              :options="[
                { value: 'direct', slot: 'direct' },
                { value: 'svh', slot: 'svh' },
                {
                  value: 'usa_domestic',
                  slot: 'usa_domestic'
                }
              ]"
              style="min-width:700px"
              @input="chooseType"
            >
              <template #direct>
                <div class="flex column items-center justify-center q-pa-lg">
                  <q-img
                    height="70px"
                    width="70px"
                    src="./icons/direct.svg"
                    alt="direct"
                    class="q-mb-lg"
                  />

                  <!-- <div class="q-mb-lg" style="font-size:70px">📦</div> -->
                  Отправка из России
                </div>
              </template>
              <template #svh>
                <div class="flex column items-center justify-center q-pa-lg">
                  <q-img
                    height="70px"
                    width="70px"
                    src="./icons/wh-in.svg"
                    alt="direct"
                    class="q-mb-lg"
                  />
                  Отправка на склад
                </div>
              </template>
              <template #usa_domestic>
                <div class="flex column items-center justify-center q-pa-lg">
                  <q-img
                    height="70px"
                    width="70px"
                    src="./icons/wh-out.svg"
                    alt="direct"
                    class="q-mb-lg"
                  />
                  Отправка со склада
                </div>
              </template>
            </q-btn-toggle>
          </div>
        </q-step>
        <q-step icon="info" title="Информация об отправлении" :name="2">
          <!--  -->
          <!--  -->
          <!--  -->
          <div v-if="type">
            <h4 class="q-mb-lg line-height1">{{ transformType(type) }}</h4>
            <transition-group name="fade">
              <div
                class="q-mb-lg"
                v-if="type === 'direct' || type === 'usa_domestic'"
                key="sad"
              >
                <small class="text-muted q-mb-sm block">
                  Пункт назначения
                </small>
                <div class="row q-col-gutter-md">
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <!-- state: $v.location.state.$anyError -->
                    <country-select
                      :errors="{
                        country: $v.location.country.$anyError
                      }"
                      @change="
                        ({ country, state }) => {
                          country && (location.country = country);
                          state && (location.state = state);
                        }
                      "
                    />
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <q-input
                      v-model="location.zip"
                      label="ZIP"
                      outlined
                      dense
                    ></q-input>
                  </div>
                </div>
              </div>

              <div key="ad">
                <small class="text-muted q-mb-sm block">
                  Габариты посылки (cm)
                </small>
                <div class="row q-col-gutter-md">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <q-input
                      outlined
                      v-model.number="dimensions.length"
                      dense
                      label="Длина"
                      :error="$v.dimensions.length.$anyError"
                      suffix="cm"
                    ></q-input>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <q-input
                      outlined
                      v-model.number="dimensions.width"
                      dense
                      label="Ширина"
                      suffix="cm"
                      :error="$v.dimensions.width.$anyError"
                    ></q-input>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <q-input
                      outlined
                      v-model.number="dimensions.height"
                      dense
                      label="Высота"
                      suffix="cm"
                      :error="$v.dimensions.height.$anyError"
                    ></q-input>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <q-input
                      v-model.number="weight.fact"
                      :error="$v.weight.fact.$anyError"
                      outlined
                      dense
                      label="Вес"
                      suffix="g"
                      :hint="
                        (dimensional_weight &&
                          `Объёмный вес: ${dimensional_weight} g`) ||
                          ''
                      "
                    >
                    </q-input>
                  </div>
                </div>
              </div>
            </transition-group>

            <!-- <div class="q-mt-lg">
              <small class="text-muted q-mb-sm block">Вес посылкиы (g)</small>

              <q-input
                v-model.number="weight.fact"
                :error="$v.weight.fact.$anyError"
                outlined
                dense
                label="Вес"
              >
                <template #after>
                  <q-input
                    outlined
                    dense
                    readonly
                    label="Объёмный вес"
                    :value="dimensional_weight"
                  />
                </template>
              </q-input>
            </div> -->
          </div>
        </q-step>
        <q-step icon="sort" title="Результаты" :name="3">
          <div v-if="result && (type === 'direct' || type === 'usa_domestic')">
            <h4 class="q-mb-lg">
              Тарифы на доставку по вашим параметрам
            </h4>
            <app-list>
              <q-item v-for="(rate, idx) in result" :key="idx">
                <q-item-section top side class="q-mt-xs">
                  <carrier-logo :code="rate.carrier_service.carrier" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    <div class="text-muted block q-mb-sm">
                      {{ transformRateType(rate.ship_type) }}
                    </div>
                    <b>
                      {{ rate.carrier_service.carrier }}:
                      {{ rate.carrier_service.name }}
                    </b>
                  </q-item-label>
                  <q-item-label>
                    <small class="text-grey-7">
                      {{ rate.carrier_service.timing_description }}
                    </small>
                  </q-item-label>

                  <q-item-label
                    class="text-negative block q-mt-md"
                    v-if="rate.carrier_service.error"
                  >
                    <div class="flex no-wrap">
                      <q-icon
                        class="q-mr-sm"
                        style="padding-top:2px"
                        name="error"
                      />
                      <span v-html="rate.carrier_service.error"></span>
                    </div>
                  </q-item-label>
                  <q-item-label
                    class="text-orange-7 block q-mt-md"
                    v-if="rate.carrier_service.warning"
                  >
                    <div class="flex no-wrap">
                      <q-icon
                        class="q-mr-sm"
                        style="padding-top:2px"
                        name="warning"
                      />
                      <span v-html="rate.carrier_service.warning"></span>
                    </div>
                  </q-item-label>
                </q-item-section>
                <q-item-section avatar>
                  <q-item-label>
                    <div class="flex items-center">
                      <div class="text-right">
                        <b
                          class="text-primary q-mb-xs block"
                          style="font-size:21px"
                        >
                          {{ $toUSD(rate.rates.total) }}
                        </b>
                        <small class="block text-muted">
                          {{ $toRUB(rate.rates_national.total) }}
                        </small>
                      </div>
                      <app-btn
                        round
                        size="12px"
                        class="q-ml-sm"
                        icon="info"
                        flat
                        dense
                        color="grey-4"
                      >
                        <q-menu>
                          <q-list
                            bordered
                            separator
                            class="rounded-borders"
                            v-if="
                              rate.rates.consolidation ||
                                rate.rates.handling ||
                                rate.rates.label
                            "
                          >
                            <!-- consolidation
                                handling
                                label -->
                            <q-item v-if="rate.rates.consolidation">
                              <q-item-section>
                                <div class="text-muted">
                                  Консолидация
                                </div>
                              </q-item-section>
                              <q-item-section avatar>
                                <b>
                                  {{ $toUSD(rate.rates.consolidation) }}
                                </b>
                                <small class="text-muted block">
                                  {{
                                    $toRUB(rate.rates_national.consolidation)
                                  }}
                                </small>
                              </q-item-section>
                            </q-item>
                            <q-item v-if="rate.rates.handling">
                              <q-item-section>
                                <div class="text-muted">
                                  Обработка посылки
                                </div>
                              </q-item-section>
                              <q-item-section avatar>
                                <div class="text-right">
                                  <b>
                                    {{ $toUSD(rate.rates.handling) }}
                                  </b>
                                  <small class="text-muted block">
                                    {{ $toRUB(rate.rates_national.handling) }}
                                  </small>
                                </div>
                              </q-item-section>
                            </q-item>
                            <q-item v-if="rate.rates.label">
                              <q-item-section>
                                <div class="text-muted">
                                  Label
                                </div>
                              </q-item-section>
                              <q-item-section avatar>
                                <b>
                                  {{ $toUSD(rate.rates.label) }}
                                </b>
                                <small class="text-muted block">
                                  {{ $toRUB(rate.rates_national.label) }}
                                </small>
                              </q-item-section>
                            </q-item>
                          </q-list>
                          <q-item v-else>
                            <q-item-section>
                              <small
                                class="text-muted q-pa-sm text-center block"
                              >
                                Детализация недоступна
                              </small>
                            </q-item-section>
                          </q-item>
                        </q-menu>
                      </app-btn>
                    </div>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </app-list>
            <app-banner icon="warning" class="q-mt-md" level="warning">
              Сумма может варьироваться в зависимости от комиссии платежной
              системы
            </app-banner>
          </div>
          <div v-if="result && type === 'svh'">
            <app-list>
              <q-item v-for="(rate, idx) in result" :key="idx">
                <q-item-section>
                  <h5 class="q-ma-none line-height1">Доставка на склад</h5>
                </q-item-section>
                <q-item-section avatar>
                  <q-item-label>
                    <div class="flex items-center q-py-sm">
                      <div class="text-right">
                        <b
                          class="text-primary q-mb-xs block line-height1"
                          style="font-size:21px"
                        >
                          {{ $toUSD(rate.rates.total) }}
                        </b>
                        <small class="block text-muted">
                          {{ $toRUB(rate.rates_national.total) }}
                        </small>
                      </div>
                      <app-btn
                        round
                        size="12px"
                        class="q-ml-sm"
                        icon="info"
                        flat
                        dense
                        color="grey-4"
                      >
                        <q-menu>
                          <q-list
                            bordered
                            separator
                            class="rounded-borders"
                            v-if="
                              rate.rates.consolidation ||
                                rate.rates.handling ||
                                rate.rates.label
                            "
                          >
                            <!-- consolidation
                                handling
                                label -->
                            <q-item>
                              <q-item-section>
                                <div class="text-muted">
                                  Консолидация
                                </div>
                              </q-item-section>
                              <q-item-section avatar>
                                <b>
                                  {{ $toUSD(rate.rates.consolidation) }}
                                </b>
                                <small class="text-muted block">
                                  {{
                                    $toRUB(rate.rates_national.consolidation)
                                  }}
                                </small>
                              </q-item-section>
                            </q-item>
                          </q-list>
                          <q-item v-else>
                            <q-item-section>
                              <small
                                class="text-muted q-pa-sm text-center block"
                              >
                                Детализация недоступна
                              </small>
                            </q-item-section>
                          </q-item>
                        </q-menu>
                      </app-btn>
                    </div>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </app-list>
          </div>
        </q-step>
        <!-- <template v-slot:message>
          <q-banner class="bg-blue-8 text-white q-px-lg">
            The final step is creating the ad...
          </q-banner>
        </template> -->
        <template v-slot:navigation>
          <q-stepper-navigation v-show="step !== 1">
            <div class="flex justify-between">
              <div>
                <app-btn
                  class="q-mr-md"
                  @click="$refs.stepper.previous()"
                  v-if="step > 1"
                >
                  Назад
                </app-btn>
                <app-btn
                  v-if="step === 3"
                  @click="resetCalcState"
                  class="text-primary"
                >
                  В начало
                </app-btn>
              </div>
              <app-btn
                v-if="step === 2"
                @click="handleNextStep()"
                color="primary"
                :label="'Расчитать'"
                :loading="loading"
              />
              <!-- </div> -->
            </div>
          </q-stepper-navigation>
        </template>
      </q-stepper>
    </div>
  </PageContainer>
</template>

<script>
import CountrySelect from "@/components/CountrySelect";
import { required } from "vuelidate/lib/validators";
import CarrierLogo from "@/components/CarrierLogo";

export default {
  name: "SippingCalc",
  components: {
    "country-select": CountrySelect,
    "carrier-logo": CarrierLogo
  },
  mounted() {
    console.log(this.$refs.stepper);
  },
  data() {
    return {
      step: 1,
      loading: false,
      type: null,
      result: null,
      dimensions: {
        length: null,
        width: null,
        height: null
      },
      weight: {
        fact: null,
        dimensional: null
      },
      location: {
        country: null,
        state: null,
        zip: null
      }
    };
  },
  computed: {
    dimensional_weight() {
      return (
        +(
          (this.dimensions.length *
            this.dimensions.width *
            this.dimensions.height) /
          5000
        ) * 1000 || null
      );
    }
  },
  watch: {
    type() {
      this.resetCalcData();
    }
  },
  methods: {
    transformType(code) {
      switch (code) {
        case "direct":
          return "Отправка из России";
        case "svh":
          return "Доставка на склад";
        case "usa_domestic":
          return "Доставка со склада";
        default:
          return code;
      }
    },
    transformRateType(code) {
      switch (code) {
        case "consolidation":
          return "Консолидация";
        case "direct":
          return "Экспресс";
        case "usa_domestic":
          return "Со склада";
        default:
          return code;
      }
    },
    validateFields() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        this.$message({
          title: "Заполните обязательные поля",
          level: "warning"
        });
        return false;
      }
      return true;
    },
    handleNextStep() {
      if (this.step === 1) return this.$refs.stepper.next();
      if (this.step === 2) {
        return this.submit();
      }
    },
    submit() {
      const valid = this.validateFields();

      if (!valid) return;

      this.result = null;
      let params = {};

      let {
        type,
        dimensions,
        location: { country, state, zip },
        weight: { fact: weight }
      } = this;

      switch (type) {
        case "direct":
          params = {
            dimensions,
            country,
            ...(state && { state }),
            ...(zip && { zip }),
            weight: weight / 1000
          };
          return this.calculateCost(params);
        case "usa_domestic":
          params = {
            type: "usa_domestic",
            dimensions,
            country,
            ...(state && { state }),
            ...(zip && { zip }),
            weight: weight / 1000
          };
          return this.calculateCost(params);
        case "svh":
          params = { dimensions, weight: weight / 1000, type: "svh" };
          return this.calculateCost(params);
        default:
          throw new Error("Unknown shipping type.");
      }
    },
    async calculateCost(params) {
      try {
        this.loading = true;
        const { data: result } = await this.$api.post(
          `v2/shipping/calculator/get-carriers`,
          params
        );
        this.result = result;
        this.$refs.stepper.next();
      } catch (e) {
        console.log("e:", e);
        this.$showApiError(e, {
          fallbackMessage: "Не удалось завершить запрос"
        });
      } finally {
        this.loading = false;
      }
    },
    resetCalcData() {
      this.dimensions = {
        length: null,
        width: null,
        height: null
      };
      this.location = {
        country: null,
        state: null,
        zip: null
      };

      this.weight = {
        fact: null,
        dimensional: null
      };

      this.result = null;

      this.$v.$reset();
    },
    resetCalcState() {
      this.resetCalcData();
      this.type = null;
      this.$refs.stepper.goTo(1);
    },
    chooseType(event) {
      console.log("event:", event);
      this.type = event;
      this.handleNextStep();
    }
  },
  validations() {
    let location = {
      country: { required }
      //   state: { required }
    };

    let dimensions = {
      length: { required },
      width: { required },
      height: { required }
    };

    let weight = {
      fact: { required }
    };

    switch (this.type) {
      case "direct":
        return {
          location,
          dimensions,
          weight
        };
      case "svh":
        return {
          dimensions,
          weight
        };
      case "usa_domestic":
        return {
          location,
          weight,
          dimensions
        };
    }
  }
};
</script>

<style></style>
