@import "./fonts.scss";
@import "./rfs.scss";
@import "./mixins.scss";

// app global css in SCSS form
body,
html {
  box-sizing: border-box !important;

  * {
    box-sizing: border-box !important;
  }
}

.container {
  max-width: 1140px !important;
  // min-width: 1140px;
  // min-width: 700px;
  margin: 0 auto;
  width: 100% !important;
  padding-left: 14px;
  padding-right: 14px;
}

.container-fluid {
  @extend .container;
  max-width: calc(1140px - 28px) !important;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}

$aborder: 1px solid rgba(0, 0, 0, 0.12);

.q-page-container,
.q-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

a {
  color: $primary;
  font-weight: 500;

  &:hover {
    color: lighten($primary, $amount: 7);
  }
}

.text-muted {
  color: $grey-6 !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.el-centered {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;

  //! EXP
  position: absolute;
  width: 100%;
}

.slide-fade-top-enter-active,
.slide-fade-top-leave-active {
  transition: opacity 0.21s, transform 0.21s;
  transform-origin: center top;
}

.slide-fade-top-enter,
.slide-fade-top-leave-to {
  opacity: 0;
  // transform: translateY(-7px);
  transform: scale(0.992);
}

.line-height1 {
  line-height: 1;
}

// * FRAMEWORK

.q-tooltip {
  backdrop-filter: blur(2px);
}

.q-field {
  &__inner {
    background-color: #fff;
  }
}

.modal-header {
  font-size: 18px;
  font-weight: 500;
}

.blue-cyan-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00c9d3+0,0088cc+100 */
  background: rgb(0, 201, 211);
  /* Old browsers */
  background: -moz-linear-gradient(
    left,
    rgba(0, 201, 211, 1) 0%,
    rgba(0, 136, 204, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(0, 201, 211, 1) 0%,
    rgba(0, 136, 204, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(0, 201, 211, 1) 0%,
    rgba(0, 136, 204, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c9d3', endColorstr='#0088cc', GradientType=1);
  /* IE6-9 */
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: space-between;

  &__body {
    height: 100%;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $grey-2;
  }

  &::-webkit-scrollbar-thumb {
    // border-radius: 0 0 3px 3px;
    background-color: $grey-4;
  }
}

.font-500 {
  font-weight: 500 !important;
}
