@font-face {
  font-family: "Fira";
  src: url("../assets/fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Fira";
  src: url("../assets/fonts/Fira_Sans/FiraSans-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Fira";
  src: url("../assets/fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Fira";
  src: url("../assets/fonts/Fira_Sans/FiraSans-SemiBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Fira";
  src: url("../assets/fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
  font-weight: 800;
}

.font-fira {
  font-family: "Fira", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@mixin font-fira {
  font-family: "Fira", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
