// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// @import "/node_modules/rfs/scss";

$body-font-size: 13px;
$space-base: 14px;
$animate-duration: 0.21s;
$body-line-height: 1.4;

// $primary: #1976d2;
// $primary: #087479;
$primary: #00abe9;
$accent: #db3832;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #de4747;
$info: #31ccec;
$warning: #f2c037;

$font_base: 14;
$font_base_px: 14px;

$shadow-color: rgba(#000, 0.35);
$elevation-umbra: rgba($shadow-color, 0.14) !default;
$elevation-penumbra: rgba($shadow-color, 0.14) !default;
$elevation-ambient: rgba($shadow-color, 0.12) !default;

// $generic-border-radius: 4px !default;

$generic-hover-transition: 0.21s cubic-bezier(0.25, 0.8, 0.5, 1) !default;
$button-border-radius: 4px;
$tooltip-fontsize: 13px;

$tooltip-background: rgba(#000, 0.63);
$tooltip-color: #fff;
$tooltip-fontsize: 12px;

.gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4d9eef+0,00bafe+100 */
  background: rgb(77, 158, 239);
  /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(77, 158, 239, 1) 0%,
    rgba(0, 186, 254, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(77, 158, 239, 1) 0%,
    rgba(0, 186, 254, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(77, 158, 239, 1) 0%,
    rgba(0, 186, 254, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d9eef', endColorstr='#00bafe', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.gradient-accent {
  background: #e53935; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e35d5b,
    #e53935
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e35d5b,
    #e53935
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin gradient {
  @extend .gradient;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $grey-2;
  }

  &::-webkit-scrollbar-thumb {
    // border-radius: 0 0 3px 3px;
    background-color: $grey-4;
  }
}
