// PRODVIDED VIA BOOTSTRAP RFS/RESPONSIVE FONT SIZES
@import "~rfs/scss";

#app {
  // font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  //   Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-family: "Fira", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
  @include font-fira;
}

h1 {
  @include font-size(3.8rem !important);
  @include margin-bottom(1.7rem);
  @include margin-top(1.42rem);
}

h2 {
  @include font-size(2.8rem !important);
  @include margin-bottom(1rem);
  @include margin-top(1.1rem);
}

h3 {
  @include font-size(1.77rem !important);
  @include margin-bottom(1rem);
  @include margin-top(0.7rem);
}

h4 {
  @include font-size(1.35rem !important);
  @include margin-bottom(0.7rem);
  @include margin-top(0.35rem);
  font-weight: 500;
}

h5 {
  @include font-size(1.14rem !important);
  @include margin-bottom(0.42rem);
  @include margin-top(0.21rem);
  font-weight: 500;
}
h6 {
  @include font-size(1rem !important);
  @include margin-bottom(0.35rem);
  @include margin-top(0.14rem);
  font-weight: bold;
}
