<template>
  <PageContainer title="Выписанные счета">
    <!-- <with-loading :state="loading" /> -->
    <div class="container">
      <with-transition>
        <!-- <q-card v-if="bills && bills.length"> -->
        <app-list
          white
          header="Список счетов"
          :empty="
            ((!bills || !bills.length) && 'Нет информации для отображения') ||
              false
          "
          :loading="loading"
          :min-width="960"
        >
          <q-item v-if="bills && bills.length">
            <q-item-section>
              <q-item-label caption>
                Система
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>
                Номер платежа
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>
                Сумма
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>
                Дата
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label caption>
                Статус оплаты
              </q-item-label>
            </q-item-section>

            <q-item-section>
              <q-item-label caption> </q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-for="invoice in bills" :key="invoice.invoice_id">
            <q-item-section>
              <q-item-label>
                <q-img
                  class="q-ml-sm"
                  width="87px"
                  contain
                  :src="
                    `img/logos/${getModuleCode(invoice.invoice_module)}.svg`
                  "
                ></q-img>
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                {{ invoice.invoice_number }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                {{ invoice.invoice_orig_sum }}
                {{ invoice.invoice_orig_currency }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                {{ invoice.invoice_date }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <q-checkbox
                  :value="!!invoice.invoice_paid"
                  :disable="!invoice.can_mark_paid"
                  @input="markAsPaid(invoice.invoice_id)"
                  :color="invoice.invoice_paid ? 'positive' : 'negative'"
                >
                  {{ invoice.invoice_paid ? "Оплачен" : "Не оплачен" }}
                </q-checkbox>
              </q-item-label>
            </q-item-section>

            <q-item-section>
              <q-item-label>
                <!-- <app-btn
                size="12px"
                color="primary"
                icon-right="chevron_right"
                flat
                class="bg-blue-1"
                :to="`/invoices/${invoice.invoice_id}`"
              >
                Детали
              </app-btn> -->
                <q-btn-dropdown
                  class="bg-red-1 text-accent"
                  flat
                  size="10px"
                  icon="sort"
                  @click.stop
                >
                  <q-list>
                    <q-item
                      clickable
                      v-close-popup
                      :to="`/invoices/${invoice.invoice_id}`"
                    >
                      <q-item-section>
                        Информация о пополнении
                      </q-item-section>
                    </q-item>
                    <q-item
                      clickable
                      v-close-popup
                      @click="printInvoice(invoice.invoice_id)"
                    >
                      <q-item-section>
                        Печать
                      </q-item-section>
                    </q-item>
                    <q-item
                      clickable
                      v-close-popup
                      class="text-negative"
                      :disable="!invoice.can_delete"
                      @click="removeInvoice(invoice.invoice_id)"
                    >
                      <q-item-section>
                        Удалить
                      </q-item-section>

                      <q-item-section v-show="!invoice.can_delete" side>
                        <q-icon name="lock" size="14px" />
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </q-item-label>
            </q-item-section>
          </q-item>
        </app-list>
        <!-- </q-card> -->
      </with-transition>

      <iframe
        id="print-holder"
        height="1px"
        width="1px"
        frameborder="0"
        style="display:none"
      ></iframe>
    </div>
  </PageContainer>
</template>

<script>
export default {
  created() {
    this.getInvoices();
  },
  data() {
    return {
      bills: null,
      loading: false,
      pager: {
        page: 1,
        on_page: 10
      }
    };
  },
  methods: {
    async getInvoices() {
      try {
        this.loading = true;

        const { invoices, on_page, page, total } = await this.$store.dispatch(
          "Invoices/GET_INVOICES"
        );

        this.bills = invoices;
        this.pager = {
          on_page,
          page
        };
      } catch (e) {
        console.log("e:", e);
        let {
          message: title = "Не удалось загрузить данные",
          errors
        } = this.$parseApiError(e);

        this.$alert({
          title,
          errors,
          level: "danger"
        });
      } finally {
        this.loading = false;
      }
    },
    async printInvoice(invoice_id) {
      try {
        this.loading = true;

        const {
          data: { print_invoice }
        } = await this.$store.dispatch("Invoices/GET_INVOICE", invoice_id);

        let frame = window.frames["print-holder"].contentWindow;

        frame.document.body.innerHTML = print_invoice;

        if (!frame) return;
        frame.focus();
        frame.print();

        frame.document.body.innerHTML = "";
      } catch (e) {
      } finally {
        this.loading = false;
      }
    },
    async removeInvoice(invoice_id) {
      const c = await this.$confirm({
        title: "Действительно хотите удалить запись?",
        level: "danger"
      });

      if (!c) return;

      try {
        const { data } = await this.$store.dispatch(
          "Invoices/REMOVE_INVOICE",
          invoice_id
        );

        this.$alert({
          level: "success",
          title: (data && data.message) || "Запись удалена"
        });

        this.getInvoices();
      } catch (e) {
        console.log("e:", e);
        let {
          message: title = "Не удалось сохранить изменения",
          errors
        } = this.$parseApiError(e);

        this.$alert({
          title,
          errors,
          level: "danger"
        });
      } finally {
      }
    },
    async markAsPaid(invoice_id) {
      try {
        this.loading = "Сохранение информации";

        const { data } = await this.$store.dispatch(
          "Invoices/MARK_AS_PAID",
          invoice_id
        );

        this.$alert({
          level: "success",
          title: (data && data.message) || "Изменения сохранены"
        });

        this.getInvoices();
      } catch (e) {
        let {
          message: title = "Не удалось сохранить изменения",
          errors
        } = this.$parseApiError(e);

        this.$alert({
          title,
          errors,
          level: "danger"
        });
      } finally {
        this.loading = false;
      }
    },
    getModuleCode(code) {
      if (!code) return;

      let code_lc = code.toLowerCase();
      let includes = target => code_lc.indexOf(target.toLowerCase()) !== -1;

      if (includes("ukassa")) {
        return "ukassa";
      }
      if (includes("liqpay")) {
        return "liqpay";
      }
      if (includes("alfabankrub")) {
        return "alfabank";
      }
      if (includes("pprus")) {
        return "paypal";
      }
      return code;
    }
  }
};
</script>
