<template>
  <q-dialog
    transition-show="jump-down"
    transition-hide="fade"
    :ref="`carousel-dia`"
  >
    <!-- @hide="$emit('hide')" -->
    <!-- <q-card> -->
    <app-btn
      icon="close"
      class="absolute z-max bg-white text-negative"
      style="top:14px;right:14px;cursor:pointer"
      round
      @click="hide"
    ></app-btn>
    <!-- <q-img contain v-for="img in images" :src="`data:image;base64,${img}`" /> -->
    <q-carousel
      class=" full-width"
      animated
      v-model="slide"
      :arrows="images && images.length > 1"
      :navigation="images && images.length > 1"
      infinite
      keep-alive
      thumbnails
    >
      <q-carousel-slide
        class="flex flex-center q-pa-none"
        v-for="(img, idx) in images"
        :name="idx"
        :key="idx"
      >
        <q-img contain :src="`data:image;base64,${img}`"></q-img>
      </q-carousel-slide>
    </q-carousel>
    <!-- <q-card-section>
      <app-btn @click="hide" flat color="negative">
        Закрыть
      </app-btn>
    </q-card-section> -->
    <!-- </q-card> -->
  </q-dialog>
</template>

<script>
export default {
  props: {
    images: Array,
    index: Number
  },
  data() {
    return {
      slide: this.index || 0
    };
  },
  methods: {
    show() {
      this.$refs[`carousel-dia`].show();
    },
    hide() {
      this.$refs[`carousel-dia`].hide();
    }
  }
};
</script>
<style lang="scss" scoped>
.q-carousel {
  height: auto !important;
  max-width: calc(1140px - 28px) !important;
}
</style>
