<template>
  <q-page>
    <div id="connect-amazon" class="connect-amazon relative-position">
      <with-loading :state="loading.list"></with-loading>

      <div class="connect-amazon__list">
        <q-markup-table class="text-left">
          <thead>
            <tr>
              <th>Магазин</th>
              <th>Статус</th>
              <th></th>
            </tr>
          </thead>
          <tbody
            transition-show="fade"
            transition-hide="fade"
            v-if="shops && Object.keys(shops).length"
          >
            <tr v-for="(shop, title) in shops" :key="shop.title">
              <td style="font-weight: 600">{{ title }}</td>
              <td>
                <div
                  class="flex items-center  text-negative"
                  v-if="shop.status === 'new'"
                >
                  <q-icon
                    class="q-mr-xs"
                    color="red"
                    size="16px"
                    name="new_releases"
                  />
                  Не настроен
                </div>
                <div
                  class="flex items-center text-positive"
                  v-if="shop.status === 'complete'"
                >
                  <q-icon class="q-mr-xs" size="16px" name="verified" />
                  Настроен
                </div>
              </td>
              <td>
                <app-btn
                  size="13px"
                  @click="changeShop(shop, title)"
                  color="primary"
                >
                  Настройка
                </app-btn>
              </td>
            </tr>
          </tbody>
          <tbody transition-show="fade" transition-hide="fade" v-else>
            <tr>
              <td align="middle" colspan="3">
                <div class="q-pa-md">
                  <div class="text-grey-7 block">
                    Не подключено ни одного магазина
                  </div>
                  <br />
                  <app-btn
                    type="a"
                    color="primary"
                    to="/connect/other"
                    class="btn"
                    icon="add"
                    size="12px"
                  >
                    &nbsp; Создайте заявку на подключение магазина
                  </app-btn>
                </div>
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>

      <modal
        @closed="handleModalClose"
        width="490"
        height="auto"
        name="shop-settings"
      >
        <div v-if="current.shop">
          <div class="q-pa-lg">
            <div class="modal-header">
              Настройка магазина Amazon
            </div>
            <q-input
              outlined
              dense
              label="Seller ID"
              v-model="current.shop.credentials.SELLER_ID"
              type="text"
              class="q-mt-md"
            />
            <q-input
              outlined
              dense
              label="MWS Auth Token"
              v-model="current.shop.credentials.MWS_AUTH_TOKEN"
              type="text"
              class="q-mt-md"
            />
            <app-btn
              @click="submitShopData"
              class="q-mt-md full-width"
              color="primary"
            >
              Сохранить
            </app-btn>
            <div class="q-mt-xl">
              <div style="font-size: 16px; font-weight: 500">
                Для получения Seller ID и MWS Auth token используйте следующие
                данные:
              </div>
              <div class="q-mt-md">
                <div
                  class="cursor-pointer flex-center-between q-mb-sm"
                >
                  Developer name:
                  <div class="flex items-center">
                    <q-icon
                      name="content_copy"
                      @click="copyValue('SOL')"
                      color="grey-7"
                      class="q-mr-sm"
                      size="16px"
                    >
                      <q-tooltip anchor="top middle" self="bottom middle">
                        Копировать значение
                      </q-tooltip>
                    </q-icon>
                    <b>
                      SOL
                    </b>
                  </div>
                </div>
                <div class="cursor-pointer flex-center-between">
                  Developer ID:
                  <div class="flex items-center">
                    <q-icon
                      name="content_copy"
                      @click="copyValue('728555876495')"
                      color="grey-7"
                      class="q-mr-sm"
                      size="16px"
                    >
                      <q-tooltip anchor="top middle" self="bottom middle">
                        Копировать значение
                      </q-tooltip>
                    </q-icon>
                    <b>
                      728555876495
                    </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </modal>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "ConnectAmazon",
  mounted() {
    this.getShops(null);
  },
  data() {
    return {
      shops: null,
      loading: {
        list: false
      },
      current: {
        seller_id: null,
        auth_token: null,
        shop: null,
        shop_name: null
      }
    };
  },
  methods: {
    handleModalClose() {
      this.current = {
        seller_id: null,
        auth_token: null,
        shop: null,
        shop_name: null
      };
    },
    getShops(shops) {
      if (shops) {
        this.shops = shops;
        return;
      }

      this.loading.list = true;

      this.$api
        .get(`/user/accounts/amazon`)
        .then(({ data: { amazon_shops, success } }) => {
          this.shops = amazon_shops;
        })
        .catch(e => {
          const {
            message = "Не удалось загрузить список подключенных магазинов",
            errors
          } = this.$parseApiError(e);

          this.$alert({
            level: "danger",
            title: message,
            errors
          });
        })
        .then(() => {
          this.loading.list = false;
        });
    },

    changeShop(shop = null, title) {
      if (!shop.credentials) {
        shop.credentials = Object();
        shop.credentials.SELLER_ID = "";
        shop.credentials.MWS_AUTH_TOKEN = "";
      }
      this.current.shop = shop;
      this.current.shop_name = title;

      this.$modal.show("shop-settings");
    },
    submitShopData() {
      if (
        !this.current.shop.credentials.MWS_AUTH_TOKEN ||
        !this.current.shop.credentials.SELLER_ID
      ) {
        this.$message({
          title: "Заполните все поля",
          level: "warning"
        });
        return false;
      }

      this.loading.list = true;

      const {
        shop: { credentials },
        shop_name
      } = this.current;

      this.$api
        .put(`/user/accounts/amazon`, {
          auth_token: credentials.MWS_AUTH_TOKEN,
          seller_id: credentials.SELLER_ID,
          shop_name: shop_name
        })
        .then(({ data }) => {
          this.getShops(data.amazon_shops);
          this.$message({
            title: "Изменения сохранены",
            level: "success"
          });
          this.$modal.hide("shop-settings");
        })
        .catch(error => {
          this.$alert({
            level: "danger",
            title: "Не удалось сохранить изменения",
            inner: {
              message:
                (error.response &&
                  error.response.data &&
                  error.response.data.message) ||
                "Ошибка при сохранении данных",
              errors:
                (error.response &&
                  error.response.data &&
                  error.response.data.errors) ||
                null
            }
          });
        })
        .then(() => {
          this.loading.list = false;
        });
    },
    async copyValue(value) {
      await this.$copyToClipboard(value);
      this.$message({
        level: "success",
        title: "Значение скопировано"
      });
    }
  }
};
</script>
