<template>
  <q-page>
    <with-loading :loading="loading.common"></with-loading>

    <div class="ebay-connect__info">
      <p>
        <b>
          Термин 'eBay' является зарегистрированной торговой маркой компании
          eBay Inc.
        </b>
      </p>

      <p>
        <a
          href="https://www.ebay.com/help/policies/member-behaviour-policies/user-agreement?id=4259"
        >
          Актуальные условия использования сервиса
        </a>
      </p>

      <p>
        Интеграция происходит через публичное приложение
        <b>Seller-Online Connect</b>, разработанного на основе API eBay.
      </p>

      <p>
        Интеграция с eBay предназначена для:
      </p>

      <ol>
        <li>
          Быстрого оформления заявки на отправку посылки (в строке поиска можно
          использовать номер заказа eBay)
        </li>
        <li>
          Автоматического определения таможенной стоимости исходя из суммы
          заказа.
        </li>
      </ol>

      <!-- <a
        href="https://seller-online.com/help/integraciya-s-ebay"
        target="_blank"
      >
        Справка по подключению аккаунтов eBay
      </a> -->
    </div>

    <div class="ebay-connect__start q-mt-xl">
      <h4>Подключение нового магазина eBay</h4>

      <p v-if="!showLink">
        Введите имя пользователя (логин) или почту, которые вы используете для
        авторизации на eBay, и нажмите кнопку "Сгенерировать ссылку".
      </p>

      <p v-if="showLink">
        В случае изменения имени магазина, не забудьте после этого снова нажать
        кнопку "Сгенерировать ссылку".
      </p>

      <div
        class="connection-form"
        v-on:keyup.enter="ebay_name && generateConnectionLink()"
      >
        <div class="row q-col-gutter-md">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <q-input
              outlined
              dense
              v-model="ebay_name"
              type="text"
              name="ebay_name"
            >
            </q-input>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <app-btn
              :disabled="!ebay_name"
              color="primary"
              @click="generateConnectionLink"
              class="full-height"
              :loading="loading.connect"
              :class="$q.screen.xs && 'full-width'"
            >
              Сгенерировать ссылку
            </app-btn>
          </div>
        </div>
      </div>
    </div>

    <div class="ebay-connect__form q-mt-xl" v-if="showLink">
      <p>
        После нажатия на кнопку ниже вы будете перенаправлены в свой аккаунт
        eBay для подтверждения установки приложения
        <b>Seller-Online eBay Connect</b>.
      </p>

      <p>
        Для продолжения нажмите на кнопку "Подключить магазин" и следуйте
        инструкциям (вам может понадобиться авторизация в своем магазине):
      </p>

      <app-btn
        class="text-primary"
        icon="link"
        @click="$openURL(connection_link)"
      >
        &nbsp;Подключить магазин
      </app-btn>
    </div>

    <div class="ebay-connect__credentials q-mt-xl">
      <h4>Список интегрированных магазинов eBay</h4>

      <div
        v-if="credentials && credentials.shops && credentials.shops.length"
        class="ebay-connect__shop-list"
      >
        <q-markup-table>
          <thead>
            <tr>
              <th>Название магазина</th>
              <th>Ссылка</th>
              <th>Истекает</th>
              <th></th>
            </tr>
          </thead>
          <tbody v-if="credentials.shops && credentials.shops.length">
            <tr v-for="(shop, idx) in credentials.shops" :key="idx">
              <td class="ebay-connect__shop-name">
                {{ shop.shop_name }}
              </td>
              <td>
                <div class="ebay-connect__actions">
                  <a
                    :href="shop.shop_link"
                    target="_blank"
                    style="font-weight: bold;"
                    class="btn btn-l-primary btn-sm btn--nomargin"
                  >
                    Перейти
                  </a>
                </div>
              </td>
              <td>
                <div class="ebay-connect__actions">
                  <div v-if="!shop.notify">
                    {{ getDate(shop.expires) }}
                  </div>
                  <a
                    v-if="shop.notify"
                    :href="shop.refresh_link"
                    class="btn btn-l-primary btn-sm btn--nomargin refresh"
                  >
                    Обновить до {{ getDate(shop.expires) }}
                  </a>
                </div>
              </td>
              <td>
                <app-btn
                  @click="unlinkAccount(shop.shop_name)"
                  class="bg-red-1"
                  color="red"
                  flat
                >
                  Отвязать аккаунт
                </app-btn>
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="2">
                <div class="text-muted">Не найдено</div>
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
      <div class="ebay-connect__credentials--empty" v-else>
        <div class="text-muted">
          На данный момент у вас нет интегрированных магазинов
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  async mounted() {
    let error = (this.$route.query && this.$route.query.error) || null;

    if (error) {
      this.$alert({
        level: "danger",
        message: error,
        title: "Не удалось завершить интеграцию EBAY"
      });
    }

    let code = (this.$route.query && this.$route.query.code) || null;

    if (code) {
      try {
        const resp = await this.$api.post(`/ebay/finish-integration`, {
          code
        });
        console.log("resp:", resp);

        this.$message({
          level: "success",
          title: "Интеграция успешно завершена"
        });

        this.getInitial();
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось завершить интеграцию"
        });
      }
    }

    this.getInitial();
    this.checkForSuccessfulIntegration();
  },
  data() {
    return {
      credentials: [],
      showLink: false,
      verifier: null,
      connection_link: null,
      ebay_name: null,
      loading: {
        connect: false,
        common: false
      },
      resultingAlertShown: false
    };
  },
  watch: {
    ebay_name() {
      if (this.showLink) {
        this.showLink = false;
      }
    }
  },
  methods: {
    async getInitial() {
      this.loading.common = true;

      try {
        await this.$api
          .get(`/ebay/connected-shops`)
          .then(({ data, status }) => {
            if (status === 200) {
              this.credentials = data;
            }
          });
      } catch (e) {
        console.log("e:", e);

        this.$alert({
          level: "danger",
          title:
            this.$parseApiError(e).message ||
            "Не удалось получить подключённые магазины",
          errors: this.$parseApiError(e).errors
        });
      } finally {
        this.loading.common = false;
      }
    },
    checkForSuccessfulIntegration() {
      const success = this.$refs.success ? this.$refs.success.value : null;
      const messageEl = document.getElementById("integration-result-msg");
      const errorEl = document.getElementById("integration-result-err");
      const message =
        messageEl && messageEl.textContent ? messageEl.textContent : null;
      const error = errorEl && errorEl.textContent ? errorEl.textContent : null;
      if (!this.resultingAlertShown && parseInt(success) === 1) {
        this.resultingAlertShown = true;
        this.$message({
          title: message
            ? message
            : `Поздравляем! Интеграция магазина успешно завершена.`,
          level: "success"
        });
      } else if (!this.resultingAlertShown && parseInt(success) === 0) {
        this.resultingAlertShown = true;
        this.$message({
          title: message ? message : `При попытке интеграции произошла ошибка.`,
          level: "danger"
        });
      } else if (error) {
        this.resultingAlertShown = true;
        this.$message({
          title: error ? error : `При попытке интеграции произошла ошибка.`,
          level: "danger"
        });
      }
    },
    generateConnectionLink() {
      this.loading.common = true;
      this.$api
        .get(`/ebay/${this.ebay_name}/get-integration-link`)
        .then(({ data, status }) => {
          if (status === 200 && data.link) {
            this.connection_link = data.link;
            this.showLink = true;
          }
        })
        .catch(error => {
          let inner = null;
          if (error.response) {
            inner = error.response.data;
          }
          this.$alert({
            title: `Произошла ошибка при генерации ссылки.`,
            level: "danger",
            inner
          });
        })
        .then(() => {
          this.loading.common = false;
        });
      this.loading.common = false;
    },
    unlinkAccount(shop_name) {
      let c = confirm(
        "Отвязать аккаунт?\nВ будущем вам придется вновь пройти интеграцию, чтобы работать с этим магазином."
      );
      if (!c) {
        return false;
      }

      this.loading.common = true;

      this.$api
        .delete(`/ebay/${shop_name}/unlink/`)
        .then(({ data }) => {
          if (data.success) {
            this.$message({
              title: data.message
                ? data.message
                : `Аккаунт eBay "${shop_name}" успешно отвязан`,
              level: "success"
            });
          } else {
            this.$alert({
              title: data.message
                ? data.message
                : `Не удалось отвязать аккаунт eBay "${shop_name}". Попробуйте еще раз или обратитесь в службу поддержки.`,
              level: "danger"
            });
          }
        })
        .catch(error => {
          let inner = null;
          if (error.response) {
            inner = error.response.data;
          }
          this.$alert({
            title: `Произошла ошибка при запросе`,
            level: "danger",
            inner
          });
        })
        .then(() => {
          this.loading.common = false;
          this.getInitial();
        });
    },
    clearSelection() {
      if (window.getSelection) {
        window.getSelection().removeAllRanges();
      } else if (document.selection) {
        document.selection.empty();
      }
    },
    getDate(timestamp) {
      const date = new Date(timestamp * 1000);
      return date.toISOString().substr(0, 10);
    }
  }
};
</script>

<style></style>
