<template>
  <q-page>
    <div class="etsy-connect" id="etsy-connect">
      <with-loading :state="loading.common"></with-loading>

      <!-- <app-btn
          type="a"
          color="primary"
          outline
          href="https://seller-online.com/help/etsy-tracking-connect"
          target="_blank"
          icon="ion-help-circle"
          size="12px"
        >
          &nbsp; Справка по подключению Etsy аккаунтов
        </app-btn> -->

      <div v-once>
        <p>
          <b>
            The term 'Etsy' is a trademark of Etsy, Inc. This application uses
            the Etsy API but is not endorsed or certified by Etsy, Inc.
          </b>
        </p>
        <p>
          Интеграция с Etsy предназначена для:
        </p>
        <ol>
          <li>
            Быстрого оформления заявки на отправку посылки (в строке поиска
            можно использовать номер заказа Etsy)
          </li>
          <li>
            Загрузки состава заказа: это удобно, так как позволяет избежать
            ошибки при отправлении посылки.
          </li>
          <li>
            Автоматической загрузки трек-номеров на Etsy по заданному сценарию
            (его можно выбрать ниже).
          </li>
        </ol>
      </div>

      <div class="etsy-connect__start">
        <app-btn
          :disable="showForm"
          color="primary"
          @click="linkNewAccount"
          class="q-my-lg"
          :loading="loading.connect"
          icon="add_link"
        >
          &nbsp; Подключить Etsy аккаунт
        </app-btn>
      </div>

      <q-dialog persistent :width="420" v-model="connect_etsy" position="top">
        <!-- <q-slide-transition> -->
        <div class="etsy-connect__form bg-white q-pa-xl" v-if="connect_etsy">
          <form @submit.prevent="verifyAccount">
            <h4 class="flex-center-between">
              Подключение аккаунта
              <app-btn
                @click="connect_etsy = false"
                flat
                round
                icon="close"
                color="red"
              ></app-btn>
            </h4>
            <p>
              The <b>Set track numbers by Seller-Online</b> application allows
              Seller-Online LLC clients to easily add track information of
              shipped packages to the sales orders processed via Etsy
              marketplace.
            </p>

            <p>
              If You sold item on Etsy marketplace and sent the parcel through
              the our shipping service, the tracking number will be
              automatically added to the Etsy order information without any
              additional actions from You.
            </p>
            <p>
              Open this URL for connect to Etsy account:
              <app-btn
                type="a"
                class="text-primary q-mt-sm q-mb-lg"
                :href="secrets__.url"
                target="_blank"
                icon="link"
              >
                Click to get conformation code
              </app-btn>
            </p>
            <p>
              After confirm connect on Etsy you must copy verification code and
              paste to this page!
            </p>

            <div class="form-group">
              <q-input
                outlined
                dense
                v-model="verifier"
                type="text"
                name="verifier"
                value=""
                size="20"
                label="Etsy verification code"
              >
                <template v-slot:after>
                  <app-btn
                    :disable="!verifier"
                    type="submit"
                    color="primary"
                    class="full-height q-px-xl"
                    @click="verifyAccount"
                    :loading="loading.common"
                  >
                    Connect
                  </app-btn>
                </template>
              </q-input>
            </div>
          </form>
        </div>
        <!-- </q-slide-transition> -->
      </q-dialog>

      <div class="q-mt-xl">
        <h4 class="q-mb-lg">Список интегрированных аккаунтов Etsy</h4>

        <div v-if="credentials && credentials.length">
          <q-expansion-item
            class="bg-white shadow-4 rounded-borders"
            v-for="c in credentials"
            :key="c.etst_login"
          >
            <template #header>
              <div class="flex justify-between items-center">
                <div class="text-muted">Аккаунт</div>
                &nbsp;
                {{ c.etsy_login }}
              </div>
            </template>
            <div>
              <q-markup-table
                v-if="c.shops && c.shops.length"
                flat
                class="full-width text-left"
              >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Название магазина</th>
                    <th>Ссылка на магазин</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- v-for="shop in c.shops" -->
                  <tr v-for="(shop, idx) in c.shops" :key="shop.shop_id || idx">
                    <td>{{ shop.shop_id }}</td>
                    <td class="text-weight-medium">
                      {{ shop.shop_name }}
                    </td>
                    <td>
                      <div>
                        <!-- <div @click="handleCheckout(shop)" style="font-weight: bold;" class="btn btn-sm btn--nomargin">Оплата через Other</div>
                                    <div @click="handleSmartLink(shop)" style="font-weight: bold;" class="btn btn-l-primary btn-sm btn--nomargin">Умная ссылка</div> -->
                        <app-btn
                          @click="
                            $openURL(
                              `https://etsy.com/shop/${shop.shop_name || shop}`
                            )
                          "
                          size="12px"
                          color="primary"
                          icon="open_in_new"
                        >
                          &nbsp;&nbsp;&nbsp;Перейти в магазин
                        </app-btn>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </q-markup-table>

              <div v-else class="text-muted">
                <div class="q-pa-md">
                  В данной учётной записи не обнаружено опубликованных магазинов
                </div>
                <q-separator />
              </div>

              <q-separator />
              <div class="q-pa-md">
                <app-btn
                  color="red"
                  @click.stop="unlinkAccount(c.etsy_login)"
                  icon="link_off"
                  size="sm"
                  label="Удалить интеграцию"
                />
              </div>
            </div>
          </q-expansion-item>
        </div>

        <small class="text-muted" v-else>
          Вы не интегрировали ни одного магазина Etsy
        </small>
      </div>

      <div class="q-mt-xl">
        <h4 class="q-mb-lg">
          Настройка автоматической загрузки треков на Etsy
        </h4>
        <q-banner class="q-pa-md bg-blue-1 text-blue-8 q-mb-lg">
          Выберите наиболее подходящий для вас способ автоматической загрузки
          трек-номеров консолидаций. Если вы не хотите, чтобы мы отправляли
          трек-номера, присвоенные вашим посылкам, то выберите соответствующую
          опцию.
        </q-banner>
        <q-list>
          <q-item
            tag="label"
            v-ripple
            v-for="opt in uploadOptions"
            :key="opt.code"
          >
            <q-item-section avatar top>
              <q-radio v-model="track_upload_settings" :val="opt.code" />
            </q-item-section>
            <q-item-section>
              <q-item-label
                :class="
                  opt.code === track_upload_settings && 'text-weight-bold'
                "
                >{{ opt.title }}</q-item-label
              >
              <q-item-label caption>{{ opt.desc }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </q-page>
</template>

<script>
const TRACK_UPLOAD_SETTING_OPTIONS = [
  {
    code: "no_send",
    title: "Не отправлять",
    desc:
      "Мы не будем отправлять трек-номера в Etsy. Вам нужно будет вносить их вручную"
  },
  {
    code: "only_transit",
    title: "Только транзитный трек",
    desc:
      "Отправляется только транзитный трек, назначенный консолидационной посылке"
  },
  {
    code: "only_destination",
    title: "Только конечный трек",
    desc:
      "Отправляется только конечный трек, по которому посылка доставляется покупателю"
  },
  {
    code: "send_both",
    title: "Отправлять оба",
    desc: "Отправляются и транзитный, и конечный трек-номера"
  },
  {
    code: "destination_after_us",
    title: "Только конечный трек после обработки в США",
    desc:
      "Конечный трек отправляется в Etsy после того, как посылка принята и обработана на складе в США"
  },
  {
    code: "transit_destination_after_us",
    title: "Транзитный + конечный после обработки в США",
    desc:
      "Транзитный трек отправляется сразу после присвоения, конечный – после того, как посылка принята и обработана на складе в США"
  }
];

export default {
  mounted() {
    this.getLinkedAccounts();
    this.getInitialTrackUploadSetting();
  },
  data() {
    return {
      credentials: [],
      showForm: false,
      verifier: null,
      secrets__: null,
      current_shop: null,
      reception_number: null,
      checkout_link: null,
      loading: {
        connect: false,
        common: false
      },
      help_theme: null,
      connect_etsy: null,
      track_upload_settings: null
    };
  },
  watch: {
    reception_number() {
      if (this.checkout_link) {
        this.checkout_link = null;
      }
    },
    track_upload_settings(old_value, new_value) {
      if (
        old_value !== new_value &&
        new_value !== null &&
        new_value !== undefined
      ) {
        this.changeUploadSettings();
      }
    }
  },
  computed: {
    uploadOptions() {
      return TRACK_UPLOAD_SETTING_OPTIONS;
    }
  },
  methods: {
    getInitialTrackUploadSetting() {
      this.track_upload_settings =
        (this.$store.state.auth.user &&
          this.$store.state.auth.user.vars.ETSY_CONSOLIDATION_POST) ||
        "only_destination";
    },
    async changeUploadSettings() {
      this.loading.common = true;
      try {
        const { data } = await this.$api.post(`/etsy/track-upload-settings`, {
          upload_rule: this.track_upload_settings
        });
        const { success } = data;
        if (success) {
          this.$alert({
            title: `Настройки успешно сохранены`,
            level: "success"
          });
        }
      } catch (e) {
        console.log("e:", e);
        const {
          message: title = "Не удалось сохранить настройки",
          errors
        } = this.$parseApiError(e);

        this.$alert({
          title,
          level: "danger",
          errors
        });
      } finally {
        this.loading.common = false;
      }
    },
    getLinkedAccounts() {
      this.loading.common = true;

      this.$api
        .get(`/user/accounts/etsy/linked`)
        .then(({ data }) => {
          if (data.success) {
            this.credentials = data.credentials;
          }
        })
        .catch(e => {
          this.$alert({
            title:
              (e && e.response && e.response.data && e.response.data.message) ||
              "Не удалось завершить запрос",
            level: "danger",
            errors:
              (e && e.response && e.response.data && e.response.data.errors) ||
              null
          });
        })
        .then(() => {
          this.loading.common = false;
        });
    },
    linkNewAccount() {
      this.loading.connect = true;
      this.$api
        .post(`/user/accounts/etsy`)
        .then(({ data }) => {
          const { success, oauth_key, oauth_secret, url } = data;

          if (success) {
            this.secrets__ = { oauth_key, oauth_secret, url };
            this.connect_etsy = true;
          }
        })
        .catch(e => {
          this.$alert({
            title:
              (e && e.response && e.response.data && e.response.data.message) ||
              "Не удалось завершить запрос",
            level: "danger",
            errors:
              (e && e.response && e.response.data && e.response.data.errors) ||
              null
          });
        })
        .then(() => {
          this.loading.connect = false;
        });
    },
    async verifyAccount() {
      try {
        this.loading.common = true;

        const { data } = await this.$api.put(`/user/accounts/etsy`, {
          oauth_token: this.secrets__.oauth_key,
          oauth_token_secret: this.secrets__.oauth_secret,
          verifier: this.verifier
        });
        this.connect_etsy = false;

        this.$alert({
          title: `Аккаунт Etsy "${data.linked.login_name}" подключен`,
          level: "success"
        });
      } catch (e) {
        console.log("e:", e);
        const {
          message: title = "Не удалось завершить интеграцию. Попробуйте ещё раз",
          errors
        } = this.$parseApiError(e);

        this.$alert({
          title,
          level: "danger",
          errors
        });
        this.connect_etsy = false;
      } finally {
        this.loading.common = false;
        this.getLinkedAccounts();
        this.verifier = null;
        // this.showForm = false;
      }
    },
    async unlinkAccount(login) {
      let c = await this.$confirm({
        title: "Действительно хотите отвязать данный аккаунт ?",
        message: "Это действие нельзя отменить"
      });
      if (!c) return false;

      this.loading.common = true;

      this.$api
        .delete(`/user/accounts/etsy/`, {
          data: {
            etsy_login: login
          }
        })
        .then(({ data }) => {
          if (data.success) {
            this.$alert({
              title: `Аккаунт Etsy "${data.deleted}" отвязан`,
              level: "success"
            });
          }
        })
        .catch(e => {
          this.$alert({
            title:
              (e && e.response && e.response.data && e.response.data.message) ||
              "Не удалось завершить запрос",
            level: "danger",
            errors:
              (e && e.response && e.response.data && e.response.data.errors) ||
              null
          });
        })
        .then(() => {
          this.loading.common = false;
          this.getLinkedAccounts();
        });
    },
    handleCheckout(shop) {
      this.current_shop = shop;
      this.$modal.show("get-checkout");
    },
    getCheckoutLink() {
      this.$api
        .get(
          `/payments/etsy/card/${this.current_shop.shop_id}/${this.reception_number}`
        )
        .then(({ data }) => {
          if (data.success) {
            this.checkout_link = `https://checkout.seller-online.net/?${this.current_shop.shop_id}_${this.reception_number}`;
          }
        })
        .catch(e => {
          this.$alert({
            title:
              (e && e.response && e.response.data && e.response.data.message) ||
              "Не удалось завершить запрос",
            level: "danger",
            errors:
              (e && e.response && e.response.data && e.response.data.errors) ||
              null
          });
        });
    },
    copyLink() {
      this.$refs["checkout-link"].select();
      document.execCommand("copy");

      this.$message({
        title: "Ссылка скопирована",
        level: "success"
      });

      try {
        window.getSelection().removeAllRanges();
      } catch (e) {
        console.log(`Unable to clear text selection in this browser:`);
        console.error("Catch crossbrowser error", e);
      }
    },
    clearData() {
      this.current_shop = null;
      this.reception_number = null;
      this.checkout_link = null;
    },
    handleSmartLink(shop) {
      this.current_shop = shop;
      this.$modal.show("smart-link");
    },
    clearSelection() {
      if (window.getSelection) {
        window.getSelection().removeAllRanges();
      } else if (document.selection) {
        document.selection.empty();
      }
    },
    // smart-link-holder
    copySmartLink() {
      let link = this.$refs["smart-link-holder"];
      link.select();
      document.execCommand("copy");
      this.clearSelection();
      link.blur();

      this.$message({
        title: "Ссылка скопирована",
        level: "success"
      });
    }
  }
};
</script>

<style scoped>
p {
  font-size: 14px;
}

ul,
ol {
  font-size: 14px;
  line-height: 2;
}
</style>
