<template>
  <PageContainer class="relative">
    <with-loading :state="loading" />

    <h4>Подключение магазинов к системе EcomExpress</h4>

    <div class="text-body2 q-mb-xl">
      Настройка приема платежей с различных интернет-маркетов требует добавления
      прав для Вашего магазина в нашем paypal счете. Для подключения заполните,
      пожалуйста, все необходимые поля и создайте заявку. Ваша заявка будет
      обработана в течение рабочего дня. После обработки заявки Вам на почту
      придет уведомление.
    </div>

    <app-btn @click="newShopRequest" color="primary" icon="store" class="q-mb-lg">
      &nbsp; Создать новую заявку
    </app-btn>

    <q-markup-table>
      <thead>
        <tr class="text-left">
          <th>Тип магазина</th>
          <th>Наименование</th>
          <th>Статус заявки</th>
          <th>Детали заявки</th>
        </tr>
      </thead>
      <tbody v-if="shops && shops.length">
        <tr v-for="(shop, idx) in shops" :key="idx">
          <td>
            {{ shop.shop_type }}
          </td>
          <td>
            <div class="flex items-center no-wrap">
              <a target="_blank" rel="noopener" :href="shop.shop_url">
                {{ shop.shop_name }}
                <q-tooltip>{{ shop.shop_url }}</q-tooltip>
              </a>
            </div>
          </td>
          <td>
            <!-- <span
              :class="[
                shop.link_status_code === 'new' && 'text-blue',
                shop.link_status_code === 'declined' && 'text-negative',
                shop.link_status_code === 'completed' && 'text-positive',
              ]"
            >
              {{ shop.link_status_text }}
            </span> -->

            <q-badge
              :class="[
                shop.link_status_code === 'new' && 'text-blue bg-blue-1',
                shop.link_status_code === 'declined' &&
                  'text-negative bg-red-1',
                shop.link_status_code === 'completed' &&
                  'text-positive bg-green-1'
              ]"
              rounded
              class="q-py-sm q-px-md text-bold"
            >
              {{ shop.link_status_text }}
            </q-badge>
          </td>
          <td>
            <div class="row q-col-gutter-lg">
              <div class="col ">
                <small class="text-muted block">Комментарий:</small>
                {{ shop.shop_comment || "-" }}
              </div>
              <div class="col">
                <small class="text-muted block">Последние изменения:</small>
                {{
                  (shop.request_processed &&
                    new Date(shop.request_processed).toLocaleDateString()) ||
                    "-"
                }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td colspan="5">
            <div class="flex column flex-center q-pa-lg">
              <small class="text-muted q-mb-md">
                Нет информации для отображения
              </small>
              <app-btn size="12px" color="primary" flat class="bg-blue-1">
                Создать заявку
              </app-btn>
            </div>
          </td>
        </tr>
      </tbody>
    </q-markup-table>
  </PageContainer>
</template>

<script>
export default {
  data() {
    return {
      shops: null,
      loading: false
    };
  },
  async mounted() {
    await this.getShops();
  },
  methods: {
    getShops() {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;

          const {
            data: { shops }
          } = await this.$api(`/service/link-shop`);

          this.shops = shops;
        } catch (e) {
          console.log(e);

          const {
            message = "Не удалось получить список заявок",
            errors
          } = this.$parseApiError(e);

          this.$alert({
            level: "danger",
            title: message,
            errors
          });
        } finally {
          this.loading = false;
        }
      });
    },
    newShopRequest() {
      console.log(1111);

      this.$q
        .dialog({
          component: () => import(`./modals/NewShopRequest.vue`)
        })
        .onOk(shops => {
          this.shops = shops;
        });

      return;

      this.$modal.show(
        () => import("./modals/NewShopRequest"),
        {},
        {
          height: "auto",
          name: "new-shop-request"
        },
        {
          updated: shops => {
            this.shops = shops;
          }
        }
      );
    }
  }
};
</script>

<style></style>
