<template>
  <PageContainer>
    <div class=" relative-position" id="shopify-connect">
      <with-loading :state="loading.common"></with-loading>
      <p>
        <b>
          Термин 'Shopify' является зарегистрированной торговой маркой компании
          Shopify Inc.
        </b>
      </p>
      <p>
        <a href="https://www.shopify.com/legal/terms">
          Актуальные условия использования сервиса
        </a>
      </p>
      <p>
        Интеграция происходит через публичное приложение
        <b>Seller-Online Connect</b>, разработанного с учетом
        <a href="https://www.shopify.com/legal/api-terms">
          правил использования API Shopify
        </a>
      </p>
      <p>
        Интеграция с Shopify предназначена для:
      </p>
      <ol>
        <li>
          Быстрого оформления заявки на отправку посылки (в строке поиска можно
          использовать номер заказа Shopify)
        </li>
        <li>
          Автоматического определения таможенной стоимости исходя из суммы
          заказа.
        </li>
      </ol>

      <div class="q-my-lg">
        <h4 class="q-mt-xl">Подключение нового магазина Shopify</h4>

        <p v-if="showLink">
          В случае изменения имени магазина, не забудьте после этого снова
          нажать кнопку "Сгенерировать ссылку".
        </p>
        <p v-else>
          Введите название магазина Shopify, который вы хотите подключить, и
          нажмите кнопку "Сгенерировать ссылку".
        </p>
        <div v-on:keyup.enter="current_shop && generateConnectionLink()">
          <div class="flex items-center">
            <q-input
              outlined
              dense
              v-model="current_shop"
              type="text"
              name="current_shop"
              class="q-mr-md"
              :class="$q.screen.xs && 'full-width'"
            >
              <template v-slot:append>
                <small>.myshopify.com</small>
              </template>
            </q-input>
            <app-btn
              color="primary"
              :disable="!current_shop"
              @click="generateConnectionLink"
              :loading="loading.connect"
              class="full-height"
              :class="$q.screen.xs && 'block q-mt-md full-width'"
            >
              Сгенерировать ссылку
            </app-btn>
          </div>
        </div>
      </div>

      <q-slide-transition>
        <div v-if="showLink">
          <p>
            После нажатия на кнопку ниже вы будете перенаправлены в свой магазин
            Shopify для подтверждения установки приложения
            <b>Seller-Online Connect</b>.
          </p>
          <p>
            Для продолжения нажмите на кнопку "Подключить магазин
            {{ current_shop }}" и следуйте инструкциям (вам может понадобиться
            авторизация в своем магазине):
          </p>
          <app-btn color="accent" @click="$openURL(connection_link)">
            Подключить магазин&nbsp;"<b>{{ current_shop }}</b
            >"
          </app-btn>
        </div>
      </q-slide-transition>

      <div class="q-mt-xl">
        <h4>Интегрированные магазины Shopify</h4>
        <div v-if="credentials && credentials.length">
          <q-expansion-item
            v-for="c in credentials"
            class="q-mb-lg bg-grey-2 rounded-borders"
          >
            <template #header>
              <div class="flex items-center full-width">
                <small class="text-muted q-mr-sm">
                  Аккаунт
                </small>
                <h5>{{ c.email }}</h5>
              </div>
            </template>
            <q-card>
              <q-card-section>
                <q-markup-table>
                  <thead>
                    <tr>
                      <th class="text-left">Название магазина</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody v-if="c.shops && c.shops.length">
                    <tr v-for="shop in c.shops" :key="shop.shop_id">
                      <td class="text-left">
                        {{ shop.shop_name }}
                      </td>
                      <td>
                        <div class="flex items-center justify-end">
                          <app-btn
                            @click="$openURL(shop.shop_link)"
                            class="q-mr-md text-primary"
                            icon="open_in_new"
                            size="sm"
                          >
                            &nbsp;&nbsp;&nbsp;Перейти
                          </app-btn>
                          <app-btn
                            icon="link_off"
                            @click="unlinkAccount(shop.shop_name)"
                            color="negative"
                            size="sm"
                          >
                            &nbsp;&nbsp;&nbsp;Отвязать аккаунт
                          </app-btn>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody v-else>
                    <tr>
                      <td colspan="2">
                        No shops found
                      </td>
                    </tr>
                  </tbody>
                </q-markup-table>
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </div>
        <div class="text-muted" v-else>
          На данный момент у вас нет интегрированных магазинов
        </div>
      </div>
    </div>
  </PageContainer>
</template>

<script>
export default {
  mounted() {
    this.getInitial();
    this.checkForSuccessfulIntegration();
  },
  data() {
    return {
      credentials: [],
      showLink: false,
      verifier: null,
      connection_link: null,
      current_shop: null,
      loading: {
        connect: false,
        common: false
      },
      resultingAlertShown: false
    };
  },
  watch: {
    current_shop() {
      if (this.showLink) {
        this.showLink = false;
      }
    }
  },
  methods: {
    getInitial() {
      this.loading.common = true;

      this.$api
        .get(`/shopify/connected-shops/by-email`)
        .then(({ data, status }) => {
          if (status === 200) {
            this.credentials = data;
          }
        })
        .catch(e => {
          this.$alert({
            title:
              (e && e.response && e.response.data && e.response.data.message) ||
              `Не удалось загрузить список магазинов`,
            level: "danger",
            errors:
              (e && e.response && e.response.data && e.response.data.message) ||
              null
          });
        })
        .then(() => {
          this.loading.common = false;
        });
    },
    checkForSuccessfulIntegration() {
      return;
      const success = this.$refs.success ? this.$refs.success.value : null;
      const messageEl = document.getElementById("integration-result-msg");
      const message =
        messageEl && messageEl.textContent ? messageEl.textContent : null;
      if (!this.resultingAlertShown && parseInt(success) === 1) {
        this.resultingAlertShown = true;
        this.$message({
          title: message
            ? message
            : `Поздравляем! Интеграция магазина успешно завершена.`,
          level: "success"
        });
      } else if (!this.resultingAlertShown && parseInt(success) === 0) {
        this.resultingAlertShown = true;
        this.$message({
          title: message ? message : `При попытке интеграции произошла ошибка.`,
          level: "danger"
        });
      }
    },
    generateConnectionLink() {
      this.loading.common = true;

      this.$api
        .get(`/shopify/${this.current_shop}/get-integration-link`)
        .then(({ data, status }) => {
          if (status === 200 && data.link) {
            this.connection_link = data.link;
            this.showLink = true;
          }
        })
        .catch(e => {
          this.$alert({
            title:
              (e && e.response && e.response.data && e.response.data.errors) ||
              `Произошла ошибка при генерации ссылки.`,
            level: "danger",
            errors:
              (e && e.response && e.response.data && e.response.data.errors) ||
              null
          });
        })
        .then(() => {
          this.loading.common = false;
        });
    },
    async unlinkAccount(shop_name) {
      let c = await this.$confirm(
        "Отвязать аккаунт?\nВ будущем Вам придется вновь пройти интеграцию, чтобы работать с этим магазином."
      );

      if (!c) {
        return false;
      }

      this.loading.common = true;

      this.$api
        .delete(`/shopify/${shop_name}/unlink/`)
        .then(({ data }) => {
          if (data.success) {
            this.$message({
              title: `Аккаунт Shopify "${shop_name}" успешно отвязан`,
              level: "success"
            });
          } else {
            this.$alert({
              title: `Не удалось отвязать аккаунт "${shop_name}". Повторите попытку или обратитесь в службу поддержки`,
              level: "danger"
            });
          }
        })
        .catch(e => {
          this.$alert({
            title:
              (e && e.response && e.response.data && e.response.data.message) ||
              `Произошла ошибка при запросе`,
            level: "danger",
            errors:
              (e && e.response && e.response.data && e.response.data.errors) ||
              null
          });
        })
        .then(() => {
          this.loading.common = false;
          this.getInitial();
        });
    },
    clearSelection() {
      if (window.getSelection) {
        window.getSelection().removeAllRanges();
      } else if (document.selection) {
        document.selection.empty();
      }
    }
  }
};
</script>
