<template>
  <q-btn-dropdown color="primary" class="bg-blue-1" flat>
    <template v-slot:label>
      <q-icon size="18px" class="q-mr-sm" name="language" />
      {{ $store.state.app.lang }}
    </template>

    <q-list>
      <q-item @click="setLang('ru')" clickable v-close-popup>
        <q-item-section>
          <q-item-label class="flex items-center">
            <q-img
              height="18px"
              width="18px"
              src="/img/flags/lang/ru.svg"
              class="q-mr-sm"
            />
            RU
          </q-item-label>
        </q-item-section>
      </q-item>
      <q-item @click="setLang('en')" clickable v-close-popup>
        <q-item-section>
          <q-item-label class="flex items-center">
            <q-img
              height="18px"
              width="18px"
              contain
              src="/img/flags/lang/en.svg"
              class="q-mr-sm"
            />
            EN
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-btn-dropdown>
</template>

<script>
export default {
  methods: {
    async setLang(lang) {
      this.$store.commit("app/SET_LANG", lang);
      this.$i18n.locale = this.$store.state.app.lang;
      this.$router.replace("/");
    }
  }
};
</script>

<style></style>
