<template>
  <q-dialog
    transition-show="jump-down"
    transition-hide="jump-up"
    position="top"
    persistent
    ref="prompt-otp"
  >
    <q-card style="width:350px">
      <q-card-section>
        <h5 class="q-ma-none">{{ message }}</h5>
      </q-card-section>
      <!-- <q-separator></q-separator> -->
      <q-card-section>
        <form @submit.prevent="submitKey">
          <app-input v-model="clearKey" :label="`Код ${method}`" outlined dense></app-input>
          <div class="flex justify-between q-mt-lg ">
            <app-btn class="q-mr-sm" color="grey-7" flat @click="$emit('hide')">
              Отмена
            </app-btn>
            <app-btn :disable="!key || !key.length" class="" color="accent" type="submit">
              Подтвердить
            </app-btn>
          </div>
        </form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: "prompt-otp",
  props: {
    method: String,
    message: String,
  },
  data() {
    return {
      key: null,
    };
  },
  methods: {
    show() {
      this.$refs["prompt-otp"].show();
    },
    hide() {
      this.$refs["prompt-otp"].hide();
    },
    submitKey() {
      this.$emit("ok", { key: this.key });
      // this.hide();
    },
  },
  computed: {
    clearKey: {
      set(key) {
        this.key = key;
      },
      get() {
        return (
          this.key &&
          this.key.length &&
          this.key.toString() &&
          this.key
            .toString()
            .split(" ")
            .join("")
        );
      },
    },
  },
};
</script>

<style></style>
