<template>
  <PageContainer title="Изменить пароль">
    <div class="container">
      <form @submit.prevent="changePassword()">
        <div class="q-gutter-y-lg" style="width:100%;max-width:420px">
          <app-input
            :error="$v.password.$anyError"
            v-model="password"
            label="Новый пароль"
            type="password"
            :disable="loading.common"
          ></app-input>
          <app-input
            :error="$v.password_check.$anyError"
            v-model="password_check"
            label="Подтверждение пароля"
            type="password"
            :disable="loading.common"
          ></app-input>
          <app-btn :loading="loading.common" type="submit" color="primary">
            Сохранить изменения
          </app-btn>
        </div>
      </form>
    </div>
  </PageContainer>
</template>
<script>
import { required, sameAs, minLength } from "vuelidate/lib/validators";

export default {
  props: {},
  mounted() {},
  created() {},
  data() {
    return {
      password: null,
      password_check: null,
      fa_key: null,
      fa_sign: null,
      loading: {
        key: false,
        common: false
      }
    };
  },
  methods: {
    async changePassword(params) {
      this.$v.$touch();

      if (!this.$v.password.minLength) {
        this.$alert({
          title: "Минимальная длина пароля - 6 символов",
          level: "info"
        });
        return;
      }

      if (!this.$v.password_check.sameAs) {
        this.$message({ title: "Пароли должы совпадать", level: "warning" });
        return;
      }

      if (this.$v.$anyError) {
        console.log(this.$v.password_check);
        this.$message({
          title: "Заполните обязательные поля",
          level: "warning"
        });
        return;
      }

      this.loading.common = true;

      try {
        let { password, password_check } = this;

        await this.$api.put(`/user/password`, {
          password,
          password_check,
          ...params
        });

        this.$message({ title: "Пароль был изменен", level: "success" });
        this.$router.push("/");
      } catch (e) {
        console.log(e);
        let need2fa =
          e && e.response && e.response.status && e.response.status === 403;

        if (need2fa) {
          let {
            method,
            message,
            signature = "",
            retry = false
          } = e.response.data;

          let key = await this.promptOTP({
            method,
            message
          });

          // let signature =
          //   e && e.response && e.response.data && e.response.data.signature;
          // let retry =
          //   e && e.response && e.response.data && e.response.data.retry;

          if (retry) {
            this.$alert({
              title: `Wrong ${method} code. Please try again later.`,
              level: "danger"
            });
            this.$router.push("/account");
            return;
          }

          try {
            await this.changePassword({
              "2fa_key": key,
              "2fa_sign": signature || ""
            });
          } catch (e) {
            console.log(e);
            this.$alert({
              title: `Вы повторно ввели неправильный код. Попробуйте ещё раз`
            });
          } finally {
            this.loading.common = false;
          }
        } else {
          this.$showApiError(e, {
            fallbackMessage: "Не удалось сохранить изменения"
          });
        }
      } finally {
        this.loading.common = false;
      }
    },
    async promptOTP({ method, message }) {
      return new Promise(async (done, fail) => {
        let GetFaKey = this.$q
          .dialog({
            component: () => import("./GetKey.vue"),
            loading: this.loading.key,
            method,
            message
          })
          .onOk(async ({ key }) => {
            done(key);
            GetFaKey.hide();
          })
          .onCancel(() => {
            // .onDismiss(() => {
            this.$message({ title: "Операция отменена", level: "warning" });
            GetFaKey.hide();
            fail(null);
          });
      });
    }
  },
  validations() {
    return {
      password: {
        required,
        minLength: minLength(6)
      },
      password_check: {
        required,
        sameAs: sameAs("password"),
        minLength: minLength(6)
      }
    };
  }
};
</script>
<style lang="scss"></style>
