<template>
  <q-dialog persistent class="confirm-rate-modal" ref="confrim-rate-dialog">
    <q-card>
      <!-- <q-card-section>
        <div class="text-h6" style="font-size:16px">
          Cтоимость отправки на склад в США
        </div>
      </q-card-section>
      <q-separator /> -->
      <q-card-section>
        <p>Стоимость отправки на склад в США составит:</p>
        <div class="confirm-rate-modal__cost">
          <b>{{ $toUSD(rates.rates.total) }}</b>
          <small class="text-muted">
            {{ $toRUB(rates.rates_national.total) }}
          </small>
        </div>
      </q-card-section>
      <q-separator />

      <q-card-section>
        <div class="flex-center-between">
          <app-btn @click="$emit('hide')" size="12px" flat color="red">
            Вернуться
          </app-btn>
          <app-btn @click="confirmRate()" size="12px" color="primary">
            Продолжить
          </app-btn>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: "confrim-rate-dialog",
  props: {
    rates: Object
  },
  methods: {
    show() {
      this.$refs["confrim-rate-dialog"].show();
    },
    hide() {
      this.$refs["confrim-rate-dialog"].hide();
    },
    confirmRate() {
      this.$emit("ok");
      this.hide();
    }
  }
};
</script>

<style lang="scss" scoped>
.confirm-rate-modal {
  &__cost {
    display: flex;
    flex-direction: column;
    align-items: center;

    b {
      font-size: 28px;
    }
    small {
      font-size: 14px;
    }
  }
}
</style>
