<template>
  <div class="parcel-inner">
    <q-markup-table
      :style="
        error && {
          borderWidth: '2px',
          borderColor: '#de4747'
        }
      "
      bordered
      flat
      class="rounded-borders"
    >
      <thead>
        <th></th>
        <th class="text-left">Код</th>
        <th class="text-left">Название</th>
        <th class="text-center">Количество</th>
        <th class="text-right">Стоимость ед.</th>
        <th width="160px" class="text-right">Сумма</th>
      </thead>
      <transition-group
        name="fade"
        appear
        mode="out-in"
        tag="tbody"
        v-if="parcel_inner.length"
      >
        <tr
          class="products-row"
          v-for="row in parcel_inner"
          :key="row.product_id"
        >
          <td width="42">
            <app-btn
              icon="close"
              color="red"
              @click="onDelFromParcel(row.product_id)"
              size="12px"
              flat
              round
            />
          </td>
          <td>
            <small class="text-muted">
              {{ row.code_internal }}
            </small>
            {{ row.code }}
          </td>
          <td class="parcel-inner__title">{{ row.title }}</td>
          <td class="text-center">
            <item-counter
              :key="`counter-${row.product_id}`"
              v-model.number="row.count"
              :max="shippingType === 'usa_domestic' && row.product_quantity"
              size="10px"
            />
          </td>
          <td class="text-right">
            {{ $toUSD(row.cost) }}
          </td>
          <td class="text-right">
            <b style="font-size:15px;">
              {{ $toUSD(row.count * row.cost) }}
            </b>
          </td>
        </tr>
      </transition-group>

      <tbody transition-show="jump-left" v-else>
        <tr>
          <td colspan="6">
            <div class="text-muted text-center">
              Чтобы добавить товар в посылку - два раза кликните по нему в
              списке товаров.
            </div>
          </td>
        </tr>
      </tbody>
    </q-markup-table>

    <!-- </transition> -->

    <div class="q-mt-lg">
      <div class="flex-center-between" v-if="!$root.return_label_id">
        <div class="text-grey">
          Стоимость товаров в посылке
        </div>
        <div style="font-size:26px;font-weight:500;" class="text-primary">
          {{ $toUSD(customs_cost) }}
        </div>
      </div>
      <div class="flex-center-between" v-if="$parent.order_sum">
        <div class="text-grey">
          Стоимость заказа
        </div>
        <div style="font-size:17px">
          {{ $toUSD($parent.order_sum) }}
        </div>
      </div>

      <app-banner
        level="warning"
        v-if="customs_cost > 200 && !$root.return_label_id"
        class="q-mt-md"
        icon="warning"
        close
      >
        Обратите внимание, что в некоторых странах низкий порог стоимости
        товаров и покупателю будет необходимо оплачивать таможенные пошлины.
      </app-banner>
    </div>
  </div>
</template>

<script>
import Counter from "@/components/Counter";

export default {
  name: "ParcelInnerList",
  components: {
    "item-counter": Counter
  },
  props: {
    parcel_inner: Array,
    shippingType: String,
    error: Boolean
  },
  computed: {
    customs_cost() {
      let r = 0;

      this.parcel_inner.forEach(prod => {
        r += prod.cost * prod.count;
      });

      // this.$parent.inner_customs_cost = r;

      return r;
    }
  },
  methods: {
    onDelFromParcel(pid) {
      this.$emit("delete-from-parcel", pid);
    }
  }
};
</script>

<style lang="scss" scoped>
.parcel-inner {
  color: #444;

  &__total {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    line-height: 1;

    &-value {
      font-size: 24px;
      font-weight: 400;
      color: #444;
    }
  }

  .del-inner-item {
    font-size: 11px;
  }

  &__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.4;
    vertical-align: middle;
  }

  &__product {
    &-cost {
      font-weight: 500;
      font-size: 13px;
    }
  }
}
</style>
