<template>
  <PageContainer :title="'Пополнить счёт'">
    <with-loading :state="loading" />
    <div class="refill">
      <div class="container">
        <div class="row q-col-gutter-lg">
          <div class="col">
            <div class="refill__amount">
              <q-input
                ref="amount"
                v-model.number="amount"
                suffix="USD"
                size="xl"
                outlined
                label="Сумма пополнения"
              />
            </div>
          </div>
          <div class="col-9">
            <div class="refill__methods">
              <!-- <q-card> -->
              <app-list
                v-if="methods && methods.length"
                header="Методы пополнения счёта"
                white
              >
                <!-- <q-item-label header>Методы пополнения счёта</q-item-label> -->
                <q-item v-for="(m, idx) in methods" :key="idx">
                  <q-item-section avatar>
                    <q-img
                      width="140px"
                      :src="`data:image;base64,${m.image}`"
                      contain
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ m.title }}</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <app-btn @click="selectMethod(m.code)" color="primary">
                      <q-tooltip v-if="!amount">
                        Сначала введите сумму пополнения
                      </q-tooltip>
                      Пополнить&nbsp;
                      <span v-if="amount">
                        на <b>{{ amount }}</b> USD</span
                      >
                    </app-btn>
                  </q-item-section>
                </q-item>
              </app-list>
              <!-- </q-card> -->
            </div>
          </div>
        </div>

        <!--  -->
      </div>
    </div>
  </PageContainer>
</template>

<script>
export default {
  data() {
    return {
      methods: null,
      amount: null,
      loading: false
    };
  },
  async created() {
    await this.getMethods();
    this.amount = (this.$route.query && +this.$route.query.amount) || null;
  },
  mounted() {
    let amount = this.$refs["amount"];
    amount && amount.focus();
  },
  methods: {
    getMethods(initial = null) {
      return new Promise(async (done, fail) => {
        try {
          this.loading = true;
          const {
            data: { methods, amount }
          } = await this.$api.get(`/payments/pay_money`);

          this.methods = methods;
          this.amount = amount;
          done();
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: "Не удалось получить информацию о выводе средств"
          });
          fail();
        } finally {
          this.loading = false;
        }
      });
    },
    async selectMethod(invoice_module) {
      if (!this.amount) {
        this.$message({
          title: "Введите сумму пополнения",
          icon: "input",
          level: "info"
        });

        let amount = this.$refs["amount"];
        console.log("amount:", amount);

        amount && amount.focus();

        return;
      }

      try {
        this.loading = true;

        const { data: bill_info } = await this.$api.post(
          `/payments/pay_money`,
          {
            amount: this.amount,
            invoice_module
          }
        );

        this.$router.push({
          name: "MONEY_IN_CHECKOUT",
          params: {
            bill_info
          }
        });
      } catch (e) {
        console.log("e:", e);

        let { message: title, errors } = this.$parseApiError(e);

        this.$alert({ level: "danger", title, errors });
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style></style>
