<template>
  <PageContainer  title="Персональная информация">
    <!-- <template #actions>
      <app-btn label="Дополнительно" size="12px" icon="more_horiz">
        <q-menu>
          <q-list>
            <q-item
              to="/account/customer-direct-request"
              clickable
              v-close-popup
            >
              <q-item-section>
                <q-item-label style="white-space: nowrap">
                  Заявка на включение прямых экспрессов
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </app-btn>
    </template> -->

    <with-loading :state="loading" />
    <div class="container">
      <with-transition :state="!!(user && _user)">
        <div v-if="_user && user">
          <div
            class="flex-center-between"
            :class="$q.screen.xs && 'flex column'"
          >
            <div
              class="flex items-center"
              :class="$q.screen.xs && 'flex no-wrap'"
            >
              <q-avatar
                color="primary"
                size="70px"
                text-color="white"
                class="q-mr-md"
              >
                <span style="font-size:28px">{{ userInitials || null }}</span>
              </q-avatar>
              <div>
                <div
                  class="flex items-center"
                  style="font-size: 32px;font-weight:300"
                >
                  <div>
                    {{ user.fname }}
                    <span v-if="user.mname"> {{ user.mname }}</span>
                    {{ user.lname }}
                  </div>
                  <q-icon
                    v-if="_user.ext && _user.ext.trusted"
                    size="24px"
                    :color="
                      _user.ext && _user.ext.trusted ? 'primary' : 'grey-4'
                    "
                    class="q-ml-sm"
                    name="verified"
                  >
                    <q-tooltip>Проверенный продаввец</q-tooltip>
                  </q-icon>
                </div>
                <div style="font-size: 14px;" class="text-grey-7">
                  {{ _user.email }}
                </div>
              </div>
            </div>

            <app-btn
              :class="$q.screen.xs && 'q-my-md full-width'"
              v-if="!edit"
              :to="{ name: 'ACCOUNT_EDIT' }"
              color="primary"
            >
              <q-icon name="edit" size="17px" class="q-mr-sm" />
              Изменить персональные данные
            </app-btn>
            <div :class="$q.screen.xs && 'q-my-md q-mt-lg'" v-else>
              <app-btn to="/account" flat color="red" class="q-mr-md">
                Отмена
              </app-btn>
              <app-btn @click="saveAccountChanges" color="primary">
                Сохранить изменения
              </app-btn>
            </div>
          </div>

          <app-list white header="Личные данные" separator class="q-my-xl">
            <!-- <q-item>
                <q-item-section>
                  <b>Личные данные</b>
                </q-item-section>
              </q-item> -->
            <q-item>
              <q-item-section class="text-grey-7">Фамилия</q-item-section>
              <q-item-section>
                <q-input
                  hide-bottom-space
                  v-if="edit"
                  dense
                  outlined
                  v-model="user.lname"
                  :error="$v.user.lname.$anyError"
                ></q-input>
                <div v-else>{{ _user.lname }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">Имя</q-item-section>
              <q-item-section>
                <q-input
                  hide-bottom-space
                  v-if="edit"
                  dense
                  outlined
                  v-model="user.fname"
                  :error="$v.user.fname.$anyError"
                ></q-input>
                <div v-else>{{ _user.fname }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">Отчество</q-item-section>
              <q-item-section>
                <q-input
                  hide-bottom-space
                  v-if="edit"
                  dense
                  outlined
                  v-model="user.mname"
                  :error="$v.user.mname.$anyError"
                ></q-input>
                <div v-else>{{ _user.mname }}</div>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section class="text-grey-7">Дата рождения</q-item-section>
              <q-item-section>
                <q-input
                  hide-bottom-space
                  readonly
                  v-if="edit"
                  v-model="user.dob"
                  outlined
                  dense
                >
                  <!-- <template v-slot:append>
                  <app-btn icon="close" size="11px" flat color="red"></app-btn>
                </template> -->
                  <template v-slot:prepend>
                    <app-btn
                      icon="event"
                      size="11px"
                      flat
                      color="primary"
                    ></app-btn>
                  </template>
                  <q-popup-proxy>
                    <div class="bg-white flex column">
                      <q-date
                        mask="YYYY-MM-DD"
                        :error="$v.user.country_iso.$anyError"
                        flat
                        v-model="user.dob"
                        minimal
                        :locale="
                          $store.state.app.lang === 'ru'
                            ? ruCalendar
                            : undefined
                        "
                      />
                      <div
                        class="flex justify-between q-pa-md"
                        style="padding-top:0"
                      >
                        <app-btn
                          v-close-popup
                          color="red"
                          icon="close"
                          flat
                        ></app-btn>
                        <app-btn v-close-popup color="primary">Выбрать</app-btn>
                      </div>
                    </div>
                  </q-popup-proxy>
                </q-input>
                <div v-else>
                  {{ _user.dob }}
                </div>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section class="text-grey-7">Email</q-item-section>
              <q-item-section>
                <q-input
                  hide-bottom-space
                  v-if="edit"
                  dense
                  outlined
                  v-model="user.email"
                  :error="$v.user.email.$anyError"
                ></q-input>
                <div v-else>{{ _user.email }}</div>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section class="text-grey-7">Телефон</q-item-section>
              <q-item-section>
                <q-input
                  hide-bottom-space
                  v-if="edit"
                  dense
                  outlined
                  v-model="user.phone"
                  :error="$v.user.phone.$anyError"
                ></q-input>
                <div v-else>{{ _user.phone }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">
                Дата регистрации
              </q-item-section>
              <q-item-section>
                {{
                  _user.ext &&
                    _user.ext.created &&
                    new Date(_user.ext.created).toLocaleDateString()
                }}
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section class="text-grey-7">
                Язык интерфейса
              </q-item-section>
              <q-item-section>
                <div>
                  <lang-switcher />
                </div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">
                Тип пользователя
              </q-item-section>
              <q-item-section>
                <q-select
                  v-if="edit"
                  :options="user_types"
                  label="Выберите род деятельности"
                  outlined
                  dense
                  emit-value
                  v-model="user.user_type"
                  map-options
                  transition-show="jump-down"
                  transition-hide="jump-up"
                ></q-select>
                <div v-else-if="user.user_type">
                  {{ user_types.find(t => t.value === user.user_type).label }}
                </div>
                <small v-else class="text-muted">
                  не указан
                </small>
              </q-item-section>
            </q-item>
            <transition-group name="fade">
              <q-item
                key="company-name-item"
                v-if="
                  (user.user_type && user.user_type === 'entity') ||
                    user.user_type === 'self_employed'
                "
              >
                <q-item-section class="text-grey-7">
                  Название компании
                </q-item-section>
                <q-item-section>
                  <q-input
                    v-if="edit"
                    outlined
                    dense
                    v-model="user.company_name"
                  ></q-input>
                  <div v-else>
                    {{ user.company_name || "не указано" }}
                  </div>
                </q-item-section>
              </q-item>
              <q-item
                key="int-item"
                v-if="
                  user.user_type &&
                    (user.user_type === 'individual' ||
                      user.user_type === 'self_employed')
                "
              >
                <q-item-section class="text-grey-7">
                  ИНН
                </q-item-section>
                <q-item-section>
                  <q-input
                    v-if="edit"
                    v-model="user.itn"
                    outlined
                    dense
                    label="ИНН"
                  ></q-input>
                  <div v-else>
                    {{ user.itn || "не указан" }}
                  </div>
                </q-item-section>
              </q-item>
              <q-item
                key="psrn-item"
                v-if="user.user_type && user.user_type === 'entity'"
              >
                <q-item-section class="text-grey-7">
                  ОГРН
                </q-item-section>
                <q-item-section>
                  <q-input
                    v-model="user.psrn"
                    outlined
                    dense
                    label="ОГРН"
                    v-if="edit"
                  ></q-input>
                  <div v-else>
                    {{ user.psrn || "не указан" }}
                  </div>
                </q-item-section>
              </q-item>
            </transition-group>
          </app-list>

          <app-list white separator header="Адрес" class="q-my-xl">
            <q-item>
              <q-item-section class="text-grey-7">Страна</q-item-section>
              <q-item-section>
                <q-select
                  transition-show="jump-down"
                  transition-hide="jump-up"
                  outlined
                  dense
                  label="Страна"
                  v-model="user.country_code"
                  :options="a_countries"
                  v-if="edit"
                  :option-value="opt => opt && opt.id"
                  :option-label="opt => opt && `${opt.iso} - ${opt.name}`"
                  map-options
                  emit-value
                />
                <div v-else>{{ _user.country_iso }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">Город</q-item-section>
              <q-item-section>
                <q-input
                  hide-bottom-space
                  v-if="edit"
                  :error="$v.user.city.$anyError"
                  dense
                  outlined
                  v-model="user.city"
                ></q-input>
                <div v-else>{{ _user.city }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7"
                >Почтовый индекс</q-item-section
              >
              <q-item-section>
                <q-input
                  hide-bottom-space
                  v-if="edit"
                  :error="$v.user.zip.$anyError"
                  dense
                  outlined
                  v-model="user.zip"
                ></q-input>
                <div v-else>{{ _user.zip }}</div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section class="text-grey-7">Адрес</q-item-section>
              <q-item-section>
                <q-input
                  hide-bottom-space
                  v-if="edit"
                  dense
                  outlined
                  v-model="user.address"
                  :error="$v.user.address.$anyError"
                ></q-input>
                <div v-else>{{ _user.address }}</div>
              </q-item-section>
            </q-item>
          </app-list>

          <div class="flex justify-end">
            <app-btn
              v-if="!edit"
              :to="{ name: 'ACCOUNT_EDIT' }"
              flat
              color="primary"
            >
              Изменить персональные данные
            </app-btn>
            <div v-else>
              <app-btn to="/account" flat color="red" class="q-mr-md">
                Отмена
              </app-btn>
              <app-btn @click="saveAccountChanges" color="primary">
                Сохранить изменения
              </app-btn>
            </div>
          </div>
        </div>
      </with-transition>
    </div>
  </PageContainer>
</template>

<script>
import CountrySelect from "@/components/CountrySelect";
import { required, requiredIf } from "vuelidate/lib/validators";
import LangSwitcher from "@/components/LangSwitcher";
import calendarLocale from "@/data/CalendarLocale.js";

export default {
  name: "PersonalAccount",
  components: {
    "country-select": CountrySelect,
    "lang-switcher": LangSwitcher
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  async beforeRouteLeave(to, from, next) {
    if (to.meta.validate_account) {
      await this.$store.dispatch("auth/GET_USER");

      if (!this.$store.getters["auth/valid_profile"]) {
        this.invalidAccountNotify();
      }
      next();
    } else {
      next();
    }
  },
  async mounted() {
    let route_message =
      (this.$route.params && this.$route.params.message) || null;

    if (route_message) {
      this.invalidAccountNotify();
    }

    this.a_countries = await this.$store.dispatch("Info/GET_REG_COUNTRIES");

    this.loading = true;

    await this.$store.dispatch("auth/GET_USER");

    this.loading = false;

    this.user = { user_type: null, itn: null, psrn: null, ...this._user };
  },
  data() {
    return {
      user: null,
      a_countries: [],
      user_types: [
        {
          label: "Физическое лицо",
          value: "individual"
        },
        {
          label: "Индивидуальный предприниматель (ИП)",
          value: "self_employed"
        },
        {
          label: "Общество с ограниченной ответственностью (ООО)",
          value: "entity"
        }
      ],
      ruCalendar: calendarLocale["ru-RU"],
      loading: false
    };
  },
  computed: {
    _user() {
      return this.$store.state.auth.user;
    },
    userInitials() {
      let N =
        (this._user && this._user.fname && this._user.fname.split("")[0]) || "";
      let L =
        (this._user && this._user.lname && this._user.lname.split("")[0]) || "";

      return `${N}${L}`;
    }
  },
  methods: {
    invalidAccountNotify() {
      let route_message =
        (this.$route.params && this.$route.params.message) ||
        '"Для продолжения работы необходимо актуализировать данные"';

      let errors = [];

      if (!this.$store.state.auth.user) return;

      if (!this.$store.state.auth.user.user_type) {
        errors.push(`Выберите тип аккаунта`);
      }

      if (
        !this.$store.state.auth.user.itn ||
        !this.$store.state.auth.user.psrn
      ) {
        errors.push("Укажите ИНН/ОГРН");
      }

      this.$alert({
        level: "info",
        title:
          route_message ||
          "Для продолжения работы необходимо актуализировать данные",
        message: "Заполните недостающую информацию",
        actions: [
          {
            label: "Внести изменения",
            to: "/account/edit"
          }
        ],
        errors,
        closeText: "Понятно"
      });
    },
    async saveAccountChanges(auth_data) {
      this.$v.user.$touch();

      if (this.$v.user.$anyError) {
        this.$message({
          title: "Заполните обязательные поля",
          level: "warning"
        });
        return;
      }

      let {
        country_iso,
        acl,
        main_account,
        vars,
        ext,
        // TODO: HANDLE THIS FIELDS AT BACKEND @ START
        // user_type,
        // psrn,
        // itn,
        // TODO: HANDLE THIS FIELDS AT BACKEND @ END
        user_type,
        ...user
      } = this.user;

      try {
        this.$store.commit("app/SET_LOADING", true);

        // const { data: updated_user } =
        await this.$api.put(`/user`, {
          ...user,
          user_type,
          ...(auth_data &&
            Object.keys(auth_data) &&
            Object.keys(auth_data).length && {
              "2fa_key": auth_data["2fa_key"],
              "2fa_sign": auth_data["2fa_sign"]
            })
        });
        // ? then

        this.$message({
          level: "success",
          title: "Изменения сохранены"
        });

        this.$router.push("/account");
      } catch (e) {
        if (e.response.status === 403) {
          this.$message({
            level: "warning",
            title: "Требуется подтверждение действия",
            caption: "Введите OTP код"
          });

          const key = await this.confirmOTP(e.response.data);
          console.log("key:", key);

          if (key && key.length) {
            this.saveAccountChanges({
              "2fa_key": key,
              "2fa_sign": e.response.data.signature || ""
            });
          }

          return;
        } else {
          const {
            message = "Не удалось обновить персональные данные",
            errors
          } = this.$parseApiError(e);

          this.$alert({
            level: "danger",
            title: message,
            errors
          });
        }
      } finally {
        await this.$store.dispatch("auth/GET_USER");

        this.$store.commit("app/SET_LOADING", false);
      }
    },
    confirmOTP({ message, method }) {
      return new Promise((done, fail) => {
        this.$q
          .dialog({
            component: () => import("./PromptOTP.vue"),
            message,
            method
          })
          .onOk(({ key }) => {
            done(key);
          })
          .onCancel(() => {
            this.$message({
              level: "warning",
              title: "Операция отменена"
            });
            fail();
          });
      });
    }
  },
  validations() {
    return {
      user: {
        fname: { required },
        lname: { required },
        mname: { required },
        email: { required },
        address: { required },
        dob: { required },
        city: { required },
        zip: { required },
        country_iso: { required },
        phone: { required },
        itn: {
          required: requiredIf(function() {
            return (
              this.user_type &&
              this.user_type &&
              ["individual", "self_employed"].includes(this.user_type)
            );
          })
        },
        psrn: {
          required: requiredIf(function() {
            return (
              this.user_type &&
              this.user_type &&
              ["entity"].includes(this.user_type)
            );
          })
        }
      }
    };
  }
};
</script>
