<template>
  <PageContainer
    title="Прямые экспрессы"
    caption="заявка на прямую отправку посылок"
    with-back
  >
    <with-loading :state="loading" />
    <div class="container">
      <app-banner
        v-if="request_was_created"
        gradient
        level="warning"
        class="q-mb-xl"
      >
        Вы уже подавали заявку данного типа
      </app-banner>

      <div>
        <form @submit.prevent="submitRequest">
          <h6 class="q-mb-md">Общая информация</h6>

          <q-input
            outlined
            label="Описание рода деятельности"
            class="q-mb-lg"
            hide-bottom-space
            :error="$v.business_description.$anyError"
            v-model="business_description"
          ></q-input>
          <q-input
            type="textarea"
            rows="3"
            outlined
            dense
            label="Описание товара"
            hide-bottom-space
            :error="$v.product_description.$anyError"
            v-model="product_description"
          ></q-input>

          <div class="row q-col-gutter-lg q-mt-lg">
            <div class="col-xl-4  col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <h6 class="q-mb-md">Фото/сканы паспорта</h6>
              <input
                @change="$e => handleFiles($e, 'passport_files')"
                type="file"
                hidden
                ref="passport_files"
                multiple
              />
              <app-btn size="12px" @click="$refs['passport_files'].click()">
                <q-icon name="note_add" size="16px"></q-icon>
                &nbsp;&nbsp;Выбрать файлы
              </app-btn>
              <q-list
                :class="$v.passport_files.$anyError && 'bg-red-1'"
                separator
                bordered
                class="rounded-borders q-mt-md"
              >
                <q-item-label header>
                  <small>Выбранные файлы</small>
                </q-item-label>
                <q-item v-if="!passport_files.length">
                  <q-item-section>
                    <q-item-label caption>Не выбрано</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item v-for="(f, idx) in passport_files">
                  <q-item-section>
                    {{ f.name }}
                  </q-item-section>
                  <q-item-section side>
                    <app-btn
                      @click="removeFile(idx, 'passport_files')"
                      round
                      icon="close"
                      flat
                      color="negative"
                    ></app-btn>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
            <div class="col-xl-4  col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <h6 class="q-mb-md">Фото/сканы СНИЛС</h6>
              <input
                @change="$e => handleFiles($e, 'snils_files')"
                type="file"
                hidden
                ref="snils_files"
                multiple
              />
              <app-btn size="12px" @click="$refs['snils_files'].click()">
                <q-icon name="note_add" size="16px"></q-icon>
                &nbsp;&nbsp;Выбрать файлы
              </app-btn>
              <q-list
                :class="$v.snils_files.$anyError && 'bg-red-1'"
                separator
                bordered
                class="rounded-borders q-mt-md"
              >
                <q-item-label header>
                  <small>Выбранные файлы</small>
                </q-item-label>
                <q-item v-if="!snils_files.length">
                  <q-item-section>
                    <q-item-label caption>Не выбрано</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item v-for="(f, idx) in snils_files">
                  <q-item-section>
                    {{ f.name }}
                  </q-item-section>
                  <q-item-section side>
                    <app-btn
                      @click="removeFile(idx, 'snils_files')"
                      round
                      icon="close"
                      flat
                      color="negative"
                    ></app-btn>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
            <div class="col-xl-4  col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <h6 class="q-mb-md">Выписка (свидетельство) о регистрации</h6>
              <input
                @change="$e => handleFiles($e, 'proof_of_registration')"
                type="file"
                hidden
                ref="proof_of_registration"
                multiple
              />
              <app-btn
                size="12px"
                @click="$refs['proof_of_registration'].click()"
              >
                <q-icon name="note_add" size="16px"></q-icon>
                &nbsp;&nbsp;Выбрать файлы
              </app-btn>
              <q-list
                :class="$v.proof_of_registration.$anyError && 'bg-red-1'"
                separator
                bordered
                class="rounded-borders q-mt-md"
              >
                <q-item-label header>
                  <small>Выбранные файлы</small>
                </q-item-label>
                <q-item v-if="!proof_of_registration.length">
                  <q-item-section>
                    <q-item-label caption>Не выбрано</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item v-for="(f, idx) in proof_of_registration">
                  <q-item-section>
                    {{ f.name }}
                  </q-item-section>
                  <q-item-section side>
                    <app-btn
                      @click="removeFile(idx, 'proof_of_registration')"
                      round
                      icon="close"
                      flat
                      color="negative"
                    ></app-btn>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
          </div>

          <div class="flex-center q-mt-xl">
            <app-btn
              :loading="loading"
              type="submit"
              class="q-px-lg q-py-sm"
              color="primary"
              :disable="request_was_created"
            >
              Отправить заявку
            </app-btn>
          </div>
        </form>
      </div>
    </div>
  </PageContainer>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";

export default {
  created() {
    this.checkState();
  },
  data() {
    return {
      product_description: null,
      business_description: null,
      proof_of_registration: [],
      snils_files: [],
      passport_files: [],
      loading: false,
      current_status: null
    };
  },
  computed: {
    request_was_created() {
      return this.current_status && this.current_status === "created";
    }
  },
  methods: {
    async checkState() {
      try {
        const {
          data: { status }
        } = await this.$api.get(`/v2/shipping/shipments/request-from-sender`);
        console.log("status:", status);
        this.current_status = status;
      } catch (e) {
        console.log(e);
      } finally {
      }
    },
    handleFiles(event, file_type) {
      let input = event.target;
      let files = input.files;

      if (!files) return;

      let images = Array.from(files).map(file => ({
        src: URL.createObjectURL(file),
        file,
        name: file.name
      }));

      this[file_type].push(...images);

      event.target.value = null;
    },
    removeFile(idx, file_type) {
      this[file_type].splice(idx, 1);

      this.$message({ title: "Файл не будет загружен" });
    },
    uploadFile(file) {
      return this.$api.post(`maintenance/upload`, file);
    },
    async submitRequest() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({
          title: "Заполните обязательные поля",
          level: "warning"
        });

        return;
      }

      this.loading = true;

      let passport_files = this.passport_files.map(({ file }) => {
        let file_data = new FormData();
        file_data.append("file", file);
        return this.uploadFile(file_data);
      });

      let snils_files = this.snils_files.map(({ file }) => {
        let file_data = new FormData();
        file_data.append("file", file);
        return this.uploadFile(file_data);
      });

      let proof_of_registration = this.proof_of_registration.map(({ file }) => {
        let file_data = new FormData();
        file_data.append("file", file);
        return this.uploadFile(file_data);
      });

      try {
        // * UPLOAD & GET FILENAMES OF PASSPORT FILES
        passport_files = await Promise.all(passport_files);
        passport_files = passport_files.map(r => r.data.filename);

        // * UPLOAD & GET FILENAMES OF SNILS FILES
        snils_files = await Promise.all(snils_files);
        snils_files = snils_files.map(r => r.data.filename);

        // * UPLOAD & GET FILENAMES OF PROOF OF REG FILES
        proof_of_registration = await Promise.all(proof_of_registration);
        proof_of_registration = proof_of_registration.map(r => r.data.filename);
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          message: "Не удалось загрузить файлы на сервер. Попробуйте ещё раз"
        });
        this.loading = false;
      }
      //   finally {
      //   }

      let { product_description, business_description } = this;

      try {
        await this.$api.post(`/v2/shipping/shipments/request-from-sender`, {
          passport_files,
          snils_files,
          product_description,
          business_description,
          proof_of_registration
        });

        this.$alert({
          level: "success",
          title: "Заявка успешно создана. Оператор рассмотрит Ваш запрос."
        });

        this.$router.push("/account");
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage:
            "Не удалось закончить отправку формы. Попробуйте ещё раз"
        });
      } finally {
        this.loading = false;
      }
    }
  },
  validations() {
    return {
      proof_of_registration: { required },
      product_description: { required },
      business_description: { required },
      snils_files: { required, minLength: minLength(1) },
      passport_files: { required, minLength: minLength(1) }
    };
  }
};
</script>
