<template>
  <!-- <form @submit.prevent="submitQuery"> -->
  <div>
    <h5 class="q-mb-lg">Поиск отправок</h5>
    <div>
      <div class="row q-col-gutter-md">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <q-input
              @keyup.enter="submitQuery"
              v-model="filter"
              :label="$capitalize($t('common.query'))"
              outlined
              dense
              class="bg-white"
            >
              <q-tooltip>
                номер заказа, номер посылки, получатель, адрес (можно частично),
                почтовый код, трек-номер
              </q-tooltip>
            </q-input>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <q-select
              v-model="type"
              outlined
              dense
              label="Тип отправки"
              :options="types"
              class="bg-white"
              transition-show="jump-down"
              transition-hide="jump-up"
            />
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <q-select
              outlined
              dense
              v-model="status"
              label="Статус отправки"
              class="bg-white"
              transition-show="jump-down"
              transition-hide="jump-up"
              :options="[
                {
                  label: 'Все статусы',
                  value: null
                },
                ...statuses
              ]"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="q-mt-lg flex justify-between">
      <app-btn color="red" flat @click="clearFilter">
        Сбросить
      </app-btn>
      <app-btn
        style="width: 210px"
        
        color="primary"
        @click="submitQuery"
      >
        Найти
      </app-btn>
    </div>
  </div>
  <!-- </form> -->
</template>

<script>
export default {
  data() {
    return {
      filter: null,
      type: null,
      status: null,
      statuses: [
        {
          label: "Все статусы",
          value: null
        }
      ],
      types: [
        {
          label: "Все типы",
          value: null
        },
        {
          label: "Консолидация",
          value: "consolidation"
        },
        {
          label: "Global forward",
          value: "consolidation_usa"
        },
        {
          label: "Экспресс",
          value: "direct"
        },
        {
          label: "На склад в США",
          value: "svh"
        },
        {
          label: "Со склада в США",
          value: "usa_domestic"
        },
        {
          label: "Оптовая консолидация",
          value: "client_bulk"
        },
        {
          label: "Экспресс в США до 1 кг.",
          value: "direct_usa_less_1kg"
        },
        {
          label: "Консолидированная от продавца",
          value: "consolidated_from_sender"
        }
      ]
    };
  },
  async mounted() {
    await this.getStatuses();

    // if (window.location.hash.length) {
    //   let q = window.location.hash.split("#")[1];
    //   const { filter } = this;
    //   this.$emit("submit", { filter: q });
    // }
  },
  watch: {
    // "$route.query"(q) {
    //   let query_status = q.status || false;
    //   let query_type = q.type || false;
    //   if (query_status) {
    //     this.status = this.statuses.find(s => s.value === query_status);
    //   } else {
    //     this.status = null;
    //   }
    //   if (query_type) {
    //     this.type = this.types.find(s => s.value === query_type);
    //   } else {
    //     this.type = null;
    //   }
    // }
  },
  methods: {
    getStatuses() {
      return new Promise(async (done, fail) => {
        try {
          const statuses = await this.$store.dispatch(
            "Info/GET_SHIPMENT_STATUSES"
          );

          this.statuses = Object.entries(statuses).map(([value, label]) => ({
            value,
            label
          }));
          done();
        } catch (e) {
          console.log(e);
          fail(e);
        } finally {
        }
      });
    },
    submitQuery() {
      const { filter = null, type = null, status = null } = this;

      let filter_params = {
        ...(filter && { filter: filter }),
        ...(type && { type: type.value }),
        ...(status && { status: status.value })
      };

      this.$emit("change", filter_params);
    },
    clearFilter() {
      this.filter = null;
      this.type = null;
      this.status = null;
      this.$emit("change", null);
    }
  }
};
</script>
<style lang="scss">
.find-shipment {
  .element-tip__inner {
    width: 100%;
  }

  .panel__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;

    .btn-primary {
      max-width: 140px;
      width: 100%;
      justify-content: center;
    }
  }
}
</style>
