<template>
  <PageContainer title="Управление товарами">
    <div class="container">
      <Warehouse
        :is-warehouse="!!$route.query.warehouse"
        :actions="['create', 'control']"
      />
    </div>
  </PageContainer>
</template>

<script>
import Warehouse from "@/components/Warehouse";
export default {
  components: {
    Warehouse
  }
};
</script>

<style></style>
