<template>
  <PageContainer with-back title="Рассчитать стоимость">
    <div class="container">
      <div class="create">
        <div class="create__addresses q-mb-xl relative-position">
          <h3 class="q-mb-lg">Город отправления</h3>
          <div class="row q-col-gutter-md">
            <div class="col">
              <CityPicker
                :error="$v.city.$anyError"
                :disable="!!address"
                @change="c => (city = c)"
              />
            </div>
          </div>
        </div>

        <div class="create__inner q-mb-xl">
          <h3 class="q-mb-lg">Содержимое отправки</h3>

          <q-list bordered separator class="rounded-borders">
            <q-item-label header>
              <div class="flex-center-between">
                Список мест
                <!-- <app-btn size="sm">Удалить все</app-btn> -->
              </div>
            </q-item-label>
            <transition-group name="fade">
              <q-item
                class="q-py-md"
                :key="`box--${idx}`"
                v-for="(box, idx) in boxes"
              >
                <q-item-section side>
                  <div class="flex items-center">
                    <app-btn
                      round
                      flat
                      icon="close"
                      color="negative"
                      @click="removeBox(idx)"
                      :disable="boxes.length < 2"
                      size="12px"
                    ></app-btn>
                    <app-btn
                      round
                      flat
                      icon="copy_all"
                      @click="addBox(box)"
                      size="12px"
                    >
                      <q-tooltip anchor="top middle" self="bottom middle">
                        Дублировать
                      </q-tooltip>
                    </app-btn>
                  </div>
                </q-item-section>
                <q-item-section>
                  <q-input
                    outlined
                    hide-bottom-space
                    label="Длина"
                    v-model.number="box.length"
                    :error="$v.boxes.$each.$iter[idx].length.$anyError"
                    dense
                    suffix="cm"
                  ></q-input>
                </q-item-section>
                <q-item-section>
                  <q-input
                    outlined
                    hide-bottom-space
                    label="Ширина"
                    v-model.number="box.width"
                    :error="$v.boxes.$each.$iter[idx].width.$anyError"
                    dense
                    suffix="cm"
                  ></q-input>
                </q-item-section>
                <q-item-section>
                  <q-input
                    outlined
                    hide-bottom-space
                    label="Высота"
                    v-model.number="box.height"
                    :error="$v.boxes.$each.$iter[idx].height.$anyError"
                    dense
                    suffix="cm"
                  ></q-input>
                </q-item-section>
                <q-item-section side>
                  <q-input
                    outlined
                    hide-bottom-space
                    label="Вес"
                    v-model.number="box.weight"
                    :error="$v.boxes.$each.$iter[idx].weight.$anyError"
                    dense
                    suffix="kg"
                  ></q-input>
                </q-item-section>
              </q-item>
            </transition-group>
            <q-item clickable @click="addBox" class="text-accent">
              <q-item-section side>
                <q-icon color="accent" name="add_box"></q-icon>
              </q-item-section>
              <q-item-section>
                <div class="text-subtitle2">
                  Добавить место
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </div>

        <div class="create__services">
          <div class="flex-center-between">
            <h3 class="q-mb-lg ">
              <span class="relative-position q-pr-md">
                Дополнительные услуги
                <q-badge
                  class="q-ml-md"
                  v-if="checkedServices.length && show_services"
                  floating
                >
                  {{ checkedServices.length }}
                </q-badge>
              </span>
            </h3>
            <div v-show="$v.checkedServices.$anyError" class="text-negative">
              Заполните параметры выбранных услуг
            </div>
          </div>

          <q-toggle
            @input="handleServiceState"
            color="accent"
            v-model="show_services"
            label="Использовать дополнительные услуги"
            class="q-mb-md"
          ></q-toggle>

          <q-slide-transition>
            <q-list
              v-if="show_services"
              bordered
              separator
              class="rounded-borders  relative-position"
              :class="$v.checkedServices.$anyError && 'services--error'"
            >
              <q-item class="q-py-md">
                <q-item-section>
                  <q-input
                    label="Поиск по списку"
                    v-model="service_query"
                    outlined
                    dense
                    clearable
                  ></q-input>
                </q-item-section>
              </q-item>
              <q-separator></q-separator>
              <q-item v-if="loading.services">
                <with-loading state />
              </q-item>
              <q-scroll-area style="height: 350px">
                <q-item
                  tag="label"
                  v-for="s in filtered_services"
                  :key="s.code"
                >
                  <q-item-section side>
                    <q-checkbox v-model="s.enabled"></q-checkbox>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>
                      {{ s.title }}
                    </q-item-label>
                    <!-- <q-item-label>
                    {{ s.description }}
                  </q-item-label> -->
                  </q-item-section>
                  <q-item-section side v-show="s.enabled">
                    <q-input
                      :label="s.description"
                      outlined
                      dense
                      v-model="s.parameter"
                    ></q-input>
                  </q-item-section>
                </q-item>
              </q-scroll-area>
            </q-list>
          </q-slide-transition>
        </div>

        <div class="flex items-center justify-center q-mt-md q-mb-xl">
          <app-btn
            @click="reset"
            flat
            class="q-mr-lg"
            color="accent"
            :disable="loading.rates"
          >
            &nbsp;&nbsp;&nbsp;Сброс&nbsp;&nbsp;&nbsp;
          </app-btn>
          <app-btn @click="submit" color="accent" :loading="loading.rates">
            &nbsp;&nbsp;&nbsp;Расчёт&nbsp;&nbsp;&nbsp;
          </app-btn>
        </div>

        <q-slide-transition>
          <div v-if="result">
            <h3 class="q-mb-lg">Стоимость отправки</h3>
            <app-list>
              <q-item-label header>Варианты доставки</q-item-label>

              <q-item v-for="(t, idx) in result" :key="`tariff-${idx}`">
                <!-- <q-item-section>
                  {{ t }}
                </q-item-section> -->
                <q-item-section>
                  <q-item-label caption>Тип доставки</q-item-label>
                  <q-item-label>{{ t.tariff.title }}</q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label caption>Дополнительные услуги</q-item-label>
                  <q-item-label v-if="t.services && t.services.length">
                    <q-badge
                      class="q-mr-xs relative-position"
                      v-for="s in t.services"
                      :key="s.code"
                    >
                      {{ getServiceTitle(s.code) }}
                      <q-tooltip>
                        {{ $toRUB(s.sum) }}
                      </q-tooltip>
                    </q-badge>
                  </q-item-label>
                  <q-item-label v-else>
                    <small class="text-muted">
                      не выбраны
                    </small>
                  </q-item-label>
                </q-item-section>
                <q-item-section class="text-right">
                  <q-item-label caption>
                    Итого
                  </q-item-label>
                  <q-item-label>
                    <div class="text-h5">
                      {{ $toUSD(t.cost) }}
                    </div>
                    <small class="text-muted">
                      {{ t.cost_national }} {{ t.currency_national }}
                    </small>
                  </q-item-label>
                </q-item-section>
                <q-item-section side>
                  <!-- <q-icon name="chevron_right"></q-icon> -->
                  <app-btn
                    @click="createFromResult(t)"
                    size="12px"
                    flat
                    color="accent"
                    icon-right="chevron_right"
                    >Создать заявку</app-btn
                  >
                </q-item-section>
              </q-item>
            </app-list>
          </div>
        </q-slide-transition>
      </div>
    </div>
  </PageContainer>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";
import CityPicker from "../CityPicker.vue";

export default {
  components: {
    CityPicker
  },
  data() {
    return {
      step: "sender",
      boxes: [
        {
          length: null,
          width: null,
          height: null,
          weight: null
        }
      ],
      city: null,
      services: null,
      loading: {
        services: false,
        rates: false
      },
      service_query: null,
      result: null,
      show_services: false
    };
  },
  async mounted() {
    // this.loading.services = true;
    // this.services = await this.getServices();
    // this.loading.services = false;
  },
  computed: {
    filtered_services() {
      if (this.service_query && this.service_query.length) {
        return this.services.filter(
          s =>
            s.title.toLowerCase().indexOf(this.service_query.toLowerCase()) > -1
        );
      } else {
        return this.services;
      }
    },
    checkedServices() {
      let checked =
        (this.services && this.services.filter(s => s.enabled)) || [];
      return checked || [];
    }
  },
  methods: {
    addBox(event, box = null) {
      this.boxes.push(
        { ...box } || {
          length: null,
          width: null,
          height: null,
          weight: null
        }
      );
    },
    removeBox(index) {
      this.boxes.splice(index, 1);
    },
    getServices() {
      // GET  v2 / cdek / shipments / services;

      return new Promise(async (done, fail) => {
        try {
          const { data: services } = await this.$api.get(
            `v2/cdek/shipments/services`
          );

          done(
            services.map(s => ({
              ...s,
              parameter: null,
              enabled: false
            }))
          );
        } catch (e) {
          console.log(e);
          fail();
        }
      });
    },
    async handleServiceState(state) {
      if (this.services && this.services.length) return;
      else {
        this.loading.services = true;
        this.services = await this.getServices();
        this.loading.services = false;
      }
    },
    getServiceTitle(code) {
      return this.services.find(s => s.code === code).title;
    },
    getRates() {
      return new Promise(async (done, fail) => {
        this.loading.rates = true;

        this.result = null;

        try {
          const { data: rates } = await this.$api.post(
            `/v2/cdek/shipments/get-rates`,
            {
              city_from: this.city.id,
              pieces: this.boxes,
              services: this.checkedServices.map(({ code, parameter }) => ({
                code,
                parameter
              }))
            }
          );
          // this.rates = rates;
          done(rates);
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: "Не удалось получить тарифы"
          });
          fail();
        } finally {
          this.loading.rates = false;
        }
      });
    },
    reset() {
      this.city = null;
      this.boxes = [{ length: null, width: null, height: null, weight: null }];
      this.show_services = false;
      this.services = null;
    },
    async submit() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$message({
          title: "Заполните обязательные поля",
          level: "warning"
        });

        return;
      }

      this.result = await this.getRates();
    },
    createFromResult(tariff) {
      this.$router.push({
        name: "CDEK_CREATE",
        params: {
          tariff,
          services: this.checkedServices,
          boxes: this.boxes,
          city: this.city
        }
      });
    }
  },
  validations() {
    return {
      // address: { required },
      city: { required },
      boxes: {
        $each: {
          length: { required },
          width: { required },
          height: { required },
          weight: { required }
        }
      },
      checkedServices: {
        $each: {
          parameter: {
            required: requiredIf(function() {
              return this.show_services;
            })
          }
        }
      }
    };
  }
};
</script>

<style lang="scss">
.create {
  .services--error {
    box-shadow: 0 0 0 2px $negative;
  }
}
</style>
