<template>
  <div class="menu-item">
    <div class="row q-col-gutter-lg q-pa-xl">
      <!-- v-ripple:primary -->
      <div
        class="col-4 relative-position"
        :key="idx"
        v-for="(item, idx) in childrens"
        style="max-width:210px;min-width:210px"
        v-close-popup
      >
        <div class="flex column items-start">
          <router-link
            :to="item.href || '#'"
            class="menu-item__link text-primary flex column items-start"
            style="font-size:15px;font-weight:500;"
            exact
          >
            <div class="menu-item__icon relative-position gradient q-mb-md">
              <keep-alive>
                <q-img
                  v-if="is_external_icon(item)"
                  contain
                  :src="item.icon"
                  width="42px"
                  spinner-color="white"
                />
                <q-icon v-else :name="item.icon" size="28px" color="white" />
              </keep-alive>
              <!-- <q-badge color="orange" class="text-weight-bold" floating>
                {{Math.floor(Math.random()*10) + 1}}
              </q-badge> -->
            </div>
            <div class="menu-item__title">
              {{ $t(item.title) || item.title }}
            </div>
          </router-link>
          <div class="menu-item__subtitle text-grey-7">
            {{ $t(item.desc) || item.desc }}
          </div>
        </div>
      </div>
    </div>
    <div v-if="$slots['footer']" class="bg-grey-2 q-px-xl q-py-lg">
      <slot name="footer" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    childrens: {
      type: Array
    }
  },
  methods: {
    is_external_icon(item) {
      return item.icon.includes("/");
    }
  }
};
</script>

<style lang="scss" scoped>
.menu-item {
  &__icon {
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;

    div[role="img"] {
      height: 37px;
      width: 37px;
      object-fit: contain;
      object-position: center center;
    }
  }

  &__title {
    font-size: 14px;
    margin-bottom: 4px;
  }

  &__subtitle {
    font-size: 12px;
  }

  &__link {
    // &.router-link-active {
    // }
    text-decoration: none !important;

    &:hover {
      .menu-item__title {
        text-decoration: underline;
      }
    }

    &.router-link-active {
      color: $accent !important;

      .menu-item__icon {
        @extend .gradient-accent;
      }
    }
  }
}
</style>
