<template>
  <div id="q-app">
    <!-- <transition mode="out-in" name="slide-fade"> -->
    <!-- :key="$route.path" -->
    <router-view />
    <!-- </transition> -->
  </div>
</template>
<script>
export default {
  name: "App",
  // async created() {

  async created() {
    // const isDarkMode =
    //   window.matchMedia &&
    //   window.matchMedia("(prefers-color-scheme: dark)").matches;

    // console.log("isDarkMode:", isDarkMode);
    // if (isDarkMode) {
    //   this.$q.dark.set(true);
    // }
    // TODO: ADAPT COLORS

    let TOKEN =
      this.$store.state.auth.token ||
      localStorage.getItem(process.env.ECOM_USER_TOKEN_KEY) ||
      null;

    if (TOKEN) {
      try {
        this.$store.commit("auth/SET_TOKEN", TOKEN);

        await this.$store.dispatch("auth/GET_USER");

        this.$store.commit("app/SET_APP_READY", true);
      } catch (e) {
        this.$showApiError(e, { fallbackMessage: "Ошибка авторизации" });

        this.$store.commit("auth/AUTH_ERROR");

        this.$router
          .push({ name: "AUTH_LOGIN", params: { message: "123" } })
          .catch(e => {
            console.log("e:", e);
          });
      }
    } else {
      this.$store.commit("auth/AUTH_ERROR");
    }

    let [sys_lang = null] = navigator.language.split("-");

    let lang =
      localStorage.getItem("sol-lang") ||
      (sys_lang && sys_lang.toLowerCase()) ||
      "ru";

    this.$store.commit("app/SET_LANG", lang);
    this.$i18n.locale = this.$store.state.app.lang;
  }
};
</script>
<style lang="scss">
.q-router-link {
  &--active {
    font-weight: 500;
  }
}
</style>
