<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <style>
      .site-loader {
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-size: 12px;
        color: #888;
      }

      .site-loader__icon {
        flex-shrink: 0;
      }

      body {
        background-color: #fcfcfc;
      }
    </style>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div class="site-loader">
      <div class="site-loader__icon">
        <svg
          height="49px"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 89.8 60"
        >
          <g fill="#818284">
            <path
              d="M5.8 58v1.8H0v-7.7h5.6v1.8H2.1V55h3.1v1.8H2.1V58h3.7zM12.9 57.5l1 1.5c-.8.6-1.6 1-2.6 1-2.5 0-4.4-1.8-4.4-4s1.9-4 4.4-4c1 0 1.8.4 2.6 1l-1 1.5c-.5-.4-1-.5-1.6-.5-1.3 0-2.3.9-2.3 2.1 0 1.2 1 2.1 2.3 2.1.5-.1 1.1-.3 1.6-.7zM22.5 55.9c0 2.2-1.9 4-4.2 4-2.2 0-4.2-1.8-4.2-4s1.9-4 4.2-4c2.3 0 4.2 1.8 4.2 4zm-2 0c0-1.2-.9-2.1-2.1-2.1-1.2 0-2.1.9-2.1 2.1s.9 2.1 2.1 2.1c1.2 0 2.1-.9 2.1-2.1zM32.8 52.1v7.7h-2.1v-4.2L28.8 58h-.9L26 55.6v4.2h-2.1v-7.7h1.9l2.6 3.4 2.6-3.4h1.8zM44.3 58v1.8h-5.8v-7.7h5.6v1.8h-3.5V55h3.1v1.8h-3.1V58h3.7zM50.4 59.8L49 57.3l-1.5 2.5h-2.4l2.5-4-2.3-3.7h2.3l1.3 2.2 1.3-2.2h2.3l-2.2 3.7 2.5 4h-2.4zM60 54.8c0 1.5-1.1 2.7-3 2.7h-1.1v2.2h-2.1V52H57c1.8.1 3 1.3 3 2.8zm-1.9 0c0-.5-.3-.9-1.2-.9h-1v1.9h1c.9 0 1.2-.5 1.2-1zM64.3 57.3h-.8v2.5h-2.1v-7.7h3.2c1.9 0 3 1.1 3 2.6 0 .9-.5 1.7-1.2 2.2l1.7 2.9h-2.3l-1.5-2.5zm-.8-1.8h1c.9 0 1.2-.3 1.2-.8s-.3-.8-1.2-.8h-1v1.6zM74.9 58v1.8h-5.8v-7.7h5.6v1.8h-3.5V55h3.1v1.8h-3.1V58h3.7zM82.3 57.7c-.2 2.2-2.4 2.4-3.6 2.3-1.2-.1-2.3-.6-2.9-1.1l1-1.6c.9 1 3.1 1.3 3.3.5.3-1.4-4.1-.7-3.7-3.7.1-1.1 1-2.2 3.3-2.1 1.5.1 2.2.6 2.4.8l-.8 1.7c-.7-.7-2.7-1.1-2.9-.2-.2 1 4.1.6 3.9 3.4zM89.8 57.7c-.2 2.2-2.4 2.4-3.6 2.3-1.2-.1-2.3-.6-2.9-1.1l1-1.6c.9 1 3.1 1.3 3.3.5.3-1.4-4.1-.7-3.7-3.7.1-1.1 1-2.2 3.3-2.1 1.5.1 2.2.6 2.4.8l-.8 1.7c-.7-.7-2.7-1.1-2.9-.2-.3 1 4.1.6 3.9 3.4z"
            />
          </g>
          <g fill="#00ABE9">
            <path
              d="M43.1 36.7H22.4c-3.8 0-7.4-1.5-10.1-4.2-2.7-2.7-4.2-6.3-4.2-10.1s1.5-7.4 4.2-10.1c2.7-2.7 6.3-4.2 10.1-4.2h20.7C44.9 5 47.3 2.2 50.2 0H22.4C10.1 0 0 10 0 22.4s10 22.4 22.4 22.4h27.8c-2.9-2.3-5.3-5-7.1-8.1z"
            />
            <path
              d="M35.7 26.4h-9.6c-2.3 0-4.2-1.9-4.2-4.2 0-2.3 1.9-4.2 4.2-4.2h12.6v5.4c0 1.7-1.3 3-3 3z"
            />
          </g>
          <g fill="#DB3832">
            <path
              d="M89.7 36.7H66.1c-3.8 0-7.4-1.5-10.1-4.2-2.7-2.7-4.2-6.3-4.2-10.1S53.3 15 56 12.3c2.7-2.7 6.3-4.2 10.1-4.2h23.5V0H66.1C53.8 0 43.8 10 43.8 22.4s10 22.4 22.4 22.4h23.5v-8.1z"
            />
            <path
              d="M86.7 26.4H70.3c-2.3 0-4.2-1.9-4.2-4.2 0-2.3 1.9-4.2 4.2-4.2h19.3v5.4c.1 1.7-1.3 3-2.9 3z"
            />
          </g>
        </svg>
        <div style="margin-top:14px;">
          Загрузка ...
        </div>
      </div>
    </div>
    <div id="q-app"></div>
  </body>
</html>
