<template>
  <transition name="fade" tag="div">
    <div
      v-if="!!state"
      class="with-loading"
      :class="[
        fixed && 'with-loading--fixed',
        static && 'with-loading--static'
      ]"
      @click.stop
    >
      <!-- <q-spinner-ios color="black" size="2.1em" /> -->
      <q-spinner-ios color="accent" :size="size || '2.42em'" />
      <!-- <span class="text-primary q-mt-md" v-show="withMessage">{{ state }}</span> -->
      <span
        style="opacity: 0.77;font-size:11px;"
        class="text-accent q-mt-md"
        v-show="withMessage"
      >
        {{ state }}
      </span>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    state: [Boolean, String],
    fixed: Boolean,
    size: String,
    static: Boolean
  },
  computed: {
    withMessage() {
      return typeof this.state === "string";
    }
  }
};
</script>
<style lang="scss">
body {
  position: relative;
}
.with-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, 0.42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  &--static {
    position: relative;
  }
}
</style>
