<template>
  <PageContainer
    with-back="/cdek/"
    title="Создать заявку"
    class="relative-position"
  >
    <with-loading fixed :state="loading.create" />

    <div class="container">
      <div class="q-mb-xl">
        <div class="flex-center-between q-mb-lg">
          <h3 class="q-ma-none">Адрес отправки</h3>
          <!-- <div
            v-show="$v.type.$anyError"
            class="text-negative flex items-center"
          >
            <q-icon name="error" class="q-mr-sm" />
            Выберите способ доставки посылки
          </div> -->
        </div>

        <q-card v-if="false">
          <q-card-section>
            <q-item class="full-width q-mb-md">
              <q-item-section thumbnail class="q-mr-sm">
                <q-avatar
                  circle
                  class="text-white bg-green-14 q-ml-md"
                  icon="apartment"
                ></q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  <div class="text-subtitle1">
                    Отправка из отделения СДЭК
                  </div>
                </q-item-label>
                <q-item-label caption>
                  Вы сами доставляете посылку в отделение СДЭК
                </q-item-label>
              </q-item-section>
            </q-item>

            <CityPicker
              @change="new_city => (city = new_city)"
              class="q-mb-md"
              :city="city"
            />

            <!-- @change="new_office => (office = new_office)" -->
            <OfficePicker
              :city="city"
              :disable="type === 'office' && !city"
              v-model="office"
            >
              <template #after>
                <app-btn
                  :loading="loading.offices"
                  class="full-height"
                  flat
                  color="accent"
                  icon="history"
                >
                  <q-tooltip anchor="top middle" self="bottom middle">
                    Недавно выбранные
                  </q-tooltip>
                  <q-menu
                    style="min-width: 210px"
                    @before-show="getSavedOffices"
                  >
                    <q-list class="rounded-borders">
                      <q-item
                        v-close-popup
                        v-for="office in saved_offices"
                        :key="office.id"
                        clickable
                        @click="pickOffice(office)"
                      >
                        <q-item-section>
                          {{ office.name }} - {{ office.address }}
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </app-btn>
              </template>
            </OfficePicker>
          </q-card-section>
        </q-card>

        <q-list class="rounded-borders" v-if="true">
          <q-expansion-item
            @input="state => handleDeliveryType('office', state)"
            group="type"
            popup
            icon="apartment"
            label="Отправка из отделения СДЭК"
            caption="Вы сами доставляете посылку в отделение СДЭК"
            :header-class="[
              type === 'office' && 'text-green-7 bg-green-1',
              'q-pa-md',
              'bg-white'
            ]"
            expand-icon="check_box_outline_blank"
            expanded-icon="check_box"
            switch-toggle-side
          >
            <template #header>
              <q-item class="full-width">
                <q-item-section thumbnail class="q-mr-lg">
                  <q-avatar
                    circle
                    class="text-white bg-green-14"
                    icon="apartment"
                  ></q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    <div class="text-subtitle1">
                      Отправка из отделения СДЭК
                    </div>
                  </q-item-label>
                  <q-item-label caption>
                    Вы сами доставляете посылку в отделение СДЭК
                  </q-item-label>
                </q-item-section>
              </q-item>
            </template>
            <q-separator />
            <q-card>
              <q-card-section>
                <CityPicker
                  @change="new_city => (city = new_city)"
                  class="q-mb-md"
                  :city="city"
                />

                <!-- @change="new_office => (office = new_office)" -->
                <OfficePicker
                  :city="city"
                  :disable="type === 'office' && !city"
                  v-model="office"
                >
                  <template #after>
                    <app-btn
                      :loading="loading.offices"
                      class="full-height"
                      flat
                      color="accent"
                      icon="history"
                      label="Недавно выбранные отделения"
                    >
                      <!-- <q-tooltip anchor="top middle" self="bottom middle">
                        Недавно выбранные
                      </q-tooltip> -->
                      <q-menu
                        style="min-width: 210px"
                        @before-show="getSavedOffices"
                      >
                        <q-list class="rounded-borders">
                          <q-item
                            v-close-popup
                            v-for="office in saved_offices"
                            :key="office.id"
                            clickable
                            @click="pickOffice(office)"
                          >
                            <q-item-section>
                              {{ office.name }} - {{ office.address }}
                            </q-item-section>
                          </q-item>
                        </q-list>
                      </q-menu>
                    </app-btn>
                  </template>
                </OfficePicker>
              </q-card-section>
            </q-card>
          </q-expansion-item>
          <q-expansion-item
            @input="state => handleDeliveryType('address', state)"
            group="type"
            popup
            icon="home"
            label="Курьером"
            caption="Курьер сам заберёт посылку по указаному Вами адресу и доставит её в СДЭК для дальнейшей отправки на наш склад"
            :header-class="[
              type === 'address' && 'text-primary bg-blue-1',
              'q-pa-md',
              'bg-white'
            ]"
            expand-icon="check_box_outline_blank"
            expanded-icon="check_box"
            switch-toggle-side
          >
            <template #header>
              <q-item class="full-width">
                <q-item-section thumbnail class="q-mr-lg">
                  <q-avatar
                    circle
                    class="bg-primary text-white"
                    icon="home"
                  ></q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    <div class="text-subtitle1">
                      Курьером СДЭК
                    </div>
                  </q-item-label>
                  <q-item-label caption>
                    Курьер сам заберёт посылку по указаному Вами адресу и
                    доставит её в СДЭК для дальнейшей отправки на наш склад
                  </q-item-label>
                </q-item-section>
              </q-item>
            </template>
            <q-separator />
            <q-card>
              <q-card-section>
                <AddressPicker
                  @change="
                    new_address => {
                      address = new_address;
                      office && (office = null);
                    }
                  "
                />
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>

        <app-banner
          v-show="$v.type.$anyError"
          icon="error"
          level="danger"
          class="q-mt-md"
        >
          <!-- <q-icon name="error" class="q-mr-sm" /> -->
          Выберите способ доставки посылки
        </app-banner>
        <app-banner
          v-show="$v.address.$anyError || $v.office.$anyError"
          icon="error"
          level="danger"
          class="q-mt-md"
        >
          <!-- <q-icon name="error" class="q-mr-sm" /> -->
          Укажите место отправки
        </app-banner>
      </div>

      <div class="q-mb-xl">
        <h3 class="q-mb-lg">Содержимое отправки</h3>
        <app-banner
          v-show="$v.pieces.$anyError"
          icon="error"
          level="danger"
          class="q-mb-md"
        >
          <!-- <q-icon name="error" class="q-mr-sm" /> -->
          Заполните информацию о содержимом
        </app-banner>

        <PiecesPicker :validators="$v.pieces" extended @change="handleBoxes" />
      </div>

      <div class="q-mb-xl">
        <h3 class="q-mb-lg">Дополнительные услуги</h3>
        <!-- <with-transition :state="services && !!services.length"> -->
        <div class="row" :class="$q.screen.sm || $q.screen.xs ? 'column' : ''">
          <div class="col">
            <app-list
              white
              header="Доступные сервисы"
              class="relative-position"
              :loading="loading.services"
            >
              <q-item>
                <q-item-section>
                  <q-input
                    v-model="service_query"
                    label="Поиск по списку"
                    outlined
                    dense
                    clearable
                  ></q-input>
                </q-item-section>
              </q-item>
              <q-separator class="q-mt-sm"></q-separator>
              <q-scroll-area
                :style="`height:${$q.screen.xs || $q.screen.sm ? 210 : 280}px`"
              >
                <q-item tag="label" v-for="s in filter_services" :key="s.code">
                  <q-item-section>
                    <q-item-label>
                      {{ s.title }}
                    </q-item-label>
                    <!-- <q-item-label caption>
                {{ s.description }}
              </q-item-label> -->
                  </q-item-section>
                  <q-item-section side>
                    <!-- <q-checkbox v-model="s.enabled"></q-checkbox> -->
                    <app-btn
                      @click="checked.push(s)"
                      color="primary"
                      icon="add"
                      size="12px"
                      round
                      flat
                      v-if="!checked.includes(s)"
                    >
                      <!-- v-if="!checked.find(c => c.id === s.id)" -->
                      <!-- <q-tooltip anchor="top middle" self="bottom middle">
                        Выбрать
                      </q-tooltip> -->
                    </app-btn>
                    <app-btn
                      @click="checked.push(s)"
                      color="positive"
                      icon="check"
                      size="12px"
                      disable
                      round
                      flat
                      v-else
                    >
                      <!-- v-if="!checked.find(c => c.id === s.id)" -->
                      <!-- <q-tooltip anchor="top middle" self="bottom middle">
                        Выбрать
                      </q-tooltip> -->
                    </app-btn>
                  </q-item-section>
                </q-item>
                <q-item v-if="!filter_services || !filter_services.length">
                  <q-item-section>
                    <div class="text-center">
                      <div class="text-muted">
                        По заданым критериям ничего не найдено
                      </div>
                    </div>
                  </q-item-section>
                </q-item>
              </q-scroll-area>
            </app-list>
          </div>
          <div class="col-1 flex items-center justify-center">
            <q-icon
              color="grey"
              size="28px"
              :name="
                $q.screen.sm || $q.screen.xs
                  ? 'arrow_downward'
                  : 'arrow_forward'
              "
              :class="$q.screen.sm || $q.screen.xs ? 'q-my-md' : ''"
            ></q-icon>
          </div>
          <div class="col relative-position">
            <q-badge
              :color="!checked.length ? 'grey' : 'primary'"
              v-if="checked.length + 1"
              floating
              class="z-top"
            >
              {{ checked.length + 1 }}
            </q-badge>
            <app-list
              white
              :class="[$v.checked.$anyError && '--has-error']"
              header="Выбранные сервисы"
              class="relative-position"
            >
              <q-separator />

              <q-scroll-area
                :style="`height:${$q.screen.xs || $q.screen.sm ? 140 : 280}px`"
              >
                <q-item clickable>
                  <q-tooltip anchor="top middle" self="bottom middle">
                    Эта услуга предоставляется курьерской компанией по-умолчанию
                  </q-tooltip>
                  <q-item-section side>
                    <app-btn
                      size="12px"
                      flat
                      round
                      icon="lock"
                      color="grey-5"
                      disable
                    >
                    </app-btn>
                  </q-item-section>
                  <q-item-section>
                    Страховка
                  </q-item-section>
                  <q-item-section side>
                    <small>0,75% от заявленной стоимости</small>
                  </q-item-section>
                </q-item>
                <q-item tag="label" v-for="(s, idx) in checked" :key="s.code">
                  <q-item-section side>
                    <app-btn
                      @click="removeFromCheckedServices(s.code)"
                      size="12px"
                      flat
                      round
                      icon="close"
                      color="negative"
                    />
                  </q-item-section>
                  <q-item-section>
                    {{ s.title }}
                  </q-item-section>
                  <q-item-section side>
                    <q-input
                      :error="$v.checked.$each[idx].$anyError"
                      hide-bottom-space
                      :label="s.description"
                      outlined
                      dense
                      v-model="s.parameter"
                    ></q-input>
                  </q-item-section>
                </q-item>
              </q-scroll-area>

              <!-- <q-item v-if="!checked || !checked.length">
                <q-item-section>
                  <small class="text-muted">Не выбраны</small>
                </q-item-section>
              </q-item> -->
            </app-list>
          </div>
        </div>
        <!-- </with-transition> -->
      </div>
      <q-slide-transition>
        <!-- <h4>
            Расчёт стоимости
          </h4> -->

        <div v-if="needle_type && needle_type.length">
          <q-card v-for="(t, idx) in needle_type" :key="idx" class="q-mb-lg">
            <div class="q-pa-lg no-wrap row items-center">
              <div
                class="col"
                :class="
                  $q.screen.sm || $q.screen.xs
                    ? 'column items-start'
                    : 'row items-center justify-between'
                "
              >
                <div
                  class="col"
                  :class="($q.screen.sm || $q.screen.xs) && 'q-mb-md'"
                >
                  <q-item-label caption>Тип доставки</q-item-label>
                  <q-item-label>
                    <div class="text-subtitle1">
                      {{ t.tariff.title }}
                    </div>
                  </q-item-label>
                </div>
                <div class="col">
                  <q-item-label caption>Дополнительно</q-item-label>
                  <q-item-label v-if="t.services && t.services.length">
                    <!-- <div class="flex"> -->

                    <q-badge
                      class="q-mr-xs q-mb-xs"
                      v-for="s in t.services"
                      :key="s.code"
                    >
                      {{ s.title }}
                      <q-tooltip>
                        {{ s.description }}: {{ s.parameter }} ({{
                          $toRUB(s.cost_national)
                        }})
                      </q-tooltip>
                    </q-badge>
                    <!-- </div> -->
                  </q-item-label>
                  <q-item-label v-else>
                    <small class="text-muted">
                      не выбрано
                    </small>
                  </q-item-label>
                </div>
              </div>
              <div
                class="col row text-right"
                :class="
                  $q.screen.sm || $q.screen.xs
                    ? 'column items-end'
                    : 'row items-center justify-between'
                "
              >
                <div
                  class="col"
                  :class="($q.screen.sm || $q.screen.xs) && 'q-mb-md'"
                >
                  <q-item-label caption>
                    Итого
                    <q-icon name="help_outline" size="14px">
                      <q-tooltip
                        anchor="top middle"
                        self="bottom middle"
                        max-width="420px"
                      >
                        <b class="block q-mb-xs"
                          >Итоговая сумма, с учётом всех доп. сборов и налогов
                        </b>
                        <div>
                          Стоимость услуг и товаров указанных на официальном
                          сайте курьерской компании СДЭК и/или в личном кабинете
                          клиента являются примерными. Точная стоимость услуг
                          определяется применительно к контактному отправлению в
                          момент оформления заказа.
                        </div>
                      </q-tooltip>
                    </q-icon>
                  </q-item-label>
                  <q-item-label>
                    <div
                      style="font-size:21px"
                      class="text-subtitle1 text-accent"
                    >
                      {{ $toUSD(t.cost) }}
                    </div>
                    <small class="text-muted">
                      {{ $toRUB(t.cost_national) }}
                      ({{ t.currency_national }})
                    </small>
                  </q-item-label>
                </div>
                <div class="col">
                  <app-btn @click="createShipment(t.tariff)" color="accent">
                    Создать заявку
                  </app-btn>
                </div>
              </div>
            </div>
          </q-card>
        </div>
        <div v-else class="flex justify-center">
          <app-btn
            @click="initRates"
            :loading="loading.rates"
            size="16px"
            color="primary"
          >
            Продолжить
          </app-btn>
        </div>
      </q-slide-transition>
    </div>
  </PageContainer>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";
import CityPicker from "../CityPicker.vue";
import AddressPicker from "../AddressPicker.vue";
import OfficePicker from "../OfficePicker.vue";
import PiecesPicker from "../PiecesPicker.vue";

export default {
  components: {
    CityPicker,
    AddressPicker,
    OfficePicker,
    PiecesPicker
  },
  props: {
    extended: {
      type: Boolean,
      default: false
    }
  },
  async mounted() {
    try {
      this.shipments = this.$route.query.shipments.split(",").map(s => +s);
    } catch (e) {
      console.log(e);
      throw new Error("Unable to parse 'shipments' URL query param");
    }

    this.initServices();
  },
  data() {
    return {
      // * USER DATA
      address: null,
      city: null,
      // type: "office",
      type: null,
      pieces: null,
      services: null,
      service_query: null,
      rates: null,
      shipments: null,
      saved_offices: null,
      office: null,
      checked: [],
      // * SERVICE
      loading: {
        services: false,
        rates: false,
        create: false,
        offices: false
      }
    };
  },
  computed: {
    filter_services() {
      if (!this.service_query || !this.service_query.length)
        return this.services;
      else {
        return this.services.filter(
          s =>
            s.title.toLowerCase().indexOf(this.service_query.toLowerCase()) > -1
        );
      }
    },
    checked_services() {
      return this.services && this.services.filter(s => s.enabled);
    },
    // needle_type() {
    //   if (!this.type || !this.rates) return null;
    //   if (this.type === "office")
    //     return this.rates.find(r => r.tariff.id === 137);
    //   if (this.type === "address")
    //     return this.rates.find(r => r.tariff.id === 139);
    //   else throw new Error("Cannot find needle type in rates");
    // }
    needle_type() {
      return this.rates || null;
    }
  },
  watch: {
    address: {
      deep: false,
      handler(value) {
        this.resetRatesOnParamsChange();
      }
    },
    city: {
      deep: false,
      handler(value) {
        this.resetRatesOnParamsChange();
      }
    },
    type: {
      deep: false,
      handler(value) {
        this.resetRatesOnParamsChange();
      }
    },
    pieces: {
      deep: true,
      handler(value) {
        this.resetRatesOnParamsChange();
      }
    },
    services: {
      deep: true,
      handler(value) {
        this.resetRatesOnParamsChange();
      }
    },
    checked: {
      deep: true,
      handler(value) {
        this.resetRatesOnParamsChange();
      }
    }
  },
  methods: {
    resetRatesOnParamsChange() {
      if (this.rates && this.rates.length) this.rates = null;
    },
    handleDeliveryType(type, state) {
      this.office = null;
      this.city = null;
      this.address = null;

      if (state) this.type = type;
      else if (type === this.type && !state) {
        this.type = null;
      }
      // else this.type = null;
    },
    handleBoxes(data) {
      this.pieces = data;
    },
    getServices() {
      return new Promise(async (done, fail) => {
        try {
          const { data: services } = await this.$api.get(
            `v2/cdek/shipments/services`
          );

          done(services);
        } catch (e) {
          console.log(e);
          fail();
        }
      });
    },
    async initServices() {
      this.loading.services = true;
      const services = await this.getServices();
      this.services = services.map(s => ({
        ...s,
        enabled: false,
        parameter: null,
        from_office: this.type === "office"
      }));
      this.loading.services = false;
    },
    getRates(params) {
      return new Promise(async (done, fail) => {
        this.result = null;

        try {
          const { data: rates } = await this.$api.post(
            `/v2/cdek/shipments/get-rates`,
            params
          );
          // this.rates = rates;
          done(rates);
        } catch (e) {
          console.log(e);

          this.$showApiError(e, {
            fallbackMessage: "Не удалось получить тарифы"
          });
          fail(e);
        }
      });
    },
    async initRates() {
      this.$v.type.$touch();

      if (this.$v.type.$anyError) {
        this.$message({
          level: "warning",
          title: "Выберите способ доставки"
        });
        return;
      }

      this.$v.address.$touch();
      this.$v.office.$touch();

      if (this.$v.address.$anyError || this.$v.office.$anyError) {
        this.$message({
          level: "warning",
          title: "Укажите адрес отправки"
        });
        return;
      }

      this.$v.pieces.$touch();

      if (this.$v.pieces.$anyError) {
        this.$message({
          level: "warning",
          title: "Заполните данные о содержимом посылки"
        });
        return;
      }

      this.$v.checked.$touch();
      if (this.$v.checked.$anyError) {
        this.$message({
          level: "warning",
          title: "Заполните параметры выбранных сервисов"
        });
        return;
      }

      let { pieces, checked } = this;

      let rates_params = {
        pieces: pieces.map(({ length, width, height, items }) => {
          let total_weight = 0;

          items.forEach(i => {
            total_weight += i.weight * i.quantity;
          });

          return {
            length,
            width,
            height,
            weight: total_weight
          };
        }),
        services: checked.map(({ code, parameter }) => ({
          code,
          parameter
        }))
        // [`from_${this.type}_id`]: this[this.type].id
      };

      if (this.type === "office") {
        let already_saved = await this.getSavedOffices();

        let saved_office =
          already_saved.find(o => o.code === this.office.code) || false;

        let from_office_id;

        if (!saved_office) {
          this.office = await this.saveOffice();
        } else {
          this.office = saved_office;
        }

        from_office_id = this.office.id;

        rates_params["from_office_id"] = from_office_id;
      } else if (this.type === "address") {
        rates_params["from_address_id"] = this.address.id;
      } else {
        throw new Error("Unkwnown delivery type");
      }

      try {
        this.loading.rates = true;
        const rates = await this.getRates(rates_params);

        this.rates = rates;
      } catch (e) {
        console.log(e);
      } finally {
        this.loading.rates = false;
      }
    },
    saveOffice() {
      return new Promise(async (done, fail) => {
        try {
          const { data: office } = await this.$api.post(`/v2/cdek/offices`, {
            ...this.office,
            ...(this.city && { city_id: this.city.id })
          });
          done(office);
        } catch (e) {
          console.log(e);
          fail(e);
        }
      });
    },
    getSavedOffices() {
      return new Promise(async (done, fail) => {
        if (this.saved_offices && this.saved_offices.length) {
          done(this.saved_offices);
          return;
        }

        try {
          this.loading.offices = true;
          const { data } = await this.$api.get(`v2/cdek/offices`);
          this.saved_offices = data;
          done(data);
        } catch (e) {
          console.log(e);
          this.$showApiError(e, {
            fallbackMessage:
              "Не удалось получить данные о недавно выбранных складах"
          });
          fail(e);
        } finally {
          this.loading.offices = false;
        }
      });
    },
    pickOffice(office) {
      this.office = office;
    },
    async createShipment({ id: tariff_id, title }) {
      this.loading.create = true;

      let params = {
        // [`from_${this.type}_id`]: null,
        packages: this.pieces.map(place => {
          let tw = 0;

          place.items.forEach(item => {
            tw += item.quantity * item.weight;
          });

          return {
            ...place,
            weight: tw
          };
        }),
        services: this.checked.map(({ code, parameter }) => ({
          code,
          parameter
        })),
        shipment_ids: this.shipments,
        tariff_id
      };

      if (this.type === "office") {
        params["from_office_id"] = this.office.id;
      } else if (this.type === "address") {
        params["from_address_id"] = this.address.id;
      }

      const c = await this.$confirm({
        title: `Действительно хотите создать заявку на доставку типа ${title}`
      });

      if (!c) {
        this.loading.create = false;
        return;
      }

      try {
        const {
          data,
          data: { cost, id, track_number }
        } = await this.$api.post(`/v2/cdek/shipments/create`, params);

        // this.resetData()
        // or
        this.$router.push("/cdek");

        this.$alert({
          level: "success",
          title: "Отправка успешно создана",
          message: `Трек-номер созданной отправки: ${track_number}.`
        });
      } catch (e) {
        console.log(e);

        this.$showApiError(e, {
          fallbackMessage: "Не удалось завершить создание заявки"
        });
      } finally {
        this.loading.create = false;
      }
    },
    resetData() {
      this.address = null;
      this.city = null;
      this.office = null;
      // this.pieces = [];
      this.rates = null;
      this.shipments = null;
    },
    removeFromCheckedServices(code) {
      let idx = this.checked.findIndex(c => c.code === code);
      if (idx === null || idx === undefined)
        throw new Error("Unable to find target element");

      this.checked.splice(idx, 1);
    }
  },
  validations() {
    return {
      type: {
        required
      },
      address: {
        required: requiredIf(function() {
          return this.type === "address";
        })
      },
      office: {
        required: requiredIf(function() {
          return this.type === "office";
        })
      },
      pieces: {
        required,
        $each: {
          length: { required },
          width: { required },
          height: { required },
          items: {
            $each: {
              code: { required },
              cost: { required },
              quantity: { required },
              title: { required },
              weight: { required }
            }
          }
        }
      },
      checked: {
        $each: {
          parameter: {
            required
          }
        }
      }
    };
  }
};
</script>

<style lang="scss">
.--has-error {
  box-shadow: 0 0 0 2px rgba($negative, 1);
}
</style>
