<template>
  <q-layout class="layout" style="position:relative">
    <!-- {{ $store.getters["auth/valid_profile"] }} -->

    <nav class="layout__header header">
      <div class="header__top ">
        <div class="container">
          <div
            style="font-size:12px"
            class="flex items-center justify-between q-py-xs"
          >
            <div class="flex items-center">
              <a
                href="https://t.me/ecomexpressru"
                class="flex items-center q-mr-md text-acc"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24"
                  :height="$q.screen.xs ? '22px' : '17px'"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="q-mr-xs"
                >
                  <g><rect fill="none" height="24" width="24" y="0" /></g>
                  <g>
                    <path
                      d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10C22,6.48,17.52,2,12,2z M16.64,8.8 c-0.15,1.58-0.8,5.42-1.13,7.19c-0.14,0.75-0.42,1-0.68,1.03c-0.58,0.05-1.02-0.38-1.58-0.75c-0.88-0.58-1.38-0.94-2.23-1.5 c-0.99-0.65-0.35-1.01,0.22-1.59c0.15-0.15,2.71-2.48,2.76-2.69c0.01-0.03,0.01-0.12-0.05-0.18c-0.06-0.05-0.14-0.03-0.21-0.02 c-0.09,0.02-1.49,0.95-4.22,2.79c-0.4,0.27-0.76,0.41-1.08,0.4c-0.36-0.01-1.04-0.2-1.55-0.37c-0.63-0.2-1.12-0.31-1.08-0.66 c0.02-0.18,0.27-0.36,0.74-0.55c2.92-1.27,4.86-2.11,5.83-2.51c2.78-1.16,3.35-1.36,3.73-1.36c0.08,0,0.27,0.02,0.39,0.12 c0.1,0.08,0.13,0.19,0.14,0.27C16.63,8.48,16.65,8.66,16.64,8.8z"
                    />
                  </g>
                </svg>
                <div v-show="!$q.screen.xs">
                  Telegram
                </div>
              </a>
              <a
                target="_blank"
                href="https://www.facebook.com/ecomexpressru"
                class="flex items-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  :height="$q.screen.xs ? '18px' : '13px'"
                  fill="currentColor"
                  class="q-mr-xs"
                >
                  <path
                    d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"
                  />
                </svg>

                <div v-show="!$q.screen.xs">
                  Facebook
                </div>
              </a>
            </div>
            <div
              class="flex"
              :class="[
                $q.screen.xs ? 'column items-end' : ' items-center justify-end'
              ]"
            >
              <a
                style="text-decoration:none"
                href="tel:+79776047779"
                class="flex items-center "
                :class="$q.screen.xs ? 'q-mb-xs' : 'q-mr-lg'"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  height="15px"
                  fill="currentColor"
                  class="q-mr-xs"
                >
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M17.38 10.79l-2.2-2.2c-.28-.28-.36-.67-.25-1.02.37-1.12.57-2.32.57-3.57 0-.55.45-1 1-1H20c.55 0 1 .45 1 1 0 9.39-7.61 17-17 17-.55 0-1-.45-1-1v-3.49c0-.55.45-1 1-1 1.24 0 2.45-.2 3.57-.57.35-.12.75-.03 1.02.24l2.2 2.2c2.83-1.45 5.15-3.76 6.59-6.59z"
                  />
                </svg>
                <div style="padding-top:1px">+7 (977) 604-77-79</div>
              </a>
              <a
                style="text-decoration:none"
                href="tel:+79776027779"
                class="flex items-center "
                :class="$q.screen.xs ? 'q-mb-xs' : 'q-mr-lg'"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  height="15px"
                  fill="currentColor"
                  class="q-mr-xs"
                >
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M17.38 10.79l-2.2-2.2c-.28-.28-.36-.67-.25-1.02.37-1.12.57-2.32.57-3.57 0-.55.45-1 1-1H20c.55 0 1 .45 1 1 0 9.39-7.61 17-17 17-.55 0-1-.45-1-1v-3.49c0-.55.45-1 1-1 1.24 0 2.45-.2 3.57-.57.35-.12.75-.03 1.02.24l2.2 2.2c2.83-1.45 5.15-3.76 6.59-6.59z"
                  />
                </svg>
                <div style="padding-top:1px">+7 (977) 602-77-79</div>
              </a>

              <a class="flex items-center" href="mailto:info@ecomexpress.ru">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  height="15px"
                  fill="currentColor"
                  class="q-mr-xs"
                >
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
                  />
                </svg>

                <div>
                  info@ecomexpress.ru
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- <q-toolbar v-if="$q.platform.is.mobile" class="bg-white">
        <app-btn flat round dense icon="menu" />
        <q-toolbar-title>
          <img
            alt="EcomExpress"
            id="nav-logo"
            contain
            src="/img/logos/logo_img.svg"
            v-once
            style="object-fit:contain;object-position:center center;margin-top:3px"
          />
        </q-toolbar-title>
        <app-btn flat round dense icon="more_vert">
          <q-menu>
            <q-list>
              <q-item>
                <q-item-section>123</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </app-btn>
      </q-toolbar> -->

      <div class="header__bottom">
        <div class="container">
          <div class="header__inner">
            <div class="header__left">
              <div
                to="/"
                class="header__logo q-mr-lg"
                :class="
                  (($q.screen.xs || $q.screen.sm || $q.screen.md) &&
                    'q-mr-sm') ||
                    'q-mr-xl'
                "
              >
                <!-- <router-link to="/"> -->
                <a href="https://ecomexpress.ru/">
                  <img
                    id="nav-logo"
                    contain
                    height="38px"
                    src="/img/logos/logo_img.svg"
                    alt=""
                    v-once
                    style="object-fit:contain;object-position:center center;margin-top:3px"
                  />
                </a>
                <!-- </router-link> -->
              </div>
              <div v-if="$q.screen.lg || $q.screen.xl" class="header__menu">
                <div class="header__sub"></div>
                <nav v-if="$store.getters['auth/is_logged']">
                  <ul>
                    <li class="header-nav__item q-mr-md">
                      <app-btn
                        to="/"
                        :class="$route.name === 'DASHBOARD' && 'text-accent'"
                        flat
                        no-caps
                      >
                        <div v-if="$q.screen.xl">
                          {{ $t("nav.home") }}
                        </div>
                        <q-icon size="22px" name="home" v-else></q-icon>
                      </app-btn>
                    </li>
                    <li
                      v-for="(menu, idx) in menu_list"
                      :key="idx"
                      class="header-nav__item"
                    >
                      <q-btn-dropdown
                        dropdown-icon="expand_more"
                        flat
                        no-caps
                        menu-self="top middle"
                        :label="$t(menu.tlabel) || menu.label"
                        :class="{
                          'text-accent ': $route.matched.some(
                            r => r.meta.section === menu.section
                          )
                        }"
                      >
                        <MenuItem :childrens="menu.childrens">
                          <template v-if="menu.footer" v-slot:footer>
                            <div class="flex items-center no-wrap">
                              <q-badge
                                v-if="menu.footer.badge"
                                color="accent"
                                class="q-mr-md"
                              >
                                {{ menu.footer.badge }}
                              </q-badge>
                              <div v-if="menu.footer.content">
                                {{ menu.footer.content }}
                              </div>
                            </div>
                          </template>
                        </MenuItem>
                      </q-btn-dropdown>
                    </li>
                  </ul>
                </nav>
                <nav v-else>
                  <ul>
                    <li class="header-nav__item q-mr-md">
                      <app-btn
                        :class="$route.name === 'CALCULATOR' && 'text-accent'"
                        color="grey-9"
                        to="/calculator"
                        flat
                        no-caps
                      >
                        Калькулятор
                      </app-btn>
                    </li>
                  </ul>
                </nav>
              </div>
              <div v-else>
                <q-btn-dropdown
                  :label="$q.screen.xs ? '' : 'Меню'"
                  flat
                  icon="menu"
                >
                  <q-list>
                    <q-item to="/">
                      <q-item-section>
                        <q-item-label>
                          <div class="text-subtitle2">
                            Главная
                          </div>
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item
                      class="q-py-lg"
                      v-for="(item, idx) in menu_list"
                      :key="idx"
                      clickable
                    >
                      <q-item-section>
                        <!-- {{ $t(item.tlabel) || item.label }} -->
                        <div class="text-subtitle2">
                          {{ $t(item.tlabel) || item.label }}
                        </div>
                      </q-item-section>
                      <q-item-section side>
                        <q-icon name="keyboard_arrow_right" />
                      </q-item-section>

                      <!-- <q-menu
                        v-if="item.childrens && item.childrens.length"
                        anchor="top start"
                        self="top start"
                      > -->
                      <q-popup-proxy
                        v-if="item.childrens && item.childrens.length"
                        anchor="top start"
                        self="top start"
                      >
                        <!-- transition-show="jump-up" -->
                        <q-card
                          style="min-width:280px;max-width:420px;width:100%"
                        >
                          <q-list>
                            <q-item v-close-popup="1" clickable class="q-py-lg">
                              <q-item-section>
                                <div
                                  class="text-primary text-subtitle2 line-height1"
                                >
                                  {{ $t(item.tlabel) || item.label }}
                                </div>
                              </q-item-section>
                              <q-item-section side>
                                <app-btn
                                  round
                                  icon="arrow_back"
                                  flat
                                  dense
                                  size="10px"
                                ></app-btn>
                              </q-item-section>
                            </q-item>
                            <q-separator></q-separator>
                            <q-item
                              :to="child.href"
                              class="q-py-lg"
                              v-for="(child, n) in item.childrens"
                              :key="n"
                              clickable
                            >
                              <!-- // ? ICON HERE ? -->
                              <q-item-section>
                                <q-item-label>
                                  {{ $t(child.title) }}
                                </q-item-label>
                                <q-item-label caption>
                                  {{ $t(child.desc) || child.desc }}
                                </q-item-label>
                              </q-item-section>
                            </q-item>
                          </q-list>
                        </q-card>
                        <!-- </q-menu> -->
                      </q-popup-proxy>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </div>
            </div>

            <div class="header__right">
              <transition mode="out-in" name="fade">
                <div v-if="$store.getters['auth/is_logged']">
                  <app-btn
                    to="/notifications"
                    icon="notifications"
                    flat
                    color="primary"
                    v-show="false"
                  >
                    <q-badge color="orange" floating>2</q-badge>
                  </app-btn>
                  <!-- ? 'bg-green-1 text-positive' -->
                  <q-btn-dropdown
                    :loading="$store.getters['auth/loading']"
                    unelevated
                    no-caps
                    flat
                    :class="[
                      `${
                        balance.effective >= 0
                          ? 'text-primary'
                          : 'bg-red-1 text-red'
                      } `,
                      !$q.screen.xs && 'q-ml-md'
                    ]"
                    v-if="balance"
                    transition="fade"
                    :size="$q.screen.xs ? '10px' : '14px'"
                  >
                    <template v-slot:label>
                      <div class="flex-center">
                        <span
                          style="font-size:21px;line-height:1;margin-top:3px"
                          class="q-mr-sm"
                          v-show="$q.screen.xl || $q.screen.xs"
                          :class="!$q.screen.xs && 'q-mr-sm'"
                        >
                          💵
                        </span>

                        <div
                          style="font-size:14px;line-height:1"
                          v-show="!$q.screen.xs"
                        >
                          {{ $toUSD(balance.effective) }}
                        </div>
                      </div>
                    </template>

                    <q-list>
                      <q-item>
                        <q-item-section class="q-pr-lg">
                          <q-item-label caption>
                            {{ $t("balance.waiting") }}
                          </q-item-label>
                        </q-item-section>
                        <q-item-section avatar>
                          {{ $toUSD(balance.locked_in || 0) }}
                        </q-item-section>
                      </q-item>
                      <q-item>
                        <q-item-section class="q-pr-lg">
                          <q-item-label caption>
                            {{ $t("balance.blocked") }}
                          </q-item-label>
                        </q-item-section>
                        <q-item-section avatar>
                          <span>{{ $toUSD(balance.locked_out || 0) }}</span>
                        </q-item-section>
                      </q-item>
                      <q-item class="font-500">
                        <q-item-section class="q-pr-lg">
                          {{ $t("balance.available") }}
                        </q-item-section>
                        <q-item-section avatar>
                          {{ $toUSD(balance ? balance.effective : 0) }}
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-btn-dropdown>

                  <q-btn-dropdown
                    :loading="$store.getters['auth/loading']"
                    color="primary"
                    unelevated
                    no-caps
                    :size="$q.screen.xs ? '10px' : '12px'"
                  >
                    <template v-slot:label>
                      <div class="row items-center no-wrap">
                        <!-- <q-icon left name="account_box" /> -->

                        <div v-if="$store.state.auth.user" class="text-center">
                          <div v-if="!$q.screen.xl">
                            <!-- <q-icon name="account_circle"></q-icon> -->
                          </div>
                          <div v-else>
                            {{ $store.state.auth.user.fname || "Ваш аккаунт" }}
                          </div>
                        </div>
                      </div>
                    </template>

                    <q-list>
                      <q-item
                        v-if="$q.screen.md || $q.screen.sm || $q.screen.xs"
                      >
                        <q-item-section>
                          <div class="text-muted">
                            {{ $store.state.auth.user.fname || "Ваш аккаунт" }}
                          </div>
                        </q-item-section>
                      </q-item>
                      <q-item clickable>
                        <q-item-section>Настройки</q-item-section>
                        <q-item-section side>
                          <q-icon size="16px" name="chevron_right"></q-icon>
                        </q-item-section>
                        <q-menu anchor="top left" self="top right">
                          <q-list>
                            <q-item clickable v-close-popup to="/account">
                              <q-item-section>
                                <q-item-label>
                                  {{ $t("nav.account.personal_info") }}
                                </q-item-label>
                              </q-item-section>
                            </q-item>
                            <q-item clickable to="/settings/change-password">
                              <q-item-section>Изменить пароль</q-item-section>
                            </q-item>
                          </q-list>
                        </q-menu>
                      </q-item>

                      <q-item clickable v-close-popup to="/addresses">
                        <q-item-section>
                          <q-item-label>
                            {{ $t("nav.account.address_book") }}
                          </q-item-label>
                        </q-item-section>
                      </q-item>

                      <q-item to="/products" clickable v-close-popup>
                        <q-item-section>
                          <q-item-label>
                            {{ $t("nav.account.my_products") }}
                          </q-item-label>
                        </q-item-section>
                      </q-item>

                      <q-item
                        v-if="false"
                        disable
                        clickable
                        to="/notifications"
                      >
                        <!-- <q-item-section avatar>
                          <q-avatar
                            icon="new_releases"
                            color="primary"
                            text-color="white"
                          />
                        </q-item-section> -->
                        <q-item-section>
                          <q-item-label>
                            Центр уведомлений
                          </q-item-label>
                          <q-item-label caption>
                            Не обновлялось
                            <!-- Обновлено: 1 день назад -->
                          </q-item-label>
                        </q-item-section>
                        <q-item-section side>
                          <q-badge color="accent" class="q-ml-sm">0</q-badge>
                        </q-item-section>
                      </q-item>

                      <q-item clickable v-close-popup to="/hs-codes">
                        <q-item-section>
                          <q-item-label>
                            {{ $t("nav.account.customs_codes_catalog") }}
                          </q-item-label>
                        </q-item-section>
                      </q-item>

                      <!-- <q-item clickable v-close-popup>
                        <q-item-section avatar>
                          <q-avatar
                            color="primary"
                            text-color="white"
                            icon="icon"
                          />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label>Photos</q-item-label>
                          <q-item-label caption>February 22, 2016</q-item-label>
                        </q-item-section>
                        <q-item-section side>
                          <q-icon name="info" color="amber" />
                        </q-item-section>
                      </q-item> -->

                      <q-item clickable v-close-popup @click="logout">
                        <q-item-section>
                          <q-item-label class="text-red">{{
                            $t("nav.account.logout")
                          }}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-btn-dropdown>
                </div>
                <div class="flex relative-position" v-else>
                  <!-- <with-loading :state="$store.state.auth.loading" /> -->
                  <!-- :loading="$store.state.auth.loading" -->
                  <app-btn
                    color="primary"
                    to="/register"
                    flat
                    class="bg-blue-1"
                  >
                    Регистрация
                  </app-btn>
                  <q-btn
                    :loading="$store.state.auth.loading"
                    color="accent"
                    to="/login"
                    :class="$q.screen.sm ? 'q-ml-xs' : 'q-ml-md'"
                  >
                    Вход
                  </q-btn>
                </div>
              </transition>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="layout__main">
      <with-loading fixed :state="page_loading" />
      <q-page-container>
        <CookieBanner></CookieBanner>
        <transition
          class="relative-postition"
          appear
          mode="out-in"
          name="slide-fade-top"
        >
          <router-view :key="$route.path" />
          <!-- <div
            key="app-not-ready"
            v-else
            class="absolute full-width q-pt-xl flex items-center justify-center"
          >
            <q-spinner-ios></q-spinner-ios>
          </div> -->
        </transition>
      </q-page-container>
    </main>

    <footer v-once class="layout__footer footer">
      <div class="container">
        <div class="footer__inner row q-col-gutter-lg">
          <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
            <q-img
              contain
              width="100px"
              src="/img/logos/logo.svg"
              alt=""
              v-once
            />
            <b class="text-muted block q-mt-md">EcomExpress 2021</b>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="footer__contacts">
              <div class="footer__contact q-mb-lg">
                <small class="block">Поддержка</small>
                <a href="mailto:info@ecomexpress.ru">info@ecomexpress.ru</a>
              </div>
              <div class="footer__contact">
                <small class="block">Общие вопросы:</small>
                <div class="q-mt-xs">
                  <a style="text-decoration: none" href="tel:+79776047779">
                    +7 (977) 604-77-79
                  </a>
                </div>
                <div class="q-mt-xs">
                  <a href="tel:+79776027779" style="text-decoration: none">
                    +7 (977) 602-77-79
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div class="footer__addr">
              <b class="q-mb-xs block text-accent">Адрес офиса в Москве:</b>
              <small class="block text-muted q-mb-sm">
                (принимаем посылки СДЭК, ЕМС и пр.):
              </small>
              <div class="text-grey-7">
                121357, РФ, г. Москва, Ватутина, 11 <br />
                получатель ООО «Еком Экспресс» <br />
                Годун Станислав
              </div>
              <small class="text-grey-8">
                <table class="">
                  <tr>
                    <td>ПН-ПТ</td>
                    <td style="text-align:right">9:00-18:00</td>
                  </tr>
                  <tr>
                    <td>СБ-ВС</td>
                    <td style="text-align:right">11:00-15:00</td>
                  </tr>
                </table>
              </small>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="footer__addr">
              <b class="q-mb-xs block text-accent">Фулфилмент склад в США:</b>
              <div class="text-grey-7">
                United States, 19053,<br />
                Feasterville-Trevose, PA<br />
                635 Somers ave, Seller Online, LLC, получатель: Anna Syrykh<br />
                <div class="flex items-center">
                  <q-icon
                    name="call"
                    color="primary"
                    size="16px"
                    class="q-mr-xs"
                  />
                  <a style="text-decoration: none" href="tel:+12678009048">
                    +1 (267) 800-90-48
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row flex-center-between q-mt-lg footer__bottom">
          <div>
            <div class="flex">
              <a
                href="https://t.me/ecomexpressru"
                class="flex items-center q-mr-lg text-acc"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24"
                  height="23px"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <g><rect fill="none" height="24" width="24" y="0" /></g>
                  <g>
                    <path
                      d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10C22,6.48,17.52,2,12,2z M16.64,8.8 c-0.15,1.58-0.8,5.42-1.13,7.19c-0.14,0.75-0.42,1-0.68,1.03c-0.58,0.05-1.02-0.38-1.58-0.75c-0.88-0.58-1.38-0.94-2.23-1.5 c-0.99-0.65-0.35-1.01,0.22-1.59c0.15-0.15,2.71-2.48,2.76-2.69c0.01-0.03,0.01-0.12-0.05-0.18c-0.06-0.05-0.14-0.03-0.21-0.02 c-0.09,0.02-1.49,0.95-4.22,2.79c-0.4,0.27-0.76,0.41-1.08,0.4c-0.36-0.01-1.04-0.2-1.55-0.37c-0.63-0.2-1.12-0.31-1.08-0.66 c0.02-0.18,0.27-0.36,0.74-0.55c2.92-1.27,4.86-2.11,5.83-2.51c2.78-1.16,3.35-1.36,3.73-1.36c0.08,0,0.27,0.02,0.39,0.12 c0.1,0.08,0.13,0.19,0.14,0.27C16.63,8.48,16.65,8.66,16.64,8.8z"
                    />
                  </g>
                </svg>
              </a>
              <a
                target="_blank"
                href="https://www.facebook.com/ecomexpressru"
                class="flex items-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  height="19px"
                  fill="currentColor"
                >
                  <path
                    d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="footer__legal flex items-ceter">
            <div class="flex items-center">
              <router-link
                to="/legal-info/personal-data"
                class="q-mr-md text-accent"
              >
                <small>Обработка персональных данных</small>
              </router-link>
              <router-link
                to="/legal-info/privacy-policy"
                class="q-mr-md text-accent"
              >
                <small>Политика конфиденциальности</small>
              </router-link>
              <router-link to="/legal-info/offer-agreement" class="text-accent">
                <small>Договор-оферта</small>
              </router-link>
            </div>

            <lang-switcher class="footer__lang q-ml-lg" />
          </div>
        </div>
      </div>
    </footer>
  </q-layout>
</template>

<script>
import menu_list from "./HeadNav.js";
import MenuItem from "./MenuItem";
import LangSwitcher from "@/components/LangSwitcher";
import CookieBanner from "@/components/_ui/CookieBanner";

export default {
  name: "MainLayout",
  components: {
    MenuItem,
    "lang-switcher": LangSwitcher,
    CookieBanner
  },
  async mounted() {
    this.initTeletype();
  },
  data() {
    return {
      loading: {
        balance: false
      },
      menu_list
    };
  },
  computed: {
    page_loading() {
      return this.$store.state.app.loading.content;
    },
    balance() {
      return this.$store.getters["Finances/balance"];
    }
  },
  methods: {
    async logout() {
      await this.$store.dispatch("auth/AUTH_LOGOUT");
      this.$router.push("/login");
    },
    initTeletype() {
      // teletype script
      if (!window._teletypeWidget) {
        window._teletypeWidget = window._teletypeWidget || {};
        !(function() {
          var t = document.getElementsByTagName("app-teletype-root");
          if (t.length > 0 && _teletypeWidget.init) return;
          var d = new Date().getTime();
          var n = document.createElement("script"),
            c = document.getElementsByTagName("script")[0];
          (n.id = "teletype-widget-embed"),
            (n.src = "https://widget.teletype.app/init.js?_=" + d),
            (n.async = !0),
            n.setAttribute("data-embed-version", "0.1");
          c.parentNode.insertBefore(n, c);
        })();
        document.addEventListener("teletype.ready", function() {
          console.log("Teletype ready");
        });
        window.teletypeExternalId =
          "YeDP-sDTOufrh2PpZchxCot6owjzWyFkf_h-8WsJ0JbHPMaW2FRZeDvXRKaYn-pS";
      }
    }
  }
};
</script>

<style lang="scss">
.layout {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #fcfcfc;

  position: relative;

  #nav-logo {
    @media screen and (max-width: 599px) {
      height: 28px;
    }
  }

  .q-page {
    min-height: auto !important;
  }

  .header {
    // box-shadow: 0 0 14px 0 rgba(#000, 0.14);
    border-bottom: 1px solid #ddd;

    &__top {
      border-bottom: 1px solid #e7e7e7;
      padding: 4px 0;
    }

    &__bottom {
      background-color: #fff;
      padding: 18px 0;
      position: relative;
      z-index: 3;
      position: sticky;
      top: 0;
      left: 0;

      @media screen and (max-width: 599px) {
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__left {
      display: flex;
      align-items: center;
    }

    &__right {
      display: flex;
      align-items: center;

      .q-btn {
        margin-right: 7px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__menu {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-right: 7px;
        }
      }
    }

    &-nav__item {
      .q-btn .q-icon {
        font-size: 1.215em !important;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    height: 100%;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 28%;
      height: 100%;
      top: 0;
      right: 0;
      // background-color: #fcfcfc;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,1+100 */
      background: -moz-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      opacity: 0.035;

      display: none;
    }
  }

  &__body {
    background-color: #fff;
    margin-top: 42px;
    padding: 35px;
    box-shadow: 0 0 21px 0 rgba(#000, 0.14);
    border-radius: 4px;
  }

  &__footer {
    // background-color: #fcfcfc;
    background-color: #fff;
    padding: 42px 0;
    border-top: 1px solid #eee;
    position: relative;
    z-index: 3;

    .footer {
      &__social {
        text-decoration: none;
        line-height: 1;
        display: flex;
        align-items: center;
        margin-right: 21px;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &__nav {
        hr {
          display: block;
          height: 1px;
          width: 100%;
          border: none;
          background-color: #ddd;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          font-size: 12px;

          li {
            display: flex;
            align-items: center;
            line-height: 2;

            &:after {
              content: "•";
              color: $primary;
              margin: 0 4px;
            }

            // &:first-child {
            //   margin-right: 4px;
            //   &:after {
            //     display: none;
            //   }
            // }

            &:last-child {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    &__bottom {
      @media screen and (max-width: 768px) {
        flex-direction: column;

        & > div:first-child {
          margin-top: 14px;
          margin-bottom: 14px;
        }
      }
    }

    &__legal {
      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 14px;
      }
    }

    &__lang {
      @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 28px;
        width: 140px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
</style>
