<template>
  <div class="dialog" :ref="`dialog-${name || _uid}`">
    <q-card>
      <q-card-section v-if="title">
        <div class="dialog__head flex-center-between no-wrap">
          <h4 class="text-grey-9 dialog__title q-py-md">{{ title }}</h4>
          <app-btn
            v-if="name"
            round
            color="red"
            flat
            icon="close"
            @click="hideModal"
            class="q-ml-md"
          />
        </div>
      </q-card-section>
      <slot />
    </q-card>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    name: String
  },
  methods: {
    hideModal() {
      this.$modal.hide(this.name);
    }
  }
};
</script>

<style lang="scss" scoped>
.dialog {
  &__title {
    font-size: 20px;
    font-weight: 500;
    color: $primary;
    margin: 0;
  }
}
</style>
