<template>
  <q-dialog
    :position="position || 'standard'"
    :maximized="$q.screen.xs || false"
    :ref="dialogName"
  >
    <q-card
      class="flex column justify-between no-wrap relative-position"
      style="min-width:380px;"
      :class="[$q.screen.xs && 'full-height']"
    >
      <with-loading :state="loading" />
      <div>
        <div class="q-mb-lg">
          <q-card-section>
            <div class="flex-center-between no-wrap">
              <div>
                <h5 class="q-ma-none" v-if="title">{{ title }}</h5>
                <small class="text-muted" v-if="caption">{{ caption }}</small>
              </div>
              <app-btn
                flat
                dense
                @click="hide"
                color="negative"
                icon="close"
                round
              ></app-btn>
            </div>
          </q-card-section>
          <q-separator />
        </div>

        <div>
          <slot />
        </div>
      </div>

      <div>
        <q-separator />
        <slot name="actions" />
      </div>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    name: String,
    title: String,
    loading: Boolean,
    caption: String,
    position: String
  },
  computed: {
    dialogName() {
      return this.name || `dialog--${this._uid}`;
    }
  },
  methods: {
    show() {
      this.$refs[this.dialogName].show();
    },
    hide() {
      this.$refs[this.dialogName].hide();
    }
  }
};
</script>

<style></style>
