<template>
  <q-banner class="_alert q-px-lg q-pt-lg q-pb-md " :class="getBannerStyle()">
    <div v-if="title" class="_alert__title">
      {{ title }}
    </div>
    <div v-if="message" class="_alert__message q-mt-md">
      {{ message }}
    </div>

    <div v-if="errors && errors.length" class="_alert__errors q-mt-md">
      <ul>
        <li v-for="err in errors">{{ err }}</li>
      </ul>
    </div>

    <template v-if="!actions" v-slot:action>
      <div class="q-mt-md">
        <app-btn size="13px" @click="$emit('close')" flat label="OK" />
      </div>
    </template>

    <template v-else v-slot:action>
      <div class="q-mt-md">
        <app-btn
          size="13px"
          :key="idx"
          v-for="(act, idx) in actions"
          @click="$parent.$emit('choose', act.value)"
          :label="act.label"
          :color="act.color && act.color"
        />
      </div>
    </template>
  </q-banner>
</template>

<script>
export default {
  props: {
    title: String,
    message: String,
    level: String,
    actions: Array,
    errors: null || Array
  },
  methods: {
    getBannerStyle() {
      let { level } = this;

      switch (level) {
        case "success":
          return `bg-green-2 text-green-9`;
        case "info":
          return `bg-blue-2 text-blue-8`;
        case "warning":
          return `bg-yellow-2 text-brown-4`;
        case "danger":
          return `bg-red-2 text-red-8`;
        default:
          return `bg-white text-black`;
      }
    }
  }
};
</script>

<style lang="scss">
._alert {
  &__title {
    font-size: 15px;
    font-weight: 500;
  }

  &__message {
    font-size: 13px;
    margin-top: 7px;
    opacity: 0.77;
    line-height: 2;
  }

  &__errors {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
</style>
