<template>
  <q-dialog
    :full-width="$q.screen.xs"
    :position="$q.screen.xs ? 'bottom' : 'standard'"
    :ref="`alert--${_uid}`"
    class="dia q-px-xl q-py-lg"
    :transition-show="($q.screen.xs && 'slide-up') || 'scale'"
    :transition-hide="($q.screen.xs && 'slide-down') || 'scale'"
  >
    <q-card
      :class="$q.screen.xs && 'q-pb-lg'"
      style="min-width:420px"
      class="relative-position"
    >
      <with-loading :state="loading" />
      <q-card-section>
        <div class="dia__head flex column justify-center">
          <div
            class="dia__icon flex items-center justify-center q-mb-lg"
            :class="[`bg-${levelBackgroundColor}`]"
            v-if="level && level.length"
          >
            <q-icon :color="levelTextColor" size="35px" :name="level_icon" />
          </div>

          <div
            class="dia__title text-center"
            :class="[`text-${levelTextColor}`]"
            v-html="title"
          ></div>
        </div>
        <div class="dia__message text-center" v-html="message"></div>
        <div
          class="dia__errors q-pa-md q-mt-md rounded-borders"
          v-if="errors && errors.length"
          :class="[`text-${levelTextColor}`, `bg-${levelBackgroundColor}`]"
        >
          <ul>
            <li v-for="(e, idx) in errors" :key="idx" v-html="e"></li>
          </ul>
        </div>
        <div v-if="!is_confirm" class="dia__actions">
          <app-btn
            :color="(actions && 'grey-7') || levelTextColor"
            @click="hide"
            :label="closeText || `Закрыть`"
            :flat="!!actions"
            class="bg-grey-2 text-black dia__action"
          />

          <div
            class="dia__action"
            v-for="(act, idx) in actions"
            :key="`action--${idx}`"
          >
            <app-btn
              v-if="act.to"
              :to="$openURL(act.to)"
              size="13px"
              :key="idx"
              :label="act.label"
              :color="(act.color && act.color) || levelTextColor"
              v-bind="act.attributes"
            />
            <q-btn-dropdown
              size="13px"
              v-else-if="act.options && act.options.length"
              :label="act.label"
              :color="(act.color && act.color) || levelTextColor"
              :key="idx"
              v-bind="act.attributes"
              unelevated
            >
              <q-list>
                <q-item-label header v-if="act.options_description">
                  <small>
                    {{ act.options_description }}
                  </small>
                </q-item-label>
                <q-item
                  @click="handleAlertAction(opt)"
                  clickable
                  v-for="(opt, idx) in act.options"
                  :key="idx"
                >
                  <q-item-section>
                    <q-item-label>
                      {{ opt.label }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <app-btn
              v-else
              size="13px"
              :key="idx"
              @click="handleAlertAction(act)"
              :label="act.label"
              :color="(act.color && act.color) || levelTextColor"
              v-bind="act.attributes"
            />
          </div>
        </div>

        <div v-else class="dia__actions">
          <app-btn
            :color="(actions && 'grey-7') || levelTextColor"
            @click="$e => dispatchAnswer(false)"
            :label="closeText || `Закрыть`"
            :flat="!!actions"
          />
          <app-btn
            size="13px"
            @click="$e => dispatchAnswer(true)"
            :label="nextText || `Продолжить`"
            :color="levelTextColor"
            class="-alert-actions"
          />
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
const LEVEL_ICONS = {
  success: "ion-checkmark",
  warning: "gpp_maybe",
  danger: "dangerous",
  info: "ion-information-circle"
};
const LEVEL_COLORS = {
  success: { bg: "green-1", text: "green" },
  warning: { bg: "orange-1", text: "orange-5" },
  danger: { bg: "red-1", text: "negative" },
  info: { bg: "blue-1", text: "blue-6" }
};
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    message: {
      type: String
    },
    level: {
      type: String
    },
    actions: Array,
    errors: Array,
    closeText: String,
    is_confirm: Boolean,
    closeText: String,
    nextText: String
  },
  mounted() {
    let btns = document.querySelectorAll(".-alert-actions");
    let last_btn = btns[btns.length - 1];

    last_btn && last_btn.focus();

    window.addEventListener("keydown", event => {
      if (event.code === "Escape") {
        this.hide();
      }
    });
  },
  beforeDestroy() {
    window.removeEventListener("keydown", null);
  },
  data() {
    return {
      loading: false
    };
  },
  computed: {
    level_icon() {
      return LEVEL_ICONS[this.level];
    },
    levelBackgroundColor() {
      return (
        (LEVEL_COLORS[this.level] && LEVEL_COLORS[this.level].bg) || "white"
      );
    },
    levelTextColor() {
      return (
        (LEVEL_COLORS[this.level] && LEVEL_COLORS[this.level].text) || "primary"
      );
    }
  },
  methods: {
    show() {
      this.$refs[`alert--${this._uid}`].show();
    },
    hide() {
      this.$refs[`alert--${this._uid}`].hide();
    },
    async handleAlertAction({ code = undefined, action = null }) {
      if (action) {
        this.loading = true;
        try {
          await action();
        } catch (e) {
          console.log(e);
        } finally {
          this.loading = false;
        }
      }

      if (code) {
        this.$emit("ok", code);
      } else {
        this.$emit("ok");
      }
      this.hide();
    },
    dispatchAnswer(answ) {
      this.$emit("ok", answ);
      this.hide();
    },
    handleRedirect(to) {
      this.$router.push(to);
      this.hide();
    }
  }
};
</script>

<style lang="scss">
.dia {
  // position: relative;

  &__head {
    display: flex;
    align-items: center;
    padding-top: 14px;
  }

  &__icon {
    $size: 63px;
    background-color: rgba($positive, 0.21);
    height: $size;
    width: $size;
    border-radius: $size;
    // margin: 0 auto;
    // margin-bottom: 21px;
    display: flex;
    flex-shrink: 0;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    // text-align: center;
    line-height: 1.35;
  }

  &__message {
    margin-top: 21px;
    color: #666;
    line-height: 1.7;
    // text-align: center;
  }

  &__errors {
    ul {
      margin: 0;
      // margin-top: 12px;
      // padding-left: 19px;
      padding-left: 0;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.8;
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;

      li {
        &:after {
          content: ",";
          margin-right: 3px;
        }

        &:last-child {
          margin-right: 0;
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 28px;

    .dia__action {
      margin-right: 14px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
</style>
