<template>
  <div class="cs" :class="[row && 'cs--row', column && 'cs--column']">
    <q-select
      :error="errors && errors.country"
      v-model="country"
      :loading="loading.countries"
      outlined
      dense
      label="Страна"
      :options="[
        { code: 'US', label: 'United States of America' },
        ...countries
      ]"
      emit-value
      option-value="code"
      :disable="disable"
      transition-show="jump-down"
      transition-hide="jump-up"
    >
      <template v-slot:after v-if="states && states.length">
        <q-select
          :error="errors && errors.state"
          v-if="states"
          v-model="state"
          outlined
          dense
          label="Штат"
          :options="states"
          :loading="loading.states"
          style="width:210px"
          emit-value
          option-value="code"
          :disable="disable"
          transition-show="jump-down"
          transition-hide="jump-up"
        >
          <template v-slot:selected> {{ state }} - {{ state_name }} </template>
        </q-select>
      </template>
      <template v-slot:selected> {{ country }} - {{ country_name }} </template>
    </q-select>
  </div>
</template>

<script>
export default {
  name: "CountrySelect",
  props: {
    initial: { type: Object },
    errors: { type: Object, default: null },
    row: { type: Boolean, default: false },
    column: { type: Boolean, default: false },
    disable: Boolean
  },
  data() {
    return {
      countries: null,
      states: null,
      loading: {
        countries: false,
        states: false
      },
      country: null,
      state: null
    };
  },
  async mounted() {
    let c = await this.$store.dispatch("Info/GET_COUNTRIES");

    c = Object.entries(c).map(([code, label]) => ({
      code,
      label
    }));

    this.countries = c;

    this.country = (this.initial && this.initial.country) || null;
  },
  watch: {
    async country(new_val) {
      this.getStates(new_val);

      this.$emitChanges();
    },
    state() {
      this.$emitChanges();
    }
  },
  computed: {
    country_name() {
      return (
        this.countries &&
        this.country &&
        this.countries.find(c => c.code === this.country).label
      );
    },
    state_name() {
      return (
        this.states &&
        this.state &&
        this.states.find(c => c.code === this.state).label
      );
    }
  },
  methods: {
    $emitChanges() {
      this.$emit("change", {
        country: this.country,
        state: this.state,
        index: this.countries.findIndex(c => c.code === this.country)
        // raw: {} // TODO: ? IMPLEMENT FULL OBJECT EMIT ?
      });
    },
    async getStates(code) {
      let s = await this.$store.dispatch("Info/GET_STATES", code);

      s = Object.entries(s).map(([code, label]) => ({
        code,
        label
      }));

      this.states = s;
    }
  }
};
</script>
